extends templates/layout
block vars
  - var title = '«БИЛАЙН» БИЗНЕС'
  - var og_title = 'Ваши кадры: дорого или дешево '
  - var og_description = 'Дешевле и лучше: каких специалистов можно недорого нанять в кризис и где их искать — рассказываем в спецпроекте РБК и Билайн.'
  - var og_image = '../images/advices/sovet-7/Sovet_7.jpg'
  - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
  section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/advices/sovet-7/Sovet-7_cover_1920x310.jpg');")
    a(href="/index.html").link-back Вернуться на главную
    span Совет
    h1 Ваши кадры: дорого или дешево
    .link
      a(href="/advice-6.html").prev-link Предыдущий совет
      span |
      a(href="/advice-1.html").next-link Следующий совет
  section.content-text
    .advice-content__block
      .container
        p Непростая экономическая ситуация продолжает влиять на&nbsp;отечественный рынок труда, однако бизнесу уже удалось приспособиться к&nbsp;новым реалиям. Оптимизация штата и&nbsp;повсеместное урезание затрат на&nbsp;кадры прошли, настало время перемен и&nbsp;подбора новых, высокоэффективных специалистов, а&nbsp;также умной экономии на&nbsp;персонале.
        .advice-content__block__step
          h3 Шаг 1. Как правильно экономить на&nbsp;персонале
          p По&nbsp;оценкам портала Superjob, в&nbsp;2016 году компании уже не&nbsp;проводили существенного сокращения персонала: всего 3% российских фирм продолжили оптимизацию штата, а&nbsp;годовой прирост числа вакансий только на&nbsp;обозначенном портале составил 47%. Также аналитики изучили ожидаемые тенденции на&nbsp;рынке труда в&nbsp;2017 году. Так, работодатели продолжили снижать затраты на&nbsp;кадры, но&nbsp;не&nbsp;напрямую. Например, в&nbsp;целях экономии ресурсов процесс подбора персонала практически полностью перешел в&nbsp;онлайн. Увеличилось количество работодателей, которые ищут работников через различные социальные сети, кадровые порталы и&nbsp;специализированные приложения. Также компании экономили на&nbsp;оплате обучения, проезда, заменяя это предоставлением скидок на&nbsp;продукцию в&nbsp;компаниях-партнерах. В&nbsp;некоторых компаниях перестали компенсировать фитнес, снизили набор услуг по&nbsp;ДМС, но, например, предложили воспользоваться специальными ценами на&nbsp;корпоративный фитнес-абонемент со&nbsp;скидкой 20&ndash;30%.
          p По&nbsp;оценкам экспертов, это вполне эффективные инструменты для оптимизации издержек на&nbsp;персонал, и&nbsp;представителям малого и&nbsp;среднего бизнеса можно ими пользоваться.
          p Теперь перейдем к&nbsp;набору сотрудников и&nbsp;начнем с&nbsp;того, кого можно нанять недорого.
        .advice-content__block__image
          img(src="../images/advices/sovet-7/Photo_1.jpg")
        .advice-content__block__step
          h3 Шаг 2. Ищем недорогих сотрудников
          p Как говорят кадровики, сейчас отличное время, чтобы нанять профессиональных &laquo;продажников&raquo; (менеджеров по&nbsp;продажам), специалистов финансового спектра, аналитиков, маркетологов, рекламщиков.
          p Это те&nbsp;профессии, которые в&nbsp;первую очередь подверглись сокращению в&nbsp;ряде отраслей. Речь идет, например, о&nbsp;банковском секторе, страховых компаниях, автодилерах и&nbsp;других сферах, где деловая активность существенно снизилась в&nbsp;последние 2 года.
          .advice-content__block__step.article-block.no-top.no-bottom
            .tests-block.tests-block--alone.tests-block--custom-advice
              .container
                .test-card--alone.test-card--alone--no-mt
                  .flip-container.flip-container--alone.test-card__item
                    .flipper
                      .front(style="background-image: url(../images/main-page/Test/7.jpg);").white.layer
                        .test-card__item__time
                          span 2 мин
                        span.number-test Тест 7
                        .test-card__item__title
                          p Знаете&nbsp;ли вы&nbsp;своих сотрудников?
                        a(href="/test-1.html#test_7").go-test.bg-yellow Пройти тест
          p Со&nbsp;слов представителя банковского сектора, в&nbsp;зоне риска&nbsp;&mdash; в&nbsp;первую очередь менеджеры по&nbsp;кредитованию, по&nbsp;работе с&nbsp;документами заемщиков, кредитные андеррайтеры, менеджеры по&nbsp;продажам. Они не&nbsp;нужны в&nbsp;прежних количествах, поскольку кредитование и&nbsp;бизнеса, и&nbsp;частных клиентов снизилось в&nbsp;разы. Бизнес берет кредиты не&nbsp;на&nbsp;развитие, а&nbsp;в&nbsp;основном на&nbsp;погашение долгов. Есть даже случаи, когда компании отказываются от&nbsp;уже одобренных кредитов. А&nbsp;люди часто оформляют кредиты на&nbsp;рефинансирование, а&nbsp;объемы ссуд на&nbsp;телефоны, чайники, диваны и&nbsp;даже авто заметно упали. Так как объемы продаваемых автомобилей в&nbsp;России остаются на&nbsp;низком уровне, нетрудно догадаться, что сокращения прошли и&nbsp;здесь&nbsp;&mdash; среди специалистов по&nbsp;продажам автомобилей.
          p Под масштабные сокращения также попали непрофильные кадры, среди которых водители, курьеры, офис-менеджеры и т. д. Собственно, также неплохой шанс недорого нанять административный персонал.
          p К&nbsp;слову, некоторые работодатели так и&nbsp;делают, и&nbsp;этим методом можно воспользоваться: сокращая сотрудника на&nbsp;высокооплачиваемой позиции, взять на&nbsp;его место специалиста с&nbsp;рынка, но&nbsp;уже с&nbsp;меньшими запросами по&nbsp;заработной плате. Так как рынок труда переполнен соискателями, выбрать есть из&nbsp;кого. Почти все работодатели грамотно воспользовались моментом и&nbsp;повысили требования по&nbsp;профессиональным качествам сотрудников.
          p Таким образом, компании могут сократить издержки и&nbsp;сохранить численность персонала практически в&nbsp;неизменном виде, да&nbsp;еще и&nbsp;подкрепить профессиональную команду.
    .advice-content__block
      .container
        .advice-content__block__image
          img(src="../images/advices/sovet-7/Photo_2.jpg")
        .advice-content__block__step
          h3 Шаг 3. Определяем ключевых людей
          p Как это ни&nbsp;странно, но&nbsp;в&nbsp;период сокращения затрат на&nbsp;персонал в&nbsp;целом некоторым сотрудникам, напротив, надо повышать зарплату. Речь идет о&nbsp;ключевых сотрудниках, которые, что называются, &laquo;двигают&raquo; бизнес, чтобы снизить риск их&nbsp;ухода к&nbsp;конкурентам. Ведь, как известно, именно люди&nbsp;&mdash; локомотив для развития малого бизнеса. Люди&hellip; и&nbsp;технологии.
          p Возможно, именно поэтому из&nbsp;открытых источников видно, что доходы выросли у&nbsp;технологичных и&nbsp;высококвалифицированных специалистов с&nbsp;опытом работы.
          p Лидерами по&nbsp;росту доходов в&nbsp;исследовании, проводимом Superjob, стали следующие вакансии:
          .advice-content__block__documents
            ul
              li разработчик Oracle (+21%) с&nbsp;текущим анонсированным доходом 100&ndash;120&nbsp;тыс.&nbsp;рублей,
              li специалисты по&nbsp;валютным операциям (+20%) с&nbsp;доходом 55&ndash;70&nbsp;тыс.&nbsp;рублей,
              li главный конструктор (+19%) с&nbsp;доходом 100&ndash;150&nbsp;тыс.&nbsp;рублей.
          p Кроме того, среди лидеров по&nbsp;вакансиям: руководители отдела тестирования ПО&nbsp;(+18%), юристы по&nbsp;международному праву (+18%), руководители интернет-проектов (+17%), программисты Java (+14%), юристы по&nbsp;налоговому праву (+13%), программисты PHP (+12%) и&nbsp;системные аналитики (+11%).
          p Портал Headhunter.ru также регулярно сводит рэнкинги самых высокооплачиваемых вакансий. Среди самых дорогих специалистов на&nbsp;&laquo;Хэдхантере&raquo;&nbsp;&mdash; ИТ-директора, финансовые директора, руководители подразделений по&nbsp;интернет-маркетингу и т. д.
          p Как говорят рекрутеры, для профессионалов вопрос в&nbsp;уровне заработной платы не&nbsp;стоит. В&nbsp;таких случаях идет оценка вклада сотрудника в&nbsp;компанию, который он&nbsp;внесет.
        .advice-content__block__image
          img(src="../images/advices/sovet-7/Photo_3.jpg")
        .advice-content__block__step
          h3 Шаг 4. Где лучше искать людей
          p Во-первых, следует изучить внутренние ресурсы компании и&nbsp;&laquo;вырастить&raquo; людей в&nbsp;бизнесе. Это удобно, потому что таким специалистам не&nbsp;нужно будет входить в&nbsp;курс дела, адаптироваться к&nbsp;обстановке, вникать в&nbsp;специфику. Но, как говорится, есть нюанс: внутренний метод имеет свои ограничения. Зачастую бизнесу нужны свежие мозги, новые силы, а&nbsp;не&nbsp;только, пусть и&nbsp;профессиональные, старые сотрудники, привыкшие к&nbsp;стандартам, устоям и&nbsp;не&nbsp;готовые меняться, даже если этого требует развитие бизнеса.
          p Во-вторых, можно воспользоваться онлайн-порталами для подбора персонала, печатными изданиями и т. д. Это будет более эффективным вариантам для оперативного заполнения вакансии, для поиска свежих сил, при этом не&nbsp;стоит дорого. Минус этого инструмента&nbsp;&mdash; большой поток соискателей, которые вообще не&nbsp;подходят под требования вакансии (они шлют резюме просто так).
          p Более дорогостоящим для работодателя способом является обращение к&nbsp;услугам кадровых или рекрутинговых агентств. Однако если профессиональные кадровики берутся за&nbsp;дело, они отсекут все лишние обращения и&nbsp;подберут то, что вам надо. Инструмент хорош для управленческих и&nbsp;специфических вакансий. Кроме того, кадровые агентства позволят вам отвлечься от&nbsp;непрофильного занятия и&nbsp;сосредоточиться на&nbsp;бизнес-целях, а&nbsp;не&nbsp;на&nbsp;просмотре резюме.
          p Также неплохой инструмент поиска сотрудников&nbsp;&mdash; ресерч среди выпускников вузов, таких сотрудников можно готовить, что называется, &laquo;под себя&raquo;, под свои бизнес-цели. Зачастую такая стратегия оправданна, и&nbsp;обученный стажер становится не&nbsp;только отличным профи, но&nbsp;и&nbsp;лояльным к&nbsp;компании сотрудником. Но&nbsp;могут быть и&nbsp;обратные истории&nbsp;&mdash; вы&nbsp;обучите новичка, а&nbsp;он&nbsp;уйдет к&nbsp;конкурентам.
          p Также для поиска людей представителям малого бизнеса можно использовать круг своих знакомых и&nbsp;профессиональное сообщество. Специалист по&nbsp;рекомендации, как правило, точно будет обладать опытом, но&nbsp;может думать, что ему позволено больше, чем другим.
        .advice-content__block__image
          img(src="../images/advices/sovet-7/Photo_4.jpg")
        .advice-content__block__step
          h3 Шаг 5. Подводим итог
          p Рынок труда сегодня&nbsp;&mdash; это рынок работодателя, более дорогих сотрудников можно заменить более низкооплачиваемыми, в&nbsp;то&nbsp;же время профессионалов найти по-прежнему не&nbsp;всегда легко, и&nbsp;они могут стоить больших денег.
          p Сотрудники, которые остались на&nbsp;своих местах после тотальных сокращений, привыкли к&nbsp;растущей нагрузке и&nbsp;осознали, что это есть цена того, что их&nbsp;не&nbsp;сократили.
          p Штат компаний из&nbsp;сферы малого бизнеса раздуваться не&nbsp;будет, а&nbsp;набор персонала будет более точечным и&nbsp;взвешенным. Такой&nbsp;же подход будет применяться к&nbsp;повышению заработных плат и&nbsp;премий.
        .advice-content__block__documents
          h3 КТО НУЖЕН МАЛОМУ БИЗНЕСУ
          ul
            li IT-специалисты: мобильные и&nbsp;веб-разработчики, специалисты по&nbsp;кибербезопасности, аналитики Big Data;
            li &laquo;продажники&raquo;&nbsp;&mdash; менеджеры по&nbsp;продажам услуг и&nbsp;высокотехнологичных продуктов;
            li талантливые финансисты и&nbsp;антикризисные менеджеры;
            li аналитики с&nbsp;техническим бэкграундом;
            li специалисты по&nbsp;внутреннему обучению.
        .advice-content__block__documents
          h3 КТО НЕ&nbsp;ОЧЕНЬ НУЖЕН МАЛОМУ БИЗНЕСУ
          ul
            li бухгалтеры начального уровня (профессия уходит в&nbsp;аутсорсинг);
            li офис-менеджеры, секретари (многие их&nbsp;функции выполняют умные облачные АТС);
            li непрофильные сотрудники&nbsp;&mdash; клининг, поддержка компьютеров, ИТ-специалисты начального уровня.
    section.sharing-block
      .share-icon.js-share
        a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
        a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
        a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    section.advices-block-slider
      a(href="/article-1.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
        .advices-block-slider__item__text
          p Малые миллионы
      a(href="/article-2.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
        .advices-block-slider__item__text
          p Финансы для бизнеса
      a(href="/article-3.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
        .advices-block-slider__item__text
          p «Океаны» бизнеса
      a(href="/article-4.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
        .advices-block-slider__item__text
          p Инвестиции в эффективность
      a(href="/article-5.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
        .advices-block-slider__item__text
          p Плата за&nbsp;эмоции
      a(href="/article-6.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
        .advices-block-slider__item__text
          p В&nbsp;погоне за&nbsp;надежностью
      a(href="/article-7.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
        .advices-block-slider__item__text
          p Кадры в кризис: увольнять или нет
      a(href="/article-8.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
        .advices-block-slider__item__text
          p Связь для бизнеса
      a(href="/article-9.html").advices-block-slider__item
        .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
        .advices-block-slider__item__text
          p Машины vs люди
  .line-grey
  section.video-slider.video-slider-footer
    .container
      h2 Правила предпринимателя
      .videos-slider.videos-slider--space
        a()
          .interview-block__video
              .interview-block__video__block
                  .interview-block__video__block__muted.video_muted.block-control--slider-7
                      .block-control__pause
                      .block-control__play
                  .full-block-control
                      .full-block-control__slider--play
                      .full-block-control__time
                      .full-block-control__main-line
                          .full-block-control__main-line__progress
                      .full-block-control__sound
                  .interview-block__video__block__interview
                      iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                  .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                  .interview-block__video__block__info
                      h3 Андрей Сильчев
                      p.regalia Директор по развитию IT Partner
                      p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                      .interview-block__video__block__info__playbutton(id="start-client-video-7")
          .interview-block__video__sharing.clearfix.no-margin-bottom
        a()
          .interview-block__video
            .interview-block__video__block
              .interview-block__video__block__muted.video_muted.block-control--slider-6
                .block-control__pause
                .block-control__play
              .full-block-control
                .full-block-control__slider--play
                .full-block-control__time
                .full-block-control__main-line
                  .full-block-control__main-line__progress
                .full-block-control__sound
              .interview-block__video__block__interview
                iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
              .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
              .interview-block__video__block__info
                h3 Ольга Шеламова
                p.regalia совладелец компании &laquo;Олимп&raquo;
                p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                .interview-block__video__block__info__playbutton(id="start-client-video-6")
          .interview-block__video__sharing.clearfix.no-margin-bottom
        a()
          .interview-block__video
            .interview-block__video__block
              .interview-block__video__block__muted.video_muted.block-control--slider-5
                .block-control__pause
                .block-control__play
              .full-block-control
                .full-block-control__slider--play
                .full-block-control__time
                .full-block-control__main-line
                  .full-block-control__main-line__progress
                .full-block-control__sound
              .interview-block__video__block__interview
                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
              .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
              .interview-block__video__block__info
                h3 Илья Смирнов
                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                .interview-block__video__block__info__playbutton(id="start-client-video-5")
          .interview-block__video__sharing.clearfix.no-margin-bottom
        a()
          .interview-block__video
            .interview-block__video__block
              .interview-block__video__block__muted.video_muted.block-control--slider-4
                .block-control__pause
                .block-control__play
              .full-block-control
                .full-block-control__slider--play
                .full-block-control__time
                .full-block-control__main-line
                  .full-block-control__main-line__progress
                .full-block-control__sound
              .interview-block__video__block__interview
                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
              .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
              .interview-block__video__block__info
                h3 Игорь Ласьков
                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr>и&nbsp;другие решения мобильного оператора.
                .interview-block__video__block__info__playbutton(id="start-client-video-4")
          .interview-block__video__sharing.clearfix.no-margin-bottom
        a()
          .interview-block__video
            .interview-block__video__block
              .interview-block__video__block__muted.video_muted.block-control--slider-3
                .block-control__pause
                .block-control__play
              .full-block-control
                .full-block-control__slider--play
                .full-block-control__time
                .full-block-control__main-line
                  .full-block-control__main-line__progress
                .full-block-control__sound
              .interview-block__video__block__interview
                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
              .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
              .interview-block__video__block__info
                h3 Андрей Замай
                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                .interview-block__video__block__info__playbutton(id="start-client-video-3")
          .interview-block__video__sharing.clearfix.no-margin-bottom
        a()
          .interview-block__video
            .interview-block__video__block
              .interview-block__video__block__muted.video_muted.block-control--slider-1
                .block-control__pause
                .block-control__play
              .full-block-control
                .full-block-control__slider--play
                .full-block-control__time
                .full-block-control__main-line
                  .full-block-control__main-line__progress
                .full-block-control__sound
              .interview-block__video__block__interview
                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
              .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
              .interview-block__video__block__info
                h3 Павел Чаплинский
                p.regalia Основатель BOX&ROSES
                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                .interview-block__video__block__info__playbutton(id="start-client-video-1")
          .interview-block__video__sharing.clearfix.no-margin-bottom
        a()
          .interview-block__video
            .interview-block__video__block
              .interview-block__video__block__muted.video_muted.block-control--slider-2
                .block-control__pause
                .block-control__play
              .full-block-control
                .full-block-control__slider--play
                .full-block-control__time
                .full-block-control__main-line
                  .full-block-control__main-line__progress
                .full-block-control__sound
              .interview-block__video__block__interview
                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
              .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
              .interview-block__video__block__info
                h3 Дмитрий Шлопак
                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                .interview-block__video__block__info__playbutton(id="start-client-video-2")
  .modal-popup
    .modal-popup__bg
    .modal-popup__popup
      .interview-block__video
          .interview-block__video__block
            .interview-block__video__block__muted.video_muted.block-control
              .block-control__pause
              .block-control__play
            .interview-block__video__block__interview
              iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/HLGZqCOwOws?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
            .interview-block__video__block__info
              h3 Павел Чаплинский
              p.regalia Основатель BOX&ROSES
              p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
              .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
      .modal-popup__close     
