extends templates/layout
block vars
	- var title = '«БИЛАЙН» БИЗНЕС'
	- var og_title = 'Финансы на инновации: нетривиальный путь к деньгам'
	- var og_description = 'Есть много альтернативных способов привлечения средств для развития бизнеса — о самых эффективных из них рассказываем в спецпроекте РБК и «Билайн».'
	- var og_image = '../images/fin2.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/advices/sovet-2/SOVET_2(Cover).jpg');")
		a(href="/index.html").link-back Вернуться на главную
		span Совет
		h1 Финансы на&nbsp;инновации:<br> нетривиальный путь к&nbsp;деньгам
		.link
			a(href="/advice-1.html").prev-link Предыдущий совет
			span |
			a(href="/advice-3.html").next-link Следующий совет
	section.content-text
		.advice-content__block
			.container
				p Финансы нужны бизнесу на&nbsp;любой стадии его развития&nbsp;&mdash; и&nbsp;на&nbsp;старте, и&nbsp;при успешном росте, и&nbsp;при кризисных падениях спроса, и&nbsp;при внедрении технологий и&nbsp;разработке новых продуктов. В&nbsp;ряде случаев, например, когда речь идет об&nbsp;инновациях, о&nbsp;кредитах говорить не&nbsp;приходится. Сложно доказать применимость испытуемых технологий и&nbsp;успешность проекта. И&nbsp;тогда предприниматели могут поискать финансирование с&nbsp;помощью альтернативных инструментов.
				.advice-content__block__step
					h3 Вариант&nbsp;1. Краудфандинг. Ищем деньги у&nbsp;широкого круга людей
					p Краудфандинговые платформы&nbsp;&mdash; это сайты, через которые можно собрать деньги с&nbsp;широкого круга людей (инвесторов). Краудфандинг применялся в&nbsp;музыкальном и&nbsp;кинобизнесе, политике, инновационных и&nbsp;других сферах. В&nbsp;качестве шуточного кейса краудфандинга приводят сбор средств на&nbsp;приготовление картофельного салата: в&nbsp;2014 году американец Зак Браун смог собрать более $55&nbsp;тыс.&nbsp;на&nbsp;эту цель.
					p Известные международные платформы&nbsp;&mdash; Kickstarter, Indiegogo, RocketHub, PeerBackers, Booomerang и&nbsp;др. Всего в&nbsp;мире насчитывают свыше 600 интернет-платформ краудфандинга и&nbsp;оценивают их&nbsp;совокупные сборы в&nbsp;десятки миллиардов долларов. В&nbsp;России этот способ поиска финансов на&nbsp;бизнес применяется недавно, однако уже накопился определенный опыт.
					p Так, первой краудфандинговой платформой в&nbsp;нашей стране считается проект Kroogi, запущенный в&nbsp;2007&nbsp;году. Из&nbsp;успешно работающих сегодня можно назвать платформы Boomstarter (российский аналог Kickstarter) и&nbsp;Planeta.ru.
					p Правила участия/сбора денег на&nbsp;той или иной площадке могут отличаться, но&nbsp;в&nbsp;идеале краудфандинг&nbsp;&mdash; это не&nbsp;только поиск средств у&nbsp;частных инвесторов, но&nbsp;и&nbsp;некое обязательство перед ними. В&nbsp;обмен на&nbsp;финансирование проекта индивидуальные инвесторы что-то должны получать от&nbsp;предпринимателя&nbsp;&mdash; это может быть участие в&nbsp;деле (в&nbsp;дизайне продукта, в&nbsp;тестировании услуги), возможность приобрести продукт на&nbsp;особых условиях и&nbsp;др.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Евгений Гаврилин
				.quote-block__author--about
					p сооснователь платформы Boomstarter
				.quote-block__citate
					p Не&nbsp;стоит путать народное финансирование и&nbsp;благотворительность. Краудфандинг&nbsp;&mdash; это когда вы&nbsp;даете человеку деньги на&nbsp;идею или проект, получая что-то взамен. Народное финансирование связанно с&nbsp;сопричастностью: когда вам настолько нравится продукт или идея, что вы&nbsp;готовы вкладывать в&nbsp;этот проект&nbsp;&mdash; деньги, пиар. При&nbsp;создании любого проекта под народное финансирование нужно сразу задать себе вопрос: что я&nbsp;смогу предложить людям взамен.
		.advice-content__block
			.container
				p Вот свежий пример с&nbsp;Boomstarter: предприниматель Светлана Ефимова из&nbsp;Барнаула производит 7&nbsp;сортов мягкого сыра, предлагает инвестировать в&nbsp;ее&nbsp;бизнес разные суммы средств (цель&nbsp;&mdash; строительство специального помещения для созревания сыров), и&nbsp;в&nbsp;зависимости от&nbsp;размера &laquo;взноса&raquo; можно купить различные наборы сыров или принять участие в&nbsp;мастер-классе по&nbsp;сыроварению. А&nbsp;если вы&nbsp;инвестируете от&nbsp;250&nbsp;тыс. рублей, в&nbsp;вашу честь разработают специальный вид сыра!
				.advice-content__block__step
					h3 Вариант 2. Занять без банка и&nbsp;прочие &laquo;крауды&raquo;
					p Краудфандинг&nbsp;&mdash; общий термин для всех видов коллективного финансирования, начиная с&nbsp;благотворительных взносов и&nbsp;заканчивая частными инвестициями. Краудинвестинг&nbsp;&mdash; один из&nbsp;видов краудфандинга, при котором инвестор дает деньги компании в&nbsp;обмен на&nbsp;акции или долю в&nbsp;капитале. Краудинвестинг часто называют equity crowdfunding, или акционерный краудфандинг. Краудлендинг (известный как P2P lending)&nbsp;&mdash; это способ взаимного кредитования, при котором человек или организация может дать деньги взаймы другому человеку или организации при помощи инвестиционной площадки и&nbsp;без участия банка.
					p В&nbsp;России по&nbsp;модели краудлендинга (если говорить исключительно об&nbsp;инвестициях в&nbsp;бизнес) работает пока несколько инвестиционных площадок: StartTrack, &laquo;Альфа-Поток&raquo; и&nbsp;&laquo;Город Денег&raquo;. Например, StartTrack ищет компании малого и&nbsp;среднего бизнеса, оценивает по&nbsp;кредитной и&nbsp;венчурной методике, после чего предлагает инвесторам их&nbsp;финансировать.&nbsp;80% компаний, которые приходят на&nbsp;площадку StartTrack, по&nbsp;разным причинам не&nbsp;проходят отбор аналитического отдела. Но&nbsp;20% проектов&nbsp;&mdash; это как раз тот прибыльный растущий малый бизнес, которому отказал банк из-за отсутствия залога. Именно поэтому они готовы к&nbsp;долговому финансированию под 20&ndash;30% годовых или продаже доли.
					.advice-content__block__image
						img(src="../images/advices/sovet-2/SOVET_2(Image_1).jpg")
				.advice-content__block__step.no-bottom
					h3 Вариант 3. Бизнес-благотворительность. Безвозмездная помощь для бизнеса
					p Это вовсе не&nbsp;шутка! Получить деньги на&nbsp;что-нибудь полезное, в&nbsp;том числе какую-нибудь разработку, новый продукт, технологию, услугу можно с&nbsp;помощью благотворительности. Как&nbsp;это&nbsp;работает: вы&nbsp;предлагаете идею и&nbsp;просите на&nbsp;ее&nbsp;реализацию денег у&nbsp;людей, информируете об&nbsp;идее широкую общественность и&nbsp;ждете результата. От&nbsp;краудфандинга такие&nbsp;проекты отличаются тем, что не&nbsp;требуют никакого возврата инвесторам. Они в&nbsp;прямом смысле этого слова &laquo;жертвуют&raquo; деньги безвозмездно на&nbsp;вашу идею, в&nbsp;то&nbsp;время как в&nbsp;случае с&nbsp;краудфандингом инвесторы ожидают отдачи&nbsp;&mdash; пусть и&nbsp;необязательно финансовой. Хотя&nbsp;отметим, что способы очень сходные по&nbsp;принципу организации.
		.advice-content__block
			.container
				.advice-content__block__step.article-block.no-top
					.tests-block.tests-block--alone
						.container
							.test-card--alone
								.flip-container.flip-container--alone.test-card__item
									.flipper
										.front(style="background-image: url(../images/main-page/Test/2.jpg);").white.layer
											.test-card__item__time
												span 2 мин
											span.number-test Тест 2
											.test-card__item__title
												p 
													| Способны ли 
													span.shift-block-p
													| вы привлекать
													span.shift-block-p
													|  инвестиции?
											a(href="/test-1.html#test_2").go-test.bg-yellow Пройти тест
					p Бизнес-благотворительность более распространена на&nbsp;Западе. Пример&nbsp;&mdash; открытая платформа по&nbsp;управлению электронными книгами Calibre, которая позволяет добавлять оптом книги в&nbsp;библиотеку, создавать архивы, описание, искать и&nbsp;даже редактировать книги.
					p В&nbsp;России ближе всего по&nbsp;принципу организации работает краудфандинговая платформа Планета. Ру. Именно на&nbsp;этом сайте вы&nbsp;сможете найти социальные проекты и&nbsp;идеи, ориентированные на&nbsp;детей, культуру, образование и&nbsp;т.&nbsp;д. Например, можно найти проекты по&nbsp;сбору средств на&nbsp;оформление детского сада по&nbsp;методике Монтессори, создание театрального пространства, страусиную и&nbsp;ягодные фермы, сыроварню и&nbsp;бизнес по&nbsp;изготовлению скамеек, съемку фильмов, запись музыкальных альбомов и&nbsp;многое другое. Как видим, проекты очень разноплановые и&nbsp;вполне себе бизнесовые, а&nbsp;не&nbsp;только социальные.
				.advice-content__block__step
					h3 Вариант 4. Получить деньги у&nbsp;крупных корпораций
					p Модный тренд: крупные корпорации, активно проводящие инновационную политику, создают специальные проекты, бизнес-конкурсы, учреждают премии для предпринимателей, которые, участвуя и&nbsp;побеждая в&nbsp;них, могут претендовать и&nbsp;на&nbsp;финансовую поддержку, и&nbsp;на&nbsp;участие в&nbsp;реализации проекта, в&nbsp;том числе в&nbsp;его продвижении с&nbsp;помощью бренда &laquo;мамы&raquo;-корпорации.
					p В&nbsp;России, как правило, подобные проекты проводят крупные банки, ориентированные в&nbsp;том числе на&nbsp;работу с&nbsp;малым и&nbsp;средним бизнесом, а&nbsp;также ИТ- и&nbsp;телеком-компании, в&nbsp;основе бизнес-модели которых лежат современные технологии. Например, компания &laquo;Вымпелком&raquo; (&laquo;Билайн&raquo;) в&nbsp;2015 и&nbsp;2016&nbsp;гг. поддерживала международный конкурс инноваций Eurasia Mobile Challenge. Евразийский чемпионат по&nbsp;мобильным разработкам&nbsp;&mdash; это этап крупнейшего мирового конкурса Global Mobile Challenge, в&nbsp;рамках которого молодые предприниматели и&nbsp;стартаперы могут предложить концепцию или готовое решение в&nbsp;digital&nbsp;&mdash; мобильные финансовые решения, Big Data, облачные и&nbsp;М2&nbsp;М-решения, а&nbsp;также приложения, направленные на&nbsp;решение социальных проблем.
				.advice-content__block__step
					h3 Вариант 5. Найти венчурного инвестора
					p Венчурное финансирование&nbsp;&mdash; это долгосрочные инвестиции частных инвесторов в&nbsp;различные технологичные и&nbsp;рискованные идеи, проекты, стартапы. С&nbsp;одной стороны, самый желанный способ привлечь финансы, так как в&nbsp;этом случае суммы &laquo;поддержки&raquo; могут быть очень существенными&nbsp;&mdash; несколько десятков миллионов.
					p Однако венчурных инвесторов не&nbsp;слишком легко убедить, придется защищать многоуровневые бизнес-планы. Кроме того, венчуры в&nbsp;обмен на&nbsp;капитал требуют значительную долю бизнеса.
					p Критерии выбора у&nbsp;венчурных фондов существенно различаются. Какие-то могут предпочитать стартапы, какие-то&nbsp;&mdash; потребительские бизнесы. И&nbsp;правила работы у&nbsp;всех разные, изучите их&nbsp;внимательно, прежде чем направлять свою заявку.
					p Наиболее известным институциональным венчурным фондом в&nbsp;России является Фонд развития интернет-инициатив (ФРИИ)&nbsp;&mdash; это самый активный венчурный инвестор в&nbsp;России и&nbsp;Европе в&nbsp;соответствии со&nbsp;статистикой Dow Jones. Ежегодно фонд заключает до&nbsp;100 сделок и&nbsp;занимает&nbsp;50% рынка венчурных инвестиций на&nbsp;ранних стадиях в&nbsp;России. В&nbsp;портфеле фонда более 260&nbsp;проектов. Фонд выбирает перспективные проекты в&nbsp;сфере и&nbsp;инвестирует в&nbsp;них&nbsp;от&nbsp;2&nbsp;млн рублей, в&nbsp;течение трех месяцев обучая команду и&nbsp;помогая с&nbsp;развитием бизнеса. Объем инвестиций на&nbsp;последующих раундах может достигать 324 млн рублей. Приоритетные индустрии для ФРИИ&nbsp;&mdash; телекоммуникации, телемедицина, корпоративное и&nbsp;платформенное&nbsp;ПО, образовательные технологии, Big Data и&nbsp;машинное обучение, информационная безопасность, &laquo;интернет вещей&raquo;, рекламные технологии, медиа, а&nbsp;также различные нишевые продукты и&nbsp;решения.
					.advice-content__block__image
						img(src="../images/advices/sovet-2/SOVET_2(Image_2).jpg")
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--empty
					h3 Комментарий ФРИИ
				.quote-block__author--about
				.quote-block__citate
					p Мы&nbsp;выбираем проекты по&nbsp;трем принципиально важным критериям, которым должна удовлетворять компания. Первое&nbsp;&mdash; должна быть сильная команда с&nbsp;двумя основателями: один отвечает за&nbsp;бизнес, другой за&nbsp;техническую реализацию. Второе&nbsp;&mdash; у&nbsp;команды должен быть работающий прототип, который можно показывать клиенту. И&nbsp;третье&nbsp;&mdash; у&nbsp;проекта должен быть привлекательный рынок для инвесторов. Проект должен потенциально заработать не&nbsp;менее 300 млн рублей в&nbsp;перспективе ближайших 5&nbsp;лет.
					p На&nbsp;стадии pre-seed инвестируем в&nbsp;стартапы 2,1 млн рублей за&nbsp;7% доли уставного капитала. На&nbsp;этой стадии необходимо проходить программу акселерации. Требования к&nbsp;проектам: продукт должен быть готов к&nbsp;продажам и&nbsp;к&nbsp;тому, что клиент может его&nbsp;использовать, у&nbsp;компании должны быть первые продажи или подтверждение интереса рынка к&nbsp;этому продукту, услуге, сервису. На&nbsp;раунде seed фонд инвестирует до&nbsp;25&nbsp;млн рублей в&nbsp;обмен на&nbsp;долю от&nbsp;2,25% до&nbsp;40%. На&nbsp;этой стадии инвестируем при&nbsp;условии прохождения акселератора и&nbsp;при достижении конкретных целевых показателей. Требования к&nbsp;проекту&nbsp;&mdash; продукт и&nbsp;команда готовы к&nbsp;масштабированию, оборот компании от&nbsp;500 тысяч рублей в&nbsp;месяц. На&nbsp;Round A&nbsp;ФРИИ инвестирует до&nbsp;325 млн рублей, берет от&nbsp;15% до&nbsp;40% доли в&nbsp;уставном капитале компании. Оборот компании на&nbsp;этой стадии должен составлять от&nbsp;12&nbsp;млн руб.&nbsp;в&nbsp;месяц.
		.advice-content__block
			.container
				.advice-content__block__step
					h3 Вариант 6. Кто такие бизнес-ангелы
					p Бизнес-ангелы отличаются от&nbsp;венчурных инвесторов преимущественно тем, что выбирают совсем уж&nbsp;рискованные идеи. Рискуют и&nbsp;могут выиграть много или проиграть все. Условия их&nbsp;финансирования&nbsp;&mdash; также возврат вложений и&nbsp;существенная доля в&nbsp;капитале (50% в&nbsp;среднем). Плюс ко&nbsp;всему, так как ангелы вкладывают свои деньги, а&nbsp;не&nbsp;институциональные, они&nbsp;могут требовать больше и&nbsp;чаще.
					p Бизнес-ангелы&nbsp;&mdash; это, как правило, опытные и&nbsp;даже легендарные бизнесмены, заинтересованные в&nbsp;помощи &laquo;подрастающим&raquo;. При этом они хотят не&nbsp;только делиться деньгами, но&nbsp;и&nbsp;опытом.
					.advice-content__block__documents
						h3 Самые известные российские бизнес-ангелы:
						ul
							li Игорь Мацанюк&nbsp;&mdash; Proberry, Woodla, MyWardrobe;
							li Игорь Рябенький (фонд Altair)&nbsp;&mdash; проекты SocialMart, SailPlay, Alloka, HiConvertion и&nbsp;др.;
							li Александр Румянцев&nbsp;&mdash; 11 различных проектов, связанных с&nbsp;экологией и&nbsp;финансовыми технологиями;
							li Александр Айвазов&nbsp;&mdash; проекты &laquo;МартМания&raquo;;
							li Александр Бородич (FutureLabs)&nbsp;&mdash; проекты MyWishBoard, WishCoins;
							li Алексей Басов&nbsp;&mdash; проекты Pruffi, Habrahabr, Roem, Firrma;
							li Виктор Полехин&nbsp;&mdash; проекты Printio.ru, &laquo;Кнопка жизни&raquo;, Eduson.tv и&nbsp;др.;
							li Андрей Головин&nbsp;&mdash; проекты Russian Story, Promo.ru, &laquo;Киноплекс&raquo;;
							li Эдуард Фияксель&nbsp;&mdash; проекты не&nbsp;разглашаются;
							li Михаил Паулкин&nbsp;&mdash; проекты RuTube, Minutta;
							li Игорь Ашманов&nbsp;&mdash; проекты Wada!, Роем.ру, &laquo;Фильтр &laquo;Ремпаро&raquo;, Аяяй.ру;
							li Павел Черкашин&nbsp;&mdash; проекты фотоприложение &laquo;Минутта&raquo;, &laquo;Вэббанкир&raquo; и&nbsp;AdWired.
				.advice-content__block__step
					h3 Вариант 7. Бизнес-инкубаторы. Содействие бизнесу
					p Бизнес-инкубаторы&nbsp;&mdash; структуры, организации поддержки предпринимателей на&nbsp;стадии запуска и&nbsp;начального развития. Их&nbsp;цель&nbsp;&mdash; содействие успешному запуску и&nbsp;ускоренному росту предпринимателей, они оказывают экспертные услуги (бухучет, юридические вопросы, образование), организуют тематические выставки и&nbsp;форумы, продвигают своих подопечных, а&nbsp;также помогают найти выходы на&nbsp;венчуры и&nbsp;бизнес-ангелов. Известные российские бизнес-инкубаторы: APIMoscow, бизнес-инкубатор СКОЛКОВО, бизнес-инкубатор ВШЭ, бизнес-инкубатор Казанского ИТ-парка, бизнес-акселератор Start Hub и&nbsp;др.
				.advice-content__block__step
					h3 Вариант 8. Монетизировать сайт
					p Если бизнес связан с&nbsp;интернетом и&nbsp;мобильными технологиями, неплохим вариантом привлечения денег может стать непосредственно монетизация сайта компании, например, за&nbsp;счет предоставления пространства на&nbsp;сайте для размещения баннеров/рекламы или за&nbsp;счет платной подписки на&nbsp;ваш онлайн-сервис.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Константин Бочарский
				.quote-block__author--about
					p основатель сервиса для журналистов и&nbsp;компаний Pressfeed
				.quote-block__citate
					p Pressfeed я&nbsp;создал и&nbsp;запустил сам, в&nbsp;одиночку. Сам занимался программированием, сам общался с&nbsp;первыми пользователями, давал интервью СМИ и&nbsp;общался с&nbsp;первыми потенциальными инвесторами. В&nbsp;мире стартапов это называется &laquo;бутстрапить&raquo;&nbsp;&mdash; запустить проект самостоятельно, &laquo;на&nbsp;свои&raquo;.
					p Выход нашего сервиса на&nbsp;рынок вызвал большой резонанс и&nbsp;большой интерес. Помню &laquo;твит&raquo; Гайдара Магданурова, директора по&nbsp;инвестициям фонда Runa Capital, где&nbsp;он&nbsp;говорил, мол, стартаперы, берите пример: журналист научился программировать и&nbsp;сделал сервис, который решал понятную ему проблему. Новость о&nbsp;запуске Pressfeed разошлась в&nbsp;Facebook, как лесной пожар, и&nbsp;ее&nbsp;отметили многие авторитетные представители российского инвестсообщества. Я&nbsp;получил сразу несколько заинтересованных предложений и&nbsp;от&nbsp;игроков PR-рынка. Но&nbsp;продолжал &laquo;бутстрапить&raquo;. В&nbsp;день запуска у&nbsp;&laquo;Прессфида&raquo; новый пользователь регистрировался каждые 5&nbsp;секунд. Можно было просто досчитать до&nbsp;пяти, нажать F5&nbsp;&mdash; и&nbsp;счетчик пользователей обновлялся.
					p Я&nbsp;покинул &laquo;Секрет Фирмы&raquo; и&nbsp;продолжал один заниматься проектом, пока в&nbsp;сутках не&nbsp;кончились часы. Этот период можно считать &laquo;семейным финансированием&raquo;. Но&nbsp;вскоре стало ясно, что Pressfeed нужна команда, а&nbsp;чтобы запустить монетизацию, требуется сделать кучу работы. И&nbsp;вот под эту &laquo;кучу&raquo; я&nbsp;и&nbsp;привлек финансирование. Мы&nbsp;договорились с&nbsp;Инной Алексеевой, владельцем одного из&nbsp;крупнейших российских PR-агентств PR&nbsp;Partner, подготовили и&nbsp;запустили монетизацию проекта&nbsp;&mdash; запустили платную подписку на&nbsp;дополнительные функции сервиса&nbsp;&mdash; и&nbsp;сейчас работаем с&nbsp;выручкой, достаточной для развития. Периодически я&nbsp;получаю вопросы о&nbsp;том, не&nbsp;требуются&nbsp;ли нам инвестиции. У&nbsp;нас есть планы, для которых, возможно, они могут потребоваться. Как будем готовы, посмотрим, насколько легко будет превратить этот&nbsp;интерес в&nbsp;сделку. Я&nbsp;постоянно изучаю российский и&nbsp;западный венчурный рынок, отмечаю для себя интересные фонды, государственные и&nbsp;региональные программы, образовательные программы и&nbsp;конкурсы стартапов. Весь этот кипучий котел производит сильное впечатление, но&nbsp;наша практика в&nbsp;этой сфере оказалась довольно простой и&nbsp;описываемой просто здравым смыслом.
		.advice-content__block
			.container
				.advice-content__block__step
					h3 Вариант 9. Присоединиться к&nbsp;сильным мира сего
					p Начать заведомо успешный бизнес можно, выступив агентом/партнером крупной компании, раскрученного сервиса и&nbsp;т.&nbsp;д. Затем можно развивать свое собственное дело на&nbsp;базе такого партнерства. Например, вы&nbsp;можете продавать услуги &laquo;Билайн&raquo; Бизнес&nbsp;получать за&nbsp;это комиссию. &laquo;Билайн&raquo; Бизнес предлагает широкий выбор услуг, сервисов и&nbsp;опций для корпоративных клиентов разных размеров и&nbsp;из&nbsp;разных сфер. Например, предлагая облачную АТС &laquo;Билайн&raquo; Бизнес, вы&nbsp;можете развивать собственные услуги настройки, дописать свои программные модули к&nbsp;ней и&nbsp;работать уже как полноценный консультант по&nbsp;востребованным сегодня облачным сервисам.
				.advice-content__block__step
					h3 Резюме
					p Таким образом, для современного предпринимателя открывается широкий спектр инструментов финансирования. Даже если его идея очень смелая, даже если планируется стартап, варианты найти денежные средства на&nbsp;его развитие есть. Главное&nbsp;&mdash; составить четкий бизнес-план реализации идеи или развития бизнеса.
					p Если ваше дело имеет социальный или общественный характер, смело обращайтесь к&nbsp;услугам краудфандинговых платформ или бизнес-благотворительности. Если ваш бизнес связан с&nbsp;различными мобильными, онлайн-разработками, эффективнее всего попытать счастья в&nbsp;бизнес-инкубаторах, у&nbsp;бизнес-ангелов и&nbsp;венчурных инвесторов. Но&nbsp;не&nbsp;забывайте&nbsp;&mdash; они попросят взамен долю в&nbsp;вашей компании. Неплохой вариант также&nbsp;&mdash; выиграть грант или премию какой-нибудь крупной корпорации.
		section.sharing-block
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
		section.advices-block-slider
			a(href="/article-1.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
				.advices-block-slider__item__text
					p Малые миллионы
			a(href="/article-2.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
				.advices-block-slider__item__text
					p Финансы для бизнеса
			a(href="/article-3.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
				.advices-block-slider__item__text
					p «Океаны» бизнеса
			a(href="/article-4.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
				.advices-block-slider__item__text
					p Инвестиции в эффективность
			a(href="/article-5.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
				.advices-block-slider__item__text
					p Плата за&nbsp;эмоции
			a(href="/article-6.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
				.advices-block-slider__item__text
					p В&nbsp;погоне за&nbsp;надежностью
			a(href="/article-7.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
				.advices-block-slider__item__text
					p Кадры в кризис: увольнять или нет
			a(href="/article-8.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
				.advices-block-slider__item__text
					p Связь для бизнеса
			a(href="/article-9.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
				.advices-block-slider__item__text
					p Машины vs люди
	.line-grey
	section.video-slider.video-slider-footer
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom