extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Интернет для бизнеса'
    - var og_description = 'В современном бизнесе без интернета никуда — он нужен для коммуникации с клиентами, сотрудниками, партнёрами. Как обеспечить эффективный доступ в сеть для успешного развития дела — рассказываем в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/advices/sovet-8/Sovet_8.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/advices/sovet-8/Sovet-8_cover_1920x310.jpg');")
        a(href="/index.html").link-back Вернуться на главную
        span Совет
        h1 Интернет для бизнеса
        .link
            a(href="/advice-7.html").prev-link Предыдущий совет
            span |
            a(href="/advice-1.html").next-link Следующий совет
    section.content-text
        .advice-content__block
            .container
                p Интернет нужен бизнесу практически во&nbsp;всех аспектах взаимодействия с&nbsp;контрагентами&nbsp;&mdash; и&nbsp;для коммуникации сотрудников друг с&nbsp;другом, и&nbsp;для общения с&nbsp;клиентами и&nbsp;приема заказов, и&nbsp;для развития взаимоотношений с&nbsp;партнерами. Мы&nbsp;расскажем вам о&nbsp;том, как обеспечить эффективный доступ в&nbsp;интернет для сотрудников и&nbsp;клиентов.
                .advice-content__block__step
                    h3 Шаг 1. Организуем интернет для сотрудников в офисе
                    p Организация интернета в&nbsp;офисе для коммуникации между сотрудниками и&nbsp;с&nbsp;клиентами/поставщиками&nbsp;&mdash; практически первоочередное дело. Решения сотовых операторов сегодня позволяют сделать это очень просто и&nbsp;быстро.
                    p Так, например, услуга &laquo;Доступ к&nbsp;сети Интернет&raquo; от&nbsp;&laquo;Билайн&raquo; Бизнес позволяет подключиться к&nbsp;сети по&nbsp;выделенной линии, организуемой от&nbsp;вашего офиса до&nbsp;ближайшего узла на&nbsp;магистральной сети &laquo;Билайн&raquo;.
                    p Подключение к&nbsp;сети Интернет по&nbsp;каналам доступа &laquo;Билайн&raquo; обеспечит компании высокоскоростное надежное подключение 24 часа в&nbsp;сутки ко&nbsp;множеству ресурсов интернета на&nbsp;любых скоростях доступа. Оператор предлагает оптимальные тарифы как на&nbsp;услугу доступа к&nbsp;интернету, так и&nbsp;на&nbsp;дополнительные сервисы, которые определяются потребностями конкретного бизнеса.
        .advice-content__block
          .container
        section.big-table
            div#title
              .container
                h2 Преимущества услуги «Доступ к сети Интернет» от «Билайн» Бизнес
              table.table-header--rebuild
                  tr.main
                      th.title-advice.advice-about Преимущества
                      th.about-advice.advice-about Описание
            div#content
              table.table--rebuild
                tr
                  td.title-advice.advice-about
                      h3 Широкая география
                  td.about-advice.advice-about
                      p Магистральная IP/<nobr>MPLS-сеть</nobr> &laquo;Билайн&raquo;&nbsp;&mdash; одна из&nbsp;крупнейших в&nbsp;России. Стыки большой пропускной способности с&nbsp;крупнейшими международными и&nbsp;российскими операторами позволяют &laquo;Билайну&raquo; обеспечить предоставление <nobr>интернет-услуг</nobr> на&nbsp;скоростях до&nbsp;10 Гбит/с практически в&nbsp;любой точке России.
              table.table--rebuild   
                tr
                  td.title-advice.advice-about
                      h3 Надежность
                  td.about-advice.advice-about
                      p Резервирование каналов и&nbsp;узлов сети &laquo;Билайн&raquo;, построенных только на&nbsp;проверенном сетевом оборудовании ведущих мировых производителей, обеспечивает повышенную отказоустойчивость данной услуги от&nbsp;&laquo;Билайн&raquo; Бизнес.
              table.table--rebuild
                tr
                    td.title-advice.advice-about
                        h3 Гибкость технических решений и&nbsp;выбора скоростей доступа
                    td.about-advice.advice-about
                        p Возможность организовать доступ к&nbsp;сети Интернет по&nbsp;различным технологиям (FTTx, xDSL, Ethernet Wireless MAN, MEN <nobr>Wi-Fi</nobr>), обеспечивая симметричные высокоскоростные каналы с&nbsp;гарантированной скоростью доступа в&nbsp;интернет до&nbsp;10 Гбит/с.
              table.table--rebuild
                tr
                  td.title-advice.advice-about
                      h3 Пакеты дополнительных услуг и&nbsp;сервисов:
                  td.about.advice-about
                    ul
                      li выделение <nobr>IP-адресов</nobr> (IPv4 и&nbsp;IPv6);
                      li обеспечение и&nbsp;настройка маршрутизации трафика (BGP);
                      li выделение виртуального и&nbsp;выделенного хостинга;
                      li создание электронной почты и&nbsp;почтового сервера;
                      li регистрация и&nbsp;поддержка доменных имен; защита от&nbsp;<nobr>DDOS-атак</nobr>.
              table.table--rebuild 
                  tr
                      td.title-advice.advice-about
                          h3 Привлекательная стоимость услуги
                      td.about-advice.advice-about
                          p Размер ежемесячной абонентской платы и единовременной инсталляции определяется объемом услуги и рассчитывается индивидуально для каждого клиента.
              table.table--rebuild    
                  tr
                      td.title-advice.advice-about
                          h3 Вариативность тарифов:
                      td.about-advice.advice-about
                          p unlim&nbsp;&mdash; безлимитный входящий и&nbsp;исходящий трафик;<br /> limited&nbsp;&mdash; ограничено количество входящего трафика;<br />индивидуальный&nbsp;&mdash; оптимально подбирается для клиента, чьи электронные ресурсы предназначены для массового использования.
              table.table--rebuild 
                  tr
                    td.title-advice.advice-about
                      h3 Простота подключения:
                    td.about.advice-about
                      ul
                        li обратитесь к своему персональному менеджеру;
                        li добавьте услугу в корзину, заполнив ваши контактные данные.
    section.content-text.content-text--lifehack
        .advice-content__block
            .container
              .advice-content__block__documents
                h3 Также вам могут настроить следующие услуги:
                ul
                  li облачная АТС;
                  li автомониторинг;
                  li аудиоконференция;
                  li Microsoft Office 365;
                  li центр управления М2М;
                  li единая сеть офисных и мобильных номеров (FMC).
    section.content-text
        .advice-content__block
          .container
            .advice-content__block__step
                h3 Шаг 2. Организуем мобильный интернет для сотрудников
                p Также важно, чтобы сотрудники всегда были на&nbsp;связи, даже если их&nbsp;нет в&nbsp;офисе. Причины могут быть разными&nbsp;&mdash; работа в&nbsp;&laquo;полях&raquo;, по&nbsp;встречам, командировки, работа на&nbsp;дому <nobr>и т. д.</nobr> Еще более необходимо быть онлайн руководителю&nbsp;&mdash; цена недостаточно оперативного управленческого решения может обернуться потерянными клиентами и&nbsp;доходами.
                .advice-content__block__image(style="margin-bottom: 32px;")
                    img(src="../images/advices/sovet-8/Sovet-8_photo_1.jpg")
                p Для организации <nobr>онлайн-связи</nobr> подойдет семейство тарифов &laquo;Форсаж&raquo; для мобильных телефонов и&nbsp;планшетов от&nbsp;&laquo;Билайн&raquo; Бизнес. При этом вы&nbsp;можете выбирать объем трафика, например, для менеджеров и&nbsp;рядовых сотрудников или, скажем, поощряя большим <nobr>интернет-трафиком</nobr> отличившихся сотрудников (инструмент мотивации).
    section.content-text
        .advice-content__block
          .container
            .advice-content__block__step   
              h3 Шаг 3. Организуем интернет для клиентов
              p Согласно отчету Nielsen’s&nbsp;Global Trust in&nbsp;Advertising report, рекомендации знакомых традиционно лидируют в&nbsp;списке <nobr>рекламно-информационных</nobr> источников, пользующихся наибольшим доверием у&nbsp;потребителей. Компании, которые пользуются таким доверием, как правило, постоянно заботятся об&nbsp;улучшении качества сервиса и&nbsp;пользовательского опыта их&nbsp;клиентов. 
              p Инвестиции в&nbsp;сервис, таким образом, максимально перспективны, они способны расширить клиентскую базу, в&nbsp;том числе через рекомендации.
              .advice-content__block__step__inner
                h3 Управляемый Wi&nbsp;Fi
                p Подключайте &laquo;Управляемый <nobr>Wi-Fi</nobr>&raquo; от&nbsp;&laquo;Билайн&raquo; и&nbsp;предоставляйте <nobr>Wi-Fi-доступ</nobr> в&nbsp;Интернет своим сотрудникам и&nbsp;клиентам&nbsp;&mdash; гостям отеля, кафе, ресторана, салона или посетителям мероприятия.
                a(href="https://wi-fi.beeline.ru/?utm_source=RBC&utm_medium=banner&utm_term=Upravlyaemyj_WIFI&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
                    span
              p Один из&nbsp;таких &laquo;клиентских&raquo; подходов&nbsp;&mdash; радушный прием. Довольно часто приводится в&nbsp;этом плане пример&nbsp;&mdash; один из&nbsp;отелей изучает предпочтения своих клиентов (любимая еда, услуги), и, когда они возвращаются снова, им&nbsp;предоставляется индивидуальный сервис. Конечно, такой подход потребует мощных затрат и&nbsp;в&nbsp;персонал, и&nbsp;в&nbsp;ИТ, и&nbsp;в&nbsp;ту&nbsp;же систему <nobr>бизнес-аналитики</nobr>. Однако есть и&nbsp;менее ресурсоемкие технологии.
              p Например, можно подключить услугу &laquo;Управляемый <nobr>Wi-Fi</nobr>&raquo; от&nbsp;&laquo;Билайн&raquo; Бизнес и&nbsp;предоставлять своим клиентам доступ в&nbsp;интернет по&nbsp;<nobr>Wi-Fi</nobr>. Это актуально для сервисных бизнесов, в&nbsp;первую очередь отелей, кафе, ресторанов, салонов красоты, посетителей мероприятий <nobr>и т. д.</nobr>
            .advice-content__block__documents
              h3 &laquo;Управляемый <nobr>Wi-Fi</nobr>&raquo; от&nbsp;&laquo;Билайн&raquo; Бизнес позволяет организовать доступ в&nbsp;интернет по&nbsp;всей России в&nbsp;любом месте согласно законодательству РФ, если вам необходимы:
              ul
                li организация публичной <nobr>Wi-Fi-зоны</nobr> с&nbsp;авторизацией для ваших клиентов (рестораны, салоны красоты, гостиницы, магазины и&nbsp;др. общественные места);
                li беспроводной интернет в&nbsp;нестандартных местах (такси, корпоративные автомобили и&nbsp;даже речные пароходы);
                li организация беспроводного интернета на&nbsp;определенный период (проведение мероприятий).
            .advice-content__block__documents
              h3 Как это работает?
            .advice-content__block__step
              .advice-content__block__image.advice-content__block__image--small-top
                img(src="../images/advices/sovet-8/infograph.png")
            .advice-content__block__documents
              h3 Преимущества услуги:
              ul
                li скорость доступа в&nbsp;интернет до&nbsp;1 Гбит/с, бесплатное подключение и&nbsp;бесплатная <nobr>SMS-авторизация</nobr>;
                li идентификация пользователей позволит вам менять внешний вид стартовой страницы, задавать собственное название <nobr>Wi-Fi-сети</nobr>, ограничивать сессии по&nbsp;времени и&nbsp;объему данных, собирать и&nbsp;анализировать статистику по&nbsp;клиентам;
                li техническая поддержка 24/7: все технические вопросы &laquo;Билайн&raquo; Бизнес берет на&nbsp;себя. Вам даже не&nbsp;нужно приобретать оборудование, оператор его предоставит. Все оборудование входит в&nbsp;стоимость услуги;
                li две услуги по&nbsp;цене одной: доступ в&nbsp;интернет для сотрудников и&nbsp;<nobr>Wi-Fi-зона</nobr> для посетителей.
            .advice-content__block__step
              p Даже если у&nbsp;вас большое помещение или нестандартное место, где вы&nbsp;хотели&nbsp;бы организовать <nobr>Wi-Fi</nobr>, специалисты &laquo;Билайн&raquo; приедут и&nbsp;помогут определить технологию подключения и&nbsp;необходимое количество <nobr>Wi-Fi-точек</nobr>. На&nbsp;основании проведенного осмотра оператор сможет рассчитать стоимость и&nbsp;подключить &laquo;Управляемый <nobr>Wi-Fi</nobr>&raquo; всего за&nbsp;несколько дней!
              p И&nbsp;немаловажный правовой нюанс. Идентификация пользователей посредством SMS&nbsp;&mdash; это возможность реализовать идентификацию пользователя в&nbsp;полном соответствии с&nbsp;Постановлением Правительства РФ&nbsp;&#8470;&nbsp;758 и&nbsp;&#8470;&nbsp;801 и&nbsp;соблюсти исполнение законов (ФЗ&nbsp;&#8470;&nbsp;436 &laquo;О&nbsp;защите детей от&nbsp;информации&raquo;, ФЗ&nbsp;&#8470;&nbsp;114 &laquo;О&nbsp;противодействии экстремистской деятельности&raquo;, Приказ Минкомсвязи России &#8470;&nbsp;161 о&nbsp;защите детей от&nbsp;информации, причиняющей вред их&nbsp;здоровью и&nbsp;развитию).
        section.sharing-block
            .share-icon.js-share
                a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
                a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
                a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
        section.advices-block-slider
            a(href="/article-1.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
                .advices-block-slider__item__text
                    p Малые миллионы
            a(href="/article-2.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
                .advices-block-slider__item__text
                    p Финансы для бизнеса
            a(href="/article-3.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
                .advices-block-slider__item__text
                    p «Океаны» бизнеса
            a(href="/article-4.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
                .advices-block-slider__item__text
                    p Инвестиции в эффективность
            a(href="/article-5.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
                .advices-block-slider__item__text
                    p Плата за&nbsp;эмоции
            a(href="/article-6.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
                .advices-block-slider__item__text
                    p В&nbsp;погоне за&nbsp;надежностью
            a(href="/article-7.html").advices-block-slider__item
              .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
              .advices-block-slider__item__text
                p Кадры в кризис: увольнять или нет
            a(href="/article-8.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
                .advices-block-slider__item__text
                    p Связь для бизнеса
            a(href="/article-9.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
                .advices-block-slider__item__text
                    p Машины vs люди
    .line-grey
    section.video-slider.video-slider-footer
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
              a()
                .interview-block__video
                    .interview-block__video__block
                        .interview-block__video__block__muted.video_muted.block-control--slider-8
                            .block-control__pause
                            .block-control__play
                        .full-block-control
                            .full-block-control__slider--play
                            .full-block-control__time
                            .full-block-control__main-line
                                .full-block-control__main-line__progress
                            .full-block-control__sound
                        .interview-block__video__block__interview
                            iframe(id="client-video-8" width="780" height="439" src="https://www.youtube.com/embed/Wdxdzoskexc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                        .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_8.jpg); background-size: contain;")
                        .interview-block__video__block__info
                            h3 Дмитрий Шкловер
                            p.regalia Основатель <nobr>интернет-магазина</nobr> 613bricks.ru
                            p.hide-in-mobile Современные решения сотовых операторов позволяют оптимизировать операционные затраты компании. О&nbsp;том, какие инструменты существуют для начинающих бизнесменов и&nbsp;как аутсорсинг связи повышает эффективность и&nbsp;прибыльность бизнеса.
                            .interview-block__video__block__info__playbutton(id="start-client-video-8")
                .interview-block__video__sharing.clearfix.no-margin-bottom
              a()
                .interview-block__video
                    .interview-block__video__block
                        .interview-block__video__block__muted.video_muted.block-control--slider-7
                            .block-control__pause
                            .block-control__play
                        .full-block-control
                            .full-block-control__slider--play
                            .full-block-control__time
                            .full-block-control__main-line
                                .full-block-control__main-line__progress
                            .full-block-control__sound
                        .interview-block__video__block__interview
                            iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                        .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                        .interview-block__video__block__info
                            h3 Андрей Сильчев
                            p.regalia Директор по развитию IT Partner
                            p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                            .interview-block__video__block__info__playbutton(id="start-client-video-7")
                .interview-block__video__sharing.clearfix.no-margin-bottom
              a()
                .interview-block__video
                  .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control--slider-6
                      .block-control__pause
                      .block-control__play
                    .full-block-control
                      .full-block-control__slider--play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound
                    .interview-block__video__block__interview
                      iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                    .interview-block__video__block__info
                      h3 Ольга Шеламова
                      p.regalia совладелец компании &laquo;Олимп&raquo;
                      p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                      .interview-block__video__block__info__playbutton(id="start-client-video-6")
                .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/HLGZqCOwOws?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
                    .interview-block__video__block__info
                        h3 Павел Чаплинский
                        p.regalia Основатель BOX&ROSES
                        p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
