extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Облачная АТС'
    - var og_description = 'Гибкое управление корпоративной связью, объединение точек продаж единым телефонным номером — это лишь некоторые преимущества облачной АТС. Подробнее в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/advices/sovet-5/Sovet_5.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/advices/sovet-5/Sovet-5_cover_1920x310.jpg');")
        a(href="/index.html").link-back Вернуться на главную
        span Совет
        h1 Облачная АТС. Преимущества и&nbsp;возможности.
        .link
            a(href="/advice-4.html").prev-link Предыдущий совет
            span |
            a(href="/advice-6.html").next-link Следующий совет
    section.content-text
        .advice-content__block
            .container
                p Коммуникации&nbsp;&mdash; сердце компании, это телефония, интернет, видеосвязь. От&nbsp;того, насколько эффективно организована система коммуникаций, зависит координация сотрудников, результативность взаимодействия с&nbsp;клиентами, а&nbsp;также финансовый результат бизнеса. Облачная телефония дает возможность построить удобную и&nbsp;недорогую связь в&nbsp;офисе. Недаром сами предприниматели называют виртуальную АТС умной телефонией. Она позволяет не&nbsp;только оперативно организовать связь, но&nbsp;и&nbsp;обрабатывать и&nbsp;распределять клиентские звонки, вне зависимости от&nbsp;того, где находится сотрудник, и&nbsp;многое другое. Также облачная АТС дает возможность оптимизировать расходы на&nbsp;связь компании и&nbsp;развивать бизнес, масштабируя его на&nbsp;регионы.
                .advice-content__block__step
                    h3 Шаг 1. Как работает облачная АТС
                    p Виртуальная телефонная станция находится на&nbsp;сервере поставщика услуг, провайдера, которым может быть, например, сотовый оператор. Компания-заказчик использует, таким образом, АТС, находящуюся за&nbsp;пределами собственного офиса. При этом можно настроить любой набор опций с&nbsp;учетом потребностей конкретного бизнеса. Все данные хранятся на&nbsp;&laquo;облаке&raquo;, а&nbsp;точнее облачном сервере провайдера, а&nbsp;у&nbsp;вашей компании нет нужды покупать собственный сервер и&nbsp;другое оборудование, искать под него место в&nbsp;помещении, обслуживать его и т. д. Таким образом, компания (предприниматель) за&nbsp;небольшую стоимость получает офисную АТС с&nbsp;необходимым функционалом.
                .advice-content__block__image(style="margin-bottom: 32px;")
                    img(src="../images/advices/sovet-5/Sovet-5_photo_1.jpg")
                .advice-content__block__step.article-block
                    h3 Шаг 2. Оцениваем качество телефонии
                    p Облачная телефония, как правило, сопровождается высоким качеством связи, особенно если в&nbsp;качестве провайдера вы&nbsp;выберете надежного поставщика услуг.
                    .advice-content__block__step__inner
                        h3 Облачная АТС от&nbsp;&laquo;Билайн&raquo; Бизнес
                        p Переводите свои коммуникации в&nbsp;формат облачной АТС, объединяйте мобильные и&nbsp;стационарные телефоны в&nbsp;единую телефонную сеть.
                        a(href="http://www.beeline.ru/b2b/cloud-ats/?utm_source=RBC&utm_medium=banner&utm_term=Oblachnaya_ATS&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017  " target="_blank").arrow-block Подробнее
                            span
                    p Конечно, ключевым преимуществом ОАТС является экономия затрат на&nbsp;связь. Кроме того, заметно сокращается временной ресурс. Ведь компании-заказчику не&nbsp;нужно покупать оборудование, делать разводку проводов, все затраты сводятся к&nbsp;приятному минимуму. И&nbsp;все очень быстро! Например, подключение и&nbsp;настройка виртуальной АТС от&nbsp;&laquo;Билайн&raquo; Бизнес занимает не&nbsp;более 5&nbsp;минут и&nbsp;не&nbsp;требует специальных умений и&nbsp;навыков. Еще одна экономия&nbsp;&mdash; оптимизация затрат на&nbsp;персонал, который&nbsp;бы занимался телефонной связью в&nbsp;штате.
        .advice-content__block
            .container
                .advice-content__block__step.no-bottom
                    h3 Шаг 3. Смотрим, подойдет&nbsp;ли вам ОАТС
                .advice-content__block__step.article-block.no-top
                    .tests-block.tests-block--alone.tests-block--custom-advice
                        .container
                            .test-card--alone.test-card--alone--no-mt
                                .flip-container.flip-container--alone.test-card__item
                                    .flipper
                                        .front(style="background-image: url(../images/main-page/Test/4.jpg);").white.layer
                                            .test-card__item__time
                                                span 2 мин
                                            span.number-test Тест 5
                                            .test-card__item__title
                                                p Знаете&nbsp;ли вы&nbsp;своих сотрудников?
                                            a(href="/test-1.html#test_5").go-test.bg-yellow Пройти тест
                    p Облачная АТС подойдет для компаний всех размеров, масштабов, форматов и&nbsp;сфер. Индивидуальные предприниматели и&nbsp;маленькие фирмы с&nbsp;ОАТС могут быстро запустить бизнес. Компании, в&nbsp;которых нет необходимости всем сотрудникам постоянно присутствовать в&nbsp;офисе, могут настроить доступ к&nbsp;сети в&nbsp;любой точке земли. При этом у&nbsp;компании будет прямой городской номер от&nbsp;&laquo;Билайн&raquo; Бизнес и&nbsp;голосовое приветствие для клиентов, что повышает их&nbsp;доверие.
                    p Если ваш бизнес пойдет в&nbsp;рост, облачная АТС будет развиваться вместе с&nbsp;вами. Вы&nbsp;легко сможете увеличить число каналов вызова, внутренних номеров. Несколько филиалов фирмы в&nbsp;разных регионах быстро объединяются в&nbsp;сеть с&nbsp;единым корпоративным номером и&nbsp;удобной бесплатной переадресацией к&nbsp;сотруднику из&nbsp;любого региона.
                    p Для крупного бизнеса облачная АТС станет полноценным кол-центром, причем затраты на&nbsp;его организацию будут гораздо меньше. Кроме того, компания получит контроль над статистикой звонков, записью всех разговоров и&nbsp;построением аналитики.
                .advice-content__block__step
                    h3 Шаг 4. Выбираем поставщика ОАТС
                    p Выбор провайдера услуг по&nbsp;виртуальным сервисам очень важен, ведь, как мы&nbsp;уже говорили, коммуникации и&nbsp;их&nbsp;качество&nbsp;&mdash; сердце бизнеса. Поэтому подбирайте оператора тщательно.
                .advice-content__block__image
                    img(src="../images/advices/sovet-5/Sovet-5_photo_2.jpg")
                    p.last-image-text В&nbsp;России работает около сотни поставщиков услуг облачной АТС, но&nbsp;если вам нужны помимо предоставления собственно облачных мощностей гибкость, настройка, постоянная квалифицированная техподдержка, то&nbsp;круг провайдеров существенно снизится. Рекомендуем воспользоваться услугами известных компаний, например, облачной АТС от&nbsp;&laquo;Билайн&raquo; Бизнес.
                    p Можете также спросить рекомендации у&nbsp;ваших коллег по&nbsp;бизнесу.
                .advice-content__block__step
                    h3 Шаг 5. Составляем набор услуг и&nbsp;тариф
                    p Как правило, у&nbsp;поставщика облачных сервисов есть несколько предложений по&nbsp;услугами и&nbsp;ценам. Смотрите на&nbsp;потребности вашего бизнеса и&nbsp;выбирайте.
                    p Например, различные пакеты могут включать:
                    ul
                        li виртуального секретаря;
                        li горячую линию;
                        li интеллектуальное голосовое меню и&nbsp;голосовую почту;
                        li несколько внутренних линий;
                        li запись разговоров.
                    p Вот так выглядит &laquo;линейка&raquo; ОАТС от&nbsp;&laquo;Билайн&raquo; Бизнес:
        section.big-table
            div#title
                table
                    tr.main
                        th.title-advice.advice-about Тариф
                        th.about-advice.advice-about Кому подойдет
                        th.about-advice.advice-about.price Цена вопроса
            div#content
                table
                    tr
                        td.title-advice.advice-about
                            h3 &laquo;Персональный&raquo;
                        td.about-advice.advice-about
                            p Для тех, кому необходим только многоканальный номер, запись разговоров и&nbsp;аудиоконференция. Платите только за&nbsp;то, что используете!
                        td.about-advice.advice-about.price
                            p От&nbsp;50&nbsp;руб. в&nbsp;месяц
                table
                    tr
                        td.title-advice.advice-about
                            h3 &laquo;Минимальный&raquo;
                        td.about-advice.advice-about
                            p Для стартапов. Многоканальный номер и&nbsp;различные сценарии распределения вызовов по&nbsp;сотрудникам, чтобы клиенты всегда могли до&nbsp;вас дозвониться.
                        td.about-advice.advice-about.price
                            p От&nbsp;450&nbsp;руб. в&nbsp;месяц
                table
                    tr
                        td.title-advice.advice-about
                            h3 &laquo;Базовый&raquo;
                        td.about-advice.advice-about
                            p Для команды до&nbsp;15 человек. Простой и&nbsp;быстрый способ телефонизации офиса за&nbsp;1 день. Настройте свое собственное голосовое приветствие, объедините сотрудников в&nbsp;группы, совершайте и&nbsp;принимайте звонки с&nbsp;использованием единого многоканального номера.
                        td.about-advice.advice-about.price
                            p От&nbsp;1050&nbsp;руб. в&nbsp;месяц
                table
                    tr
                        td.title-advice.advice-about
                            h3 &laquo;Стандартный&raquo;
                        td.about-advice.advice-about
                            p Для компаний, имеющих сеть распределенных офисов. Объедините множество точек продаж единым многоканальным номером. Грамотно распределяйте поступающие в&nbsp;вашу компанию телефонные звонки и&nbsp;направляйте каждый из&nbsp;них ответственному специалисту.
                        td.about-advice.advice-about.price
                            p От&nbsp;2500&nbsp;руб. в&nbsp;месяц
                table
                    tr
                        td.title-advice.advice-about
                            h3 &laquo;Профессиональный&raquo;
                        td.about-advice.advice-about
                            p Профессиональный инструмент для повышения эффективности коммуникаций как с&nbsp;клиентами, так и&nbsp;внутри компании. Проводите переговоры с&nbsp;партнерами или совещания с&nbsp;рабочими группами сотрудников без необходимости собираться всем в&nbsp;одном офисе. Анализируйте работу сотрудников, получайте онлайн-статистику по&nbsp;всем принятым и&nbsp;пропущенным вызовам в&nbsp;компании.
                        td.about-advice.advice-about.price
                            p От&nbsp;4500&nbsp;руб. в&nbsp;месяц
    section.content-text
        .advice-content__block
            .container
                .advice-content__block__step
                    h3 Шаг 6. Смотрим итог
                    p Есть реальные примеры в&nbsp;бизнесе, которые подтверждают, что облачные сервисы намного выгоднее и&nbsp;эффективнее, чем стандартные варианты организации связи. Они позволяют решать комплекс задач, в&nbsp;том числе с&nbsp;управлением человеческими ресурсами и&nbsp;продажами.
                    p Так, компания &laquo;Билайн&raquo; начала переводить сотрудников на&nbsp;удаленку еще в&nbsp;прошлом году, и&nbsp;число таких специалистов постоянно растет. Взаимодействие между коллегами, безусловно, осуществляется с&nbsp;помощью облачных сервисов. По&nbsp;разным оценкам, до&nbsp;7% бюджетов крупных компаний может уходить на&nbsp;содержание офисов. Удаленный персонал заметно экономит такие затраты.
                    p До&nbsp;&laquo;Билайн&raquo; на&nbsp;удаленку перешли сотрудники Unilever: там подсчитали, что около 50% рабочего времени сотрудники и&nbsp;так проводят вне офиса&nbsp;&mdash; на&nbsp;деловых встречах и&nbsp;выездных заданиях. Работает домашний call-центр (с&nbsp;около 2000 удаленных сотрудников) и&nbsp;в&nbsp;банке &laquo;Тинькофф&raquo;. В&nbsp;банке есть и&nbsp;стационарный кол-центр, но&nbsp;удаленные операторы заметно его разгрузили. К&nbsp;тому&nbsp;же это опять дало экономию затрат на&nbsp;персонал: удаленные операторы&nbsp;&mdash; это, например, люди с&nbsp;физическими ограничениями, кормящие мамы и т. д. Они получают сдельную зарплату в&nbsp;зависимости от&nbsp;объема выполненной работы.
        section.sharing-block
            .share-icon.js-share
                a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
                a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
                a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
        section.advices-block-slider
            a(href="/article-1.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
                .advices-block-slider__item__text
                    p Малые миллионы
            a(href="/article-2.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
                .advices-block-slider__item__text
                    p Финансы для бизнеса
            a(href="/article-3.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
                .advices-block-slider__item__text
                    p «Океаны» бизнеса
            a(href="/article-4.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
                .advices-block-slider__item__text
                    p Инвестиции в эффективность
            a(href="/article-5.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
                .advices-block-slider__item__text
                    p Плата за&nbsp;эмоции
            a(href="/article-6.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
                .advices-block-slider__item__text
                    p В&nbsp;погоне за&nbsp;надежностью
            a(href="/article-7.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
                .advices-block-slider__item__text
                    p Кадры в кризис: увольнять или нет
            a(href="/article-8.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
                .advices-block-slider__item__text
                    p Связь для бизнеса
            a(href="/article-9.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
                .advices-block-slider__item__text
                    p Машины vs люди
    .line-grey
    section.video-slider.video-slider-footer
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/HLGZqCOwOws?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
                    .interview-block__video__block__info
                        h3 Павел Чаплинский
                        p.regalia Основатель BOX&ROSES
                        p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
