extends templates/layout
block vars

block content
	.container
		.all-cases
			.all-cases__back 
				.all-cases__back--arrow
				a(href="main.html") Вернуться на главную
			h1 Полезные советы
			p Хотите запустить свое дело, но вас пугают организационные вопросы? Ваша пошаговая инструкция по бизнесу.
	section.advice
		.container
			h2 Советы, полезные советы
			.cases
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Как открыть свое дело в России
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Финансы на инновации: нетривиальный путь к деньгам
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Как удвоить число клиентов
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span ИТ за рамками компании
				a(href="http://www.beeline.ru/b2b/cloud-ats/?utm_source=RBC&utm_medium=banner&utm_term=Oblachnaya_ATS&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Облачная АТС
				a(href="#").cases__item--last
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Как проверить контрагента
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Ваши кадры: дорого или дешево
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Интернет для бизнеса
				a(href="#").cases__item--last
					//- #test-block-2
					img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Строим умный офис
	.container
		.banner-for-beeline
			span Место для баннера/продукта Билайн
	section.advice
		.container
			h2 Советы, полезные советы
			.cases
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item--last
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
			.more-cases
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
				a(href="#").cases__item--last
					//- #test-block-2
					img(src="../images/advices/Lock.svg", alt="")
					.cases__item__text.cases__item__text--medium
						span Читайте скоро
			.more-block
				a(href="#").js-more-cases Показать еще