extends templates/layout
block vars
	- var title = '«БИЛАЙН» БИЗНЕС'
	- var og_title = 'Как удвоить продажи'
	- var og_description = 'Делимся простыми советами о том, как эффективно работать с воронкой продаж, чтобы нарастить прибыль компании. Читайте в спецпроекте РБК и «Билайн».'
	- var og_image = '../images/Sovet_3_Sharing.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/advices/sovet-3/Sovet-3_cover_1920x310.jpg');")
		a(href="/index.html").link-back Вернуться на главную
		span Совет
		h1 Как удвоить продажи
		.link
			a(href="/advice-2.html").prev-link Предыдущий совет
			span |
			a(href="/advice-4.html").next-link Следующий совет
	section.content-text
		.advice-content__block
			.container
				p Наш материал поможет вам работать эффективнее с&nbsp;&laquo;воронкой продаж&raquo;, наращивать число клиентов и&nbsp;объем продаж, и&nbsp;в&nbsp;результате&nbsp;&mdash; прибыль компании.
				.advice-content__block__step
					h3 Удвоить продажи
					p Управление продажами&nbsp;&mdash; это искусство. Умело выстраивая отношения с&nbsp;клиентами, наращивая число лояльных покупателей и&nbsp;расширяя в&nbsp;целом их&nbsp;круг, вы&nbsp;сможете развивать бизнес практически бесконечно. Удвоить, утроить продажи&nbsp;&mdash; это не&nbsp;предел при эффективной стратегии продаж.
					p Пожалуй, самым важным термином в&nbsp;управлении продажами является &laquo;воронка продаж&raquo; (от&nbsp;англ. sales funnel). Условно это модель работы с&nbsp;потребителем, которая включает в&nbsp;себя различные этапы&nbsp;&mdash; от&nbsp;первичного контакта в&nbsp;ходе &laquo;холодного звонка&raquo; или просмотра рекламы до&nbsp;непосредственно покупки.
					p Повышение эффективности работы с&nbsp;воронкой продаж поможет предпринимателям нарастить доходность. Причем не&nbsp;важно, в&nbsp;чем заключается ваш бизнес&nbsp;&mdash; интернет-торговля, офлайн-магазин, консалтинг, туризм или что-то еще... Чтобы ваша воронка продаж доводила до&nbsp;финальных покупок как можно больше клиентов, есть несколько простых рекомендаций.
				.advice-content__block__step
					h3 Шаг&nbsp;1. Разбираемся в&nbsp;определениях и&nbsp;терминах
					p Продажа&nbsp;&mdash; это процесс, который состоит из&nbsp;нескольких стадий: захват внимания клиента, вызов интереса, желание купить продукт, непосредственно действие по&nbsp;покупке. Цель любого предпринимателя&nbsp;&mdash; чтобы внимание большего числа клиентов трансформировалось в&nbsp;реальные сделки.
					p Конверсия воронки продаж&nbsp;&mdash; показатель эффективности каждого этапа продаж (считается на&nbsp;каждом этапе&nbsp;&mdash; и&nbsp;в&nbsp;итоге совокупно, как соотношение потенциально возможных клиентов к&nbsp;реально перешедшим на&nbsp;следующий этап). Это математическая модель, которая позволяет понять, на&nbsp;каких этапах/стадиях клиенты отсеиваются, а&nbsp;также дает возможность эти &laquo;прорехи&raquo; устранить и&nbsp;не&nbsp;позволить впредь покупателям &laquo;утекать&raquo;.	
				.advice-content__block__documents
					h3 Пример
					ul
						li рекламу вашей фирмы увидели в&nbsp;СМИ 5000 человек (первый этап воронки);
						li пришло на&nbsp;сайт 300 человек (второй этап воронки). Конверсия = 300/5000=0,06;
						li стали разбираться с&nbsp;онлайн-заказом или позвонило в&nbsp;компанию 17&nbsp;человек (третий этап воронки) Конверсия = 17/300 = 0,06;
						li реально совершили покупку 5&nbsp;человек. Конверсия = 5/17 = 0,29;
					p Итоговая конверсия = 5/5000=0,005
					p На&nbsp;каждом этапе воронки можно проследить эффективность работы с&nbsp;клиентами. К&nbsp;примеру, эффективность рекламы в&nbsp;интернете (первый этап воронки) легко посчитать соотношением дохода на&nbsp;тысячу показов.
					p Воронка продаж выглядит как воронка с&nbsp;узким горлом, но&nbsp;чем она эффективнее, тем ближе по&nbsp;виду она к&nbsp;трубе. И&nbsp;чем больше она похожа на&nbsp;трубу, тем выше доход вашего бизнеса.
		.advice-content__block
			.container
				.advice-content__block__step
					h3 Шаг&nbsp;2. Работа с&nbsp;предложением
					p Разобравшись с&nbsp;показателями, с&nbsp;которыми вам предстоит работать, разрабатывайте уникальное торговое предложение (УТП) вашего продукта. УТП&nbsp;&mdash; это некий сформулированный набор характеристик, присущих именно вашему товару/услуге. Причем УТП не&nbsp;должно быть абстрактным по&nbsp;типу &laquo;самое лучшее&raquo;, &laquo;самое дешевое&raquo;, оно должно нести вашему клиенту определенную потребительскую ценность, действительно важную для покупателя.
					p УТП должно быть четким, конкретным, с&nbsp;цифрами, показывающими, сколько и&nbsp;чего выиграет/получит ваш клиент, купив ваш продукт.	
				.advice-content__block__documents
					h3 Например:
					ul
						li завтраки с&nbsp;собой&nbsp;&mdash; на&nbsp;25% дешевле;
						li доставка горячего обеда в&nbsp;течение 30&nbsp;минут в&nbsp;пределах ЦАО;
						li ждете такси дольше 5&nbsp;минут, с&nbsp;нас скидка&nbsp;10%.		
				.advice-content__block__step
					h3 Шаг&nbsp;3. Делаем холодные звонки
					p Холодные контакты&nbsp;&mdash; это термин в&nbsp;продажах, который очерчивает максимально широкий круг потенциальных клиентов. В&nbsp;случае с&nbsp;баннером&nbsp;&mdash; это все, кто его видел. В&nbsp;случае со&nbsp;звонками по&nbsp;спискам &laquo;желтых страниц&raquo;&nbsp;&mdash; это все, кто поднял трубку. И&nbsp;так далее.
				.advice-content__block__image
					img(src="../images/advices/sovet-3/Sovet-3_photo(1)_780x438.jpg")
					p.last-image-text Понятно, что получение таких контактов важно, но&nbsp;на&nbsp;этом этапе вы&nbsp;лишь обозначаете границы, в&nbsp;которых будете работать. Например, выбирая СМИ для рекламы, вы&nbsp;определяете примерно целевую аудиторию, которая узнает о&nbsp;вашем продукте.
					p Если вы&nbsp;действительно звоните людям, позаботьтесь о&nbsp;приветливых менеджерах-&laquo;привлеченцах&raquo; и&nbsp;придумайте какую-нибудь &laquo;фишку&raquo;, с&nbsp;которой они будут начинать разговор, потому что сегодня спам-звонки, скорее, раздражают потребителей, чем позволяют донести им&nbsp;информацию.
		.advice-content__block
			.container
				.advice-content__block__step.article-block
					.tests-block.tests-block--alone
						.container
							.test-card--alone.test-card--alone--no-mt
								.flip-container.flip-container--alone.test-card__item
									.flipper
										.front(style="background-image: url(../images/main-page/Test/3.jpg);").white.layer
											.test-card__item__time
												span 2 мин
											span.number-test Тест 3
											.test-card__item__title
												p Разбираетесь ли вы в маркетинге?
											a(href="/test-1.html#test_3").go-test.bg-yellow Пройти тест
					h3 Шаг&nbsp;4. Формируем интерес к&nbsp;продукту
					p Интерес к&nbsp;продукту формируется с&nbsp;помощью современных технологий рекламы, эффективного таргетинга, умелого описания преимуществ, специальных акций со&nbsp;скидками, &laquo;входящих&raquo; бонусов и&nbsp;подарков и&nbsp;других маркетинговых инструментов.
					p Конечно, многое зависит от&nbsp;ниши и&nbsp;самого продукта. Из&nbsp;общих советов&nbsp;&mdash; везде отлично работает сарафанный маркетинг, когда люди советуют друг другу вашу компанию и&nbsp;ваш товар. И&nbsp;тут хорошо подойдет завуалированная реклама у&nbsp;лидеров мнений&nbsp;&mdash; тех, к&nbsp;кому прислушивается целевая аудитория. Прямая реклама всем надоела, у&nbsp;потребителей в&nbsp;голове уже стоит блок-фильтр на&nbsp;такую рекламу. Как&nbsp;же комплексно увеличить продажи и&nbsp;узнаваемость&nbsp;&mdash; надо учиться, тестировать различные каналы, идти методом проб и&nbsp;ошибок. Без этого никуда.	
		.advice-content__block
			.container
				.advice-content__block__step.article-block
					h3 Шаг&nbsp;5. Убеждаем купить
					p Убеждение купить другими словами называют «работой с возражениями» - это ответы на все возможные вопросы, сомнения покупателя относительно покупки. Продавец должен быть готов комментировать все из них, подчеркивая ценные характеристики продукта.		
		.advice-content__block
			.container
				.advice-content__block__step.article-block
					h3 Шаг&nbsp;6. Заключаем сделку
					p Заключение сделки&nbsp;&mdash; сама покупка, на&nbsp;самом деле, не&nbsp;финальный этап, хотя, казалось&nbsp;бы, вот он&nbsp;&mdash; успех!
		.advice-content__block
			.container
				.advice-content__block__step.article-block
					h3 Шаг&nbsp;7. Анализируем результаты
					p Далее вам надо подвести итоги, в&nbsp;том числе, подсчитать итоговую конверсию, а&nbsp;также определить места, в&nbsp;которых следует поработать над процессом.
		.advice-content__block
			.container
				.advice-content__block__step.article-block
					h3 Шаг&nbsp;8. Увеличиваем конверсию воронки
					p В&nbsp;первую очередь, определите цикл привлечения клиента: от&nbsp;момента, когда о&nbsp;вас узнали, до&nbsp;завершения обслуживания. Такая воронка демонстрирует, как поток входящих потенциальных клиентов превращается в&nbsp;узкий ручеек реально купивших продукт людей.
					p Определив на&nbsp;какой стадии воронки застопорилась сделка, вы&nbsp;поймете, что нужно подтянуть. Если поток входящих потенциальных клиентов маленький, то&nbsp;нужно заняться маркетингов, рекламой и&nbsp;привлекать больше людей. Если клиенты пропадают на&nbsp;моменте заинтересованности в&nbsp;продукте, подумайте, может быть, вы&nbsp;не&nbsp;на&nbsp;своем месте и&nbsp;не&nbsp;в&nbsp;своем рынке. А&nbsp;возможно пора сменить менеджера по&nbsp;продажам.	
				.advice-content__block__image(style="margin-bottom: 32px;")
					img(src="../images/advices/sovet-3/Sovet-3_photo(2)_780x438.jpg")
					p.last-image-text Не&nbsp;всегда стоит сосредотачиваться только на&nbsp;количестве продаж, иногда важнее становится качество. Что интереснее&nbsp;&mdash; продать 10&nbsp;товаров с&nbsp;маржой в&nbsp;1&nbsp;000 рублей или один товар с&nbsp;маржой в&nbsp;100&nbsp;000&nbsp;рублей?
					p Нужно делать выборку, что продавать выгоднее. Если вы&nbsp;находитесь в&nbsp;Усть-Илимске и&nbsp;производите действительно отличные рыболовные удочки собственного дизайна, то&nbsp;вероятность большого количества продаж в&nbsp;родном городе крайне мала. Выходите на&nbsp;новые рынки. Благодаря интернету, вы&nbsp;можете продавать свой продукт по&nbsp;всей территории&nbsp;РФ и&nbsp;не&nbsp;ограничивать себя. Сделайте интернет-магазин, создайте страницу в&nbsp;социальных сетях. С&nbsp;недавних пор в&nbsp;них интегрирована возможность создания каталога с&nbsp;ценами, комплектациями и&nbsp;описаниями. Порядок действий клиента очень прост: увидеть картинку, прочитать описание, согласиться с&nbsp;ценой, нажать &laquo;купить&raquo; и&nbsp;оформить документы на&nbsp;доставку. И&nbsp;это в&nbsp;таком модном сервисе как Instagram. Отправляйте свой продукт в&nbsp;более обеспеченные регионы&nbsp;&mdash; Москва, Санкт-Петербург, Казань, где уровень заинтересованности и&nbsp;дохода выше в&nbsp;разы. К&nbsp;тому&nbsp;же, помимо заинтересованности существует критерий &laquo;Я&nbsp;могу себе это позволить&raquo;. Спрос на&nbsp;дорогие товары в&nbsp;Усть-Илимске будет невелик.	
					p Способов увеличения конверсии воронки довольно много, и&nbsp;они зависят от&nbsp;модели вашего бизнеса, от&nbsp;продукта, и&nbsp;т.д. К&nbsp;примеру, для интернет-магазина подойдут такие инструменты:
				.advice-content__block__documents
					ul
						li онлайн-помощник;
						li удобная визуальная корзина с&nbsp;предложением добавить те&nbsp;или иные товары;
						li бесплатная доставка и&nbsp;примерка;
						li заказ обратного звонка.
				.advice-content__block__step.article-block
					p Такими инструментами мы&nbsp;можем увеличить конверсию этапа &laquo;формирование заказа&nbsp;&mdash; совершение заказа&raquo;. Можно поработать и&nbsp;с&nbsp;этапом &laquo;холодные контакты&nbsp;&mdash; возникновение интереса к&nbsp;продукту&raquo;, для этого сами контакты нужно &laquo;завязывать&raquo; с&nbsp;более целевой для вас аудиторией. К&nbsp;примеру, люксовые товары не&nbsp;рекламировать в&nbsp;изданиях, которые читают студенты, или снеки не&nbsp;предлагать обзвоном корпораций.
					.advice-content__block__step__inner
						h3 Удобные номера
						p Номер 8800 от&nbsp;&laquo;Билайн&raquo; позволит вам комфортно расширить зону присутствия на&nbsp;региональном рынке, а&nbsp;&laquo;Прямой городской номер&raquo; на&nbsp;мобильных номерах придаст респектабельности небольшой фирме.

						a(href="http://beeline.ru/b2b/products/telephony/services/details/nomera-8-800/?utm_source=RBC&utm_medium=banner&utm_term=8_800&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
							span
					p Важное правило&nbsp;&mdash; быть доступным для потенциального и&nbsp;реального клиента по&nbsp;всем удобным для него каналам. Если ваш клиент исключительно в&nbsp;онлайн&nbsp;&mdash; можно быть только там, но, как правило, гораздо лучше работает омниканальность&nbsp;&mdash; модель, когда вы&nbsp;доступны везде и&nbsp;можете продолжить оформлять заказ, начав онлайн и&nbsp;закончив по&nbsp;телефону. При этом для современной компании, будь ее&nbsp;сфера деятельности торговля товарами или консалтинг, лучше иметь прямой многоканальный номер для всех городов, где есть потенциальные клиенты.	
					p Не&nbsp;бойтесь тестировать рекламу, специальные акции и&nbsp;другие маркетинговые &laquo;фишки&raquo;. Не&nbsp;обязательно покупать рекламные баннеры сразу на&nbsp;большие объемы размещений, пробуйте разные слоганы и&nbsp;макеты, разные категории клиентов, и&nbsp;т.д.
				.advice-content__block__step.article-block
					h3 Шаг&nbsp;9. Лиды и&nbsp;лидогенерация
					p Если речь идет об&nbsp;онлайн-бизнесе, нарастить конверсию воронки продаж вам поможет лидогенерация. Это совокупность методов по&nbsp;привлечению клиентов через директ рекламу в&nbsp;поисковиках, тематических сайтах, и&nbsp;т.д.
					p Лиды&nbsp;&mdash; люди, зашедшие на&nbsp;сайт, предлагающий аналогичный вашему продукт, оставившие заявку, контакты. Есть специальные интернет-ресурсы, которые собирают контакты пользователей из&nbsp;вашей целевой аудитории, и&nbsp;каждый &laquo;лид&raquo; стоит определенных денег, в&nbsp;зависимости от&nbsp;продукта и&nbsp;целевого клиента. Это может быть 50&nbsp;рублей и&nbsp;10&nbsp;тыс. рублей.
					p Не&nbsp;путать с&nbsp;людьми, начавшими формировать заказ, указавшие какие-то свои данные, но&nbsp;не&nbsp;сделавшие его. Такие &laquo;недоделанные&raquo; и&nbsp;забытые заказы называют &laquo;письмами из&nbsp;забытой корзины&raquo;, и&nbsp;с&nbsp;ними тоже вполне можно работать&nbsp;&mdash; повторными сообщениями, письмами на&nbsp;электронную почту и&nbsp;т.д.
				.advice-content__block__step.article-block
					h3 Шаг&nbsp;10. Повышаем продажи с&nbsp;помощью ботов и&nbsp;мессенджеров
					p.last-block-text Вне зависимости от&nbsp;модели бизнеса, сегодня нарастить продажи могут не&nbsp;только онлайн-помощники, но&nbsp;и&nbsp;различные боты в&nbsp;мессенджерах (Facebook, Telegram, и&nbsp;т.д.). Они могут отвечать на&nbsp;вопросы клиентов (повышая конверсию этапа &laquo;убеждение&raquo;), помогать сформировать заказ и&nbsp;многое другое. К&nbsp;тому&nbsp;же, сделать бота в&nbsp;мессенджере не&nbsp;так сложно. Пошаговую инструкцию можно найти, например, <a href="https://vc.ru/p/bot-facebook" target="_blank">здесь</a>.

					
		section.sharing-block
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
		section.advices-block-slider
			a(href="/article-1.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
				.advices-block-slider__item__text
					p Малые миллионы
			a(href="/article-2.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
				.advices-block-slider__item__text
					p Финансы для бизнеса
			a(href="/article-3.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
				.advices-block-slider__item__text
					p «Океаны» бизнеса
			a(href="/article-4.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
				.advices-block-slider__item__text
					p Инвестиции в эффективность
			a(href="/article-5.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
				.advices-block-slider__item__text
					p Плата за&nbsp;эмоции
			a(href="/article-6.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
				.advices-block-slider__item__text
					p В&nbsp;погоне за&nbsp;надежностью
			a(href="/article-7.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
				.advices-block-slider__item__text
					p Кадры в кризис: увольнять или нет
			a(href="/article-8.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
				.advices-block-slider__item__text
					p Связь для бизнеса
			a(href="/article-9.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
				.advices-block-slider__item__text
					p Машины vs люди
	.line-grey
	section.video-slider.video-slider-footer
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-3
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Андрей Замай
								p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
								p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
								.interview-block__video__block__info__playbutton(id="start-client-video-3")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom		
	.modal-popup
		.modal-popup__bg
		.modal-popup__popup
			.interview-block__video
					.interview-block__video__block
						.interview-block__video__block__muted.video_muted.block-control
							.block-control__pause
							.block-control__play
						.interview-block__video__block__interview
							iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/HLGZqCOwOws?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
						.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
						.interview-block__video__block__info
							h3 Павел Чаплинский
							p.regalia Основатель BOX&ROSES
							p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
							.interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
			.modal-popup__close			
