extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Строим «умный офис»'
    - var og_description = 'Чем «умнее» офис, тем сильнее бизнес. Что такое «умный» офис, зачем он нужен и как его организовать — делимся простыми советами в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/advices/sovet-9/Sovet_9.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/advices/sovet-9/Sovet-9_cover_1920x310.jpg');")
        a(href="/index.html").link-back Вернуться на главную
        span Совет
        h1 Строим «умный офис»
        .link
            a(href="/advice-8.html").prev-link Предыдущий совет
            span |
            a(href="/advice-1.html").next-link Следующий совет
    section.content-text
        .advice-content__block
          .container
            p &laquo;Умные офисы&raquo;, давно получившие распространение в&nbsp;Европе, США, Японии, пришли и&nbsp;в&nbsp;Россию. Под этим термином, как правило, понимают современный офис, построенный на&nbsp;базе технологий, позволяющих экономить ресурсы. Однако кроме этого &laquo;умным офисом&raquo; можно именовать организацию бизнеса, которая позволяет оптимальным образом использовать современные решения и&nbsp;человеческие силы.
            .advice-content__block__step
              h3 Шаг 1. Что включает в&nbsp;себя &laquo;умный офис&raquo;
              p Согласно определению &laquo;умный офис&raquo;&nbsp;&mdash; это современный формат офисного помещения, которое снабжено различными взаимосвязанными техническими и&nbsp;информационными системами для эффективной работы компании, в&nbsp;основном с&nbsp;точки зрения операционных затрат. Речь идет о&nbsp;расходах на&nbsp;свет, воду, отопление и т. д. &laquo;Умный офис&raquo; позволяет вам заметно снизить потребление ресурсов и, как следствие, сэкономить.
              p Техническое оборудование и&nbsp;софт для умного офиса может включать в&nbsp;себя, например, такие решения и&nbsp;системы:
              ul
                li решение для управления яркостью освещения
                li система управления электричеством;
                li решение для систем кондиционирования и&nbsp;отопления;
                li система технической безопасности и&nbsp;наблюдения;
                li решение для управления связью (конференц-связь, аудио- и&nbsp;видеосвязь);
                li централизация всех систем на&nbsp;едином &laquo;пульте&raquo;.
              p Условно можно сказать, что эти решения родом из&nbsp;&laquo;умных&raquo; домов, где они также позволяют экономить на&nbsp;ЖКХ.
            .advice-content__block__image
              img(src="../images/advices/sovet-9/Image_1.jpg")
            .advice-content__block__step
              p Эксперты уверены, что &laquo;умные офисы&raquo;, построенные на&nbsp;энергосберегающих технологиях,&nbsp;&mdash; это всё-таки будущее для российского рынка, а&nbsp;никак не&nbsp;утопия. Ведь ещё недавно мы&nbsp;посмеивались, когда видели в&nbsp;интернете фото объявлений в&nbsp;офисах крупнейших европейских компаний, в&nbsp;которых сотрудников (в&nbsp;целях экономии теплоэнергии зимой) призывали одеваться теплее, приносить из&nbsp;дома пледы и&nbsp;одеяла, а&nbsp;сегодня эта идея уже не&nbsp;кажется такой смешной. Всё больше офисов в&nbsp;России переходят на&nbsp;использование энергосберегающих ламп, автономного отопления и&nbsp;современной теплоизоляции. Это, конечно, только первый этап, но&nbsp;он&nbsp;вскоре повлечёт за&nbsp;собой разработки в&nbsp;области энергоэффективной компьютерной техники, альтернативных источников энергии, программ экономии электричества. Вообще &laquo;умный офис&raquo;&nbsp;&mdash; это не&nbsp;только полезно для планеты, это ещё и&nbsp;эффективно для бизнеса. К&nbsp;примеру, благодаря современным технологиям сотрудники некоторых предприятий не&nbsp;могут &laquo;забыть&raquo; пропуск на&nbsp;работу, если вход в&nbsp;офис доступен только по&nbsp;отпечатку пальца.
            .advice-content__block__step
              h3 Шаг 2. Зачем нужен &laquo;умный офис&raquo;
              p Умный формат офисов подойдет для компаний различных размеров и&nbsp;из&nbsp;различных индустрий. Он&nbsp;может быть полезен для тех бизнесменов, которые стремятся к&nbsp;оптимальному использованию материальных ресурсов и&nbsp;достижению лучших результатов не&nbsp;только за&nbsp;счет интенсивных факторов, но&nbsp;и&nbsp;экстенсивных возможностей организации. Масштабные проекты &laquo;умных офисов&raquo; ранее внедряли крупные корпорации, однако сегодня многие технологии применимы и&nbsp;для малого бизнеса.
              p При этом, когда мы&nbsp;говорим об&nbsp;&laquo;умных офисах&raquo;, речь идет не&nbsp;только об&nbsp;организации офисных коммуникаций с&nbsp;точки зрения энергосбережения. Также важное технологическое направление&nbsp;&mdash; инструменты, связанные с&nbsp;использованием решений для автоматизации бизнес-процессов компании, различных мобильных устройств, интернет вещей (Internet of&nbsp;Things), машинное обучение (Machine Learning) и&nbsp;так далее. В&nbsp;этом случае речь скорее идет об&nbsp;организации рабочего пространства, которое дает возможность максимально эффективно использовать потенциал каждого сотрудника, в&nbsp;том числе за&nbsp;счет комфортной офисной среды, экономии личного времени, повышения удобства взаимодействия.
              p Еще один важный тренд связан с&nbsp;растущим числом сотрудников из&nbsp;категории молодежи. По&nbsp;данным опросов ИТ-компаний Intel и&nbsp;Dell, львиная доля молодых специалистов (около 80%) предпочтут выйти на&nbsp;работу в&nbsp;офис с&nbsp;высокотехнологичными местами. Немногим меньше вообще думают, что будущее за&nbsp;&laquo;удаленкой&raquo;, коворкингами и&nbsp;прочими форматами. Соответственно, чтобы привлечь молодые таланты, работодателям придется учитывать и&nbsp;этот тренд.
              p Вообще понимание офиса заметно изменилось за&nbsp;последнее десятилетие. Даже самый стандартный офис&nbsp;&mdash; это уже скорее опенспейс, чем помещение с&nbsp;толстыми стенами и&nbsp;высокими перегородками. Офис сегодня&nbsp;&mdash; некий центр эффективных коммуникаций, и&nbsp;он&nbsp;должен быть организован соответствующим образом.
              p Помимо технических элементов, дающих бизнесу возможность экономично относиться к&nbsp;энергетическим и&nbsp;иным ресурсам, можно выделить и&nbsp;несколько инструментов организации &laquo;умного&raquo; рабочего пространства&nbsp;&mdash; другими словами, оптимальной организации вашего бизнеса, в&nbsp;котором каждый человек работает максимально эффективно, а&nbsp;каждая единица затрат иных ресурсов не&nbsp;тратится попусту. Переходим к&nbsp;инструментам&hellip;
            .advice-content__block__step
              h3 Шаг 3. Cоздать бота
              p Применяем инструменты искусственного интеллекта (Artificial intelligence). Уже давно доказано, что скоро он&nbsp;будет играть ведущую роль в&nbsp;бизнесе и&nbsp;соответственно в&nbsp;работе современного офиса, увеличивая результативность работы каждого сотрудника и&nbsp;в&nbsp;целом эффективность компании. Речь не&nbsp;идет о&nbsp;каких-то сложных программах и&nbsp;роботах, обслуживающих клиента по&nbsp;высшему разряду. Речь идет о&nbsp;различных ботах-помощниках, роботах-юристах и т. д. Технические, рутинные процессы гораздо эффективнее выполняют роботы, и&nbsp;их&nbsp;целесообразно отдать на&nbsp;откуп им.
            .advice-content__block__image
              img(src="../images/advices/sovet-9/Image_2.jpg")
            .advice-content__block__step
              h3 Шаг 4. Работать совместно
              p Используем решения для совместной работы с&nbsp;документами в&nbsp;онлайн-режиме. Самым простым решением в&nbsp;этом плане является уже знакомый многим Google Docs. Есть и&nbsp;более сложные системы, которые позволяют редактировать не&nbsp;только документы, но&nbsp;и&nbsp;различные креативные проекты, презентации и т. д. Безусловно, это в&nbsp;разы повышает результативность взаимодействия.
            .advice-content__block__step
              h3 Шаг 5. Использовать мессенджеры
              p Применяем современные способы коммуникации. Понятно, что электронная почта и&nbsp;телефон пока никуда не&nbsp;деваются, но&nbsp;ИТ&nbsp;и&nbsp;сотовые компании уже предлагают клиентам целые платформы с&nbsp;коммуникационными возможностями&nbsp;&mdash; мессенджерами, чатами и&nbsp;проч. Например, в&nbsp;рамках <a href="https://delo.beeline.ru/?utm_source=RBC&utm_medium=banner&utm_term=Mobilnoe_predpriyatie&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2018" target="_blank">&laquo;Мобильного предприятия&raquo;</a> от&nbsp;&laquo;Билайн&raquo; Бизнес есть удобный бизнес-мессенджер, заточенный под групповую работу и&nbsp;ведение любого количества проектов в&nbsp;совместном режиме.
            .advice-content__block__step
              h3 Шаг 6. Использовать &laquo;удаленку&raquo;
              p Используем &laquo;удаленку&raquo;. Согласно исследованию компании Citrix, к&nbsp;2020 году 70% сотрудников компаний в&nbsp;США будут работать из&nbsp;дома. В&nbsp;свою очередь, НАФИ, проводившее подобное исследование в&nbsp;России, подсчитал, что &laquo;удаленка&raquo; в&nbsp;той или иной мере внедрена в&nbsp;каждой пятой компании. С&nbsp;помощью технологий &laquo;умного офиса&raquo;&nbsp;&mdash; инструменты коммуникации, &laquo;облачные&raquo; решения, видеосвязь, системы планирования&nbsp;&mdash; это сделать не&nbsp;так уж&nbsp;сложно.
            .advice-content__block__step
              h3 Шаг 7. Изучить интернет вещей
              p Постигаем интернет вещей. Интернет вещей IoT&nbsp;&mdash; система взаимодействия нескольких вещей (машин, устройств) без участия человека. Как вы&nbsp;сами понимаете, это позволяет снизить затраты на&nbsp;персонал. Уже сегодня оборудование может со&nbsp;смартфона передавать маршрут поездки в&nbsp;навигатор, а&nbsp;из&nbsp;холодильника&nbsp;&mdash; рецепт в&nbsp;микроволновку. Скоро без вмешательства людей будет возможно готовить презентации, варить кофе и&nbsp;многое другое.
            .advice-content__block__step
              h3 Шаг 8. Перейти в&nbsp;&laquo;облака&raquo;
              p Применяем облачные возможности и&nbsp;вычисления. Облачные возможности&nbsp;&mdash; уже сегодня наиболее понятный и&nbsp;эффективный способ повышения эффективности бизнеса и&nbsp;оптимизации затрат. Облако дает возможность масштабировать процессы и&nbsp;развивать бизнес без наращивания затрат на&nbsp;новое оборудование, на&nbsp;увеличение площади офиса, да&nbsp;и&nbsp;в&nbsp;целом весь офис может управляться онлайн.
            .advice-content__block__step
              h3 Резюме
              p Технологических и&nbsp;ИТ-решений, позволяющих бизнесу оптимизировать расходы на&nbsp;электричество, воду, безопасность, управление процессами, предлагается множество. Каждый предприниматель должен сам решать, что ему подойдет для организации офиса. И&nbsp;инструменты должны подбираться для достижения конкретных целей и&nbsp;решения конкретных бизнес-задач. Для каких-то компаний, например тренинговых или разработчиков мобильных приложений, это может быть интернет вещей, для каких-то речь пойдет о&nbsp;системах автоматизации процессов или облачных хранилищах.
        section.sharing-block
            .share-icon.js-share
                a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
                a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
                a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
        section.advices-block-slider
            a(href="/article-1.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
                .advices-block-slider__item__text
                    p Малые миллионы
            a(href="/article-2.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
                .advices-block-slider__item__text
                    p Финансы для бизнеса
            a(href="/article-3.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
                .advices-block-slider__item__text
                    p «Океаны» бизнеса
            a(href="/article-4.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
                .advices-block-slider__item__text
                    p Инвестиции в эффективность
            a(href="/article-5.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
                .advices-block-slider__item__text
                    p Плата за&nbsp;эмоции
            a(href="/article-6.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
                .advices-block-slider__item__text
                    p В&nbsp;погоне за&nbsp;надежностью
            a(href="/article-7.html").advices-block-slider__item
              .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
              .advices-block-slider__item__text
                p Кадры в кризис: увольнять или нет
            a(href="/article-8.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
                .advices-block-slider__item__text
                    p Связь для бизнеса
            a(href="/article-9.html").advices-block-slider__item
                .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
                .advices-block-slider__item__text
                    p Машины vs люди
    .line-grey
    section.video-slider.video-slider-footer
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
              a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-9
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-9" width="780" height="439" src="https://www.youtube.com/embed/C1utc77_2q4?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_9.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Кирилл Поряднев
                                p.regalia Генеральный директор «Результат Плюс»
                                p.hide-in-mobile Самое важное конкурентное преимущество современного бизнеса&nbsp;&mdash; технологичность, а&nbsp;самый ценный ресурс&nbsp;&mdash; время. Неумение&nbsp;же пользоваться современными решениями и&nbsp;экономить время рано или поздно приведет к&nbsp;проигрышу.
                                .interview-block__video__block__info__playbutton(id="start-client-video-9")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
              a()
                .interview-block__video
                    .interview-block__video__block
                        .interview-block__video__block__muted.video_muted.block-control--slider-8
                            .block-control__pause
                            .block-control__play
                        .full-block-control
                            .full-block-control__slider--play
                            .full-block-control__time
                            .full-block-control__main-line
                                .full-block-control__main-line__progress
                            .full-block-control__sound
                        .interview-block__video__block__interview
                            iframe(id="client-video-8" width="780" height="439" src="https://www.youtube.com/embed/Wdxdzoskexc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                        .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_8.jpg); background-size: contain;")
                        .interview-block__video__block__info
                            h3 Дмитрий Шкловер
                            p.regalia Основатель <nobr>интернет-магазина</nobr> 613bricks.ru
                            p.hide-in-mobile Современные решения сотовых операторов позволяют оптимизировать операционные затраты компании. О&nbsp;том, какие инструменты существуют для начинающих бизнесменов и&nbsp;как аутсорсинг связи повышает эффективность и&nbsp;прибыльность бизнеса.
                            .interview-block__video__block__info__playbutton(id="start-client-video-8")
                .interview-block__video__sharing.clearfix.no-margin-bottom
              a()
                .interview-block__video
                    .interview-block__video__block
                        .interview-block__video__block__muted.video_muted.block-control--slider-7
                            .block-control__pause
                            .block-control__play
                        .full-block-control
                            .full-block-control__slider--play
                            .full-block-control__time
                            .full-block-control__main-line
                                .full-block-control__main-line__progress
                            .full-block-control__sound
                        .interview-block__video__block__interview
                            iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                        .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                        .interview-block__video__block__info
                            h3 Андрей Сильчев
                            p.regalia Директор по развитию IT Partner
                            p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                            .interview-block__video__block__info__playbutton(id="start-client-video-7")
                .interview-block__video__sharing.clearfix.no-margin-bottom
              a()
                .interview-block__video
                  .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control--slider-6
                      .block-control__pause
                      .block-control__play
                    .full-block-control
                      .full-block-control__slider--play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound
                    .interview-block__video__block__interview
                      iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                    .interview-block__video__block__info
                      h3 Ольга Шеламова
                      p.regalia совладелец компании &laquo;Олимп&raquo;
                      p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                      .interview-block__video__block__info__playbutton(id="start-client-video-6")
                .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/HLGZqCOwOws?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
                    .interview-block__video__block__info
                        h3 Павел Чаплинский
                        p.regalia Основатель BOX&ROSES
                        p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
