extends templates/layout
block vars
	- var title = '«БИЛАЙН» БИЗНЕС'
	- var og_title = 'Финансы для бизнеса'
	- var og_description = 'Обычно новый бизнес запускается не на собственные деньги предпринимателя, а на привлечённые извне. В спецпроекте РБК и «Билайн» рассказываем о привлечении внешних источников финансирования бизнеса в России.'
	- var og_image = '../images/fin.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/Article_2(Cover)_1920.jpg');")
	section.content-text.content-text--article
		.container
			a(href="/index.html").comeback-main Вернуться на главную
			.article-block
				h1 Кредиты для МСБ: берите, но&nbsp;дорого
				p.first.
					В&nbsp;любых экономических условиях источники финансирования и&nbsp;скрупулезный анализ затрат становятся главными задачами любого бизнесмена. Они особенно важны для представителей малого и&nbsp;среднего бизнеса (МСБ), которые зачастую развивают компанию за&nbsp;счет собственных сбережений. Однако, когда их&nbsp;явно недостаточно, на&nbsp;ум&nbsp;приходит мысль о&nbsp;заемных деньгах.
				p.
					Что&nbsp;же могут банки предложить предпринимателям? Условия по&nbsp;кредитам для МСБ оставляют желать лучшего&nbsp;&mdash; жесткие требования к&nbsp;заемщикам, непривлекательные ставки. Возможно, поэтому и&nbsp;спрос на&nbsp;кредиты банков пока снижается: по&nbsp;средним рыночным условиям кредиты для малого и&nbsp;среднего бизнеса не&nbsp;особенно выгодны. Как сообщает &laquo;Эксперт&nbsp;РА&raquo;, по&nbsp;итогам 2016 года объем кредитов, выданных МСБ, оказался меньше на&nbsp;3% по&nbsp;сравнению с&nbsp;аналогичным периодом годом ранее. В&nbsp;то&nbsp;же время представители МСБ доказывают, что они в&nbsp;основном добросовестные заемщики&nbsp;&mdash; резко замедлился темп прироста просроченной задолженности (к&nbsp;концу 2016 года дефолты по&nbsp;кредитам малому и&nbsp;среднему бизнесу сократились до&nbsp;14% от&nbsp;общего их&nbsp;объема, хотя в&nbsp;середине года просрочка достигала и&nbsp;16%). Многие крупные банки, ранее в&nbsp;разгар кризиса резко сокращавшие объемы кредитования МСБ, возвращаются на&nbsp;этот рынок. Сейчас они выдают более половины кредитов представителям малого и&nbsp;среднего бизнеса. Но, несмотря на&nbsp;это, банковский кредит по-прежнему не&nbsp;по&nbsp;плечу многим предпринимателям.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Александр Сараев
				.quote-block__author--about
					p директор по&nbsp;банковским рейтингам агентства &laquo;Эксперт РА&raquo;
				.quote-block__citate
					p.
						Субъекты МСБ традиционно являются сегментом с&nbsp;повышенными рисками для банков, что обуславливает повышенные процентные ставки и&nbsp;высокую долю отказов в&nbsp;предоставлении финансирования. В&nbsp;2015&ndash;2016&nbsp;гг., несмотря на&nbsp;существенное снижение спроса на&nbsp;кредитные продукты со&nbsp;стороны самих МСБ (большинство стремилось снизить кредитную нагрузку), доля одобренных кредитных заявок постоянно снижалась, достигнув уровня менее 20%. Опасения банков оказались не&nbsp;беспочвенны, так как именно сегмент МСБ продемонстрировал рекордные темпы роста просроченной задолженности в&nbsp;период кризиса.
		section.content-text.content-text--article-second
			.container
				.article-block
					h2 Как быть нужным заемщиком
					p.
						Чаще всего представителям МСБ необходимы кредиты на&nbsp;пополнение оборотных средств, покупку имущества, в&nbsp;частности транспорта, оборудования, недвижимости, и&nbsp;ремонта или&nbsp;переоборудования помещений. Обращаться в&nbsp;МФО не&nbsp;имеет большого практического смысла: выдача микрозаймов предпринимателям в&nbsp;России в&nbsp;отличие от&nbsp;западных&nbsp;стран&nbsp;пока&nbsp;идет со&nbsp;скрипом&nbsp;&mdash; условия очень невыгодны для заемщика.
					p.
						Поэтому за&nbsp;заемными средствами бизнесмены обращаются в&nbsp;банки гораздо чаще. Однако те&nbsp;весьма осторожно выбирают заемщиков. Кредиторы оценивают прежде всего бизнес-профиль предпринимателя и&nbsp;его кредитную историю. Эксперты отмечают, что представителям МСБ сложно получить необеспеченную кредитную линию или, скажем, долгосрочный кредит на&nbsp;10&nbsp;лет. Банки предпочитают не&nbsp;рисковать и&nbsp;выдают главным образом короткие ссуды с&nbsp;соответствующим залогом. Самое трудное&nbsp;&mdash; получить стандартный банковский кредит для открытия собственного бизнеса (об&nbsp;альтернативных вариантах поиска финансов мы&nbsp;поговорим отдельно).
					p.
						Есть несколько простых правил, позволяющих с&nbsp;большой вероятностью получить кредит в&nbsp;банке. Выбор банка и&nbsp;суммы, конечно, зависит от&nbsp;сферы вашей деятельности и&nbsp;цели кредита. Помните, что для некоторых банков вид бизнеса будущего заемщика важен. Поэтому вероятность получения заемных денег у&nbsp;них выше, чем в&nbsp;банках, выбранных случайным образом. Так, если вы&nbsp;занимаетесь мелким производством или фермерством, вам лучше обратиться в&nbsp;РСХБ или региональный банк, специализирующийся на&nbsp;корпоративном обслуживании. У&nbsp;вас небольшой интернет-магазин? В&nbsp;этом случае выбирайте банк с&nbsp;широкими дистанционными возможностями&nbsp;&mdash; ModulBank, &laquo;Тинькофф&raquo;. Офлайн-торговлю и&nbsp;сети удобнее обслуживать в&nbsp;кредитной организации с&nbsp;онлайн-сервисами и&nbsp;филиалами в&nbsp;регионах. В&nbsp;этом случае ваш выбор&nbsp;&mdash; Альфа-Банк, Промсвязьбанк и&nbsp;другие.
		section.image_artical.image_artical--two
			img(src="../images/Article_2_Image_1.jpg")
		section.content-text.content-text--article-second
			.container
				.article-block
					p.
						Имейте в&nbsp;виду, что банки более лояльны к&nbsp;будущим заемщикам, если они открыто рассказывают о&nbsp;своей бизнес-модели и&nbsp;готовы предоставить максимально подробный пакет документов, характеризующих бизнес. Тщательно проанализируйте отрицательные стороны вашего бизнеса, даже не&nbsp;слишком заметные, и&nbsp;будьте готовы рассказать о&nbsp;них кредитору&nbsp;&mdash; если вы&nbsp;что-то скроете, служба безопасности, скорее всего, это выявит. Продемонстрируйте банку, что у&nbsp;вас есть рынок сбыта вашего продукта, а&nbsp;также докажите свое умение управлять расходами бизнеса в&nbsp;нелегкое время.
					.advice-content__block__step__inner
						h3 Умная экономия от &laquo;Билайн&raquo; Бизнес
						p Экономить расходы на&nbsp;связи, ИТ&nbsp;и&nbsp;даже офисе можно, с&nbsp;помощью современных решений &laquo;Билайн&raquo; Бизнес.
						a(href="http://beeline.ru/b2b/products/mobile/tariffs/details/vsd-za-600-new?utm_source=RBC&utm_medium=banner&utm_term=Korporativnyj_mobilnyj_kontrakt&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
							span
					p.
						Вы&nbsp;также вправе рассчитывать на&nbsp;государственную поддержку. В&nbsp;нашей стране ее&nbsp;оказывает Корпорация по&nbsp;развитию малого и&nbsp;среднего предпринимательства, которая через банки-партнеры активно кредитует фирмы и&nbsp;предпринимателей. У&nbsp;корпорации есть программа стимулирования кредитования субъектов МСП, реализующих проекты в&nbsp;приоритетных отраслях&nbsp;&mdash; преимущественно высокотехнологичных. Согласно программе, процентная ставка по&nbsp;кредитам для малого бизнеса на&nbsp;сумму не&nbsp;менее 10&nbsp;млн руб. составляет 10,6% годовых, а&nbsp;для среднего&nbsp;&mdash; 9,6% годовых. Подробнее о&nbsp;том, как получить кредиты по&nbsp;этой госпрограмме, а&nbsp;также список банков-участников можно найти <a href="http://corpmsp.ru/bankam/programma_stimulir/" target="_blank" class="linked">здесь</a>. Есть также отдельная программа поддержки компаний, производящих технологичную продукцию на&nbsp;экспорт. О&nbsp;ней&nbsp;можно прочитать <a href="http://corpmsp.ru/finansovaya-podderzhka/programma-inv-list/" target="_blank" class="linked">здесь</a>.
					p.
						Интересны и&nbsp;различные программы рассрочки&nbsp;&mdash; фактически беспроцентных кредитов. Так,&nbsp;крупные компании предлагают своим клиентам услуги в&nbsp;кредит, что позволяет решать две задачи&nbsp;&mdash; экономить расходы и&nbsp;платить тогда, когда улучшатся финансовые результаты. Так, &laquo;Билайн&raquo; Бизнес предоставляет беспроцентный кредит на&nbsp;связь до&nbsp;50&nbsp;дней. Для клиентов действует постоплатная система расчетов: 30&nbsp;дней вы&nbsp;можете пользоваться связью в&nbsp;кредит, а&nbsp;еще 20&nbsp;дается на&nbsp;оплату счета.
		section.content-text.content-text--article-second
			.container
				.article-block
					h2
						По&nbsp;пути удешевления
					p.
						В&nbsp;условиях ограниченного финансирования, кризисных явлений в&nbsp;экономике и&nbsp;снижения покупательской способности потребителей многие представители МСБ занялись тщательной корректировкой расходов и&nbsp;принялись искать новые пути экономии. Сокращать расходы на&nbsp;связь, IT&nbsp;и&nbsp;даже офис можно, например, с&nbsp;помощью решений &laquo;Билайн&raquo; Бизнес&nbsp;&mdash; <a href="http://beeline.ru/b2b/products/mobile/tariffs/details/vsd-za-600-new?utm_source=RBC&utm_medium=banner&utm_term=Vsyo_dlya_Biznesa&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">&laquo;Все для бизнеса&raquo;</a>, <a href="http://inet.beeline.ru?utm_source=RBC&utm_medium=banner&utm_term=Dostup_k_seti_internet&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">&laquo;Доступ к&nbsp;сети интернет&raquo;</a>, <a href="http://beeline.ru/b2b/products/mobile/tariffs/details/vsd-za-600-new?utm_source=RBC&utm_medium=banner&utm_term=Korporativnyj_mobilnyj_kontrakt&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">&laquo;Корпоративный мобильный контракт&raquo;</a>.
					p.
						Разумной альтернативой кредиту, если вы&nbsp;собирались взять взаймы деньги на&nbsp;оборудование, является лизинг. Здесь условия взаимодействия с&nbsp;кредитором довольно просты. Лизинговая компания или банк дает оборудование в&nbsp;аренду клиенту, а&nbsp;тот, в&nbsp;свою очередь, вносит платежи ежемесячно. В&nbsp;конце срока лизингового договора клиент может выкупить оборудование по&nbsp;справедливой рыночной цене (или фиксированной цене, которая заранее устанавливается в&nbsp;лизинговом договоре), продлить срок лизинга, вернуть оборудование или оформить в&nbsp;лизинг новое. По&nbsp;ставкам лизинг выйдет немного дешевле кредитов, а&nbsp;требования к&nbsp;заемщикам либеральнее&nbsp;&mdash; кредитная история учитывается, но&nbsp;важнее состояние и&nbsp;срок службы приобретаемого в&nbsp;лизинг оборудования.
					.speakers.speakers--alone.speaker-article
						.speakers__item.speakers__item--alone
							.speakers__item__img
								a(href="/interview.html").button_popup
									img(src="../images/interview-speakers/clients/2.-Shlopack.jpg", alt="").img-spicker
								a(href="/interview-2.html").mobile-visible  
									img(src="../images/interview-speakers/clients/2.-Shlopack.jpg", alt="").img-spicker
							.speakers__item__text
								a(href="/interview.html").button_popup
									h3 Дмитрий Шлопак
								a(href="/interview-2.html").mobile-visible
									h3 Дмитрий Шлопак
								p Управляющий партнер &laquo;Везендорф групп&raquo;
								span.read-icon
								a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
								a(href="/interview-2.html").read-interview.mobile-visible.watch-interview  Смотреть
					p.
						Лизинг может стать эффективным инструментом привлечения финансирования для фирм и&nbsp;предпринимателей, которым деньги нужны на&nbsp;покупку транспорта, спецтехники, оборудования. Эти услуги оказывают лизинговые компании&nbsp;&mdash; &laquo;Европлан&raquo;, &laquo;Каркаде&raquo;, &laquo;ВТБ-Лизинг&raquo;, &laquo;Сбербанк Лизинг&raquo;, &laquo;МКБ-Лизинг&raquo; и&nbsp;другие. Рэнкинг лизинговых компаний можно найти <a href="http://www.banki.ru/products/leasing/companies/" target="_blank" class="linked">здесь</a>.
					p.
						Еще один способ улучшить финансовые результаты без банковских кредитов&nbsp;&mdash; это факторинг. Между факторинговой компанией (или банком) и&nbsp;клиентом&nbsp;&mdash; поставщиком товара&nbsp;&mdash; заключается договор: поставщик по&nbsp;мере возникновения требований по&nbsp;оплате поставок продукции предъявляет фактору счета-фактуры или другие платежные документы. Фактор оплачивает эти требования вперед с&nbsp;дисконтом (60&minus;90% стоимости требований). После полной оплаты товара покупателем фактор доплачивает остаток суммы клиенту-поставщику, удерживая фиксированный процент за&nbsp;предоставленный кредит и&nbsp;комиссию за&nbsp;оказанные факторинговые услуги. В&nbsp;нашей стране эти услуги предлагают Национальная факторинговая компания, Русская факторинговая компания, &laquo;Лайф&raquo;, а&nbsp;также банки&nbsp;&mdash; Росбанк, Альфа-Банк, Сбербанк и&nbsp;другие.
					p.
						Таким образом, в&nbsp;статье мы&nbsp;рассмотрели все доступные варианты получения необходимого финансирования и&nbsp;оптимизации расходов. Если вам необходимы деньги на&nbsp;развитие бизнеса, лучше всего получить их&nbsp;в&nbsp;виде кредита. Для этого нужно составить четкий бизнес-план, предоставить банку всю требующуюся отчетность и&nbsp;максимально плотно взаимодействовать с&nbsp;представителем финансовой организации. Если вы&nbsp;ищете финансирование, чтобы приобрести оборудование или транспорт, можно обратиться к&nbsp;лизингу. Он&nbsp;экономичнее, а&nbsp;в&nbsp;своих требованиях кредиторы-лизингодатели мягче банков. Для торговых предприятий может быть также эффективен факторинг&nbsp;&mdash; финансирование на&nbsp;условиях отсрочки платежа. Овердрафт на&nbsp;связь можно с&nbsp;легкостью оформить у&nbsp;своего сотового оператора &laquo;Билайн&raquo; Бизнес.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Ольга Стасевич
				.quote-block__author--about
					p Руководитель направления корпоративных исследований Аналитического центра НАФИ
				.quote-block__citate
					p.
						На&nbsp;сегодняшний день подавляющее большинство предпринимателей не&nbsp;пользуется традиционными банковскими кредитами (78%). Основная причина&nbsp;&mdash; высокие процентные ставки и&nbsp;отсутствие залога (по&nbsp;мнению предпринимателей, уровень процентной ставки по&nbsp;кредитам должен располагаться на&nbsp;уровне 10&ndash;15%). Венчурное финансирование и&nbsp;привлечение инвестиции из-за рубежа при текущей рыночной конъюнктуре является высоко рискованным каналом и&nbsp;поэтому непривлекательным. Важную роль в&nbsp;финансировании МСБ могли&nbsp;бы сыграть государственные программы поддержки, однако осведомленность о&nbsp;них среди предпринимателей и&nbsp;соответственно доля пользователей пока находится на&nbsp;слишком низком уровне. Поэтому в&nbsp;сложившейся ситуации предприниматель, как правило, рассчитывает либо на&nbsp;собственные средства, либо кредитуется у&nbsp;партнеров и&nbsp;акционеров, либо уходит в&nbsp;неформальные и&nbsp;нетрадиционные каналы (кредит для физического лица, займы у&nbsp;друзей и&nbsp;знакомых, обращения в&nbsp;микрофинансовые институты).
	section.sharing-block.sharing-hidden-mobile
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	a(href="/article-3.html").next-article__wrapper
		section.next-article-preview.preview-artcile-2(style="background-image: url('../images/articles/Article3_cover.jpg');")
			.container
				span.next-article Следующая статья
				span
					h1 «Океаны» бизнеса
	section.sharing-block.sharing-mobile
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	.article-block-slider.article-hidden
		a(href="/advice-1.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
			.article-block-slider__item__text
				span Как начать свое дело в России
		a(href="/advice-2.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
			.article-block-slider__item__text
				span Финансы на инновации: нетривиальный путь к деньгам
		a(href="/advice-3.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
			.article-block-slider__item__text
				span Как удвоить продажи
		a(href="/advice-4.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
			.article-block-slider__item__text
				span За рамками компании
		a(href="/advice-5.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
			.article-block-slider__item__text
				span Облачная АТС. Преимущества и&nbsp;возможности.
		a(href="/advice-6.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
			.article-block-slider__item__text
				span Как проверить контрагента
		a(href="/advice-7.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
			.article-block-slider__item__text
				span Ваши кадры: дорого или дешево
		a(href="/advice-8.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
			.article-block-slider__item__text
				span Интернет для бизнеса
		a(href="/advice-9.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
			.article-block-slider__item__text
				span Строим &laquo;умный офис&raquo;
	.line-grey.article-hidden
	section.video-slider.video-slider-footer.article-hidden
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom
	.modal-popup
		.modal-popup__bg
		.modal-popup__popup
			.interview-block__video
					.interview-block__video__block
						.interview-block__video__block__muted.video_muted.block-control
							.block-control__pause
							.block-control__play
						.full-block-control
							.full-block-control__play
							.full-block-control__time
							.full-block-control__main-line
								.full-block-control__main-line__progress
							.full-block-control__sound
						.interview-block__video__block__interview
							iframe(id="business-video" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
						.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg)")
						.interview-block__video__block__info
							h3 Дмитрий Шлопак
							p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
							p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
							.interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
			.modal-popup__close
