extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Плата за эмоции'
    - var og_description = 'Каким должен быть современный офис — светлым и просторным или достаточно виртуального пространства, в котором сотрудники будут работать удаленно? Читайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/articles/Article_5.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/5_statia_cover1.png');")
    section.content-text.content-text--article
        .container
            a(href="/index.html").comeback-main Вернуться на главную
            .article-block
                h1 Плата за&nbsp;эмоции
                p.first.
                  Плата за&nbsp;аренду помещения, как правило, занимает значительную долю в&nbsp;расходах компании. Если вы&nbsp;решили, что ваш бизнес не&nbsp;может развиваться без офиса, подумайте, как расположить рабочие места сотрудников, оформить его и&nbsp;какие дополнительные зоны, кроме рабочей, должны в&nbsp;нем быть..
                h2 Интернет-гиганты
                p.
                  Топ-менеджеры многих крупных корпораций уверены, что от&nbsp;этого комфортного офиса зависят работоспособность и&nbsp;эмоциональное состояние сотрудников, имидж организации и&nbsp;даже ее&nbsp;финансовые результаты.
                p.
                  Поэтому некоторые современные компании дают сотрудникам возможность не&nbsp;только работать, но&nbsp;и&nbsp;отдыхать. Не&nbsp;зря, например, Google и&nbsp;&laquo;Яндекс&raquo;, известные своими великолепными многофункциональными офисами, получают за&nbsp;них дизайнерские награды. На&nbsp;территории штаб-квартиры Google можно найти кафе, бассейны, фитнес-центр, массажные кабинеты, комнаты для отдыха и&nbsp;игр. В&nbsp;московском&nbsp;же офисе Google каждая комната оформлена в&nbsp;стиле &laquo;наших&raquo; фильмов и&nbsp;мультфильмов. В&nbsp;зоне отдыха &laquo;Лукоморье&raquo; сотрудники пьют кофе под зеленым дубом.
                p.
                  Офис &laquo;Яндекса&raquo; в&nbsp;Москве производит яркое впечатление еще снаружи&nbsp;&mdash; при входе стоят две статуи причудливо раскрашенных сказочных лошадей. Внутри&nbsp;же для сотрудников создана практически домашняя атмосфера, стоят комнатные растения. В&nbsp;здании &laquo;ABBYY Россия&raquo; сотрудники могут рисовать на&nbsp;стенах, лежать в&nbsp;гамаке, заниматься на&nbsp;тренажерах, играть в&nbsp;настольные игры. Офис социальной сети &laquo;ВКонтакте&raquo; в&nbsp;Санкт-Петербурге и&nbsp;вовсе напоминает кальянную. К&nbsp;тому&nbsp;же у&nbsp;работников есть возможность подниматься по&nbsp;винтовой лестнице на&nbsp;крышу здания и&nbsp;любоваться Северной столицей.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Марсель Миннахмедов
                .quote-block__author--about
                    p интернет-предприниматель, сооснователь сервиса автоматизации объявления &laquo;Авито&raquo;
                .quote-block__citate
                    p.
                      Сегодня далеко не&nbsp;всем нужен офис, так как есть сферы бизнеса, где весь процесс работы с&nbsp;клиентом происходит в&nbsp;интернете. Что касается товарного бизнеса&nbsp;&mdash; той сферы, которой я&nbsp;занимаюсь, мы&nbsp;можем снимать офис, но&nbsp;он&nbsp;нужен только для хранения товаров и&nbsp;для логиста, который будет их&nbsp;упаковывать.                      
    section.content-text.content-text--article
        .container
            .article-block
                h2 &laquo;Удаленка&raquo; или коворкинг? 
                p.
                  Если вы&nbsp;уже убедились, что вашей компании нужен офлайн-офис, подумайте о&nbsp;том, как максимально сократить расходы. Так, например, перевод части сотрудников на&nbsp;удаленную работу помогает сэкономить затраты на&nbsp;обслуживание офиса и&nbsp;оплату труда. Ведь, работая из&nbsp;дома, многие люди готовы получать более низкую зарплату, чем в&nbsp;среднем по&nbsp;рынку,&nbsp;&mdash; например, студенты, мамы с&nbsp;детьми и&nbsp;другие работники. По&nbsp;результатам исследования Аналитического центра НАФИ, 22% опрошенных руководителей компаний перевели сотрудников на&nbsp;&laquo;удаленку&raquo;. Действительно, если собственники и&nbsp;руководство довольны финансовым результатом, а&nbsp;поток клиентов растет, то&nbsp;какая разница, где, например, пишутся тексты и&nbsp;делаются макеты?
    section.image_artical.image_artical--five
        img(src="../images/articles/5_statia_main1.jpg")
    section.content-text.content-text--article
        .container
            .article-block
                p.
                  А&nbsp;что делать, если без помещения не&nbsp;обойтись, но&nbsp;и&nbsp;сэкономить хочется? Бизнесмены могут воспользоваться услугами коворкинг-центров&nbsp;&mdash; больших залов со&nbsp;столами и&nbsp;стульями, в&nbsp;которых можно арендовать рабочие места. Такие центры нужны для проведения встреч с&nbsp;клиентами и&nbsp;партнерами, а&nbsp;также для работы сотрудников, с&nbsp;которыми вам нужно постоянно взаимодействовать. Приведем реальный пример: коворкинг по&nbsp;сравнению с&nbsp;офисом, располагавшимся в&nbsp;той&nbsp;же части города, позволил команде из&nbsp;15 человек экономить более 1,5&nbsp;млн&nbsp;рублей в&nbsp;год.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Евгений Пермяков
                .quote-block__author--about
                    p руководитель сети коворкингов STARTHUB на&nbsp;&laquo;Флаконе&raquo;
                .quote-block__citate.quote-block__citate--together
                    p.
                      Качественное помещение довольно сложно найти. Да&nbsp;и&nbsp;расходы на&nbsp;аренду офиса велики. Помимо арендной ставки возникают эксплуатационные расходы, траты на&nbsp;интернет, уборку, воду, принтер и&nbsp;множество других накладных нюансов. Как следствие, стоимость становится сопоставимой, а&nbsp;зачастую намного выше аренды рабочих мест в&nbsp;коворкинге. У&nbsp;нас&nbsp;же бизнес получает готовое для старта рабочее место и&nbsp;всю необходимую инфраструктуру (переговорные комнаты, помещение для приема пищи, зону отдыха).                    
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Михаил Комаров
                .quote-block__author--about
                    p основатель и&nbsp;генеральный директор сети коворкингов &laquo;Рабочая Станция&raquo;
                .quote-block__citate
                    p.
                      Коворкинги очень подходят для компаний малого и&nbsp;среднего бизнеса. Приобретаете нужное число рабочих мест на&nbsp;месяц и&nbsp;начинаете работать. Сегодня, а&nbsp;не&nbsp;через месяц. В&nbsp;условиях высоких скоростей и&nbsp;конкуренции это бывает важно. А&nbsp;если штат увеличивается или, наоборот, сокращается, в&nbsp;следующем месяце вы&nbsp;просто изменяете число оплачиваемых рабочих мест. Стартовая цена аренды офиса по&nbsp;квадратным метрам может казаться ниже, чем аренда коворкинга по&nbsp;рабочим местам. Но&nbsp;добавьте сюда то, что в&nbsp;коворкинге включено в&nbsp;стоимость: интернет, IT-сопровождение, клининг, ресепшен, &laquo;расходники&raquo;, и&nbsp;аналогичный по&nbsp;уровню отделки и&nbsp;расположению офис окажется дороже.
    section.content-text.content-text--article
      .container
        .article-block
          h2 Офис Шредингера
          p.
            Еще один экономичный тип офиса&nbsp;&mdash; виртуальный. Это даже не&nbsp;офис, а&nbsp;создание впечатления того, что он&nbsp;есть. Бизнес-центры могут предоставлять офисным &laquo;арендаторам&raquo; почтовый адрес для корреспонденции и&nbsp;переговорные комнаты. Виртуальный офис&nbsp;&mdash; отличное антикризисное решение: не&nbsp;нужно искать реальное помещение, тратить деньги на&nbsp;его аренду, ремонт, технику. Кроме того, можно сформировать команду суперпрофессионалов и&nbsp;не&nbsp;зависеть от&nbsp;местонахождения сотрудников. Организация виртуального офиса подойдет фирмам, бизнес которых не&nbsp;слишком зависит от&nbsp;присутствия сотрудников на&nbsp;местах. Это, например, консалтинговые, аудиторские компании, рекламные агентства.
          p.
            Но&nbsp;помните, что совсем отказаться от&nbsp;помещения не&nbsp;всегда удается: интернет-магазину нужен склад, а&nbsp;с&nbsp;клиентами и&nbsp;сотрудниками необходимо где-то встречаться. Компромиссное решение&nbsp;&mdash; &laquo;полувиртуальный&raquo; офис. Его штат можно сократить до&nbsp;координатора (секретаря, офис-менеджера), а&nbsp;остальным функциональным сотрудникам&nbsp;&mdash; бухгалтерам, юристам, специалистам по&nbsp;маркетингу, связям с&nbsp;общественностью и&nbsp;даже топ-менеджерам&nbsp;&mdash; перейти на&nbsp;дистанционную работу.
    section.content-text.content-text--article
      .quote-block
          .container
              .quote-block__author
                  .quote-block__author__logo.quote-block__author__logo--man
                  h3 Марсель Миннахмедов
              .quote-block__author--about
                  p интернет-предприниматель, сооснователь сервиса автоматизации объявления &laquo;Авито&raquo;
              .quote-block__citate
                  p.
                    Виртуальный офис&nbsp;&mdash; это офис, где вообще нет ничего лишнего. У&nbsp;нас, например, офис очень маленький, офис-склад порядка 22 квадратных метров, где сидят три-четыре человека. Вообще я&nbsp;вижу, что у&nbsp;многих людей уже отсутствует понимание разграничения сотрудников и&nbsp;руководителей. Виртуальные примеры есть и&nbsp;в&nbsp;крупном бизнесе. Например, Олег Тиньков, который развивает банк, не&nbsp;имея офиса в&nbsp;офлайне. Есть офис в&nbsp;Москве, куда они никого не&nbsp;пускают, кроме сотрудников, и&nbsp;только в&nbsp;коридоре можно забрать карточку и&nbsp;встретиться с&nbsp;представителем.                      
    section.content-text.content-text--article
      .container
        .article-block
          p
            В&nbsp;основе любого бизнеса вне зависимости от&nbsp;его местонахождения&nbsp;&mdash; коммуникации, связь, интернет. Сотрудникам нужно общаться между собой, с&nbsp;клиентами и&nbsp;контрагентами, проводить совещания, участвовать в&nbsp;мероприятиях. Для взаимодействия внутри компании понадобятся IP-телефония, внутренний чат между сотрудниками, CRM-система. Но&nbsp;самое главное&nbsp;&mdash; всегда быть на&nbsp;связи с&nbsp;клиентами и&nbsp;партнерами.
    section.content-text.content-text--article-second
     .container.container-article-modile
         .article-block
            .speakers.speakers--alone.speaker-article.speaker-article-top
                 .speakers__item.speakers__item--alone
                    .speakers__item__img
                        a(href="/interview.html").button_popup
                            img(src="../images/interview-speakers/clients/5.-Smirnov.png", alt="").img-spicker
                        a(href="/interview-4.html#client").mobile-visible
                            img(src="../images/interview-speakers/clients/5.-Smirnov.png", alt="").img-spicker
                    .speakers__item__text
                        a(href="/interview.html").button_popup
                            h3 Илья Смирнов
                        a(href="/interview-4.html#client").mobile-visible
                            h3 Илья Смирнов
                        p <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                        span.read-icon
                        a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
                        a(href="/interview-5.html").read-interview.mobile-visible.watch-interview  Смотреть
            .advice-content__block__documents
            
              p Например, с&nbsp;помощью услуг от&nbsp;&laquo;Билайн&raquo; Бизнес можно быстро и&nbsp;экономно организовать:
              ul
                li телефонию в&nbsp;облаке. <a href="http://www.beeline.ru/b2b/cloud-ats/?utm_source=RBC&utm_medium=banner&utm_term=Oblachnaya_ATS&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">Облачная АТС</a> позволяет снизить затраты на&nbsp;телефонию в&nbsp;два раза, при этом она полностью заменяет функционал привычной стационарной телефонии. Клиенты всегда могут вам дозвониться;
                li <a href="https://wi-fi.beeline.ru/?utm_source=RBC&utm_medium=banner&utm_term=Upravlyaemyj_WIFI&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">управляемый wi-fi</a>&nbsp;&mdash; нужная опция. Она будет полезна главным образом сервисным компаниям&nbsp;&mdash; гостиницам, кафе, магазинам. Подключайте &laquo;Управляемый wi-fi&raquo; от&nbsp;&laquo;Билайн&raquo; и&nbsp;предоставляйте wi-fi-доступ своим клиентам. Посетители отелей, кафе, ресторанов, салонов красоты и&nbsp;развлекательных мероприятий получат доступ в&nbsp;интернет, где&nbsp;бы они ни&nbsp;были, даже в&nbsp;автомобиле или на&nbsp;пароходе.
    section.content-text.content-text--article
      .container
        .article-block
          p.
            Виртуальный офис подходит для малого и&nbsp;среднего бизнеса, даже если он&nbsp;со&nbsp;временем перерастет в&nbsp;крупный. Его основное преимущество&nbsp;&mdash; возможность сосредоточиться на&nbsp;бизнесе, оставив ИТ- и&nbsp;коммуникационные составляющие в&nbsp;руках профессионалов. Еще одним плюсом &laquo;облачной&raquo; работы является возможность расширения бизнеса без масштабных инвестиций в&nbsp;телекоммуникационную базу.
    
    section.sharing-block.sharing-hidden-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    a(href="/article-6.html").next-article__wrapper
        section.next-article-preview(style="background-image: url('../images/Article_6_podlojka.jpg');")
            .container
                span.next-article Следующая статья
                span
                    h1 В&nbsp;погоне за&nbsp;надежностью
    section.sharing-block.sharing-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    .article-block-slider.article-hidden
        a(href="/advice-1.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
            .article-block-slider__item__text
                span Как начать свое дело в России
        a(href="/advice-2.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
            .article-block-slider__item__text
                span Финансы на инновации: нетривиальный путь к деньгам
        a(href="/advice-3.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
            .article-block-slider__item__text
                span Как удвоить продажи
        a(href="/advice-4.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
          .article-block-slider__item__text
            span За рамками компании
        a(href="/advice-5.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
          .article-block-slider__item__text
            span Облачная АТС. Преимущества и&nbsp;возможности.
        a(href="/advice-6.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
          .article-block-slider__item__text
            span Как проверить контрагента
        a(href="/advice-7.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
            .article-block-slider__item__text
                span Ваши кадры: дорого или дешево
        a(href="/advice-8.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
            .article-block-slider__item__text
                span Интернет для бизнеса
        a(href="/advice-9.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
            .article-block-slider__item__text
                span Строим &laquo;умный офис&raquo;
    .line-grey.article-hidden.article-hidden
    section.video-slider.video-slider-footer.article-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .full-block-control
                      .full-block-control__play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound  
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg)")
                    .interview-block__video__block__info
                        h3 Илья Смирнов
                        p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                        p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
