extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Связь для бизнеса'
    - var og_description = 'Телефон, e-mail, мессенджер — сегодня предпринимателям есть из чего выбрать, чтобы всегда быть на связи. Какие инструменты коммуникации удобнее, безопаснее и выгоднее использовать в современном бизнесе — в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/articles/Article_8.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/8_statia_cover1.jpg');")
    section.content-text.content-text--article
        .container
            a(href="/index.html").comeback-main Вернуться на главную
            .article-block
                h1 Связь для бизнеса
                p.first.
                  В&nbsp;бизнесе важно постоянное общение на&nbsp;всех уровнях&nbsp;&mdash; с&nbsp;клиентами, партнерами, сотрудниками компании. Сегодня к&nbsp;услугам предпринимателей огромный выбор каналов коммуникации, которые к&nbsp;тому&nbsp;же обходятся дешево.
                h2 Письма от&nbsp;Google
                p.
                  Предприниматели согласны: доверие у&nbsp;клиентов и&nbsp;партнеров фирмы должно вызывать все, включая адрес электронной почты. Конечно, заводить почту с&nbsp;расширением в&nbsp;виде сайта компании&nbsp;&mdash; это солидно и&nbsp;правильно. В&nbsp;то&nbsp;же время многие предприниматели по&nbsp;всему миру пользуются и&nbsp;бесплатной почтой на&nbsp;Gmail. Удобство этого сервиса очевидно, его даже признают отраслевым стандартом. В&nbsp;основном электронную почту используют для внешнего взаимодействия, однако и&nbsp;для общения сотрудников она также важна.
                p.
                  Безусловно, некоторые <nobr>по-прежнему</nobr> используют Microsoft Outlook, но&nbsp;это уже скорее прерогатива не&nbsp;малого бизнеса, а&nbsp;крупных организаций&nbsp;&mdash; крупных банков, компаний из&nbsp;сферы ТЭК и&nbsp;других.
    section.content-text.content-text--article
      .quote-block
        .container
          .quote-block__author
              .quote-block__author__logo.quote-block__author__logo--man
              h3 Илья Запорожец
          .quote-block__author--about
              p PМ&nbsp;&laquo;Единой кассы&raquo; Wallet One
          .quote-block__citate
              p Весь процесс взаимодействия с&nbsp;партнёрами Wallet One происходит онлайн, а&nbsp;отслеживание статусов задач и&nbsp;проектов&nbsp;&mdash; дистанционно. С&nbsp;помощью современных коммуникационных технологий возможность собрать подходящую команду из&nbsp;разных городов и&nbsp;весей есть практически у&nbsp;всех. К&nbsp;примеру, в&nbsp;нашей компании работают сотрудники из&nbsp;Москвы, Оренбурга, Ейска, Севастополя, Минска и&nbsp;даже Йоханнесбурга. Чтобы быть слаженной командой, нам нужно оперативно взаимодействовать между собой&nbsp;&mdash; в&nbsp;этом нам помогают собственные программные разработки.                      
    section.content-text.content-text--article
      .container
        .article-block
          h2 Экосистема для общения
          p.
            По&nbsp;отзывам предпринимателей, опрошенных РБК, сегодня все более популярными становятся всевозможные мессенджеры. Как признаются бизнесмены, даже согласование важнейших деловых вопросов происходит по&nbsp;Viber, Whatsapp или Telegram.                
    section.content-text.content-text--article-second
      .container.container-article-modile
        .article-block
          .speakers.speakers--alone-notop.speaker-article
            .speakers__item.speakers__item--alone
              .speakers__item__img
                a(href="/interview.html").button_popup
                  img(src="../images/interview-speakers/clients/8.Shkolerov.png", alt="").img-spicker
                a(href="/interview-8.html#client").mobile-visible
                  img(src="../images/interview-speakers/clients/8.Shkolerov.png", alt="").img-spicker
              .speakers__item__text
                a(href="/interview.html").button_popup
                  h3 Дмитрий Шкловер
                a(href="/interview-8.html#client").mobile-visible
                  h3 Дмитрий Шкловер
                p Основатель <nobr>интернет-магазина</nobr> 613bricks.ru
                span.read-icon
                a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
                a(href="/interview-8.html").read-interview.mobile-visible.watch-interview  Смотреть
    section.content-text.content-text--article
        .container
            .article-block
                p.
                  Аналитики компании Gartner пришли к&nbsp;выводу, что мессенджеры уже в&nbsp;течение двух лет обойдут по&nbsp;популярности социальные медиа. По&nbsp;подсчетам Gartner, в&nbsp;2016 году на&nbsp;4% меньше скачиваний получили программы для просмотра видео, на&nbsp;3% меньше времени пользователи стали тратить на&nbsp;приложения с&nbsp;картами, на&nbsp;2% снизилась популярность соцсетей. А&nbsp;вот мессенджерами люди стали пользоваться на&nbsp;3% больше времени.  
                p. 
                  Интересно, что в&nbsp;некоторых странах мессенджеры популярны еще <nobr>из-за</nobr> их&nbsp;широкого функционала. Например, китайский мессенджер WeChat предлагает множество дополнительных сервисов&nbsp;&mdash; вызов такси, денежные переводы, доставка еды.
    section.image_artical.image_artical--eight
      img(src="../images/articles/Article_7_2.jpg")
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Илья Запорожец
                .quote-block__author--about
                    p PМ&nbsp;&laquo;Единой кассы&raquo; компании Wallet One:
                .quote-block__citate
                    p В&nbsp;общении с&nbsp;сотрудниками, партнёрами и&nbsp;клиентами мы&nbsp;используем все популярные <nobr>онлайн-каналы</nobr> коммуникации: мессенджеры, соцсети, электронную почту. Сейчас, в&nbsp;эпоху <nobr>паблик-чатов</nobr> и&nbsp;<nobr>чат-ботов</nobr>, мы&nbsp;активно развиваем и&nbsp;этот канал связи. В&nbsp;идеале мы&nbsp;стремимся создать единую экосистему, которая объединит наших пользователей, партнёров и&nbsp;сотрудников.
    section.content-text.content-text--article
      .container
        .article-block
          p.
            Для рабочего общения есть специализированные программы&nbsp;&mdash; аналоги названных мессенджеров, <nobr>бизнес-чаты</nobr>. У&nbsp;них более совершенная защита от&nbsp;взлома и&nbsp;дополнительный удобный функционал, например, для проведения видеоконференций.
          p. 
            Хороший пример <nobr>бизнес-мессенджера</nobr>&nbsp;&mdash; Staply. Это <nobr>B2B-сервис</nobr> для совместной работы: мессенджер, файловое хранилище и&nbsp;заметки в&nbsp;одном. Он&nbsp;позволяет собрать нескольких коллег и&nbsp;контрагентов и&nbsp;обсуждать разного рода проекты. Все структурировано по&nbsp;группам, в&nbsp;которых обсуждаются определенные темы. Это делает работу прозрачной.      
          p. 
            Первая версия сервиса была запущена в&nbsp;2015 году в&nbsp;США, но&nbsp;там он&nbsp;не&nbsp;стал таким популярным, как в&nbsp;России. Западных аналогов и&nbsp;конкурентов у&nbsp;сервиса достаточно много, в&nbsp;том числе упомянутый выше Slack. В&nbsp;то&nbsp;же время, по&nbsp;признанию создателя Staply Григория Любачева, у&nbsp;отечественного решения есть ряд преимуществ, которые важны для российских пользователей: простота, работа внутри и&nbsp;вне компании, интерфейс на&nbsp;русском языке, оперативная поддержка, а&nbsp;также возможность установки на&nbsp;собственные серверы.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Сергей Таболин
                .quote-block__author--about
                    p Руководитель по&nbsp;сегментному маркетингу &laquo;Билайн&raquo; Бизнес:
                .quote-block__citate
                    p.
                      В&nbsp;моем департаменте до&nbsp;внедрения Staply мы&nbsp;пытались создать из&nbsp;подручных средств систему динамических коммуникаций, но&nbsp;выявилась серьёзная проблема&nbsp;&mdash; нет единого ресурса, где возможно обмениваться данными, хранить их&nbsp;и&nbsp;быстро реагировать. Внедрив сервис, мы&nbsp;почувствовали значительную разницу, а&nbsp;главное&nbsp;&mdash; интуитивно нам было довольно легко его устроить в&nbsp;текущие процессы коммуникаций.
    section.content-text.content-text--article
      .container
        .article-block
          h2 Доверие к&nbsp;классике
          p.
            Несмотря на&nbsp;все новинки, которые предлагают нам разработчики различных сервисов для коммуникации, надежнее и&nbsp;удобнее телефона пока ничего не&nbsp;придумано. Ведь главное ограничение, например, мессенджеров&nbsp;&mdash; необходимость постоянного подключения к&nbsp;интернету. Даже если вы&nbsp;привыкли решать все вопросы, общаясь в&nbsp;Telegram, Viber или Whatsapp, вашей фирме все равно нужен номер телефона, так с&nbsp;ней будут связываться клиенты и&nbsp;партнеры. Опрошенные РБК предприниматели рекомендуют, конечно, указывать для связи прямой номер&nbsp;&mdash; это вызывает больше доверия.
          .advice-content__block__step__inner
            h3 &laquo;Мобильное предприятие&raquo; от&nbsp;&laquo;Билайн&raquo;
            p &laquo;Мобильное предприятие&raquo;&nbsp;&mdash; все для вашей компании: виджеты звонков, мессенджер, анализ звонков и&nbsp;рекламы, облачное хранилище и&nbsp;многое другое.
            a(href="https://delo.beeline.ru/?utm_source=RBC&utm_medium=banner&utm_term=Mobilnoe_predpriyatie&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2018" target="_blank").arrow-block Подробнее
              span
          p.
            Ценовые предложения на&nbsp;рынке сотовой связи постоянно обновляются, стоимость становится все более привлекательной для клиента. Поэтому оплату прямого номера телефона даже небольшая фирма позволит себе с&nbsp;легкостью.
          p. 
            А&nbsp;что делать, если у&nbsp;вас уже есть номер телефона одного оператора и&nbsp;все ваши клиенты и&nbsp;партнеры его прекрасно знают, но&nbsp;при этом вам больше нравится цена и&nbsp;качество связи&nbsp;другой компании? В&nbsp;этом случае вы, конечно, не&nbsp;захотите менять &laquo;родной&raquo; номер. Сейчас некоторые операторы предлагают услугу сохранения &laquo;своего&raquo; телефона&nbsp;&mdash; это удобно и&nbsp;выгодно. Вы&nbsp;останетесь на&nbsp;связи с&nbsp;поставщиками, партнерами и&nbsp;клиентами.    
    section.sharing-block.sharing-hidden-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    a(href="/article-9.html").next-article__wrapper
        section.next-article-preview(style="background-image: url('../images/Article_9_podlojka.jpg');")
            .container
                span.next-article Следующая статья
                span
                    h1 Машины vs люди
    section.sharing-block.sharing-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    .article-block-slider.article-hidden
        a(href="/advice-1.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
            .article-block-slider__item__text
                span Как начать свое дело в России
        a(href="/advice-2.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
            .article-block-slider__item__text
                span Финансы на инновации: нетривиальный путь к деньгам
        a(href="/advice-3.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
            .article-block-slider__item__text
                span Как удвоить продажи
        a(href="/advice-4.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
          .article-block-slider__item__text
            span За рамками компании
        a(href="/advice-5.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
          .article-block-slider__item__text
            span Облачная АТС. Преимущества и&nbsp;возможности.
        a(href="/advice-6.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
          .article-block-slider__item__text
            span Как проверить контрагента
        a(href="/advice-7.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
            .article-block-slider__item__text
                span Ваши кадры: дорого или дешево
        a(href="/advice-8.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
            .article-block-slider__item__text
                span Интернет для бизнеса
        a(href="/advice-9.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
            .article-block-slider__item__text
                span Строим &laquo;умный офис&raquo;
    .line-grey.article-hidden.article-hidden
    section.video-slider.video-slider-footer.article-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-8
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-8" width="780" height="439" src="https://www.youtube.com/embed/Wdxdzoskexc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_8.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Дмитрий Шкловер
                              p.regalia Основатель <nobr>интернет-магазина</nobr> 613bricks.ru
                              p.hide-in-mobile Современные решения сотовых операторов позволяют оптимизировать операционные затраты компании. О&nbsp;том, какие инструменты существуют для начинающих бизнесменов и&nbsp;как аутсорсинг связи повышает эффективность и&nbsp;прибыльность бизнеса.
                              .interview-block__video__block__info__playbutton(id="start-client-video-8")
              
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-7
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Андрей Сильчев
                              p.regalia Директор по развитию IT Partner
                              p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                              .interview-block__video__block__info__playbutton(id="start-client-video-7")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-6
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Ольга Шеламова
                              p.regalia совладелец компании &laquo;Олимп&raquo;
                              p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                              .interview-block__video__block__info__playbutton(id="start-client-video-6")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .full-block-control
                      .full-block-control__play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound  
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/Wdxdzoskexc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_8.jpg)")
                    .interview-block__video__block__info
                        h3 Дмитрий Шкловер
                        p.regalia Основатель <nobr>интернет-магазина</nobr> 613bricks.ru
                        p.hide-in-mobile Современные решения сотовых операторов позволяют оптимизировать операционные затраты компании. О&nbsp;том, какие инструменты существуют для начинающих бизнесменов и&nbsp;как аутсорсинг связи повышает эффективность и&nbsp;прибыльность бизнеса.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
