extends templates/layout
block vars
	- var title = '«БИЛАЙН» БИЗНЕС'
	- var og_title = '«Океаны» бизнеса'
	- var og_description = 'Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, и учится на них.'
	- var og_image = '../images/Article_3.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/article_3-title.png');")
	section.content-text.content-text--article
		.container
			a(href="/index.html").comeback-main Вернуться на главную
			.article-block
				h1 «Океаны» бизнеса
				p.first.
					Выход на&nbsp;перспективный новый рынок и&nbsp;создание уникального продукта называется стратегией &laquo;голубого океана&raquo;. Его противоположность&nbsp;&mdash; &laquo;алый океан&raquo;, то&nbsp;есть чрезвычайно конкурентная среда, в&nbsp;которой новичкам сложно выживать.
				h2 Виды океанов
				p.
					Концепция &laquo;океанов&raquo; была впервые сформулирована в&nbsp;книге &laquo;Стратегия голубого океана&raquo; (Blue Ocean Strategy) Чана Кима и&nbsp;Рене Моборна в&nbsp;2005&nbsp;году. Это книга о&nbsp;том, как талантливые предприниматели создают прорывные идеи, с&nbsp;помощью которых добиваются значительной прибыли.
				p.
					Яркие примеры &laquo;голубых океанов&raquo;&nbsp;&mdash; это различные мобильные приложения, игры, покорившие миллионы людей, например, Pokemon&nbsp;Go, сервис для создания аниме-фото Meitu или анонимная социальная сеть Secret. В&nbsp;целом, рынок мобильных приложений оценивается в&nbsp;$80&nbsp;млрд, и&nbsp;с&nbsp;каждым годом растет еще на&nbsp;десятки миллиардов долларов. &laquo;Голубые океаны&raquo; встречаются в&nbsp;любой отрасли. Когда-то ими считались прорывные для своего времени платформы для p2p-переводов, сервисы для вызова такси и&nbsp;каршеринга, компании, организующие квесты, и&nbsp;даже сервисы по&nbsp;доставке горячих обедов.
	section.content-text.content-text--article
		.container
			.article-block
				h2 Плюсы новичков
				p.
					Половина успеха компании зависит от&nbsp;бизнес-стратегии, которую предприниматель выбирает изначально. Не&nbsp;спешите, потратьте столько времени, сколько потребуется&nbsp;&mdash; только так вы&nbsp;найдете свой &laquo;голубой океан&raquo;, свободный от&nbsp;акул бизнеса. Главное&nbsp;&mdash; не&nbsp;сдаваться: есть ниши, словно созданные для небольших компаний, и, обнаружив&nbsp;их, можно обойти конкурентов, которые в&nbsp;десятки и&nbsp;даже сотни раз крупнее вашей фирмы. Если нужная идея никак не&nbsp;приходит в&nbsp;голову, можно, например, адаптировать какую-либо западную модель для российского рынка или найти людей, уже создавших перспективный новый продукт, и&nbsp;договориться продавать его вместе. Но&nbsp;главное&nbsp;&mdash; это создать эффективный канал для размещения информации. Сейчас в&nbsp;ход может идти все, включая &laquo;сарафанное радио&raquo; и&nbsp;Instagram. В&nbsp;любом случае, необходимо пробовать любые возможные каналы, где может быть ваша аудитория.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Сергей Балоян
				.quote-block__author--about
					p предприниматель, основатель <nobr>парфюм-бутика</nobr> Flaqon
				.quote-block__citate.quote-block__citate--together
					p.
						Главное преимущество малого бизнеса&nbsp;&mdash; это мобильность. Скорость принимаемых решений позволяет экспериментировать и&nbsp;с&nbsp;рынками сбыта, и&nbsp;с&nbsp;самими сферами бизнеса. При этом гораздо быстрее &laquo;гигантов&raquo;, хоть и&nbsp;с&nbsp;гораздо меньшими бюджетами. Зачастую сейчас побеждает не&nbsp;самый крупный, а&nbsp;самый быстрый. А&nbsp;еще представители малого бизнеса имеют больше возможностей для ошибок. Нет, это не&nbsp;шутка. В&nbsp;любом бизнесе случаются взлеты и&nbsp;падения. Так вот цена неверного управленческого решения в&nbsp;крупных корпорациях гораздо выше, чем в&nbsp;небольших бизнесах. Скажем, вы&nbsp;приобрели материалы у&nbsp;поставщика, а&nbsp;он&nbsp;вас подвел с&nbsp;качеством. Или вы&nbsp;выпустили партию товара, который не&nbsp;стал востребован на&nbsp;рынке.
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Михаил Дашкиев
				.quote-block__author--about
					p основатель крупнейшей в&nbsp;России системы образования предпринимателей &laquo;Бизнес Молодость&raquo;
				.quote-block__citate
					p.
						Плюсы малого бизнеса очевидны. Это гибкость к&nbsp;запросам клиентов, мобильность и&nbsp;отсутствие бюрократии. Кто обычно основывает малый бизнес&nbsp;&mdash; тот, кто перерос организацию, Кто хочет больше ответственности. Больше скорости, больше свободы. Как правило, это люди с&nbsp;высокими способностями. Малые команды из&nbsp;сильных людей гораздо быстрее движутся, меняют курс, реагируют на&nbsp;изменения. Они рискуют своими деньгами. У&nbsp;них есть прямой интерес развиваться. Еще одним преимуществом малого бизнеса является возможность индивидуального подхода, который может выражаться как в&nbsp;особенном качестве обслуживания, так и&nbsp;в&nbsp;разработке продуктов. Например, небольшому производству одежды проще развивать пошив одежды на&nbsp;заказ. Такие примеры есть&nbsp;&mdash; онлайн-сервис &laquo;Рубашка на&nbsp;заказ&raquo;, который позволяет заказывать рубашки и&nbsp;поло по&nbsp;индивидуальным меркам, &laquo;снятым&raquo; в&nbsp;интернете.
					p.
						Основное преимущество малого бизнеса заключается в&nbsp;том, что он&nbsp;оперативно реагирует на&nbsp;изменение потребительских предпочтений. Также они быстрее и&nbsp;эффективнее оптимизируют затраты&nbsp;&mdash; им&nbsp;гораздо проще перестроить бизнес-процессы, интегрировав только какое-либо новое решение.
		section.content-text.content-text--article-second
			.container
				.article-block
					h2 В&nbsp;поисках &laquo;голубого океана&raquo;
					p.
						В&nbsp;любом деле важен план действий. С&nbsp;поиском идеи для бизнеса дело обстоит так&nbsp;же. Во-первых, вам нужно изучить альтернативные продукты, выявить их&nbsp;преимущества и, что главнее, недостатки. Так, одни продукты окажутся устаревшими, другие&nbsp;&mdash; слишком сложными или, напротив, недостаточно технологичными. Поэтому, если вы&nbsp;не&nbsp;хотите плавать в&nbsp;&laquo;алом океане&raquo;, не&nbsp;предлагайте своим клиентам аналоги. Ваша цель&nbsp;&mdash; заинтересовать своим продуктом как можно больше людей, еще не&nbsp;являющихся вашими покупателями. Предложите им&nbsp;новую потребительскую ценность&nbsp;&mdash; и&nbsp;они начнут покупать у&nbsp;вас.
					.advice-content__block__step__inner
						h3 Виртуальный хостинг cайтов &laquo;Билайн&raquo;
						p Позволяет вам оптимизировать расходы на&nbsp;телекоммуникации и&nbsp;IT&nbsp;с&nbsp;выделенным доступом в&nbsp;интернет, взяв в&nbsp;аренду виртуальный сервер для хранения и&nbsp;обработки информации в&nbsp;облаке.
						a(href="http://rostov-na-donu.beeline.ru/b2b/products/cloud-solutions/services/details/registratsiya-i-podderzhka-domenov/?utm_source=RBC&utm_medium=banner&utm_term=Domeny_Hostingi&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
							span
					p.
						Помните, что клиент часто выбирает не&nbsp;только между продуктами компаний одного сегмента рынка, но&nbsp;и&nbsp;рассматривает предложения представителей разных отраслей. Вашим &laquo;голубым океаном&raquo; может стать пространство между рыночными нишами, которое вы&nbsp;займете своим комбинированным решением. Так, например, книжная сеть Barnes & Noble сместила акцент с&nbsp;продажи книг на&nbsp;создание благоприятной обстановки для чтения&nbsp;&mdash; в&nbsp;магазинах сети расставили диваны и&nbsp;начали предлагать чай и&nbsp;кофе посетителям.
		section.image_artical.image_artical--three
			img(src="../images/articles/art3-middle.jpg")
		section.content-text.content-text--article-second
			.container.container-article-modile
				.article-block
					P.
						В&nbsp;России сегодня работает уже достаточно много кафе-кофеен, в&nbsp;которых не&nbsp;нужно что-то покупать, а&nbsp;можно посидеть и&nbsp;поработать в&nbsp;интернете. А&nbsp;всемирно известный Cirque de&nbsp;Soleil&nbsp;&mdash; это сочетание всего лучшего от&nbsp;цирка и&nbsp;театра, то&nbsp;есть новый продукт без конкуренции. Аналог из&nbsp;российского бизнеса&nbsp;&mdash; фирма Алины Гизатуллиной, оказывающая услугу &laquo;бра-фиттинга&raquo;, проще говоря, подбора белья, а&nbsp;не&nbsp;его продажи или создания всего гардероба.
					P.
						Во-вторых, вы&nbsp;должны понять, какие характеристики товара важнее всего для потребителя, какие&nbsp;&mdash; менее. Так вы&nbsp;определите, чего вашему продукту не&nbsp;хватает, а&nbsp;что можно и&nbsp;вовсе убрать. Сравните различные группы клиентов и&nbsp;объедините их&nbsp;представления о&nbsp;том, что для них ценно. Так вы&nbsp;сможете выйти на&nbsp;новый потребительский сегмент. Пример из&nbsp;книги: компания Canon разработала настольные копировальные аппараты, переключившись с&nbsp;корпоративных клиентов на&nbsp;частных. Кейс от&nbsp;российского бизнеса&nbsp;&mdash; Beer Render&nbsp;&mdash; компактная автоматическая пивоварня для домашнего использования. Вот один пример&nbsp;&mdash; сервис &laquo;Квадрим&raquo;, с&nbsp;помощью которого можно осуществлять дизайнерский ремонт квартир по&nbsp;готовым шаблонам.
					.speakers.speakers--alone.speaker-article
						.speakers__item.speakers__item--alone
							.speakers__item__img
								a(href="/interview.html").button_popup
									img(src="../images/interview-speakers/clients/3.-Zamai.jpg", alt="").img-spicker
								a(href="/interview-3.html#client").mobile-visible  
									img(src="../images/interview-speakers/clients/3.-Zamai.jpg", alt="").img-spicker
							.speakers__item__text
								a(href="/interview.html").button_popup
									h3 Андрей Замай
								a(href="/interview-3.html#client").mobile-visible
									h3 Андрей Замай
								p Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
								span.read-icon
								a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
								a(href="/interview-3.html").read-interview.mobile-visible.watch-interview  Смотреть
					P.
						Третий шаг&nbsp;&mdash; применить так называемую &laquo;решетку&raquo;. Это таблица, матрица, которая поможет вам найти отличия действий вашей фирмы от&nbsp;принятых в&nbsp;отрасли стандартов. Заполняя решетку, изучите принятые принципы создания продуктов и&nbsp;продаж и&nbsp;оцените, нужны&nbsp;ли они вам. Продукту можно добавить ценности, причем не&nbsp;только с&nbsp;помощью функционала, но&nbsp;и&nbsp;эмоциональных характеристик. Забавный российский пример&nbsp;&mdash; мобильное приложение &laquo;Где шаверма&raquo;, которое помогает найти кафе, ларьки и&nbsp;бистро с&nbsp;шаурмой. Причем многих из&nbsp;них даже нет в&nbsp;типовых сборниках и&nbsp;базах кафе и&nbsp;ресторанов.
					P.
						В-четвертых, старайтесь думать о&nbsp;будущем вашего продукта. Прогнозируйте, что произойдет с&nbsp;рынком, когда какая-то технология устареет, а&nbsp;новая&nbsp;&mdash; появится. Вы&nbsp;откроете для себя возможности для развития, если определите, что нужно изменить сегодня, чтобы быть готовым к&nbsp;завтрашнему дню. Пример из&nbsp;книги: успех файлообменной сети Napster. Apple разработала легальный, простой и&nbsp;недорогой способ доступа к&nbsp;музыкальным файлам и&nbsp;захватила рынок. Именно этой стратегий руководствовался создатель российского стартапа Journalist&nbsp;&mdash; Telegram-бота для создания текстовых онлайн-трансляций.
					P.
						Главное, помните: ваша задача&nbsp;&mdash; &laquo;видеть&raquo; бизнес целиком. Когда предприниматели создают бизнес-план, они погружаются в&nbsp;море цифр и&nbsp;деталей, а&nbsp;это неизбежно ведет к&nbsp;дрейфу в&nbsp;&laquo;алый океан&raquo;. Картина в&nbsp;целом должна включать: положение компании на&nbsp;рынке, стратегию фирмы, четко выстроенную систему работы с&nbsp;персоналом, факторы, влияющие на&nbsp;конкуренцию в&nbsp;отрасли, приоритеты для инвестиций и&nbsp;стратегически успешные методы развития.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Сергей Балоян
				.quote-block__author--about
					p предприниматель, основатель <nobr>парфюм-бутика</nobr> Flaqon
				.quote-block__citate
					p.
						Достаточно долгое время на&nbsp;подъеме был рынок биодобавок. Также многие эксперты считают, что будущее за&nbsp;так называемым интернетом вещей. Если&nbsp;же хочется &laquo;здесь и&nbsp;сейчас&raquo;, но&nbsp;при этом нет большого оборотного капитала, можно обратить внимание на&nbsp;рынок трендовых товаров. Их&nbsp;срок жизни как тенденции очень не&nbsp;велик, но&nbsp;за&nbsp;это время интенсивность продаж зашкаливает, при этом рекламировать их&nbsp;не&nbsp;так сложно. Один из&nbsp;инструментов, например, покупка рекламы у&nbsp;лидеров мнений. Если&nbsp;же получится производить такой товар, вообще, отлично.
	section.sharing-block.sharing-hidden-mobile
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	a(href="/article-4.html").next-article__wrapper
		section.next-article-preview(style="background-image: url('../images/Article_1_podlojka.jpg');")
			.container
				span.next-article Следующая статья
				span
					h1 Инвестиции в эффективность
	//- a(href="/article-4.html").next-article__wrapper
	//- 	section.next-article-preview(style="background-image: url('../images/articles/Article_4_tizer.jpg');")
	//- 		.container
	//- 			span.next-article Следующая статья
	//- 			span
	//- 				h1 Инвестиции в&nbsp;эффективность
	section.sharing-block.sharing-mobile
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	.article-block-slider.article-hidden
		a(href="/advice-1.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
			.article-block-slider__item__text
				span Как начать свое дело в России
		a(href="/advice-2.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
			.article-block-slider__item__text
				span Финансы на инновации: нетривиальный путь к деньгам
		a(href="/advice-3.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
			.article-block-slider__item__text
				span Как удвоить продажи
		a(href="/advice-4.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
			.article-block-slider__item__text
				span За рамками компании
		a(href="/advice-5.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
			.article-block-slider__item__text
				span Облачная АТС. Преимущества и&nbsp;возможности.
		a(href="/advice-6.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
			.article-block-slider__item__text
				span Как проверить контрагента
		a(href="/advice-7.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
			.article-block-slider__item__text
				span Ваши кадры: дорого или дешево
		a(href="/advice-8.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
			.article-block-slider__item__text
				span Интернет для бизнеса
		a(href="/advice-9.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
			.article-block-slider__item__text
				span Строим &laquo;умный офис&raquo;
	.line-grey.article-hidden.article-hidden
	section.video-slider.video-slider-footer.article-hidden
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-3
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Андрей Замай
								p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
								p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
								.interview-block__video__block__info__playbutton(id="start-client-video-3")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom
	.modal-popup
		.modal-popup__bg
		.modal-popup__popup
			.interview-block__video
					.interview-block__video__block
						.interview-block__video__block__muted.video_muted.block-control
							.block-control__pause
							.block-control__play
						.full-block-control
							.full-block-control__play
							.full-block-control__time
							.full-block-control__main-line
								.full-block-control__main-line__progress
							.full-block-control__sound
						.interview-block__video__block__interview
							iframe(id="business-video" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
						.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg)")
						.interview-block__video__block__info
							h3 Андрей Замай
							p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
							p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
							.interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
			.modal-popup__close
