extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Инвестиции в эффективность'
    - var og_description = 'Меньше тратишь — больше зарабатываешь. Рассказываем, как оптимизировать расходы в бизнесе, чтобы сделать его еще прибыльнее. Читайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/articles/Article_4.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/4_statia_cover1.jpg');")
    section.content-text.content-text--article
        .container
            a(href="/index.html").comeback-main Вернуться на главную
            .article-block
                h1 Инвестиции в&nbsp;эффективность
                p.first.
                    Оптимизация расходов в&nbsp;небольшой компании сравнима с&nbsp;ювелирной работой. Вам необходимо осторожно отсечь ненужное, придать форму&nbsp;&mdash; и&nbsp;тогда ваша компания станет такой, какой вы&nbsp;хотите ее&nbsp;видеть. Наши эксперты делятся советами, как сократить затраты правильно без ущерба для бизнеса.
                h2 Оптимизация
                p.
                    Опрошенные нами эксперты дают простой, но&nbsp;дельный совет: сокращать расходы нужно только в&nbsp;тех направлениях деятельности, которые не&nbsp;приносят дохода. Например, подумайте, не&nbsp;обходитесь&nbsp;ли вашей компании дорого вы&nbsp;сами. Если вы&nbsp;как руководитель даете распоряжение урезать сотрудникам зарплату, сократить расходы на&nbsp;пластиковые стаканчики или кулер, но&nbsp;при этом летаете бизнес-классом, возможно, оптимизацию затрат вам стоит начать с&nbsp;себя. Если&nbsp;же у&nbsp;вас есть действительно прибыльный проект или полезный сотрудник, вкладывайте в&nbsp;них больше денег&nbsp;&mdash; тем лучше будет ваш финансовый результат.
    section.content-text.content-text--article
        .container
            .article-block
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Роман Тарасенко
                .quote-block__author--about
                    p основатель нескольких интернет-агентств &laquo;Цифровой Элемент&raquo;, DEXTRA
                .quote-block__citate.quote-block__citate--together
                    p.
                        Первый этап в&nbsp;борьбе с&nbsp;издержками&nbsp;&mdash; полное картирование бизнес-процессов и&nbsp;дальнейшее прописывание стоимости каждого из&nbsp;этапов с&nbsp;расшифровкой затрат. Далее анализ того, от&nbsp;чего возможно безболезненно избавиться и&nbsp;не&nbsp;потерять прибыль. Так, один мой знакомый предприниматель некоторое время назад уволил всех секретарей в&nbsp;компании. Два месяца офис был в&nbsp;шоке, а&nbsp;сейчас сотрудники стали работать еще эффективнее.
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Евгений Бойченко
                .quote-block__author--about
                    p советник ректора и&nbsp;руководитель программы &laquo;МВА&nbsp;&mdash; Маркетинг-менеджмент&raquo; Московской международной высшей школы МИРБИС
                .quote-block__citate
                    p.
                        Путь к&nbsp;повышению эффективности&nbsp;&mdash; это увеличение затрат! На&nbsp;те&nbsp;процессы, от&nbsp;которых зависит эффективность. Снижение затрат&nbsp;&mdash; это хорошо, но&nbsp;само по&nbsp;себе урезание всех возможных видов издержек требует глубокого понимания того, что можно и&nbsp;нужно резать. Для этого, например, придется увеличить затраты на&nbsp;особый тип профессионала в&nbsp;компании или потратиться на&nbsp;глубокий анализ процесса создания ценности.
    section.content-text.content-text--article-second
        .container
            .article-block
                p.
                   Между прочим, не&nbsp;всегда&nbsp;то, что помогает фирме развиваться, требует масштабных инвестиций. Так, например, сегодня можно найти множество бесплатных инструментов, которые делают бизнес более технологичным, а&nbsp;стоят недорого. Например, дешево обходятся конструкторы сайтов, CRM-системы от&nbsp;лидеров рынка.
                .advice-content__block__step__inner
                    h3 Умная связь
                    p С&nbsp;помощью &laquo;Облачной АТС&raquo; от&nbsp;&laquo;Билайн&raquo; Бизнес вы&nbsp;сможете обеспечить связь даже в&nbsp;виртуальном офисе, а&nbsp;клиенты будут вам звонить на&nbsp;прямой городской номер.
                    a(href="http://www.beeline.ru/b2b/cloud-ats/?utm_source=RBC&utm_medium=banner&utm_term=Oblachnaya_ATS&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
                       span
                p.
                   Некоторые предприниматели просто привыкли делать все по&nbsp;старинке&nbsp;&mdash; нанимать специалиста даже для создания простейшего сайта, вести отчетность &laquo;в&nbsp;тетради&raquo; или платить за&nbsp;помещение, даже если оно не&nbsp;слишком нужно. Но&nbsp;каждый бизнесмен должен понимать, что будущее, в&nbsp;том числе и&nbsp;будущее вашего бизнеса, за&nbsp;технологиями. Важно пользоваться тем, что позволит вам при минимальных затратах обслуживать клиентов на&nbsp;высоком уровне и&nbsp;улучшит ваш финансовый результат. Так, например, сейчас рабочее помещение зачастую необходимо маленькой фирме только для связи с&nbsp;клиентом. Но&nbsp;для этого необязательно платить за&nbsp;офис&nbsp;&mdash; уже есть специальные решения для компаний, позволяющие всегда быть на&nbsp;связи дистанционно.
    section.image_artical.image_artical--four
        img(src="../images/articles/4_statia_main1.jpg")
    section.content-text.content-text--article-second
        .container.container-article-modile
            .article-block
                h2 На&nbsp;откуп профессионалу
                P.
                   Сокращению расходов способствует и&nbsp;аутсорсинг. Иногда решение передать другой фирме или стороннему специалисту те&nbsp;задачи, которые не&nbsp;являются вашими основными видами деятельности, оказывается удачным. Так, если у&nbsp;вас редко возникают юридические коллизии, то&nbsp;держать в&nbsp;штате квалифицированного юриста не&nbsp;имеет смысла. К&nbsp;тому&nbsp;же сотрудникам на&nbsp;аутсорсинге не&nbsp;нужно оплачивать отпуск и&nbsp;больничный. Такой подход позволяет не&nbsp;только сократить расходы, но&nbsp;и&nbsp;сосредоточиться на&nbsp;той деятельности, ради которой фирма и&nbsp;создавалась. Правда, сами предприниматели говорят, что аутсорсинг подходит далеко не&nbsp;всем.
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Яна Недзвецкая
                .quote-block__author--about
                    p российский дизайнер, основатель и&nbsp;креативный директор брендов LO, JN
                .quote-block__citate.quote-block__citate--together
                    p.
                        Все зависит от&nbsp;самого бизнеса. Если у&nbsp;вас одно ателье, одна парикмахерская или один салон по&nbsp;ремонту обуви, то&nbsp;бухгалтерию вполне можно отдать на&nbsp;аутсорсинг. IT-специалист тоже не&nbsp;нужен в&nbsp;штат, можно работать с&nbsp;компанией, предоставляющей такие услуги. Но&nbsp;аутсорсинг хорош максимум при трех точках продаж. Как только эти точки увеличиваются, дешевле все-таки нанять своего специалиста, который будет работать на&nbsp;результат, а&nbsp;не&nbsp;как при аутсорсинге&nbsp;&mdash; скорее на&nbsp;процесс.
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Александр Кузнецов
                .quote-block__author--about
                    p генеральный директор компании &laquo;Ланит Диджитал&raquo;
                .quote-block__citate
                    p.
                        В&nbsp;идеале сначала необходимо описать максимум бизнес-процессов в&nbsp;вашей компании и&nbsp;рассчитать себестоимость каждого из&nbsp;них. Занятие не&nbsp;самое сложное, но&nbsp;нудное и&nbsp;кропотливое. Увидев себестоимость каждого бизнес-процесса, можно менять его себестоимость как через персонал (передавать более простые функции сотрудникам с&nbsp;более низкой зарплатой), так и&nbsp;отдавая часть процессов на&nbsp;аутсорсинг. Также очень экономит себестоимость работа с&nbsp;фрилансерами вместо штатных сотрудников. Одна и&nbsp;та&nbsp;же позиция в&nbsp;штате и&nbsp;на&nbsp;фрилансе отличается по&nbsp;стоимости вдвое.
    section.content-text.content-text--article-second
         .container.container-article-modile
             .article-block
                 .speakers.speakers--alone-notop.speaker-article.speaker-article-top
                     .speakers__item.speakers__item--alone
                        .speakers__item__img
                            a(href="/interview.html").button_popup
                                img(src="../images/interview-speakers/clients/4.-Lasckov.png", alt="").img-spicker
                            a(href="/interview-4.html").mobile-visible
                                img(src="../images/interview-speakers/clients/4.-Lasckov.png", alt="").img-spicker
                        .speakers__item__text
                            a(href="/interview.html").button_popup
                                h3 Игорь Ласьков
                            a(href="/interview-4.html").mobile-visible
                                h3 Игорь Ласьков
                            p Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                            span.read-icon
                            a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
                            a(href="/interview-4.html").read-interview.mobile-visible.watch-interview  Смотреть
                 h2 Низы не&nbsp;хотят
                 p.
                     Развитию бизнеса компании мешают не&nbsp;только значительные расходы, но&nbsp;и&nbsp;слабый результат работы некоторых сотрудников. Она зачастую является следствием неэффективной мотивации, недостаточной вовлеченности в&nbsp;дело или просто привычки работать &laquo;от&nbsp;и&nbsp;до&raquo;.
                 p.
                     Предприниматели говорят, что эффективность продвижения продуктов возрастает, если в&nbsp;этой работе участвуют сотрудники, члены их&nbsp;семей и&nbsp;друзья. Конечно, не&nbsp;у&nbsp;каждого работника есть желание носить одежду, украшенную логотипом компании, или ездить на&nbsp;машине с&nbsp;элементами корпоративного стиля. Но&nbsp;попробовать стоит&nbsp;&mdash; главное, чтобы сами сотрудники были уверены, что предлагают ценный товар или услугу. А&nbsp;убедить их&nbsp;в&nbsp;этом&nbsp;&mdash; ваша задача.
    section.content-text.content-text--article-second
        .container.container-article-modile
            .article-block
                 h2 &laquo;Огранка&raquo; бизнеса
                 P.
                     Эксперты дают еще несколько советов, как улучшить финансовый результат.
                 P.
                     Во-первых, надо нацелить свой бизнес на&nbsp;создание нового. Многие компании сейчас переживают кризис, и&nbsp;не&nbsp;исключено, что ваши конкуренты в&nbsp;их&nbsp;числе. Есть два способа сделать ваши показатели лучше, чем у&nbsp;них: либо снизить планку, либо совершать новые действия&nbsp;&mdash; создавать продукты, внедрять бизнес-решения. Решать вам, но&nbsp;второй путь гораздо перспективнее.
                 P.
                     Во-вторых, оцените скорость вашей работы и&nbsp;реагирование вашего бизнеса на&nbsp;изменчивые условия рынка. Скорость бизнес-процессов, оперативность вывода на&nbsp;рынок нового продукта, быстрота отклика на&nbsp;запрос клиента, изменение формата обслуживания&nbsp;&mdash; все это существенно влияет на&nbsp;результаты бизнеса.
    section.sharing-block.sharing-hidden-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    a(href="/article-5.html").next-article__wrapper
        section.next-article-preview(style="background-image: url('../images/Article_5_podlojka.jpg');")
            .container
                span.next-article Следующая статья
                span
                    h1 Плата за эмоции
    section.sharing-block.sharing-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    .article-block-slider.article-hidden
        a(href="/advice-1.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
            .article-block-slider__item__text
                span Как начать свое дело в России
        a(href="/advice-2.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
            .article-block-slider__item__text
                span Финансы на инновации: нетривиальный путь к деньгам
        a(href="/advice-3.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
            .article-block-slider__item__text
                span Как удвоить продажи
        a(href="/advice-4.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
            .article-block-slider__item__text
                span За рамками компании
        a(href="/advice-5.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
            .article-block-slider__item__text
                span Облачная АТС. Преимущества и&nbsp;возможности.
        a(href="/advice-6.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
            .article-block-slider__item__text
                span Как проверить контрагента
        a(href="/advice-7.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
            .article-block-slider__item__text
                span Ваши кадры: дорого или дешево
        a(href="/advice-8.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
            .article-block-slider__item__text
                span Интернет для бизнеса
        a(href="/advice-9.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
            .article-block-slider__item__text
                span Строим &laquo;умный офис&raquo;
    .line-grey.article-hidden.article-hidden
    section.video-slider.video-slider-footer.article-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .full-block-control
                      .full-block-control__play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound      
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg)")
                    .interview-block__video__block__info
                        h3 Игорь Ласьков
                        p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                        p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
