extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'В погоне за надежностью'
    - var og_description = 'Сотрудничать нельзя отказать. Как не промахнуться с запятой и всем остальным в выборе нового бизнес-партнёра — рассказываем в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/articles/Article_6.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/6_statia_cover1.png');")
    section.content-text.content-text--article
        .container
            a(href="/index.html").comeback-main Вернуться на главную
            .article-block
                h1 В&nbsp;погоне за&nbsp;надежностью
                p.first.
                  Доверяй, но&nbsp;проверяй&nbsp;&mdash; таково основное правило при работе с&nbsp;поставщиками и&nbsp;партнерами. Предприниматели делятся с&nbsp;вами основными принципами выбора контрагентов. Следуя им, вы&nbsp;легко найдете тех, кто не&nbsp;подведет и&nbsp;поможет развивать ваш бизнес.
                h2 А&nbsp;есть&nbsp;ли фирма?
                p.
                  В&nbsp;мире бизнеса предпринимателю важно решить, как правильно выстроить отношения с&nbsp;покупателями и&nbsp;заказчиками, поставщиками и&nbsp;подрядчиками. Как управлять цепочкой закупок и&nbsp;логистикой, эффективно выстроить работу с&nbsp;поставщиками, какую работу можно доверить посредникам и&nbsp;отдать на&nbsp;аутсорсинг? На&nbsp;все эти вопросы ответ один&nbsp;&mdash; результат всегда зависит от&nbsp;тех, с&nbsp;кем вы&nbsp;сотрудничаете.
                p.
                  По&nbsp;словам экспертов, есть определенный набор инструментов для проверки потенциальных поставщиков, подрядчиков и&nbsp;посредников.  
    section.content-text.content-text--article-second
     .container.container-article-modile
         .article-block
            .speakers.speakers--alone.speaker-article.speaker-article-top
                 .speakers__item.speakers__item--alone
                    .speakers__item__img
                        a(href="/interview.html").button_popup
                            img(src="../images/interview-speakers/clients/6.-Shelmanova.png", alt="").img-spicker
                        a(href="/interview-6.html#client").mobile-visible
                            img(src="../images/interview-speakers/clients/6.-Shelmanova.png", alt="").img-spicker
                    .speakers__item__text
                        a(href="/interview.html").button_popup
                            h3 Ольга Шеламова
                        a(href="/interview-6.html#client").mobile-visible
                            h3 Ольга Шеламова
                        p совладелец компании &laquo;Олимп&raquo;
                        span.read-icon
                        a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
                        a(href="/interview-6.html").read-interview.mobile-visible.watch-interview  Смотреть
            p.
              Сначала необходимо убедиться, что фирма, с&nbsp;которой вы&nbsp;собираетесь работать, действительно существует. Также проверка позволяет выявить организации с&nbsp;поддельными документами и&nbsp;избежать сотрудничества с&nbsp;компаниями, существующими на&nbsp;рынке менее года.
            p.
              Запросите у&nbsp;компании регистрационные документы и&nbsp;лицензию, если ее&nbsp;деятельность лицензируется. Информацию нужно обязательно проверить через соответствующее ведомство, выдающее лицензии, и&nbsp;всевозможные госреестры. Затем обратите внимание на&nbsp;адрес, регистрационный номер и&nbsp;номер налогоплательщика. Виды деятельности, состав совета директоров, руководства и&nbsp;владельцев компании также нужно изучить. Если в&nbsp;фирме в&nbsp;течение года часто менялись руководители или виды деятельности, это повод отнестись к&nbsp;ней с&nbsp;определенным недоверием.
            p.
              Такой работой занимаются, как правило, специалисты службы безопасности. Но&nbsp;есть также различные сервисы для проверки компании или индивидуального предпринимателя. Если у&nbsp;вас нет службы аудита или безопасности, используйте базы данных&nbsp;&mdash; &laquo;Картотеку&raquo;, SPARK и&nbsp;другие.  
    section.content-text.content-text--article
        .container
            .article-block
                h2 Полный порядок
                p.
                  Как можно раньше узнайте, в&nbsp;каком финансовом положении находится компания. Сегодня с&nbsp;помощью разных источников за&nbsp;определенную плату можно получить представление о&nbsp;финансовом состоянии делового партнера. Так, например, вы&nbsp;снизите риск появления просроченной дебиторской задолженности. Помните, что вы&nbsp;отвечаете перед своими клиентами и&nbsp;партнерами и&nbsp;не&nbsp;можете позволить себе сотрудничать с&nbsp;теми, кто не&nbsp;умеет вести бизнес или скрывает неутешительные показатели.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Антон Марюхта
                .quote-block__author--about
                    p генеральный директор логистической компании &laquo;Даксер&raquo;
                .quote-block__citate
                    p.
                      В&nbsp;долгосрочной перспективе всегда выгоднее вести себя честно, хотя зачастую возникает соблазн немного приукрасить реальное положение вещей&nbsp;&mdash; например, при обращении в&nbsp;банк за&nbsp;кредитом. Необходимо точно и&nbsp;в&nbsp;срок исполнять свои обязательства. Поэтому очень важно не&nbsp;обещать больше, чем ты&nbsp;можешь сделать. Лучше честно сказать своему контрагенту при заключении сделки, что ты&nbsp;сможешь заплатить через месяц, чем пообещать заплатить через неделю, а&nbsp;потом несколько раз просить отсрочки.   
    section.image_artical.image_artical--margin.image_artical--six
        img(src="../images/articles/6_statia_main1.jpg")
    section.content-text.content-text--article
        .container
            .article-block
                p.
                  Кроме того, обратите внимание на&nbsp;репутацию контрагента. Обязательность соблюдения сроков, четкость выполнения заказа, своевременность оплаты&nbsp;&mdash; обо всем этом нужно узнать. Вам помогут открытые интернет-ресурсы и&nbsp;рекомендации. В&nbsp;первом случае можно получить информацию о&nbsp;судебных процессах, в&nbsp;которых участвовала компания, найти данные о&nbsp;задержках платежей, задолженностях или банкротстве. Рекомендации&nbsp;же могут дать бизнесмены, с&nbsp;которыми работал ваш потенциальный партнер.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Александр Павлов
                .quote-block__author--about
                    p директор по&nbsp;операциям FM&nbsp;Logistic
                .quote-block__citate
                    p.
                      Если предприятие, относящееся к&nbsp;категории МСБ, работающее в&nbsp;конкурентной среде, имеет амбиции увеличить размеры своего бизнеса, то&nbsp;первоочередной задачей руководитель должен ставить высокое качество обслуживания своих клиентов. Конкурировать без качества, если нет уникального продукта, уже невозможно. Многие крупные заказчики&nbsp;&mdash; федеральные сети, дистрибьюторские сети&nbsp;&mdash; не&nbsp;дают возможности поставщикам пробовать свои силы несколько раз. Первый раз может оказаться последним. Под качеством необходимо понимать скорость оказания услуги/доставки товара, удобство пользования услугой/получением товара, гибкость, коммуникации с&nbsp;клиентами. Логистика&nbsp;&mdash; не&nbsp;та&nbsp;область, где возможны авантюрные эксперименты. Советую прибегать к&nbsp;помощи хорошо зарекомендовавших себя профессионалов, тем более что крупные логистические компании уже давно разработали комплексные &laquo;коробочные&raquo; продукты для предприятий МСБ. 
    section.content-text.content-text--article
        .container
            .article-block
                h2 Стратегические особенности
                p Оценивая контрагента, не&nbsp;ориентируйтесь только на&nbsp;базовые показатели&nbsp;&mdash; финансовую стабильность, длительность работы на&nbsp;рынке, штат сотрудников.
                .advice-content__block__step__inner
                  h3 Виртуальный хостинг cайтов &laquo;Билайн&raquo;
                  p Оптимизируйте расходы на&nbsp;телекоммуникации и&nbsp;IT&nbsp;с&nbsp;выделенным доступом в&nbsp;интернет, воспользовавшись услугой виртуального <nobr>веб-хостинга</nobr> &laquo;Билайн&raquo; и&nbsp;услугой регистрации и&nbsp;поддержки доменов.
                  a(href="http://beeline.ru/b2b/products/cloud-solutions/services/details/registratsiya-i-podderzhka-domenov/?utm_source=RBC&utm_medium=banner&utm_term=Domeny_Hostingi&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
                    span
                p.
                  Оценивая контрагента, не&nbsp;ориентируйтесь только на&nbsp;базовые показатели&nbsp;&mdash; финансовую стабильность, длительность работы на&nbsp;рынке, штат сотрудников. Обязательно принимайте во&nbsp;внимание стратегические критерии. Если компания работает недолго, но&nbsp;уже успешно реализовала несколько проектов и&nbsp;увеличивает прибыль благодаря эффективности бизнес-процессов, а&nbsp;не&nbsp;за&nbsp;счет оборотов, не&nbsp;сбрасывайте ее&nbsp;со&nbsp;счетов. Если у&nbsp;контрагента есть интересная стратегия развития, неординарные цели, это повод заинтересоваться сотрудничеством. Иначе вы&nbsp;упустите возможность работать с&nbsp;перспективными молодыми и&nbsp;развивающимися компаниями, которым не&nbsp;нужен десяток сотрудников, потому что их&nbsp;заменили соответствующие IT-решения. Так, например, в&nbsp;ряде компаний попросту нет множества специалистов, которые занимаются резервным копированием данных на&nbsp;веб-сервере, обновлением программного обеспечения или консультируют клиентов на&nbsp;сайте&nbsp;&mdash; за&nbsp;них это делает виртуальный хостинг.
                
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Георгий Властопуло
                .quote-block__author--about
                    p генеральный директор компании &laquo;Оптимальная логистика&raquo;
                .quote-block__citate
                    p.
                      Стратегические критерии помогают понять технологический уровень автоматизации процессов в&nbsp;компании, стратегию развития бизнеса, краткосрочные и&nbsp;среднесрочные планы, маркетинговую политику, доступность и&nbsp;достоверность информации о&nbsp;компании в&nbsp;открытых источниках и&nbsp;корпоративную культуру. И&nbsp;базовые, и&nbsp;стратегические критерии должны быть проверяемы, актуальны и&nbsp;просты. Например, финансовое состояние партнера проверяется запросом предоставления балансов предприятия, корпоративная культура&nbsp;&mdash; наличием кодекса корпоративной этики, а&nbsp;стратегия развития&nbsp;&mdash; кратким, но&nbsp;емким документом с&nbsp;описанием целей и&nbsp;задач. 
    section.sharing-block.sharing-hidden-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    a(href="/article-7.html").next-article__wrapper
        section.next-article-preview(style="background-image: url('../images/Article_7_podlojka.jpg');")
            .container
                span.next-article Следующая статья
                span
                    h1 Кадры в кризис: увольнять или нет
    section.sharing-block.sharing-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    .article-block-slider.article-hidden
        a(href="/advice-1.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
            .article-block-slider__item__text
                span Как начать свое дело в России
        a(href="/advice-2.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
            .article-block-slider__item__text
                span Финансы на инновации: нетривиальный путь к деньгам
        a(href="/advice-3.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
            .article-block-slider__item__text
                span Как удвоить продажи
        a(href="/advice-4.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
          .article-block-slider__item__text
            span За рамками компании
        a(href="/advice-5.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
          .article-block-slider__item__text
            span Облачная АТС. Преимущества и&nbsp;возможности.
        a(href="/advice-6.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
          .article-block-slider__item__text
            span Как проверить контрагента
        a(href="/advice-7.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
            .article-block-slider__item__text
                span Ваши кадры: дорого или дешево
        a(href="/advice-8.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
            .article-block-slider__item__text
                span Интернет для бизнеса
        a(href="/advice-9.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
            .article-block-slider__item__text
                span Строим &laquo;умный офис&raquo;
    .line-grey.article-hidden.article-hidden
    section.video-slider.video-slider-footer.article-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-6
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Ольга Шеламова
                              p.regalia совладелец компании &laquo;Олимп&raquo;
                              p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                              .interview-block__video__block__info__playbutton(id="start-client-video-6")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .full-block-control
                      .full-block-control__play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound  
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg)")
                    .interview-block__video__block__info
                        h3 Ольга Шеламова
                        p.regalia совладелец компании &laquo;Олимп&raquo;
                        p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
