extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Кадры в кризис: увольнять или нет'
    - var og_description = 'Бизнес в кризис: как оптимизировать штат сотрудников, эффективно мотивировать их и поощрять — читайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/articles/Article_7.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/7_statia_cover1.jpg');")
    section.content-text.content-text--article
        .container
            a(href="/index.html").comeback-main Вернуться на главную
            .article-block
                h1 <nobr>МСБ-кадры</nobr>
                p.first.
                  Ваша команда&nbsp;&mdash; это фундамент, на&nbsp;котором держится бизнес. Наем неподходящих сотрудников может сильно ударить по&nbsp;финансовым результатам. Из&nbsp;статьи РБК вы&nbsp;узнаете, как правильно выбрать работников, мотивировать и&nbsp;вознаграждать их.
                h2 Кадры решают
                p.
                  В&nbsp;компаниях малого и&nbsp;среднего бизнеса (МСБ) и&nbsp;команда соответственно небольшая. В&nbsp;таких фирмах проще понять, какова эффективность каждого работника, чем в&nbsp;корпорациях. Предприятиям МСБ не&nbsp;нужно походить на&nbsp;&laquo;большой&raquo; бизнес&nbsp;&mdash; не&nbsp;стройте сложных систем. Лучше стремитесь к&nbsp;тому, чтобы ваши сотрудники были взаимозаменяемы,&nbsp;&mdash; инвестируйте в&nbsp;их&nbsp;развитие и&nbsp;обучение.
    section.content-text.content-text--article-second
      .container.container-article-modile
        .article-block
          .speakers.speakers--alone-notop.speaker-article
            .speakers__item.speakers__item--alone
              .speakers__item__img
                a(href="/interview.html").button_popup
                  img(src="../images/interview-speakers/clients/7.-Silhev.png", alt="").img-spicker
                a(href="/interview-6.html#client").mobile-visible
                  img(src="../images/interview-speakers/clients/7.-Silhev.png", alt="").img-spicker
              .speakers__item__text
                a(href="/interview.html").button_popup
                  h3 Андрей Сильчев
                a(href="/interview-7.html#client").mobile-visible
                  h3 Андрей Сильчев
                p Директор по&nbsp;развитию IT&nbsp;Partner
                span.read-icon
                a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
                a(href="/interview-7.html").read-interview.mobile-visible.watch-interview  Смотреть
    section.content-text.content-text--article
        .container
            .article-block
                p.
                  В&nbsp;МСБ ценятся сотрудники, которые владеют технологиями производства продукции, умеют ее&nbsp;быстро и&nbsp;качественно упаковать, а&nbsp;также организовать доставку. Знания о&nbsp;маркетинге, даже начальные, также являются огромным преимуществом.  
                p.
                  Предприниматели рады и&nbsp;людям без профессионального опыта, которые готовы много работать и&nbsp;получать знания. Из&nbsp;старательного новичка фирма может вырастить настоящего мастера на&nbsp;все руки.
                p.
                  Также небольшим компаниям нужны специалисты по&nbsp;продажам, в&nbsp;частности по&nbsp;оптовым поставкам. Особенно, конечно, ценятся сотрудники со&nbsp;своими клиентскими базами. Чтобы заполучить их, компании и&nbsp;предприниматели часто предлагают очень выгодные условия труда.
    section.image_artical.image_artical--seven
      img(src="../images/articles/Article_7_1.jpg")
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Марина Сергиенко
                .quote-block__author--about
                    p генеральный директор компании &laquo;Витасфера&raquo;
                .quote-block__citate
                    p.
                      У&nbsp;нас свое <nobr>мини-производство</nobr> и&nbsp;<nobr>интернет-магазин</nobr> суперфудов, поэтому у&nbsp;нас число сотрудников небольшое. Многие <nobr>бизнес-процессы</nobr> в&nbsp;компании осуществляются на&nbsp;основе аутсорсинга. В&nbsp;частности, бухгалтерия, цепи поставок и&nbsp;логистика переданы другим компаниям на&nbsp;основании договоров оказания аутсорсинговых услуг. В&nbsp;компетенцию сотрудников компании входит закупка и&nbsp;формирование заказов клиентов, а&nbsp;также непосредственное изготовление продукции компании. Менеджеры компании совмещают несколько производственных этапов, закупку и&nbsp;фасовку в&nbsp;<nobr>интернет-магазине</nobr>. Данное совмещение функций необходимо в&nbsp;связи с&nbsp;возможностью взаимно заменять друг друга. Это позволяет организации оптимизировать число сотрудников, которые максимально вовлечены и&nbsp;в&nbsp;производство, и&nbsp;в&nbsp;продажи продукции.   
    section.content-text.content-text--article
        .container
            .article-block
                h2 Оптимальный штат
                p.
                  Оцените, от&nbsp;какого числа людей зависит результативная работа компании. Если у&nbsp;вас их&nbsp;существенно больше, значит, настала пора пересмотреть кадровую политику. Оптимальной считается следующая структура компании: высшее руководство, бухгалтерия, подразделения, отвечающие за&nbsp;работу с&nbsp;персоналом и&nbsp;документооборот, и&nbsp;ряд других отделов&nbsp;&mdash; юридический, производственный (торговый), маркетинговый (рекламный), хозяйственный.
                p.
                  Численность персонала в&nbsp;каждом отделе определяется размерами и&nbsp;спецификой вашего бизнеса, при этом некоторые функции могут выполнять специалисты, работающие на&nbsp;аутсорсинге.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Григорий Финкельштейн
                .quote-block__author--about
                    p партнер &laquo;Экопси Консалтинг&raquo;:
                .quote-block__citate
                    p.
                      Базовая задача — убедиться, что без дополнительного человека обойтись не сможете. Не надо создавать людей под идеи.  
    section.content-text.content-text--article
      .container
        .article-block
          h2 Награда от начальника
          p.
            Задача руководителя&nbsp;&mdash; понятно объяснить сотрудникам цели и&nbsp;разработать систему мотивации. Если показатели эффективности сильно зависят от&nbsp;работников, есть смысл сделать премию значительной по&nbsp;отношению к&nbsp;базовому окладу или перевести сотрудников на&nbsp;сдельную оплату. Если сотрудники не&nbsp;слишком влияют на&nbsp;результат, то&nbsp;большую часть должен составлять базовый оклад, а&nbsp;премия&nbsp;&mdash; 20&ndash;30%. Чем чаще вы&nbsp;будете платить премии (например, четыре ежеквартальных вместо одной ежегодной), тем лучше.
          .advice-content__block__step__inner
            h3 Безлимитные звонки от&nbsp;&laquo;Билайн&raquo; Бизнес
            p Семейство тарифов &laquo;Всё для бизнеса&raquo; от&nbsp;&laquo;Билайн&raquo;&nbsp;&mdash; это безлимитные звонки на&nbsp;номера &laquo;Билайн&raquo; из&nbsp;любой точки страны, бесплатные входящие в&nbsp;поездках по&nbsp;стране, звонки, SMS и&nbsp;MMS между сотрудниками компании по&nbsp;всей России и&nbsp;многое другое.
            a(href="http://beeline.ru/b2b/products/mobile/tariffs/details/vsd-za-600-new?utm_source=RBC&utm_medium=banner&utm_term=Vsyo_dlya_Biznesa&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
              span
          p.
            Нужно иметь в&nbsp;виду, что в&nbsp;предприятиях МСБ результат не&nbsp;слишком зависит от&nbsp;четких KPI, поэтому в&nbsp;них можно использовать так называемый соционический подход. Английский социолог Сэм Блэк, например, выделяет 7 факторов, от&nbsp;которых зависит мотивация вашей команды. Это полная и&nbsp;правдивая информация, которой делятся между собой сотрудники на&nbsp;всех уровнях; атмосфера доверия между работником и&nbsp;работодателем; безопасные и&nbsp;безвредные для здоровья условия труда; достойное вознаграждение; отсутствие конфликтов; удовлетворенность работой; гордость за&nbsp;свою организацию и&nbsp;уверенность в&nbsp;будущем.
    section.image_artical.image_artical--seven-2
      img(src="../images/articles/Article_7_2.jpg")
    section.content-text.content-text--article
        .container
            .article-block
                p.
                  Эксперты отмечают, что помимо финансового вознаграждения кандидаты все чаще обращают внимание на&nbsp;дополнительные преимущества работы. Оплата фитнеса, сотовой связи или ДМС&nbsp;&mdash; благодаря таким бонусам сотрудник будет больше ценить свою компанию. Для фирмы подобные затраты могут быть не&nbsp;такими большими, так как услуги предоставляются на&nbsp;выгодных условиях по&nbsp;корпоративным контрактам, а&nbsp;эффект от&nbsp;соцпакета огромен.
    section.content-text.content-text--article
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Людмила Спиридонова
                .quote-block__author--about
                    p руководитель направления <nobr>HR-исследований</nobr> Аналитического центра НАФИ:
                .quote-block__citate
                    p.
                      Корпоративная мобильная связь для российских компаний&nbsp;&mdash; это не&nbsp;только способ оперативной коммуникации с&nbsp;клиентами (пока в&nbsp;79% компаний отсутствует необходимость указывать служебный мобильный в&nbsp;подписи электронных писем). Есть дополнительные скрытые возможности. <nobr>Во-первых</nobr>, для работодателя это экономия на&nbsp;комплексных корпоративных тарифах мобильных операторов, включающих облачные хранилища, многоканальные облачные АТС <nobr>и т. п.</nobr> <nobr>Во-вторых</nobr>, это контроль за&nbsp;звонками, совершаемыми сотрудниками, а&nbsp;также за&nbsp;их&nbsp;перемещением. Немаловажно, что исторически корпоративная мобильная связь&nbsp;&mdash; существенный элемент социального пакета и&nbsp;инструмент повышения уровня лояльности работников.     
    section.sharing-block.sharing-hidden-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    a(href="/article-8.html").next-article__wrapper
        section.next-article-preview(style="background-image: url('../images/Article_8_podlojka.png');")
            .container
                span.next-article Следующая статья
                span
                    h1 Связь для бизнеса
    section.sharing-block.sharing-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    .article-block-slider.article-hidden
        a(href="/advice-1.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
            .article-block-slider__item__text
                span Как начать свое дело в России
        a(href="/advice-2.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
            .article-block-slider__item__text
                span Финансы на инновации: нетривиальный путь к деньгам
        a(href="/advice-3.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
            .article-block-slider__item__text
                span Как удвоить продажи
        a(href="/advice-4.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
          .article-block-slider__item__text
            span За рамками компании
        a(href="/advice-5.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
          .article-block-slider__item__text
            span Облачная АТС. Преимущества и&nbsp;возможности.
        a(href="/advice-6.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
          .article-block-slider__item__text
            span Как проверить контрагента
        a(href="/advice-7.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
            .article-block-slider__item__text
                span Ваши кадры: дорого или дешево
        a(href="/advice-8.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
            .article-block-slider__item__text
                span Интернет для бизнеса
        a(href="/advice-9.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
            .article-block-slider__item__text
                span Строим &laquo;умный офис&raquo;
    .line-grey.article-hidden.article-hidden
    section.video-slider.video-slider-footer.article-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-7
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Андрей Сильчев
                              p.regalia Директор по развитию IT Partner
                              p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                              .interview-block__video__block__info__playbutton(id="start-client-video-7")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-6
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Ольга Шеламова
                              p.regalia совладелец компании &laquo;Олимп&raquo;
                              p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                              .interview-block__video__block__info__playbutton(id="start-client-video-6")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .full-block-control
                      .full-block-control__play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound  
                    .interview-block__video__block__interview
                        iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg)")
                    .interview-block__video__block__info
                        h3 Андрей Сильчев
                        p.regalia Директор по&nbsp;развитию IT&nbsp;Partner
                        p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
            .modal-popup__close
