extends templates/layout
block vars
    - var title = '«БИЛАЙН» БИЗНЕС'
    - var og_title = 'Машины vs люди'
    - var og_description = 'Успех сопутствует тем, кто идёт в ногу со временем. Как передовые технологии помогают развивать бизнес сегодня — узнайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/articles/Article_9.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/articles/9_statia_cover.jpg');")
    section.content-text.content-text--article
        .container
            a(href="/index.html").comeback-main Вернуться на главную
            .article-block
                h1 Машины vs люди
                p.first.
                  Игнорирование современных трендов может негативно отразиться на&nbsp;финансовых результатах вашей фирмы. Эксперты уверены, что малый и&nbsp;средний бизнес (МСБ) должен быть технологичным, чтобы успешно конкурировать и&nbsp;соответствовать ожиданиям клиентов.
                h2 На&nbsp;волне прогресса
                p.
                  Технологически современный бизнес&nbsp;&mdash; один из&nbsp;важных факторов вашего успеха. Речь идет не&nbsp;только о&nbsp;новейших прорывных изобретениях&nbsp;&mdash; компании должны обращать внимание на&nbsp;актуальные технические и&nbsp;ИТ-решения, экспериментальные инструменты продвижения и&nbsp;маркетинга. Безусловно, придумать что-то с&nbsp;нуля сложно, но&nbsp;можно воспользоваться существующими разработками, несколько модифицировав их&nbsp;для своей фирмы. Если вы&nbsp;забудете о&nbsp;технологическом прогрессе, то&nbsp;рискуете не&nbsp;угнаться за&nbsp;конкурентами, потерять свою долю рынка и&nbsp;прибыль.
                p.
                  Специалисты выделяют три способа технологического развития&nbsp;&mdash; применение одного из&nbsp;них или всех вместе может принести вам успех.
    section.content-text.content-text--article
      .quote-block
        .container
          .quote-block__author
              .quote-block__author__logo.quote-block__author__logo--man
              h3 Илья Запорожец
          .quote-block__author--about
              p PМ&nbsp;&laquo;Единой кассы&raquo; компании Wallet One
          .quote-block__citate
              p На&nbsp;российском и&nbsp;зарубежном рынке предприниматели могут найти ранее недоступные и&nbsp;дорогостоящие решения по&nbsp;ведению бизнеса. Это автоматизация бизнес-процессов, проектное планирование, выстраивание взаимоотношений с&nbsp;клиентами, технологии по&nbsp;отслеживанию потребностей клиентов и&nbsp;их&nbsp;поиску, отправка счетов на&nbsp;оплату в&nbsp;sms или e-mail, интеграция адаптивных интуитивно понятных платёжных страниц, службы заказа обратного звонка и&nbsp;&bdquo;перехвата&ldquo; покупателей, персонализированная реклама и&nbsp;маркетинг, технологии распознавания и&nbsp;другие готовые решения.                    
    section.content-text.content-text--article
      .container
        .article-block
          h2 Технологии и&nbsp;традиции
          p.
            Нестандартный успешный бизнес можно создать, совместив традиционные технологии с&nbsp;новыми. Такой способ подойдет компаниям, занимающимся и&nbsp;производством, и&nbsp;предоставлением услуг.&nbsp;Яркий пример&nbsp;&mdash; так называемый &laquo;домашний завод&raquo;, который представляет собой набор оборудования для изготовления какой-либо продукции. Например, мини-типография, домашняя пивоварня, производство цемента или плитки, оборудования для выращивания грибов-вешенок, станок для создания мебели. Применение технологий в&nbsp;таких небольших масштабах можно усилить, снабдив оборудование соответствующим программным обеспечением или внедрив онлайн-сервис. Так, скажем, работает компания &laquo;Рубашка на&nbsp;заказ&raquo;&nbsp;&mdash; интернет-ателье по&nbsp;индивидуальному пошиву сорочек по&nbsp;меркам.
    section.image_artical.image_artical--nine
      img(src="../images/articles/Article_9_1.jpg")
    section.content-text.content-text--article
      .container
        .article-block
          p.
            Другой пример&nbsp;&mdash; так называемые самомойки. Первыми на&nbsp;российский рынок самомоек вышли иностранные игроки&nbsp;&mdash; немецкие Ehrle и&nbsp;CWTech, польская BKF. К&nbsp;2012 году появились и&nbsp;российские фирмы, например, Imoy, Iself, Wave-s, &laquo;Аллес&raquo;. Помыть машину самому стоит в&nbsp;2&ndash;3 дешевле, чем на&nbsp;обычной мойке, да&nbsp;еще и&nbsp;без очередей. Через такую мойку проходит 300&ndash;500&nbsp;машин, а&nbsp;выручка, по&nbsp;подсчетам предпринимателей, от&nbsp;500 тыс. до&nbsp;1&nbsp;млн&nbsp;рублей.
    section.content-text.content-text--article
      .quote-block
        .container
            .quote-block__author
                .quote-block__author__logo.quote-block__author__logo--man
                h3 Константин Бочарский
            .quote-block__author--about
                p основатель сервиса Pressfeed
            .quote-block__citate
                p Pressfeed оцифровал ряд ключевых процессов в&nbsp;моей работе и&nbsp;устранил огромное количество рутины. Вместо часов и&nbsp;дней на&nbsp;поиск подходящих героев для заметок, комментариев и&nbsp;фактуры я&nbsp;мог потратить на&nbsp;это всего несколько минут. И&nbsp;появление такого сервиса оказало нешуточное влияние на&nbsp;пиар-рынок. Особенно на&nbsp;возможности небольших компаний работать с&nbsp;медиа. Оказалось, что на&nbsp;рынке огромное количество фирм, которые хотели&nbsp;бы работать со&nbsp;СМИ, но&nbsp;это было практически невозможно: PR-агентства не&nbsp;имеют дело с&nbsp;маленькими бюджетами, а&nbsp;у&nbsp;небольших компаний нет знаний, навыков, ресурсов, чтобы делать это самостоятельно.
    section.content-text.content-text--article
      .container
        .article-block
          h2 Прибыльность новаторства
          p.
            Также можно эффективно построить бизнес на&nbsp;базе инноваций&nbsp;&mdash; предлагая новый для рынка продукт, сервис, технологию изготовления. Это более смелый и&nbsp;рискованный подход, но, если ваша идея &laquo;выстрелит&raquo;, успех не&nbsp;заставит себя ждать.
          .advice-content__block__step__inner
            h3 &laquo;Мобильное предприятие&raquo; от&nbsp;&laquo;Билайн&raquo;
            p &laquo;Мобильное предприятие&raquo;&nbsp;&mdash; все для вашей компании: виджеты звонков, мессенджер, анализ звонков и&nbsp;рекламы, облачное хранилище и&nbsp;многое другое.
            a(href="https://delo.beeline.ru/?utm_source=RBC&utm_medium=banner&utm_term=Mobilnoe_predpriyatie&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2018" target="_blank").arrow-block Подробнее
              span
          p.
            В&nbsp;ход идут интернет, новые технологии производства, инструменты бизнес-аналитики, облачные возможности. Эти технологии дают возможность хранить и&nbsp;анализировать огромные объемы информации, подбирать эффективные стратегии для развития бизнеса, улучшать взаимоотношения с&nbsp;клиентами и&nbsp;повышать продажи. Все это в&nbsp;режиме онлайн 24 часа в&nbsp;сутки. Новым может стать и&nbsp;предложение вашим клиентам какой-либо сервисной опции. Главное&nbsp;&mdash; чтобы она была выгодной и&nbsp;являлась приятным дополнением к&nbsp;вашему основному продукту. Вы&nbsp;можете, например, взять расходы на&nbsp;телефонные звонки в&nbsp;вашу компанию на&nbsp;себя.
          p.
            Даже задача получения финансирования вполне решаема с&nbsp;помощью современных решений, например, через платформы краудфандинга.
    section.image_artical.image_artical--nine-2
      img(src="../images/articles/Article_9_2.jpg")
    section.content-text.content-text--article
      .container
        .article-block
          p.
            Пользуясь современными технологиями, практически без бюджета и&nbsp;очень оперативно можно найти свою нишу, сформировать широкую клиентскую базу, развивать продажи и&nbsp;получать стабильный доход. Вот несколько удачных примеров бизнеса, новаторского для своего времени. Так, в&nbsp;2011 году в&nbsp;России заработала первая p2p-площадка (&laquo;Вдолг.ру&raquo;). Также, например, когда-то новым для рынка стал вендинг&nbsp;&mdash; бизнес по&nbsp;установке автоматов с&nbsp;продуктами питания, здоровой едой, напитками, снеками, бахилами, печатными изданиями и&nbsp;многим другим. Кроме того, можно отметить внедрение автопилотов (в&nbsp;России есть компания, которая внедряет автопилоты X-Motion для управления складами), системы распознавания лиц (в&nbsp;нашей стране разработаны распознавания лиц Vision Labs, которые распознают посетителей в&nbsp;момент входа в&nbsp;магазин и&nbsp;связывают полученное изображение с&nbsp;историей покупок клиента), солнечных электростанций для домов (&laquo;Эковольт&raquo; одной из&nbsp;первых начала производить такие электростанции по&nbsp;собственной конструкции) и&nbsp;многого другого.
    section.content-text.content-text--article
      .quote-block
        .container
            .quote-block__author
                .quote-block__author__logo.quote-block__author__logo--man
                h3 Илья Запорожец
            .quote-block__author--about
                p PМ&nbsp;&laquo;Единой кассы&raquo; компании Wallet One
            .quote-block__citate.quote-block__citate--together
                p Для ведения бизнеса нет границ: разработки в&nbsp;области облачного хранения позволяют иметь быстрый доступ к&nbsp;важным документам, технологии нейросетей дают возможность быстро проводить идентификацию клиентов. Совещания и&nbsp;встречи мы&nbsp;в&nbsp;Wallet One проводим с&nbsp;помощью видеоконференций, контролировать сроки выполнения задач нам помогают различные веб-приложения для управления проектами и&nbsp;to-do-листы и&nbsp;другие универсальные технологии, которые сегодня используют, наверное, все компании.
            .quote-block__author
                .quote-block__author__logo.quote-block__author__logo--man
                h3 Константин Бочарский
            .quote-block__author--about
                p основатель сервиса Pressfeed
            .quote-block__citate
                p.
                    Я&nbsp;как-то читал колонку Федора Овчинникова, основателя &bdquo;Додо-пиццы&ldquo;, где он&nbsp;писал, что сеть его пиццерий&nbsp;&mdash; это лишь продолжение IT-системы, которую он&nbsp;создал. Федор объяснял, что &bdquo;Додо&ldquo;&nbsp;&mdash; скорее IT-компания, &bdquo;последняя миля&ldquo; которой&nbsp;&mdash; залы пиццерий. Так и&nbsp;мы&nbsp;взяли немасштабируемый бизнес, традиционно выполняемый в&nbsp;ручном режиме, и&nbsp;сделали его &bdquo;последней милей&ldquo; IT-проекта. В&nbsp;результате с&nbsp;помощью Pressfeed огромное количество небольших компаний получили прямой доступ к&nbsp;медиа. Сегодня сервисом пользуются четверть всех российских редакций и&nbsp;более 20&nbsp;000 компаний. Все это сделала небольшая команда. Малый бизнес может решать грандиозные задачи, если он&nbsp;технологичен.
    section.content-text.content-text--article
      .container
        .article-block
    section.content-text.content-text--article-second
      .container.container-article-modile
        .article-block
          .speakers.speakers--alone-notop.speaker-article
            .speakers__item.speakers__item--alone
              .speakers__item__img
                a(href="/interview.html").button_popup
                  img(src="../images/interview-speakers/clients/9. Poryadneev.png", alt="").img-spicker
                a(href="/interview-9.html").mobile-visible
                  img(src="../images/interview-speakers/clients/9. Poryadneev.png", alt="").img-spicker
              .speakers__item__text
                a(href="/interview.html").button_popup
                  h3 Кирилл Поряднев
                a(href="/interview-9.html").mobile-visible
                  h3 Кирилл Поряднев
                p Генеральный директор &laquo;Результат Плюс&raquo;
                span.read-icon
                a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
                a(href="/interview-9.html").read-interview.mobile-visible.watch-interview  Смотреть
          h2 &laquo;Гаджетизация&raquo; бизнеса
          p.
              Отдельно стоит выделить бизнес, который связан с&nbsp;онлайн-активностью, например, разработку мобильных приложений, сервисов, создание гаджетов в&nbsp;дополнение к&nbsp;смартфонам.
          p.
              Хороший пример&nbsp;&mdash; портативные принтеры, с&nbsp;помощью которых можно распечатать документ прямо со&nbsp;смартфона. Нашумевшая история&nbsp;&mdash; приложение для смартфонов Prizma, сервис, позволяющий обрабатывать фотографии в&nbsp;стиле картин известных художников. Интересный технологичный b2b-пример&nbsp;&mdash; платформа для удаленной идентификации и&nbsp;проверки документов, удостоверяющих личность CheckU. Это решение, которое может встраиваться в&nbsp;терминалы самообслуживания, мобильные приложения, веб-сайты и&nbsp;с&nbsp;помощью которого можно идентифицировать контрагента перед проведением операции.
    section.image_artical.image_artical--nine-3
      img(src="../images/articles/Article_9_3.jpg")
    section.content-text.content-text--article
      .container
        .article-block
          p.
              Также удобное систематизированное b2b-решение &laquo;Мобильное предприятие&raquo; предлагает своим клиентам &laquo;Билайн&raquo; Бизнес. &laquo;Мобильное предприятие&raquo;&nbsp;&mdash; это платформа, содержащая набор полезных услуг и&nbsp;сервисов для бизнеса:
          ul
              li система управления продажами CRM;
              li облачная АТС;
              li анализ звонков и&nbsp;рекламы;
              li выгодные корпоративные мобильные тарифы;
              li корпоративный мессенджер, &laquo;заточенный&raquo; под групповую работу и&nbsp;ведение любого количества проектов;
              li звонок с&nbsp;сайта;
              li многоканальные номера;
              li таск-менеджер;
              li облачное хранилище;
              li мобильный интернет для сотрудников и&nbsp;клиентов.
          p.
              Узнать подробнее и&nbsp;рассчитать стоимость пользования можно <a href="https://delo.beeline.ru/">здесь</a>.
    section.content-text.content-text--article
      .quote-block
        .container
            .quote-block__author
                .quote-block__author__logo.quote-block__author__logo--man
                h3 Илья Запорожец
            .quote-block__author--about
                p PМ&nbsp;&laquo;Единой кассы&raquo; компании Wallet One
            .quote-block__citate.quote-block__citate
                p Общемировые тренды свидетельствуют о&nbsp;том, что все бизнес-процессы стремятся к&nbsp;интернетизации и&nbsp;глобализации: сокращается путь от&nbsp;товара и&nbsp;услуги к&nbsp;потребителю, стираются барьеры коммуникаций между пользователями, сложные процедуры заменяют простые высокотехнологичные решения. Только подумайте, ещё недавно, чтобы оплатить заказ в&nbsp;интернет-магазине, надо было искать терминал для оплаты наличными, а&nbsp;уже сегодня оплатить услуги можно, не&nbsp;только не&nbsp;выходя из&nbsp;дома, но&nbsp;и&nbsp;не&nbsp;выходя из&nbsp;мессенджера. В&nbsp;частности, мы&nbsp;вместе с&nbsp;одним из&nbsp;популярных мессенджеров Viber решили создать единое технологическое пространство для пользователей и&nbsp;представителей бизнеса. 
    section.sharing-block.sharing-hidden-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    a(href="/article-1.html").next-article__wrapper
        section.next-article-preview(style="background-image: url('../images/Article_1_podlojka.jpg');")
            .container
                span.next-article Следующая статья
                span
                    h1 Малые миллионы
    section.sharing-block.sharing-mobile
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    .article-block-slider.article-hidden
        a(href="/advice-1.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
            .article-block-slider__item__text
                span Как начать свое дело в России
        a(href="/advice-2.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
            .article-block-slider__item__text
                span Финансы на инновации: нетривиальный путь к деньгам
        a(href="/advice-3.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
            .article-block-slider__item__text
                span Как удвоить продажи
        a(href="/advice-4.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
          .article-block-slider__item__text
            span За рамками компании
        a(href="/advice-5.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
          .article-block-slider__item__text
            span Облачная АТС. Преимущества и&nbsp;возможности.
        a(href="/advice-6.html").article-block-slider__item
          img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
          .article-block-slider__item__text
            span Как проверить контрагента
        a(href="/advice-7.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
            .article-block-slider__item__text
                span Ваши кадры: дорого или дешево
        a(href="/advice-8.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
            .article-block-slider__item__text
                span Интернет для бизнеса
        a(href="/advice-9.html").article-block-slider__item
            img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
            .article-block-slider__item__text
                span Строим &laquo;умный офис&raquo;
    .line-grey.article-hidden.article-hidden
    section.video-slider.video-slider-footer.article-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-9
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-9" width="780" height="439" src="https://www.youtube.com/embed/C1utc77_2q4?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_9.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Кирилл Поряднев
                                p.regalia Генеральный директор &laquo;Результат Плюс&raquo;
                                p.hide-in-mobile Самое важное конкурентное преимущество современного бизнеса&nbsp;&mdash; технологичность, а&nbsp;самый ценный ресурс&nbsp;&mdash; время. Неумение&nbsp;же пользоваться современными решениями и&nbsp;экономить время рано или поздно приведет к&nbsp;проигрышу.
                                .interview-block__video__block__info__playbutton(id="start-client-video-9")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-8
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-8" width="780" height="439" src="https://www.youtube.com/embed/Wdxdzoskexc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_8.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Дмитрий Шкловер
                              p.regalia Основатель <nobr>интернет-магазина</nobr> 613bricks.ru
                              p.hide-in-mobile Современные решения сотовых операторов позволяют оптимизировать операционные затраты компании. О&nbsp;том, какие инструменты существуют для начинающих бизнесменов и&nbsp;как аутсорсинг связи повышает эффективность и&nbsp;прибыльность бизнеса.
                              .interview-block__video__block__info__playbutton(id="start-client-video-8")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-7
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Андрей Сильчев
                              p.regalia Директор по развитию IT Partner
                              p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                              .interview-block__video__block__info__playbutton(id="start-client-video-7")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-6
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Ольга Шеламова
                              p.regalia совладелец компании &laquo;Олимп&raquo;
                              p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                              .interview-block__video__block__info__playbutton(id="start-client-video-6")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании &laquo;Первая Интеллектуальная Реклама&raquo;
                                p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
    .modal-popup
        .modal-popup__bg
        .modal-popup__popup
            .interview-block__video
                .interview-block__video__block
                    .interview-block__video__block__muted.video_muted.block-control
                        .block-control__pause
                        .block-control__play
                    .full-block-control
                      .full-block-control__play
                      .full-block-control__time
                      .full-block-control__main-line
                        .full-block-control__main-line__progress
                      .full-block-control__sound  
                    .interview-block__video__block__interview
                        iframe(id="client-video" width="780" height="439" src="https://www.youtube.com/embed/C1utc77_2q4?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                    .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_9.jpg)")
                    .interview-block__video__block__info
                        h3 Кирилл Поряднев
                        p.regalia Генеральный директор &laquo;Результат Плюс&raquo;
                        p.hide-in-mobile Самое важное конкурентное преимущество современного бизнеса&nbsp;&mdash; технологичность, а&nbsp;самый ценный ресурс&nbsp;&mdash; время. Неумение&nbsp;же пользоваться современными решениями и&nbsp;экономить время рано или поздно приведет к&nbsp;проигрышу.
                        .interview-block__video__block__info__playbutton.button-popup(id="start-client-video")
            .modal-popup__close
