extends templates/layout
block vars
	- var title = '«БИЛАЙН» БИЗНЕС'
	- var og_title = 'Малые миллионы'
	- var og_description = 'Что лучше — упрощёнка или вренёнка? Чем выгодны особые экономические зоны? Ответы на эти и другие вопросы — в спецпроекте РБК и «Билайн».'
	- var og_image = '../images/million.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.lifehack-case-jumbotron--without(style="background-image: url('../images/Article_1_title.jpg');")
	section.content-text.content-text--article
		.container
			a(href="/index.html").comeback-main Вернуться на главную
			.article-block
				h1 Малые миллионы
				p.first.
					Видя огромные возможности развития предприятий малого и&nbsp;среднего бизнеса (МСБ) и, соответственно, ожидая роста уплачиваемых налогов, власти заинтересованы в&nbsp;том, чтобы сделать процесс их&nbsp;уплаты максимально простым. Главное, чтобы сами бизнесмены знали, как&nbsp;именно правильно и&nbsp;легко платить налоги.
				h2 Навигация для бизнеса
				p.
					В&nbsp;нашей стране достаточно прост процесс регистрации бизнеса, есть доступ предпринимателей к&nbsp;государственным субсидиям, налоговые льготы для предпринимателей. Для тех, кто хочет узнать, как развивать свое дело, в&nbsp;прошлом году Корпорацией МСП был создан бизнес-навигатор. Это бесплатный интернет-ресурс для представителей МСБ и&nbsp;будущих предпринимателей. На&nbsp;сайте <a href="https://smbn.ru/msp/main.htm" target="_blank" class="linked">www.smbn.ru</a>. можно ознакомиться с&nbsp;различными полезными инструментами, рассчитать бизнес-план, узнать о&nbsp;возможностях поддержки и&nbsp;так&nbsp;далее.
				p.
					В&nbsp;России, по&nbsp;данным Федеральной налоговой службы (ФНС), зарегистрированы 5,7 млн предприятий малого и&nbsp;среднего бизнеса. В&nbsp;столице, например, треть работающих горожан занята в&nbsp;этом секторе, а&nbsp;налоговые поступления в&nbsp;бюджет города уже превысили сборы от&nbsp;предприятий нефтегазовой отрасли. Законотворчество не&nbsp;отстает от&nbsp;развития самого сектора МСБ&nbsp;&mdash; новации появляются часто. Вводятся новые облегченные процедуры, появляются особые экономические зоны с&nbsp;довольно комфортным налоговым режимом, а&nbsp;также реальные способы снизить фискальную нагрузку&nbsp;&mdash; инструменты налогового планирования. Как показывают исследования консалтинговых компаний, нагрузка постепенно снижается, а&nbsp;простота администрирования в&nbsp;этой сфере в&nbsp;России лучше, чем в&nbsp;среднем по&nbsp;миру. Кроме того, российские предприниматели могут пользоваться массой налоговых льгот, предназначенных для всех субъектов МСБ и&nbsp;для отдельных региональных предприятий.
	section.image_artical.image_artical--one
		img(src="../images/Article_1_Image_1.jpg")
	section.content-text.content-text--article-second
		.container.container-article-modile
				h2 <nobr>Новации-2017</nobr>
				p.
					В&nbsp;2017 году МСБ ожидают сразу несколько усовершенствований, которые помогут легче платить налоги. В&nbsp;частности, <a href="https://www.nalog.ru/rn40/news/tax_doc_news/6094593/" target="_blank" class="linked">увеличены лимиты</a> по&nbsp;доходам для перехода на&nbsp;УСН, заморожен индекс-дефлятор для применения ЕНВД. Согласно уже действующим нормам, перейти на&nbsp;УСН смогут компании с&nbsp;текущей стоимостью активов до&nbsp;150 млн руб. Это существенное улучшение по&nbsp;сравнению с&nbsp;действовавшей ранее нормой в&nbsp;100 млн руб. Лимит доходов для фирм и&nbsp;предпринимателей, желающих перейти на&nbsp;УСН, увеличен до&nbsp;90&nbsp;млн руб.&nbsp;за&nbsp;9&nbsp;месяцев предыдущего года, а&nbsp;с&nbsp;60&nbsp;до&nbsp;120 млн руб. вырос лимит по&nbsp;доходу за&nbsp;отчетный или налоговый период, который позволяет применять УСН (оставаться на&nbsp;&laquo;упрощенке&raquo;). Три года&nbsp;&mdash; с&nbsp;2017 до&nbsp;2020 года&nbsp;&mdash; лимиты не&nbsp;индексируются на&nbsp;коэффициент-дефлятор.
				p.
					Налоговые поправки для &laquo;упрощенцев&raquo; и&nbsp;работающих на&nbsp;&laquo;вмененке&raquo; направлены на&nbsp;антикризисную поддержку малого бизнеса. Главным образом они, конечно, выгодны тем, кто&nbsp;выбирает &laquo;упрощенку&raquo;,&nbsp;&mdash; это самая популярная система среди индивидуальных предпринимателей (ИП). Так, по&nbsp;статистике ФНС, в&nbsp;Москве&nbsp;84% ИП&nbsp;работают на&nbsp;ней. На&nbsp;общем режиме лишь&nbsp;2% столичных&nbsp;ИП.
				p.
					Могут сэкономить на&nbsp;налогах и&nbsp;предприниматели на&nbsp;общем режиме налогообложения&nbsp;&mdash; в&nbsp;части уплаты страховых взносов. Конституционный суд <a href="http://www.rbc.ru/economics/22/12/2016/585a5dec9a79476df65c77dc" target="_blank" class="linked">разрешил</a> таким&nbsp;ИП платить страховые взносы исходя из&nbsp;прибыли, а&nbsp;не&nbsp;из&nbsp;выручки. Для предпринимателей на&nbsp;УСН сумма страховых взносов зависит от&nbsp;выручки, и&nbsp;так и&nbsp;осталось в&nbsp;2017&nbsp;году. А&nbsp;предприниматели на&nbsp;ОСН смогут платить взносы из&nbsp;прибыли. Кроме того, предприниматели на&nbsp;ОСН с&nbsp;доходом до&nbsp;2&nbsp;млн руб.&nbsp;за&nbsp;квартал освобождаются от&nbsp;уплаты НДС.
				p.
					Полный перечень налоговых изменений для бизнеса можно найти <a href="http://www.glavbukh.ru/art/82334-qqqm5y16-nalogovye-i-buhgalterskie-izmeneniya-s-2017-goda/?from=left" target="_blank" class="linked">здесь</a>.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Игорь Николаев
				.quote-block__author--about
					p директор Института стратегического анализа ФБК Grant Thornton
				.quote-block__citate
					p.
						Из&nbsp;позитивного я&nbsp;бы отметил тот факт, что депутаты приняли закон, освобождающий регистрирующихся самозанятых лиц* от&nbsp;всех налогов на&nbsp;2017&ndash;2018&nbsp;гг. Однако передовой зарубежный опыт говорит о&nbsp;том, что это должно быть постоянной мерой, а&nbsp;у&nbsp;нас пока временная.
		section.content-text.content-text--article-second
			.container
				.article-block
					h2 Местные блага
					p.
						Власти многих регионов предлагают предпринимателям особые, локальные, условия ведения бизнеса. Кстати, в&nbsp;этом году в&nbsp;моногороде Котовске Тамбовской области практика поддержки предпринимателей местными властями была признана самой лучшей.
					.speakers.speakers--alone.speaker-article
						.speakers__item.speakers__item--alone
							.speakers__item__img
								a(href="/interview.html").button_popup
									img(src="../images/interview-speakers/clients/1.-Chaplinski.jpg", alt="").img-spicker
								a(href="/interview-1.html").mobile-visible
									img(src="../images/interview-speakers/clients/1.-Chaplinski.jpg", alt="").img-spicker
							.speakers__item__text
								a(href="/interview.html").button_popup
									h3 Павел Чаплинский
								a(href="/interview-1.html").mobile-visible
									h3 Павел Чаплинский
								p Основатель BOX&ROSES
								span.read-icon
								a(href="/interview.html").read-interview.button_popup.hidden-popup Смотреть
								a(href="/interview-1.html").read-interview.mobile-visible.watch-interview  Смотреть
					p.
						Власти других областей тоже стараются не&nbsp;отставать. Например, в&nbsp;Липецкой области УСН по&nbsp;ставке&nbsp;0% облагаются индивидуальные предприниматели, занимающиеся производством пищевых продуктов, безалкогольных напитков, одежды, кожаных изделий, мебели, игрушек, спортивных товаров и&nbsp;многого другого. В&nbsp;Свердловской области платят нулевой упрощенный налог производители напитков и&nbsp;воды, текстиля, одежды, резиновых и&nbsp;пластмассовых издеи некоторые другие. Предусмотрены льготы для &laquo;упрощенцев&raquo; и&nbsp;в&nbsp;Москве. Для столичных предпринимателей и&nbsp;фирм, выбравших объект налогообложения &laquo;доходы минус расходы&raquo;, ставка налога&nbsp;&mdash; 10%. А&nbsp;нулевую ставку могу платить вновь зарегистрированные&nbsp;ИП, занимающиеся текстильным производством, пошивом одежды, производством мебели, игрушек, оборудования, медтехники и&nbsp;многого другого (полный перечень льготных видеятельности можно <a href="https://www.nalog.ru/rn77/taxation/taxes/usn/" target="_blank" class="linked">найти</a> в&nbsp;законе&nbsp;г. Москвы &#8470;&nbsp;10&nbsp;от&nbsp;18&nbsp;марта 2015&nbsp;года).
					p.
						Есть в&nbsp;регионах и&nbsp;льготы по&nbsp;конкретным налогам на&nbsp;ОСН, чаще всего&nbsp;&mdash; налогу на&nbsp;прибыль. Они также касаются некоторых приоритетных для конкретного региона видов бизнеса. Например, в&nbsp;Новосибирской области налог на&nbsp;прибыль снижен до&nbsp;13&ndash;13,5% для производителей пива. В&nbsp;Татарстане ставка по&nbsp;налогу на&nbsp;прибыль также составляет 13,5% для предпринимателей, инвестирующих в&nbsp;производство автомобии автокомпонентов, строительных материалов, приборостроение и&nbsp;др. Отметим, что в&nbsp;Татарстане располагается промышленная ОЭЗ &laquo;Алабуга&raquo;.

		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Чермен Дзотов
				.quote-block__author--about
					p основатель сервиса &laquo;Найдем адвоката&raquo;
				.quote-block__citate
					p.
						Открывать бизнес целесообразно там, где он&nbsp;будет развиваться и&nbsp;приносить доход. Думать нужно о&nbsp;том, как сделать его эффективным и&nbsp;востребованным, а&nbsp;налогообложение&nbsp;&mdash; это уже второстепенный вопрос. Но, разумеется, разница между регионами существует. К&nbsp;примеру, когда вводились налоговые каникулы, то&nbsp;федеральный центр предоставил возможность вводить или не&nbsp;вводить их&nbsp;региональным властям. В&nbsp;результате выиграли индивидуальные предприниматели в&nbsp;тех регионах, где были введены налоговые каникулы. Первым регионом, кстати, стала Челябинская область, затем последовали ХМАО, Пензенская и&nbsp;Владимирская области, а&nbsp;18&nbsp;марта 2015 года дошла очередь и&nbsp;до&nbsp;Москвы. Различается и&nbsp;ставка по&nbsp;&laquo;упрощенке&raquo;: в&nbsp;зависимости от&nbsp;региона устанавливается разный УСН, обычно&nbsp;&mdash; от&nbsp;7% до&nbsp;15%. Безусловно, все эти факторы следует учитывать при открытии бизнеса.
		section.content-text.content-text--article-second
			.container
				.article-block
					h2 Где вести бизнес
					p.
						Ставки налогов для регионов можно найти на&nbsp;<a href="https://www.nalog.ru/rn77/" target="_blank" class="linked">сайте ФНС</a>, выбрав соответствующий регион в&nbsp;рубрикаторе. Ведь необязательно успешным будет запуск бизнеса в&nbsp;крупных городах, особенно если речь идет о&nbsp;приобретении недвижимости в&nbsp;собственность, например, под&nbsp;офис и&nbsp;т.&nbsp;д. Дело в&nbsp;том, что в&nbsp;них кадастровая стоимость недвижимости выше, чем&nbsp;в&nbsp;меньших населенных пунктах, и&nbsp;это не&nbsp;только увеличивает расходы на&nbsp;обслуживание недвижимости, но&nbsp;и&nbsp;налоговую нагрузку предприятия. Кроме того, именно региональные рынки часто не&nbsp;насыщены теми или иными товарами и&nbsp;услугами, в&nbsp;то&nbsp;время как в&nbsp;Москве, Санкт-Петербурге и&nbsp;других крупных городах в&nbsp;большинстве сфер высокая конкуренция.
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Давид Капианидзе
				.quote-block__author--about
					p руководитель налоговой практики BMS Law Firm
				.quote-block__citate
					p.
						Наличие будущего у&nbsp;субъектов малого и&nbsp;среднего бизнеса в&nbsp;последние годы во&nbsp;многом определяют умения использовать оборотные средства в&nbsp;качестве источника инвестиций, навыки в&nbsp;области налаживания коммуникации с&nbsp;банками и&nbsp;способность выстраивать отношения с&nbsp;контрагентами таким образом, чтобы не&nbsp;спровоцировать излишнее внимание со&nbsp;стороны ФНС.<br />Выгоднее всего открывать бизнес в&nbsp;регионах, руководство которых уже длительное время реализует стратегические проекты по&nbsp;развитию местной экономики (Белгородская, Тюменская, Калужская области). При этом речь не&nbsp;идет непосредственно о&nbsp;региональных центрах или мегаполисах: в&nbsp;случае последних ощутимая разница в&nbsp;кадастровой стоимости недвижимости с&nbsp;сопредельными территориями может обернуться существенным ростом налоговой нагрузки&nbsp;и, как&nbsp;следствие, утратой конкурентных преимуществ.
		section.content-text.content-text--article-second
			.container
				.article-block.article-block-modile
					p.
						Однако обратите внимание: региональные льготы и&nbsp;режимы для ОЭЗ, конечно, заманчивы, но, если предприниматель решил ими воспользоваться, номинальным переездом не&nbsp;обойтись. Нужно реально вести бизнес в&nbsp;конкретном регионе. Если раньше можно было не&nbsp;менять фактическое местонахождение своего офиса и&nbsp;просто перерегистрировать бизнес в&nbsp;комфортном по&nbsp;налогам регионе, то&nbsp;теперь порядок жесткий. Еще в&nbsp;2015 году был принят специальный закон, призванный обеспечивать достоверность сведений в&nbsp;ЕГРЮЛ (Единый государственный реестр юридических лиц). Вы&nbsp;должны работать там, где фактически зарегистрированы.
		section.content-text.content-text--article-second
			.container
				.article-block
					h2 Налог для экономии
					p.
						Есть ряд инструментов и&nbsp;способов, позволяющих платить меньше налогов. Для этого нужно снижать налогооблагаемую базу по&nbsp;определенным налогам. Налоговая база&nbsp;&mdash; это тот показатель, та&nbsp;сумма, с&nbsp;которой вы&nbsp;платите налог на&nbsp;прибыль, налог на&nbsp;имущество, НДС и&nbsp;т.&nbsp;д. Как правило, бизнесмены оперируют с&nbsp;базой по&nbsp;налогу на&nbsp;прибыль.
					.advice-content__block__step__inner
						h3 Экономим налоги на&nbsp;связи
						p Расходы на&nbsp;связь можно учесть для снижения налоговой нагрузки, заключив договор с&nbsp; &laquo;Билайн&raquo; Бизнес на&nbsp;услуги мобильной связи.
						a(href="http://beeline.ru/b2b/products/mobile/tariffs/details/vsd-za-600-new?utm_source=RBC&utm_medium=banner&utm_term=Vsyo_dlya_Biznesa&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
							span
					p.
						Так, например, налоговое законодательство позволяет без ограничений списывать услуги корпоративной мобильной связи на&nbsp;расходы, уменьшающие налогооблагаемую базу по&nbsp;налогу на&nbsp;прибыль (ст.&nbsp;264 Налогового кодекса РФ). Главное, чтобы связь была оформлена как служебная. Так&nbsp;что, оплачивая&nbsp;телефонную связь персонала по&nbsp;корпоративному <a href="http://beeline.ru/b2b/products/mobile/tariffs/details/vsd-za-600-new?utm_source=RBC&utm_medium=banner&utm_term=Vsyo_dlya_Biznesa&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">мобильному контракту</a> &laquo;Билайн&raquo;, вы&nbsp;сможете существенно сэкономить на&nbsp;налоге на&nbsp;прибыль.
					p.
						То&nbsp;же самое касается обучения сотрудников. Фирма может списать расходы на&nbsp;подготовку и&nbsp;переподготовку кадров в&nbsp;составе прочих расходов, связанных с&nbsp;производством и&nbsp;продажей ваших товаров и&nbsp;услуг. Важно, чтобы с&nbsp;отправляемыми на&nbsp;учебу сотрудниками был заключен трудовой договор, а&nbsp;учебное заведение, куда они отправляются повышать квалификацию, имело соответствующую лицензию.
					p.
						Также уменьшить налогооблагаемую базу по&nbsp;налогу на&nbsp;прибыль можно, оплачивая услуги&nbsp;&mdash; консалтинговые, бухгалтерские, маркетинговые. Расходы на&nbsp;сторонних специалистов можно вычесть из&nbsp;налогооблагаемой базы. Только важно расходы обосновать. Скажем, если у&nbsp;вас целое подразделение маркетологов и&nbsp;PR-менеджеров, приобретение дорогостоящего плана рекламной кампании у&nbsp;креативного агентства может показаться странным.
					p.
						Даже начинающий предприниматель может успешно уменьшить размер уплачиваемых налогов и&nbsp;даже сэкономить на&nbsp;них&nbsp;&mdash; выбор способов есть. Эксперты едины в&nbsp;одном&nbsp;&mdash; главное знать, какие законы позволяют это делать.

	section.sharing-block.sharing-hidden-mobile
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	a(href="/article-2.html").next-article__wrapper
		section.next-article-preview(style="background-image: url('../images/Article_2_podlojka.jpg');")
			.container
				span.next-article Следующая статья
				span
					h1 Кредиты для МСБ: берите, но&nbsp;дорого
	section.sharing-block.sharing-mobile
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	.article-block-slider.article-hidden
		a(href="/advice-1.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_1.svg", alt="")
			.article-block-slider__item__text
				span Как начать свое дело в России
		a(href="/advice-2.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_2.svg", alt="")
			.article-block-slider__item__text
				span Финансы на инновации: нетривиальный путь к деньгам
		a(href="/advice-3.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_3.svg", alt="")
			.article-block-slider__item__text
				span Как удвоить продажи
		a(href="/advice-4.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_4.svg", alt="")
			.article-block-slider__item__text
				span За рамками компании
		a(href="/advice-5.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_5.svg", alt="")
			.article-block-slider__item__text
				span Облачная АТС. Преимущества и&nbsp;возможности.
		a(href="/advice-6.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_6.svg", alt="")
			.article-block-slider__item__text
				span Как проверить контрагента
		a(href="/advice-7.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_7.svg", alt="")
			.article-block-slider__item__text
				span Ваши кадры: дорого или дешево
		a(href="/advice-8.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_8.svg", alt="")
			.article-block-slider__item__text
				span Интернет для бизнеса
		a(href="/advice-9.html").article-block-slider__item
			img(src="../images/main-page/Sovety/Icon_9.svg", alt="")
			.article-block-slider__item__text
				span Строим &laquo;умный офис&raquo;
	.line-grey.article-hidden.article-hidden
	section.video-slider.video-slider-footer.article-hidden
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p.hide-in-mobile Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom
	.modal-popup
		.modal-popup__bg
		.modal-popup__popup
			.interview-block__video
					.interview-block__video__block
						.interview-block__video__block__muted.video_muted.block-control
							.block-control__pause
							.block-control__play
						.full-block-control
							.full-block-control__play
							.full-block-control__time
							.full-block-control__main-line
								.full-block-control__main-line__progress
							.full-block-control__sound
						.interview-block__video__block__interview
							iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/HLGZqCOwOws?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
						.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
						.interview-block__video__block__info
							h3 Павел Чаплинский
							p.regalia Основатель BOX&ROSES
							p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
							.interview-block__video__block__info__playbutton.button-popup(id="start-business-video")
			.modal-popup__close
