extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Алексей Авдей, директор по продуктам ЦИАН: каким должен быть современный офис и нужен ли он вообще. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_5.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content