extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Максим Фельдман, руководитель направления по работе с клиентами Московской школы управления «Сколково», рассказывает о собственной концепции эффективных продаж и управления ими. Смотрите в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_3.jpg'
    - var twitter_description = 'Спецпроект РБК и «Билайн»: sales-евангелист Максим Фельдман — о своей концепции эффективных продаж.'

block content