extends templates/layout
block vars

block content
    .interview-block
        .interview-block--wrapper
            .interview-block__back
                .interview-block__back--arrow
                a(href="index.html") Вернуться на главную
            .interview-block__main-tab(data-tab="1")
                .interview-block__video
                    .interview-block__video__block
                        .interview-block__video__block__muted.video_muted.block-control
                            .block-control__pause
                            .block-control__play
                        .full-block-control
                            .full-block-control__play
                            .full-block-control__time
                            .full-block-control__main-line
                                .full-block-control__main-line__progress
                            .full-block-control__sound
                        .interview-block__video__block__interview
                            iframe(id="business-video" width="780" height="439" src="https://www.youtube.com/embed/ed_7Xg4dVOw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                        .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Business_3.jpg)")
                        .interview-block__video__block__info
                            h3 Максим Фельдман
                            p.regalia Руководитель направления по работе с клиентами Московской школы управления СКОЛКОВО
                            p.hide-in-mobile О том, почему у слова «продажи» в России такая негативная коннотация, как правильно продвигать свои продукты и продавать их, как строить эффективную стратегию продаж.
                            .interview-block__video__block__info__playbutton(id="start-business-video")
                    .interview-block__video__sharing.clearfix
                        ul.js-share
                            li
                                a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb" data-interview="feldman").fbook.js-double-share
                            li
                                a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk" data-interview="feldman").vkt.js-double-share
                            li
                                a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw" data-interview="feldman").twt.js-double-share
                        .interview-block__video__decypher
                            span.interview-block__video__decypher--text(id="show-interview-client") Расшифровка интервью
                            span.interview-block__video__decypher--img(id="show-interview-client")
                .interview-block__interview
                    span.interview-block__interview--decypher Расшифровка интервью
                    .interview-block__interview--little
                        p Вас называют sales-евангелистом. Почему и&nbsp;как так произошло?
                    p Наверное, потому, что я&nbsp;искренне верю в&nbsp;то, что все, что мы&nbsp;делаем в&nbsp;нашей жизни,&nbsp;&mdash; в&nbsp;каком-то смысле это продажи. &laquo;Продажи&raquo;&nbsp;&mdash; слово интересное. Оно носит негативную коннотацию. Когда мы&nbsp;слышим что-то, связанное с&nbsp;этим словом, у&nbsp;нас бывают часто негативные ассоциации. Как будто нам пытаются что-то &laquo;впарить&raquo;, что-то продать, нас пытаются обмануть даже. А&nbsp;люди не&nbsp;любят, когда их&nbsp;обманывают. Последние 10-15 лет я&nbsp;пытаюсь донести всем, с&nbsp;кем общаюсь, мысль, что продажи&nbsp;&mdash; это хорошо, это не&nbsp;значит &laquo;впаривать&raquo;. Вот ко&nbsp;мне и&nbsp;прилипло такое название. Я&nbsp;продвигаю идею, что продажи&nbsp;&mdash; это честная, сильная, хорошая профессия, которая пронизывает всю нашу жизнь.</br></br>Продажа&nbsp;&mdash; это обмен одного на&nbsp;другое. В&nbsp;большинстве случаев это обмен товара на&nbsp;деньги, но&nbsp;бывает и&nbsp;не&nbsp;так. Мы&nbsp;&mdash; менялы. Помните ролик &laquo;Фитиль&raquo;, когда первоклассники в&nbsp;школе отрывали пуговицы от&nbsp;своей синей формы и&nbsp;говорили: &laquo;Давай меняться&raquo;. И&nbsp;это тоже кейс обмена. Мы&nbsp;меняемся друг с&nbsp;другом всю жизнь. Если с&nbsp;этой стороны посмотреть на&nbsp;продажи, вся наша жизнь&nbsp;&mdash; это постоянный процесс обмена друг с&nbsp;другом вещами, багами, эмоциями и&nbsp;так далее.
                    .interview-block__interview--little.hidden-block
                        p А&nbsp;как вы&nbsp;думаете, почему слово &laquo;продажи&raquo; имеет негативные коннотации в&nbsp;нашей стране? Или к&nbsp;нему так относятся вообще везде?
                    p.hidden-block Именно в&nbsp;России да. Как-то я&nbsp;разговаривал со&nbsp;своим американским коллегой, и&nbsp;он&nbsp;сказал, что его дед был &laquo;сейлзом&raquo;. И&nbsp;мне показалось, что что-то тут не&nbsp;так. Я&nbsp;как советский человек, не&nbsp;могу представить, чтобы дед был продавцом. Да, он&nbsp;мог работать в&nbsp;торговле, сбыте, но&nbsp;само слово &laquo;продажи&raquo; появилось у&nbsp;нас во&nbsp;время перестройки. Рынок был тяжелым и&nbsp;нерегулируемым, в&nbsp;этом и&nbsp;есть одна из&nbsp;причин негативного отношения к&nbsp;продажам. Россия&nbsp;&mdash; очень молодая экономика, в&nbsp;которой торговые отношения и&nbsp;продажи стали развиваться не&nbsp;так давно. А&nbsp;ведь истории &laquo;сейлзов&raquo; очень яркие! Достаточно вспомнить фильм &laquo;Волк с&nbsp;Уолл Стрит&raquo;!
                    .interview_image.hidden-block
                        img(src="../images/interview-speakers/Feldman_1_inter.jpg")
                    .interview-block__interview--little.hidden-block
                        p У&nbsp;вас получается этот стереотип разрушить?
                    p.hidden-block Думаю, получается, потому что большое количество людей в&nbsp;профессиональном сообществе в&nbsp;этой профессии чувствуют себя абсолютно так&nbsp;же, как&nbsp;я, понимают, о&nbsp;чем я&nbsp;говорю. И&nbsp;сегодня наша экономика проходит через сложные времена, и&nbsp;бизнесмены понимают, что продажи&nbsp;&mdash; одно из&nbsp;самых главных направлений, которые нужно развивать. Если мы&nbsp;посмотрим на&nbsp;российские компании, в&nbsp;том числе средние и&nbsp;крупные,&nbsp;&mdash; те, что занимаются продажами, то&nbsp;увидим, что самые необученные люди достигли своей позиции, может быть, даже очень высокой, благодаря личному опыту, успехам, благодаря харизме и&nbsp;личному продвижению. Необученные&nbsp;&mdash; имею в&nbsp;виду с&nbsp;невысоким уровнем образования. И&nbsp;даже если взять топовый уровень менеджмента со&nbsp;стороны продаж, там реже всего увидишь какие-то респектабельные дипломы известных бизнес-школ. Если&nbsp;же говорить о&nbsp;финансистах, юристах, экономистах, там чаще встречаются сильные дипломы. Профессия &laquo;сейлза&raquo; всегда считалась какой-то обособленной и&nbsp;независимой. И&nbsp;нам не&nbsp;нравится, когда на&nbsp;нас, на&nbsp;продавцов, смотрят как на&nbsp;тех, кто стал продавцом, потому что ничего другого делать не&nbsp;умеет. Это не&nbsp;так. И&nbsp;мне кажется, постепенно мне удается свою точку зрения &laquo;протолкнуть&raquo; в&nbsp;сознание общества.
                    .interview-block__interview--little.hidden-block
                        p Расскажите подробнее о&nbsp;своей точке зрения.
                    p.hidden-block Я&nbsp;разработал свою собственную модель по&nbsp;управлению продажами, которая суммирует весь тот опыт, который я&nbsp;за&nbsp;25&nbsp;лет руководства продажами достиг. На&nbsp;самом деле я&nbsp;не&nbsp;считаю себя гениальным продавцом. Скажем так: я&nbsp;неплохой продавец. Даже, может быть, очень неплохой продавец. Но&nbsp;основное, чем я&nbsp;занимался все эти годы,&nbsp;&mdash; это управление отделами продаж, департаментами продаж, компаниями, ориентированными на&nbsp;продажи. Я&nbsp;взял весь свой опыт и&nbsp;разработал собственную модель, по&nbsp;которой теперь работаю и&nbsp;управляю продажами, по&nbsp;которой я&nbsp;строю свои лекции и&nbsp;семинары и&nbsp;даже пишу книжку.</br></br>Модель построена на&nbsp;принципе пяти квадратиков, пяти кружочков, как угодно, пяти составляющих элементов, через которые проходят разные ключевые вопросы, на&nbsp;которые надо себе отвечать, когда строишь в&nbsp;своей компании модель продаж: что я&nbsp;продаю, как продаю, с&nbsp;кем продаю, с&nbsp;чем продаю, а&nbsp;также кто мне помогает или мешает...</br></br>Эти пять звеньев цикла являются таким хребтом моей модели. Все, что мы&nbsp;делаем в&nbsp;бизнесе, когда управляем маркетингом и&nbsp;продажами, на&nbsp;мой взгляд, ложится в&nbsp;одно из&nbsp;этих звеньев. И&nbsp;когда мы&nbsp;это понимаем, описываем и&nbsp;систематизируем, нам становится гораздо легче работать. Продажи перестают быть бардаком, непонятной субстанцией, и&nbsp;мы&nbsp;начинаем двигаться по&nbsp;технологии, четко, и&nbsp;она работает и&nbsp;на&nbsp;b2b-, и&nbsp;на&nbsp;b2c-рынке, и&nbsp;в&nbsp;рознице, и&nbsp;в&nbsp;опте. Такая модель мне помогает самому работать и&nbsp;учить других.
                    .interview-block__interview--big.hidden-block
                        p &laquo;У&nbsp;российских предпринимателей большая проблема в&nbsp;том, что они сначала изобретают, а&nbsp;потом начинаем думать, как это продать. Мы&nbsp;не&nbsp;от&nbsp;потребителя идем, не&nbsp;от&nbsp;нужды, идем от&nbsp;идеи что-то изобрести, сделать какой-то продукт, это в&nbsp;корне неверно.&raquo;
                    .interview-block__interview--little.hidden-block
                        p Вы&nbsp;обучаете ей&nbsp;именно &laquo;сейлзов&raquo; или руководителей бизнеса, которые будут строить у&nbsp;себя большой отдел продаж?
                    p.hidden-block Я&nbsp;специализируюсь в&nbsp;основном на&nbsp;тех, кто руководит продажами (директор отдела продаж, коммерческий директор, собственник бизнеса), потому что сегодня собственник любого бизнеса прежде всего должен сам уметь продавать свой собственный продукт. Есть такая хорошая поговорка у&nbsp;американцев&nbsp;&mdash; &laquo;плоха та&nbsp;компания, где первое лицо&nbsp;&mdash; не&nbsp;продавец&raquo;. Поэтому я&nbsp;специализируюсь больше на&nbsp;том, как управлять процессом, чем просто над тренингами по&nbsp;мотивации самих продавцов.
                    .interview-block__interview--little.hidden-block
                        p Нынешние бизнесмены понимают эту пословицу? Они понимают, что собственник должен продавать?
                    p.hidden-block Американцы понимают это, а&nbsp;наши сначала удивляются, потом говорят: да, в&nbsp;этом что-то есть. Когда-то давно было достаточно просто продавать какой-то продукт, когда рынок растет и&nbsp;все покупают очень быстро, например, раскупают пирожки, которых мало, и&nbsp;все голодные. Но&nbsp;когда вокруг пирожков очень много, то&nbsp;тот, кто эти пирожки печет, должен понимать, как их&nbsp;продавать. У&nbsp;российских предпринимателей большая проблема в&nbsp;том, что они сначала изобретают, а&nbsp;потом начинаем думать, как это продать. Мы&nbsp;не&nbsp;от&nbsp;потребителя идем, не&nbsp;от&nbsp;нужды, идем от&nbsp;идеи что-то изобрести, сделать какой-то продукт, это в&nbsp;корне неверно.
                    .interview-block__interview--little.hidden-block
                        p Как правильно найти свой рынок сбыта? Сначала надо найти своего потребителя?
                    p.hidden-block Как найти рынок сбыта&nbsp;&mdash; неправильный вопрос. Нужно выйти из&nbsp;этого рынка сбыта. Нужно из&nbsp;него начать. Если, конечно, ты&nbsp;Менделеев, и&nbsp;тебе приснилась какая-то таблица ночью, тогда&nbsp;да, ты&nbsp;гений. У&nbsp;тебя есть нечто гениальное, нужное человечеству, тогда продукт первичен, и&nbsp;ты&nbsp;будешь думать, как его применить. Но&nbsp;это скорее редкость. Если ты&nbsp;обычный предприниматель и&nbsp;идешь от&nbsp;рынка, ты&nbsp;должен в&nbsp;рынке находиться, в&nbsp;этой среде, оттуда разработать свой продукт, который будет востребован. Тогда получается идеальный путь.</br></br>Всем наверняка известна технология продвижения продукта&nbsp;&mdash; старт, шаг за&nbsp;шагом ты&nbsp;начинаешь рынок тестировать, предлагать базовый продукт, прототип, потом более уточненную модель своего продукта. И&nbsp;ты&nbsp;начинаешь чувствовать, как твой продукт продвигается на&nbsp;рынке.
                    p.hidden-block </br>Часто бывает другая история. Человек приходит и&nbsp;говорит: я&nbsp;придумал классную штуку, вот она. Кому она нужна, чем она лучше других штук, как ему найти рынок сбыта&nbsp;&mdash; он&nbsp;не&nbsp;знает ответов на&nbsp;эти вопросы. Но&nbsp;они неправильные, повторяю. Нужно сделать шаг назад и&nbsp;задать себе другие вопросы: почему я&nbsp;это придумал, какую потребность я&nbsp;хотел закрыть, какую пользу продукт может принести. И&nbsp;тогда процесс поиска рынков сбыта будет более естественным. Дальше это технологии, каналы, масштабирование...
                    .interview_image.hidden-block
                        img(src="../images/interview-speakers/Feldman_2_inter.jpg")
                    .interview-block__interview--little.hidden-block
                        p Вы&nbsp;жили и&nbsp;руководили бизнесом в&nbsp;Израиле и&nbsp;США?
                    p.hidden-block  Да, а&nbsp;теперь в&nbsp;России.
                    .interview-block__interview--little.hidden-block
                        p Чем отличается модель продаж, технологии там и&nbsp;у&nbsp;нас? Какие ключевые моменты вы&nbsp;бы выделили исходя из&nbsp;ментальности населения и&nbsp;предпринимательского сообщества?
                    p.hidden-block  Опыт работы в&nbsp;США, Израиле и&nbsp;Европе показывает, что продажи и&nbsp;маркетинг в&nbsp;западных, развитых экономических странах&nbsp;&mdash; огромная часть экономики страны, и&nbsp;существенная часть трудоспособного населения занимается этой профессией. Для примера: в&nbsp;США около&nbsp;5% населения работает в&nbsp;сфере продаж. Поэтому основное отличие связано с&nbsp;тем, что слово &laquo;сейлз&raquo; не&nbsp;вызывает ни&nbsp;у&nbsp;кого никакой аллергии и&nbsp;вопросов.</br></br>Второй момент&nbsp;&mdash; история этой профессии в&nbsp;США достаточно длинная. Поэтому в&nbsp;корпоративном мире имиджево она воспринимается лучше. А&nbsp;вот если говорить о&nbsp;талантах, так&nbsp;мы, россияне, более талантливые продавцы. Россия&nbsp;&mdash; более многокультурная среда, многоэтническая, у&nbsp;нас сложнее экономика, у&nbsp;нас турбулентная политическая, экономическая и&nbsp;социальная жизнь. Поэтому здесь я&nbsp;наблюдаю более сильных, но&nbsp;менее обученных продавцов.</br></br>В&nbsp;мировом маркетинге сейчас происходят потрясающие изменения с&nbsp;профессией. Я&nbsp;называю это так&nbsp;&mdash; маркетинг улетает в&nbsp;космос. Маркетинг сегодня говорит о&nbsp;цифровой трансформации, о&nbsp;нейронных сетях, о&nbsp;Big Data. О&nbsp;каких-то совершенно непонятных для большинства людей вещах. Для примера&nbsp;&mdash; самое большое количество степеней PHD в&nbsp;бизнесе сегодня в&nbsp;мире защищается именно в&nbsp;маркетинге. Этот отрыв маркетинга в&nbsp;новые научные области сильно способствует тому, что продажа как дисциплина вышла из-под этого зонтика. Маркетинг перестал быть каким-то подразделом основной науки, это теперь отдельная сильная профессия. Конечно, для большинства представителей малого бизнеса нейромаркетинг и&nbsp;Big Data&nbsp;&mdash; вещи пока нерелевантные. Но&nbsp;когда начинаешь понимать свои продукты, реализовывать и&nbsp;продавать, все это помогает приблизиться к&nbsp;технологиям и&nbsp;новым практикам маркетинга и&nbsp;продаж.
                    .interview-block__interview--little.hidden-block
                        p И&nbsp;все&nbsp;же хотелось&nbsp;бы услышать какие-то прикладные вещи. Что работает у&nbsp;них и&nbsp;что не&nbsp;работает у&nbsp;нас в&nbsp;продажах? Или наоборот...
                    p.hidden-block Есть всякие фишки в&nbsp;менталитете. Например, когда я&nbsp;торгуюсь с&nbsp;представителем азиатской страны, я&nbsp;вижу, что меня слегка пытаются обмануть, это вызывает у&nbsp;меня улыбку и&nbsp;даже уважение. Я&nbsp;воспринимаю это как спарринг, что не&nbsp;вызывает у&nbsp;меня в&nbsp;процессе торговли возражений. А&nbsp;у&nbsp;американца это вызовет обиду, понизит его уровень доверия к&nbsp;партнеру. Такое вот отличие культур. В&nbsp;США очень ценится доверие, оно декларируется, хотя на&nbsp;самом деле все может быть совсем иначе. У&nbsp;нас&nbsp;же другой угол общения.
                    .interview-block__interview--big.hidden-block
                        p &laquo;Работая на&nbsp;международном рынке и&nbsp;не&nbsp;понимая, как устроены культурные отличия и&nbsp;менталитет других религий, народов, стран, успешным быть невозможно.&raquo;
                    .interview-block__interview--little.hidden-block
                        p Какой угол? Торг?
                    p.hidden-block У&nbsp;нас силен стереотип, что продажи&nbsp;&mdash; это надувательство. И&nbsp;даже если это не&nbsp;так, ты&nbsp;не&nbsp;можешь от&nbsp;этого абстрагироваться. Ты&nbsp;должен играть по&nbsp;тем правилам игры, которые есть. Вот чтобы клиент, партнер, дистрибьютор, не&nbsp;важно кто меня зауважал, я&nbsp;должен говорить с&nbsp;ним на&nbsp;одном языке, чтобы он&nbsp;понял, что перед ним профессионал. Что если я&nbsp;захочу обмануть, придумать, &laquo;впарить&raquo;, то&nbsp;смогу это сделать. И&nbsp;это странная дилемма. С&nbsp;одной стороны, я&nbsp;с&nbsp;этим внутри не&nbsp;согласен, но&nbsp;это часть российского менталитета, и&nbsp;это нужно делать, чтобы меня восприняли как профи. У&nbsp;нас этот стереотип сильнее, и&nbsp;в&nbsp;эту игру надо играть чаще. В&nbsp;США в&nbsp;эту игру надо играть реже. В&nbsp;Азии в&nbsp;эту игру надо играть даже чаще, чем в&nbsp;России.
                    .interview-block__interview--little.hidden-block
                        p И&nbsp;это никуда не&nbsp;уйдет из&nbsp;нашего менталитета?
                    p.hidden-block Убежден, что культурные особенности играют колоссальную роль в&nbsp;подходах к&nbsp;маркетингу и&nbsp;продажам во&nbsp;всем мире, и, наверное, это не&nbsp;изменится никогда, пока не&nbsp;поменяется национальный характер какого-то народа. Работая на&nbsp;международном рынке и&nbsp;не&nbsp;понимая, как устроены культурные отличия и&nbsp;менталитет других религий, народов, стран, успешным быть невозможно.
                    p.hidden-block </br>Только сейчас я&nbsp;активно начал работать с&nbsp;Гонконгом, бизнес-школа &laquo;Сколково&raquo; начинает серьезное партнерство с&nbsp;Гонконгским университетом науки и&nbsp;технологий. Так вот для меня интересным открытием было, что я&nbsp;не&nbsp;знаю, как работать с&nbsp;китайцами. А&nbsp;Гонконг&nbsp;&mdash; это еще и&nbsp;отдельная страна в&nbsp;Китае. Сейчас я&nbsp;читаю книги, консультируюсь с&nbsp;теми, кто хорошо знает этот регион, потому что наше сотрудничество очень важно, и&nbsp;я&nbsp;понимаю, что могу допустить какие-то досадные ошибки, которые замедлят прогресс.
                    .interview_image.hidden-block
                        img(src="../images/interview-speakers/Feldman_3_inter.jpg")
                    .interview-block__interview--little.hidden-block
                        p Как получилось, что вашей сферой стало бизнес-образование? Почему такой выбор?
                    p.hidden-block  В&nbsp;бизнес-образование я&nbsp;попал совершенно случайно, как это часто бывает... В&nbsp;2012 году я&nbsp;переезжал из&nbsp;Израиля в&nbsp;Россию, был предпринимателем, у&nbsp;меня была компания, которая работала в&nbsp;Израиле и&nbsp;России, и&nbsp;я&nbsp;подумывал о&nbsp;том, что надо поучиться. И&nbsp;в&nbsp;40&nbsp;лет сесть, наконец, за&nbsp;парту. Искал себе программу executive МБА в&nbsp;хорошей международной бизнес-школе. Смотрел американские и&nbsp;европейские бизнес-школы. Но, поскольку жил я&nbsp;в&nbsp;России, летать еще куда-то мне не&nbsp;очень хотелось, и&nbsp;я&nbsp;решил изучить программы в&nbsp;России. К&nbsp;своему удивлению я&nbsp;обнаружил бизнес-школу &laquo;Сколково&raquo;. Отнесся к&nbsp;ней сначала с&nbsp;большим скепсисом. Это был 2012&nbsp;год. У&nbsp;школы было 100&nbsp;выпускников, может быть, 150. Узнать что-то про школу было сложно. Я&nbsp;много копал, узнавал, думал, сравнивал, принял решение поступать. Отучился&nbsp;1,5&nbsp;года, был очень доволен, это был классный опыт.
                    p.hidden-block  </br>После окончания бизнес-школы в&nbsp;моей жизни произошли глобальные изменения. Я&nbsp;продал свой бизнес, управлял другим бизнесом, куда меня пригласили поработать. В&nbsp;какой-то момент я&nbsp;понял, что хотел&nbsp;бы новых индустрий, занятий. И&nbsp;я&nbsp;хотел заняться тем, что мне реально нравится. Не&nbsp;из-за денег или позиции, а&nbsp;именно тем, что нравится. В&nbsp;тот момент ректором школы был Андрей Шаронов, одним из&nbsp;учредителей Андрей Рапопорт, и&nbsp;они пригласили меня в&nbsp;команду школы. Это было непростое время для всей страны, и&nbsp;для школы тоже. Конец 2014 года&nbsp;&mdash; начало 2015-го. Я&nbsp;с&nbsp;радостью принял это предложение, и&nbsp;вот уже третий год я&nbsp;отвечаю в&nbsp;&laquo;Сколково&raquo; за&nbsp;маркетинг и&nbsp;продажи. А&nbsp;также за&nbsp;программы MBA.
                    .interview-block__interview--little.hidden-block
                        p Я&nbsp;правильно понимаю, что для вас важна миссия бизнеса?
                    p.hidden-block  Мы&nbsp;по-настоящему счастливы на&nbsp;работе, когда знаем, зачем мы&nbsp;это делаем. Это нас мотивирует.&nbsp;99% людей не&nbsp;любят свою работу, то&nbsp;есть их&nbsp;работа не&nbsp;связана с&nbsp;тем, что они любят на&nbsp;самом деле. То, что я&nbsp;делаю, мне очень нравится. Когда имеешь такое отношение к&nbsp;своей работе, работаешь очень круто, не&nbsp;важно, какой это продукт, услуга, свой бизнес или работа по&nbsp;найму. Важно, чем ты&nbsp;занимаешься и&nbsp;какой смысл несешь. Поэтому, мне кажется, человек может постараться, особенно если человек&nbsp;&mdash; смелый предприниматель, выбрать такое дело, в&nbsp;котором понятно, зачем оно...
                    .interview-block__interview--little.hidden-block
                        p Насколько для вас важна социальная ответственность бизнеса?
                    p.hidden-block Честно говоря, на&nbsp;вопрос, что такое социальная ответственность, я&nbsp;не&nbsp;ответил для себя. Но&nbsp;я&nbsp;не&nbsp;про нее сейчас. Иногда ты&nbsp;делаешь что-то для общества, а&nbsp;иногда&nbsp;&mdash; нет. Виктор Франкл в&nbsp;своей книге &laquo;Человек в&nbsp;поисках смысла&raquo; говорит о&nbsp;том, что смысл может родиться только внутри человека. Только внутри нас самих может появиться ответ на&nbsp;вопрос, зачем мы&nbsp;что-то делаем, зачем мы&nbsp;живем, зачем мы&nbsp;предпринимаем какие-то действия, открываем какой-то бизнес, строим какой-то продукт. Если мы&nbsp;как предприниматели, как управленцы ответим себе на&nbsp;этот вопрос, нас ничто не&nbsp;остановит. А&nbsp;если мы&nbsp;сомневаемся, то&nbsp;покорять этот мир гораздо сложнее.

                    .interview-block__interview--little.hidden-block
                        p Как начинающему бизнесмену понять, правильную&nbsp;ли стратегию в&nbsp;продажах он&nbsp;выбрал? Топ-3&nbsp;фактора, которые он&nbsp;должен ставить как некие приоритеты?

                    p.hidden-block
                        | Много лет я&nbsp;задавал себе вопрос, что такое стратегия? А&nbsp;применительно к&nbsp;моей профессии&nbsp;&mdash; что такое стратегия продаж? Сегодня я&nbsp;точно знаю лишь следующее&nbsp;&mdash; когда ты&nbsp;строишь себе стратегию продаж, ты&nbsp;должен ответить себе на&nbsp;два важных вопроса: что ты&nbsp;продаешь на&nbsp;самом деле и&nbsp;кому ты&nbsp;это продаешь? Если ты&nbsp;ответишь себе на&nbsp;эти вопросы, ты&nbsp;сможешь построить свою эффективную стратегию продаж.
                        | <br/> Расскажу пример. Недавно мне позвонил мой одногруппник, у&nbsp;которого медицинский туристический бизнес. Он&nbsp;отправляет людей лечиться за&nbsp;границу. И&nbsp;он&nbsp;позвонил мне с&nbsp;проблемой, он&nbsp;постоянно нанимает и&nbsp;увольняет своих продавцов и&nbsp;никак не&nbsp;может себе подобрать тех, кто остался&nbsp;бы с&nbsp;его компанией надолго. А&nbsp;инвестиции в&nbsp;продавцов большая, увольнение продавцов приносит снижение темпа развития, и&nbsp;он&nbsp;советовался со&nbsp;мной, как ему подобрать правильный коллектив.
                    .interview-block__interview--big.hidden-block
                        p &laquo;Есть много разных сценариев развития событий, но&nbsp;чаще всего начинающие предприниматели не&nbsp;могут ответить на&nbsp;вопросы, что они продают на&nbsp;самом деле и&nbsp;кто их&nbsp;клиент.&raquo;
                    .interview-block__interview--little.hidden-block
                    p.hidden-block Я&nbsp;задал ему вопрос: &laquo;Какая твоя стратегия продаж? Что ты&nbsp;продаешь людям?&raquo; &laquo;Ты&nbsp;же знаешь, я&nbsp;продаю медицинские услуги&raquo;,&nbsp;&mdash; ответил&nbsp;он. &laquo;Нет, что ты&nbsp;продаешь на&nbsp;самом деле?&raquo; И&nbsp;если мы&nbsp;найдем ответ на&nbsp;этот вопрос, мы&nbsp;сможем построить стратегию продаж очень легко. Основатель компании &laquo;Ревлон&raquo;, которого звали Чарльз Ревзон, однажды сказал очень интересную фразу: &laquo;На&nbsp;фабриках мы&nbsp;производим духи, но&nbsp;в&nbsp;магазинах мы&nbsp;продаем надежду&raquo;. Очень важно понять, что ты&nbsp;делаешь на&nbsp;самом деле, второе&nbsp;&mdash; кто твой клиент. Все остальное ты&nbsp;сможешь себе построить. Где я&nbsp;могу найти клиентов, как я&nbsp;должен им&nbsp;предложить свой продукт, какие опасения я&nbsp;должен снять, какими методами я&nbsp;должен до&nbsp;них достучаться, какими методами я&nbsp;должен их&nbsp;обслужить, как завершить этот процесс продажи. Дальше есть много разных сценариев развития событий, но&nbsp;чаще всего начинающие предприниматели не&nbsp;могут ответить на&nbsp;вопросы, что они продают на&nbsp;самом деле и&nbsp;кто их&nbsp;клиент.
                    p.hidden-block </br>Еще один интересный пример: Old Spice&nbsp;&mdash; шумный маркетинговый кейс последнего десятилетия. Когда бренд умирал, он&nbsp;вдруг взлетел к&nbsp;небесам, потому что гениальные маркетологи поняли, что мужские духи надо продавать женщинам. Так что мы&nbsp;в&nbsp;этом случае продаем на&nbsp;самом деле? Духи? Нет. Мы&nbsp;продаем что-то другое. Кто наш клиент? Не&nbsp;мужчины хотят мужские духи, а&nbsp;женщины хотят мужчин с&nbsp;таким ароматом. Вы&nbsp;наверняка видели эту рекламу со&nbsp;страшным &laquo;качком&raquo; в&nbsp;красных трусах, но&nbsp;благодаря ей&nbsp;бренд вернул свое былое могущество.
                    .interview_image.hidden-block
                        img(src="../images/interview-speakers/Feldman_4_inter.jpg")
                    .interview-block__interview--little.hidden-block
                        p Кризис губит бизнес или это просто этап его развития?
                    p.hidden-block Конечно, лучше жить без кризиса, чем с&nbsp;ним. Но&nbsp;раз он&nbsp;наступает, надо использовать его, чтобы продвигаться вперед.
                    p.hidden-block  </br>Известный факт&nbsp;&mdash; в&nbsp;китайском языке иероглиф, который означает кризис, также означает возможность. Фактически у&nbsp;китайцев это одно и&nbsp;то&nbsp;же слово. У&nbsp;нас слово &laquo;кризис&raquo;&nbsp;&mdash; это что-то негативное, тяжелое, темное, ужасное. А&nbsp;слово &laquo;возможность&raquo;&nbsp;&mdash; это что-то радостное, потрясающее и&nbsp;хорошее. Кризис может бизнес загубить или развить. В&nbsp;школе &laquo;Сколково&raquo; я&nbsp;вижу большое число предпринимателей, стартаперов, крупных и&nbsp;средних бизнесменов. И&nbsp;я&nbsp;вижу тех, кого кризис сгубил, и&nbsp;вижу тех, кого кризис поднял и&nbsp;вывел на&nbsp;волну успеха. Все зависит от&nbsp;вашего настроя&nbsp;и, конечно, того продукта, который у&nbsp;вас есть. Существуют продукты, которые в&nbsp;кризис упадут, пропадут и&nbsp;исчезнут, и&nbsp;нужно иметь смелость это признать и&nbsp;двигаться дальше. Есть продукты и&nbsp;услуги, которые в&nbsp;кризис, наоборот, взлетают. Кризис&nbsp;&mdash; время турбулентности, неопределенности. В&nbsp;ходе такого периода очень важно постоянно задавать себе вопросы. Когда кризиса нет, ты&nbsp;можешь расслабиться, можешь продолжать делать что привык. Когда ты&nbsp;живешь в&nbsp;кризис, ты&nbsp;всегда должен делать себе, так сказать, проверку реальности, ты&nbsp;должен оглядываться все время по&nbsp;сторонам, брать свой бизнес и&nbsp;продукт и&nbsp;с&nbsp;разных сторон его крутить. Книжка Энди Гроув &laquo;Выживают только параноики&raquo; полезная в&nbsp;этом смысле. В&nbsp;кризисе выживают только параноики. Если ты&nbsp;не&nbsp;параноик, твой бизнес не&nbsp;выживет. Но&nbsp;можно быть параноиком и&nbsp;при этом счастливым человеком.
                    .interview-block__interview--little.hidden-block
                        p О&nbsp;чем стоить помнить начинающему бизнесмену, когда он&nbsp;нанимает &laquo;сейлза&raquo;? Кого точно не&nbsp;надо брать на&nbsp;работу?
                    p.hidden-block Нет единого рецепта для найма успешного &laquo;сейлза&raquo;. Тем не&nbsp;менее, есть какие-то вещи, которые, безусловно, можно себе в&nbsp;голове отложить. Первое: хороший продавец&nbsp;&mdash; это тот, кто умеет задавать вопросы и&nbsp;слушать ответы. Когда вы&nbsp;общаетесь с&nbsp;потенциальным кандидатом на&nbsp;позицию &laquo;сейлза&raquo;, посмотрите на&nbsp;то, как человек задает вам вопросы. Если он&nbsp;задает вам мало вопросов, скорее всего, это плохой продавец. Если он&nbsp;хорошо задает вопросы, но&nbsp;плохо слушает ваши ответы, скорее всего, этот продавец неопытен. Но, если он&nbsp;не&nbsp;умеет задавать вопросы, если это не&nbsp;встроено в&nbsp;его ДНК, я&nbsp;бы очень серьезно задумался, продавец&nbsp;ли перед вами или все&nbsp;же представитель другой профессии. Второе: не&nbsp;каждый успешный продавец в&nbsp;итоге станет руководителем отдела продаж, департамента продаж, когда бизнес будет расти. Подавляющее большинство предпринимателей делают эту ошибку на&nbsp;втором, третьем, четвертом годе успешного роста своей компании, когда тот самый первый продавец, &laquo;самородок&raquo;, которого он&nbsp;нашел, который принес ему большое количество успехов, автоматически повышается, становится директором по&nbsp;продажам, коммерческим директором. А&nbsp;часто этот человек&nbsp;&mdash; не&nbsp;руководитель по&nbsp;духу, он&nbsp;просто хороший продавец. Нужно этот момент держать в&nbsp;голове и&nbsp;помнить, что не&nbsp;каждый успешный продавец&nbsp;&mdash; хороший руководитель других продавцов.
                    p.hidden-block </br>И, наверное, самое главное: хороший продавец&nbsp;&mdash; это тот, кто верит, что он&nbsp;продает хороший и&nbsp;нужный продукт. Продажа льда эскимосам&nbsp;&mdash; это миф. Человек, который может продать лед эскимосам,&nbsp;&mdash; не&nbsp;хороший продавец. Так сложились обстоятельства, что есть эскимос, которого нагло обманули. Настоящие продавцы знают, зачем они делают свое дело, продают свой продукт и&nbsp;верят в&nbsp;него. Когда вы&nbsp;ищите продавца, вы&nbsp;по&nbsp;сути ищите единомышленника. Если вы&nbsp;собственник бизнеса, сами продаете свои товары, услуги, то&nbsp;вы&nbsp;нанимаете не&nbsp;просто продавца, а&nbsp;человека, который будет вас усиливать. Поэтому ищите того, кто не&nbsp;только за&nbsp;зарплату, не&nbsp;только за&nbsp;деньги идет к&nbsp;вам работать, а&nbsp;того, кто что-то может привнести в&nbsp;этот процесс.
                    .interview-block__interview--little.hidden-block
                        p Какая главная мысль, которую вы&nbsp;доносите на&nbsp;своих семинарах?
                    p.hidden-block Как sales-евангелист я&nbsp;могу сказать две главные, на&nbsp;мой взгляд, мысли. Первое: продажи&nbsp;&mdash; это хорошее, достойное занятие. Вторая мысль: искусству продаж можно научиться. Это не&nbsp;навык, с&nbsp;которым мы&nbsp;рождаемся, это не&nbsp;талант, хотя талант не&nbsp;помешает ни&nbsp;в&nbsp;какой части нашей деятельности, этому можно научиться. Для примера: сегодня в&nbsp;160 университетах США есть первая степень, которая называется &laquo;бакалавр в&nbsp;продажах&raquo;, и&nbsp;в&nbsp;80&nbsp;университетах есть степень, которая называется &laquo;магистр в&nbsp;продажах&raquo;. Продажи становятся академической дисциплиной, которая преподается в&nbsp;университетах, и&nbsp;люди получают по&nbsp;ней дипломы. В&nbsp;Европе пока меньше, у&nbsp;нас пока нет таких программ, но&nbsp;все впереди.
                    .interview-block__video__sharing.clearfix.hidden-block
                        ul.js-share
                            li
                                a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb" data-interview="feldman").fbook.js-double-share
                            li
                                a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk" data-interview="feldman").vkt.js-double-share
                            li
                                a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw" data-interview="feldman").twt.js-double-share
            .interview-block__main-tab(data-tab="2")
                .interview-block__video
                    .interview-block__video__block
                        .interview-block__video__block__muted.video_muted.block-control
                            .block-control__pause
                            .block-control__play
                        .full-block-control
                            .full-block-control__play
                            .full-block-control__time
                            .full-block-control__main-line
                                .full-block-control__main-line__progress
                            .full-block-control__sound
                        .interview-block__video__block__interview
                            iframe(id="client-video" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                        .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg)")
                        .interview-block__video__block__info
                            h3 Андрей Замай
                            p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                            p.hide-in-mobile Найти &laquo;голубой океан&raquo; можно даже на&nbsp;современном конкурентном рынке. Но&nbsp;выиграть в&nbsp;бизнесе может тот, кто не&nbsp;боится ошибок и&nbsp;учится на&nbsp;них.
                            .interview-block__video__block__info__playbutton(id="start-client-video")
                    .interview-block__video__sharing.clearfix
                        ul.js-share
                            li
                                a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb").fbook
                            li
                                a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk").vkt
                            li
                                a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw").twt
                        .interview-block__video__decypher
                            span.interview-block__video__decypher--text Расшифровка интервью
                            span.interview-block__video__decypher--img(id="show-interview-business")
                .interview-block__interview
                    span.interview-block__interview--decypher Расшифровка интервью
                    //h1.hidden-block Интервью бизнесменов и бизнесменов клиентов

                    .interview-block__interview--little
                        p С&nbsp;чего все началось?
                    p
                        | Началось с&nbsp;путешествия за&nbsp;рубеж. Мне потребовалось отправить цветы, и, проведя 2&ndash;3 часа в&nbsp;интернете, я&nbsp;не&nbsp;нашел ни&nbsp;одного хорошего сервиса, который&nbsp;бы предоставлял комплекс услуг по&nbsp;доставке цветов. Либо у&nbsp;компании был неработающий сайт, либо нельзя было дозвониться по&nbsp;указанному номеру, либо нельзя было оплатить букет картой, либо доставку делали в&nbsp;определенные часы или на&nbsp;следующий день&hellip; И&nbsp;тогда я&nbsp;решил создать сервис по&nbsp;доставке цветов, который будет работать в&nbsp;режиме 24/7. При этом мы&nbsp;не&nbsp;отказываем клиентам и&nbsp;готовы решить любую задачу по&nbsp;флористике.
                    .interview-block__interview--little.hidden-block
                        p Любой бизнес начинается с&nbsp;личного опыта, получается?
                    p.hidden-block
                        | Я&nbsp;в&nbsp;принципе всю жизнь занимался антикризисным управлением и&nbsp;построением розничных сетей. Вот, столкнувшись с&nbsp;некой проблемой, подумал, что надо создать собственный бизнес, чем в&nbsp;настоящий момент я&nbsp;и&nbsp;занимаюсь.
                    .interview-block__interview--little.hidden-block
                        p А&nbsp;почему вы&nbsp;вообще решили стать предпринимателем?
                    p.hidden-block
                        | Я&nbsp;начал работать в&nbsp;17 лет, когда поступил в&nbsp;университет, и&nbsp;до&nbsp;20 лет был именно частным предпринимателем. Это было в&nbsp;начале 2000-х, студенческая стипендия была очень маленькая, а&nbsp;времени и&nbsp;амбиций, напротив, много, поэтому и&nbsp;хотел попробовать свои силы в&nbsp;бизнесе.
                        | Первый проект, который мы&nbsp;запустили,&nbsp;&mdash; поставка мобильных телефонов из-за рубежа. Еще я&nbsp;занимался экспортом круглого леса в&nbsp;Швецию.
                        | Потом, где-то в&nbsp;20 лет, я&nbsp;понял, что мне не&nbsp;хватает управленческого опыта, и&nbsp;решил пойти работать в&nbsp;иностранную компанию. Рассылал резюме в&nbsp;крупнейшие международные компании типа Coca-Cola и&nbsp;по&nbsp;чистой случайности попал в&nbsp;Ситибанк, где стал строить карьеру банковского менеджера.
                    .interview-block__interview--little.hidden-block
                        p Что для вас значит бизнес-партнер?
                    p.hidden-block
                        | Бизнес-партнеры&nbsp;&mdash; это моя команда. Кадры решают все, я&nbsp;полностью согласен с&nbsp;этим выражением. Команда&nbsp;&mdash; это твои крылья, это люди, на&nbsp;которых ты&nbsp;можешь положиться, твой тыл.
                    .interview-block__interview--little.hidden-block
                        p А&nbsp;партнер, который с&nbsp;вами в&nbsp;бизнесе? Кто инвестирует и&nbsp;создает бизнес вместе с&nbsp;вами?
                    p.hidden-block
                        | Я&nbsp;&mdash; основной акционер и&nbsp;сам занимаюсь бизнесом. У&nbsp;меня нет бизнес-партнера.
                    .interview-block__interview--little.hidden-block
                        p Почему? Это принципиальная позиция?
                    p.hidden-block
                        | Нет, это не&nbsp;принципиальная позиция, я&nbsp;могу управлять этим бизнесом сам, а&nbsp;остальные задачи делегируются сотрудникам. Идея родилась у&nbsp;меня единолично, я&nbsp;начал строить дело сам, и&nbsp;сегодня он&nbsp;вырос в&nbsp;работающий бизнес в&nbsp;7 городах России. Бизнес-партнер в&nbsp;цветочном деле не&nbsp;требуется. Я&nbsp;собираюсь запускать еще проекты как раз с&nbsp;командой партнеров.
                    .interview-block__interview--little.hidden-block
                        p Каковы ваши актуальные задачи в&nbsp;бизнесе?
                    p.hidden-block
                        | Стать флористической компанией &#8470;&nbsp;1, если говорить о&nbsp;флористическом проекте, а&nbsp;также развернуть новые направления&nbsp;&mdash; ландшафтный дизайн и&nbsp;офисная флористика.
                    .interview-block__interview--little.hidden-block
                        p А&nbsp;что для вас самое важное в&nbsp;работе?
                    p.hidden-block
                        | Для меня важнее всего в&nbsp;работе честность и&nbsp;уровень удовлетворения клиента, насколько он&nbsp;доволен нашими услугами и&nbsp;будет&nbsp;ли готов давать дальнейшие рекомендации.
                    .interview-block__interview--little.hidden-block
                        p Насколько важны в&nbsp;бизнесе люди?
                    p.hidden-block
                        | На&nbsp;100%. Весь бизнес основан на&nbsp;людях, мне понадобилось около 2 лет, чтобы сформировать команду, порядка 15 флористов пришлось поменять, прежде чем обнаружились те&nbsp;самые таланты, около 100 курьеров приходили и&nbsp;уходили, прежде чем мы&nbsp;нашли вежливых, пунктуальных людей. Люди&nbsp;&mdash; это основная составляющая бизнеса, я&nbsp;очень хорошо это понимаю.
                    .interview-block__interview--little.hidden-block
                        p Есть незаменимые люди?
                    p.hidden-block
                        | Незаменимых людей не&nbsp;бывает, и&nbsp;если бизнес на&nbsp;таковых строится, речь идет о&nbsp;неправильных бизнес-процессах. Компания должна работать автономно, даже если кто-то из&nbsp;звеньев выпадает. Но, конечно, есть люди, на&nbsp;которых держится бизнес, потеря таких людей для компании существенна. Но, повторюсь, найти альтернативного человека можно. В&nbsp;нашей компании мы&nbsp;руководствуемся тем, что проще взять молодого человека и&nbsp;его обучить, чем найти готового профи с&nbsp;базой и&nbsp;внедрять в&nbsp;него наши корпоративные ценности и&nbsp;заново его переучивать.

                    .interview-block__interview--little.hidden-block
                        p Почему?

                    p.hidden-block
                        | Я&nbsp;взял эту модель от&nbsp;американских и&nbsp;английских компаний, которые пришли в&nbsp;90-е годы и&nbsp;разворачивали здесь свой бизнес&nbsp;&mdash; банковский, производственный, страховой и т. д. Так вот, эти корпорации начали набирать людей из&nbsp;бывших советских организаций, их&nbsp;возраст на&nbsp;тот момент составлял 30-40-50 лет. У&nbsp;них уже сформировался устойчивый менталитет, они не&nbsp;сильно были настроены на&nbsp;результативную работу, пытались унести что-то с&nbsp;заводов, не&nbsp;были вежливыми и&nbsp;клиентоориентированными. Спустя несколько лет эти компании решили набирать студентов, обучать их&nbsp;и&nbsp;давать им&nbsp;возможность большого карьерного роста. Такая политика принесла гораздо лучший результат.
                        | <br/> Мы&nbsp;идем тем&nbsp;же путем&nbsp;&mdash; набираем молодых людей, у&nbsp;которых горят глаза, кто хочет воплощать в&nbsp;жизнь наш интересный и&nbsp;красивый проект, кто готов работать. Мы&nbsp;набираем их&nbsp;и&nbsp;даем им&nbsp;практически неограниченные перспективы развития и&nbsp;полномочия.
                        | <br/> Если посмотреть на&nbsp;банковский сектор Европы и&nbsp;США, то&nbsp;позиции руководителей отделений, филиалов занимают там люди в&nbsp;возрасте 50 лет. В&nbsp;2000-е и&nbsp;90-е годы позиции руководителей офисов, отделений, филиалов в&nbsp;регионах России занимали ребята средним возрастом 26 лет. Это прецедент, которого больше в&nbsp;мире вы&nbsp;нигде не&nbsp;встретите. Просто в&nbsp;стране не&nbsp;было прослойки хорошо обученных кадров. Сейчас, если посмотреть на&nbsp;разные сферы бизнеса, можно увидеть много талантливых предпринимателей и&nbsp;управленцев&nbsp;&mdash; выходцев из&nbsp;банковского сектора. Финансовая индустрия подарила большое число качественных менеджерских кадров.

                    .interview-block__interview--little.hidden-block
                        p Как привлечь клиентов?

                    p.hidden-block
                        | Хороший продукт продает себя сам. Если сделать качественный сервис, он&nbsp;сам будет привлекать людей. Есть сарафанное радио, и&nbsp;оно отлично работает. Человек попробовал, ему понравилось, он&nbsp;начинает этим пользоваться и&nbsp;советовать другим. Глобальная &laquo;уберизация&raquo; как раз идет этим путем&nbsp;&mdash; агрегаторы такси, платежные системы, социальные сети&nbsp;&mdash; их&nbsp;же никто не&nbsp;продвигает, кто-то один попробовал, понравилось, посоветовал другу.
                        | Из&nbsp;современных технологий надо выделить соцсети. Самые продающие площадки&nbsp;&mdash; это &laquo;Инстаграм&raquo;, &laquo;Фейсбук&raquo;, &laquo;ВКонтакте&raquo;. Там огромное количество людей, есть возможность этих людей подбирать, делать ранжирование по&nbsp;возрасту, по&nbsp;гендерному признаку, по&nbsp;геолокации, вплоть до&nbsp;5&nbsp;м выбирать зону своей аудитории и&nbsp;рекламироваться и&nbsp;продвигать свой товар в&nbsp;той группе, которая непосредственно является вашим покупателем.

                    .interview-block__interview--little.hidden-block
                        p То&nbsp;есть вы&nbsp;за&nbsp;современные технологии?

                    p.hidden-block
                        | Да, конечно, потому что, например, соцсети значительно снижают расходы на&nbsp;рекламу, сужают сроки и&nbsp;приносят лучший результат.

                    .interview-block__interview--little.hidden-block
                        p Что нужно сделать потенциальному предпринимателю, который решил запустить бизнес? Что ему нужно сказать себе прежде всего?

                    p.hidden-block
                        | Прежде всего надо придумать концепцию. В&nbsp;голове должна быть готовая идея, понимание, как его бизнес будет выглядеть через полгода, год, два, три. Также надо наметить какую-то конечную точку, к&nbsp;которой хочется прийти.
                        | <br/> Дальше должно быть понимание тех инструментов, с&nbsp;помощью которых предприниматель будет идти к&nbsp;цели. Есть&nbsp;ли у&nbsp;тебя бюджеты, если нет&nbsp;&mdash; где будешь брать финансирование под этот проект, есть&nbsp;ли у&nbsp;тебя команда людей, какие задачи ты&nbsp;им&nbsp;поставишь, какие принципы корпоративной культуры ты&nbsp;будешь этим людям прививать, и&nbsp;для чего ты&nbsp;вообще хочешь построить этот бизнес.
                        | <br/> Когда создавался флористический бизнес, я&nbsp;поставил задачу&nbsp;&mdash; сделать лучшую компанию по&nbsp;флористике с&nbsp;точки зрения сервиса, красоты и&nbsp;функциональности для клиента. И&nbsp;мы&nbsp;беремся за&nbsp;любой заказ&nbsp;&mdash; например, доставить в&nbsp;тундру цветы, украсить цветами самолет или подводную лодку, все что угодно, ищем подходы, как это сделать&nbsp;&mdash; как выполнить поставленную клиентом задачу.

                    .interview-block__interview--little.hidden-block
                        p Какие еще технологии позволяют стартапам развиваться?

                    p.hidden-block
                        | Основная тема для малого бизнеса, для стартапов&nbsp;&mdash; это, конечно, связь и&nbsp;современные инструменты коммуникации.
                        | <br/> Когда я&nbsp;решил создать флористический бизнес, я&nbsp;в&nbsp;первую очередь поставил задачу сделать его удобным для клиентов. При этом я&nbsp;понимал, что у&nbsp;компании должен быть серьезный имидж, тем более что мы&nbsp;одинаково активно работаем и&nbsp;с&nbsp;частными клиентами, и&nbsp;с&nbsp;крупными корпоративными заказчиками. Имидж начинается с&nbsp;элементарных вещей&nbsp;&mdash; дизайн, название компании и&nbsp;методы, по&nbsp;которым клиент будет коммуницировать с&nbsp;вами&nbsp;&mdash; электронная почта, сайт, телефон компании. Многие небольшие фирмы пользуются мобильными номерами, но, уверен, для компании это серьезно. Мы&nbsp;одновременно с&nbsp;торговым знаком зарегистрировали красивый <a href="http://beeline.ru/b2b/products/telephony/services/details/gorodskie-telefonnye-nomera/?utm_source=RBC&utm_medium=banner&utm_term=Pryamoj_gorodskoj_nomer&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">прямой городской номер</a> в&nbsp;облачной АТС от &ensp;&laquo;Билайн&raquo; Бизнес, которая позволяет удаленно контролировать все наши звонки, прогнозировать связь, распределять звонки между менеджерами.
                        | <br/> Наша АТС позволяет вести проект из&nbsp;любой точки мира и&nbsp;проверять качество обслуживания&nbsp;&mdash; можно прослушать любой телефонный разговор, посмотреть, как общается менеджер с&nbsp;заказчиком, переслушать спорные моменты. Можно удаленно переадресовывать мобильную связь на&nbsp;любой номер телефона. Причем если менеджер находится в&nbsp;отпуске в&nbsp;другой стране и&nbsp;на&nbsp;него переадресована связь, он&nbsp;ничего за&nbsp;это не&nbsp;платит. Мы&nbsp;просто оплачиваем корпоративную виртуальную АТС.
                        | <br/> Такая система позволяет развязать руки любой компании, частично задействовать часть сотрудников, работающих из&nbsp;дома. Это опять&nbsp;же снижает издержки на&nbsp;аренду офиса и&nbsp;повышает эффективность бизнеса. Ведь, как уже давно доказано, люди, работающие из&nbsp;дома, намного более эффективны, чем сидящие в&nbsp;офисе с&nbsp;9 до&nbsp;6.

                    .interview-block__interview--little.hidden-block
                        p В&nbsp;чем секрет бизнес-успеха?

                    p.hidden-block
                        | Управленческий опыт, который я&nbsp;получил за&nbsp;11 лет работы в&nbsp;банковской сфере на&nbsp;топовых позициях. Шаг за&nbsp;шагом я&nbsp;шел по&nbsp;карьерной лестнице и&nbsp;получал огромное количество контактов с&nbsp;людьми, проводил множество собеседований. Кстати, я&nbsp;могу просто по&nbsp;одному разговору понять, хороший&nbsp;ли это для меня сотрудник.

                    .interview-block__interview--little.hidden-block
                        p Чтобы начать бизнес и&nbsp;сделать его успешным, нужен опыт корпоративного управления?

                    p.hidden-block
                        | Конечно, должен быть бэкграунд. Нужно иметь базу-либо образовательную, либо работу в&nbsp;крупной компании, которая даст вам возможность управления, опыт в&nbsp;маркетинге, пиаре, опыт корпоративной жизни и&nbsp;возможность дальше эти технологии транслировать в&nbsp;вашей собственной компании.

                    .interview-block__interview--little.hidden-block
                        p Как вы&nbsp;развиваете свое дело?

                    p.hidden-block Мы&nbsp;идем по&nbsp;нескольким путям развития&nbsp;&mdash; открытие собственных магазинов и&nbsp;продажа франшиз в&nbsp;регионы. Помимо этого мы&nbsp;развиваем новые продуктовые направления. В&nbsp;рознице&nbsp;&mdash; это цветы в&nbsp;коробках, оформление свадебных мероприятий. В&nbsp;корпоративном направлении&nbsp;&mdash; это оформление офисов, автосалонов, помощь в&nbsp;запуске каких-то продуктов. Например, нашему партнеру&nbsp;&mdash; компании &laquo;Л’Ореаль&raquo;&nbsp;&mdash; мы&nbsp;помогали запускать линию помад и&nbsp;косметики, подбирали букеты в&nbsp;тон помад. Очень красивый проект. Работали с&nbsp;Каннским фестивалем. На&nbsp;8&nbsp;Марта мы&nbsp;воплощали проект с&nbsp;торговым центром ЦУМ &laquo;Вместе с&nbsp;ЦУМом&raquo;, в&nbsp;рамках которого порядка 9 тысяч букетов в&nbsp;течение недели украшали пространства центрального магазина страны. Мы&nbsp;&mdash; единственная компания в&nbsp;России, которая является официальным поставщиком компании Porsche AG, немецкой автомобильной компании, работающей в&nbsp;России. В&nbsp;их&nbsp;офисе на&nbsp;Ленинградском проспекте мы&nbsp;сделали проект озеленения &laquo;под ключ&raquo;. С&nbsp;нами удобно работать таким заказчикам, так как у&nbsp;нас есть свое производство&nbsp;&mdash; мы&nbsp;варим и&nbsp;монтируем конструкции любой сложности из&nbsp;дерева, металла и&nbsp;др. Делаем цветочные стены, живые изгороди, кашпо в&nbsp;стиле high tech. Все делаем сами, поэтому цены держим в&nbsp;2 раза ниже, чем любая другая компания, которая ввозит многие вещи из-за рубежа.

                    .interview-block__interview--little.hidden-block
                        p Кто сегодня в&nbsp;бизнесе выигрывает и&nbsp;почему?

                    p.hidden-block В&nbsp;основе успеха&nbsp;&mdash; кадры, команда. Если у&nbsp;тебя лучше команда, чем у&nbsp;конкурентов, ты&nbsp;будешь на&nbsp;коне. Второе&nbsp;&mdash; современные технологии и&nbsp;эффективные бизнес-процессы. Я&nbsp;постоянно работаю над совершенствованием бизнес-процессов, уменьшением издержек, поиском новых решений, каналов продаж и&nbsp;вариантов развития компании. Если когда-то мы&nbsp;начинали продавать цветы в&nbsp;коробках, теперь мы&nbsp;&mdash; многоуровневый холдинг, занимающийся разными направлениями.

                    .interview-block__interview--little.hidden-block
                        p На&nbsp;чем нельзя в&nbsp;бизнесе экономить?

                    p.hidden-block
                        | На&nbsp;технологиях, на&nbsp;связи, если клиент не&nbsp;может до&nbsp;вас дозвониться, вас не&nbsp;слышно, сайт не&nbsp;открывается, почта не&nbsp;работает, платежный терминал не&nbsp;дает оплатить по&nbsp;карте,&nbsp;&mdash; большой минус вам.
                        | <br/> И&nbsp;еще нельзя экономить на&nbsp;людях. У&nbsp;нас прозрачная система мотивации. Мы&nbsp;рассказываем людям, сколько они могут заработать, у&nbsp;нас нет потолка, чем как раз отличается европейский подход. Как только в&nbsp;российских компаниях менеджер начинает получать высокий доход, руководство пересматривает мотивацию, пытается &laquo;подрезать крылья&raquo;. Мы&nbsp;исповедуем открытый подход и&nbsp;даем людям возможность заработать. Все зависит от&nbsp;их&nbsp;усилий. Для бизнеса это эффективная модель. Когда не&nbsp;ограничиваешь своих сотрудников в&nbsp;доходах, они не&nbsp;ограничивают твою прибыль.

                    .interview-block__video__sharing.clearfix.hidden-block
                        ul.js-share
                            li
                                a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb").fbook
                            li
                                a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk").vkt
                            li
                                a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw").twt

        .external-speaker-block

            .interview-block--wrapper
                .interview-block__tab
                    .interview-block__tab__interview.interview-block__tab--bman(tab-index="1")
                        | Бизнес
                        .shift-tab
                        | от первого лица
                    .interview-block__tab__interview.interview-block__tab--client(tab-index="2")
                        | Правила
                        .shift-tab
                        | предпринимателя
            .inter-block__speakers--wrapper(speakers-tab="1")
                .interview-block__speakers
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-1.html")
                                img(src="images/interview-speakers/business/1.Popov.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-1.html") Александр Попов
                            p Директор EasyFinance.ru
                            a(href="/interview-1.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-2.html")
                                img(src="images/interview-speakers/business/2.Cerazov.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-2.html") Константин Церазов
                            p Член правления,руководитель инвестиционного блока банка «ФК Открытие»,член совета директоров «Открытия Капитал»
                            a(href="/interview-2.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-4.html")
                                img(src="images/interview-speakers/business/4.Volshuck.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-4.html") Александр Волощук
                            p Генеральный директор сервиса Dr.Tariffи студии разработки QStudio.org
                            a(href="/interview-4.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-5.html")
                                img(src="images/interview-speakers/business/5.Avedei.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-5.html") Алексей Авдей
                            p Директор по продукту ЦИАН
                            a(href="/interview-5.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-6.html")
                                img(src="images/interview-speakers/business/6.Panov.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-6.html") Сергей Панов
                            p Сооснователь и&nbsp;генеральный директор <nobr>интернет-бухгалтерии</nobr> &laquo;Моё дело&raquo;
                            a(href="/interview-6.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-7.html")
                                img(src="images/interview-speakers/business/7.Jukov.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-7.html") Михаил Жуков
                            p Генеральный директор HeadHunter
                            a(href="/interview-7.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-8.html")
                                img(src="images/interview-speakers/business/8.Tabolin.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-8.html") Сергей Таболин
                            p Руководитель по&nbsp;сегментному маркетингу &laquo;Билайн&raquo; Бизнес
                            a(href="/interview-8.html").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-9.html")
                                img(src="images/interview-speakers/business/9.Li.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-9.html") Дмитрий Ли
                            p Директор по&nbsp;маркетингу бизнес-сегмента &laquo;Билайн&raquo;
                            a(href="/interview-9.html").watch-interview Смотреть
            .inter-block__speakers--wrapper(speakers-tab="2")
                .interview-block__speakers
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-1.html#client")
                                img(src="images/interview-speakers/clients/1.-Chaplinski.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-1.html#client") Павел Чаплинский
                            p Основатель BOX&ROSES
                            a(href="/interview-1.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-2.html#client")
                                img(src="images/interview-speakers/clients/2.-Shlopack.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-2.html#client") Дмитрий Шлопак
                            p Управляющий партнер «Везендорф групп»
                            a(href="/interview-2.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-4.html#client")
                                img(src="images/interview-speakers/clients/4.-Lasckov.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-4.html#client") Игорь Ласьков
                            p Генеральный директор ООО «Стройкомфорт»
                            a(href="/interview-4.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-5.html#client")
                                img(src="images/interview-speakers/clients/5.-Smirnov.png")
                        .interview-block__speakers__item__text
                            h3 
                                a(href="/interview-5.html#client") Илья Смирнов
                            p IT-директор компании «Ай Ти Ви групп»
                            a(href="/interview-5.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-6.html#client")
                                img(src="images/interview-speakers/clients/6.-Shelmanova.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-6.html#client") Ольга Шеламова
                            p Совладелец компании «Олимп»
                            a(href="/interview-6.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-7.html#client")
                                img(src="images/interview-speakers/clients/7.-Silhev.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-7.html#client") Андрей Сильчев
                            p Директор по развитию IT Partner
                            a(href="/interview-7.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-8.html#client")
                                img(src="images/interview-speakers/clients/8.Shkolerov.png")
                        .interview-block__speakers__item__text
                            h3
                                a(href="/interview-8.html#client") Дмитрий Шкловер
                            p Основатель интернет-магазина 613bricks.ru
                            a(href="/interview-8.html#client").watch-interview Смотреть
                    .interview-block__speakers__item
                        .interview-block__speakers__item__img
                            a(href="/interview-9.html#client")
                                img(src="images/interview-speakers/clients/9. Poryadneev.png")
                        .interview-block__speakers__item__text
                            h3 Кирилл Поряднев
                            p Генеральный директор «Результат Плюс»
                            a(href="/interview-9.html#client").watch-interview Смотреть
