extends templates/layout
block vars

block content
	.interview-block
		.interview-block--wrapper
			.interview-block__back
				.interview-block__back--arrow
				a(href="index.html") Вернуться на главную
			.interview-block__main-tab(data-tab="1")
				.interview-block__video
					.interview-block__video__block
						.interview-block__video__block__muted.video_muted.block-control
							.block-control__pause
							.block-control__play
						.full-block-control
							.full-block-control__play
							.full-block-control__time
							.full-block-control__main-line
								.full-block-control__main-line__progress
							.full-block-control__sound
						.interview-block__video__block__interview
							iframe(id="business-video" width="780" height="639" src="https://www.youtube.com/embed/NSU2CVYApzw?enablejsapi=1&controls=0&amp;showinfo=0&rel=0" frameborder="0" allowfullscreen)
						.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Business_1.jpg)")
						.interview-block__video__block__info
							h3 Александр Попов
							p.regalia Директор EasyFinance.ru
							p.hide-in-mobile Откуда брать гениальные бизнес-идеи, как правильно создавать стартапы на злобу дня и как масштабировать бизнес.
							.interview-block__video__block__info__playbutton(id="start-business-video")
					.interview-block__video__sharing.clearfix
						ul.js-share
							li
								a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb" data-interview="popov").fbook.js-double-share
							li
								a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk" data-interview="popov").vkt.js-double-share
							li
								a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw" data-interview="popov").twt.js-double-share
						.interview-block__video__decypher
							span.interview-block__video__decypher--text(id="show-interview-client") Расшифровка интервью
							span.interview-block__video__decypher--img(id="show-interview-client")
				.interview-block__interview
					span.interview-block__interview--decypher Расшифровка интервью
					.interview-block__interview--little
						p Как возникла идея стартапа Easy Finance?
					p Идея стартапа пришла моему брату, когда он&nbsp;столкнулся с&nbsp;необходимостью учета своих финансов в&nbsp;<nobr>каком-то</nobr> одном месте. У&nbsp;него было несколько банковских карт разных банков, но&nbsp;не&nbsp;было сервиса, приложения, сайта, где все потоки по&nbsp;ним можно было увидеть в&nbsp;одном месте. Так и&nbsp;родился наш проект, куда со&nbsp;временем брат пригласил и&nbsp;меня. Сначала на&nbsp;начальную позицию, а&nbsp;потом я&nbsp;вырос по&nbsp;карьерной лестнице.
					.interview-block__interview--little.hidden-block
						p Управление финансами не свойственно русским людям с точки зрения менталитета. Как вам удалось донести, что им необходимо пользоваться вашим стартапом?
					p.hidden-block Есть мнение, что в&nbsp;России не&nbsp;принято заниматься своими финансами и&nbsp;что деньги&nbsp;&mdash; это плохо. На&nbsp;самом деле это заблуждение, просто у&nbsp;людей недостаточно навыков работы с&nbsp;финансами, они не&nbsp;знают о&nbsp;существующих на&nbsp;рынке инструментах, о&nbsp;тех продуктах, которые предлагаются современными финансовыми организациями. Но&nbsp;это не&nbsp;вопрос менталитета, это вопрос образования. Сегодня работает довольно много образовательных программ по&nbsp;повышению финансовой культуры, грамотности, и&nbsp;многие наша компания поддерживает. Таким образом, изначально было важно достучаться до&nbsp;клиентов, донести, что такой продукт, как наш, есть. Как правило, люди, которые к&nbsp;нам приходили, просто не&nbsp;слышали, что такое есть на&nbsp;рынке.
					p.hidden-block Важный для нас вопрос&nbsp;&mdash; почему люди начинают интересоваться управлением своими финансами? Ответ простой&nbsp;&mdash; у&nbsp;людей есть цели, связанные с&nbsp;семьей, детьми, личным благосостоянием. Как только человек осознает, что у&nbsp;него есть цель, он&nbsp;начинает искать подобный инструмент, как наш, в&nbsp;том или ином виде. Так люди приходят к&nbsp;тому, что начинают заниматься личными финансами.
					p.hidden-block Нет никакой ментальной проблемы, как только у&nbsp;человека появляется цель, формируется и&nbsp;понимание, что надо вести учет своих денежных потоков. <nobr>Кто-то</nobr> ведет свои финансы на&nbsp;бумаге, <nobr>кто-то</nobr>&nbsp;&mdash; в&nbsp;табличках Excel, <nobr>кто-то</nobr>&nbsp;&mdash; в&nbsp;мобильных приложениях, многие приходят для этого к&nbsp;Easy Finance. Наш продукт позволяет снять многие рутинные вопросы, учет операций по&nbsp;банковским картам автоматический, что позволяет клиентам сфокусироваться на&nbsp;главном, на&nbsp;их&nbsp;целях, на&nbsp;накоплении, планировании <nobr>и т. д.</nobr> Думаю, именно поэтому уже больше полумиллиона клиентов пользуется нашим сервисом.
					.interview_image.hidden-block
						img(src="../images/interview-speakers/1-1_Popov.jpg")
					.interview-block__interview--little.hidden-block
						p Вернемся к&nbsp;разработке стартапа. Как возникает идея стартапа? Из&nbsp;чего она обычно вытекает?
					p.hidden-block Идея стартапа чаще всего возникает из&nbsp;личной потребности основателя. Он&nbsp;сталкивается с&nbsp;<nobr>какой-то</nobr> проблемой, начинает искать на&nbsp;рынке ее&nbsp;решение, не&nbsp;находит, в&nbsp;итоге справляется с&nbsp;задачей собственными силами. Потом он&nbsp;исследует рынок и&nbsp;понимает, что эта проблема касается не&nbsp;только его, но&nbsp;и&nbsp;многих других людей. Как правило, примерно так рождается идея создания собственного бизнеса, который будет снимать так называемую &laquo;боль клиентов&raquo; в&nbsp;рамках определенной темы.
					p.hidden-block Бывают случаи, когда люди создают бизнес, потому что они &laquo;подсмотрели&raquo; идею у&nbsp;другого бизнесмена за&nbsp;рубежом или во&nbsp;время путешествия, когда мозг был не&nbsp;занят рабочими вопросами. Но, как правило, лучше выстреливают истории, основанные на&nbsp;личном опыте, затрагивающие ее&nbsp;основателя. Такие <nobr>бизнес-идеи</nobr> преодолевают не&nbsp;чужую боль, а&nbsp;ту, которая самому предпринимателю понятна. Лучше всего, когда сам бизнесмен является первым потенциальным клиентом своего продукта и&nbsp;может выяснить нюансы, которые не&nbsp;получится узнать у&nbsp;других людей. Большая роль в&nbsp;создании стартапа&nbsp;&mdash; проработка проблемы, тех сложностей, которые возникают у&nbsp;потенциальных клиентов и&nbsp;за&nbsp;решение которых они будут готовы платить.
					p.hidden-block Здесь можно выделить несколько типичных ошибок. Например, некоторые начинающие стартаперы делают продукты, которые никому, кроме них самих, не&nbsp;нужны. В&nbsp;данном случае ошибка, скорее всего, заключается в&nbsp;том, что они недостаточно изучили существующие продукты, на&nbsp;рынке уже есть более удобные способы решения насущных вопросов.
					p.hidden-block Второе, еще более обидное, когда на&nbsp;рынке есть соответствующая проблема, и&nbsp;придуманный продукт может ее&nbsp;решить, но&nbsp;люди не&nbsp;готовы платить за&nbsp;это. Таким образом, перед предпринимателями стоит задача&nbsp;&mdash; выяснить, за&nbsp;что потребители готовы платить. И&nbsp;еще один важный момент: есть большая разница между тем, что говорит клиент о&nbsp;продукте или услуге, и&nbsp;тем, за&nbsp;что он&nbsp;реально готов платить.
					p.hidden-block Если вы спросите какого-то друга, знакомого или даже прохожего на улице, он может согласиться на любую вашу цену, потому что он не должен вам отдавать деньги сейчас. Но когда дойдете до рынка, то столкнетесь с отсутствием платежеспособного спроса. И здесь проблема не в самом продукте, а в том, как вы его упаковали, как он отвечает потребностям и ожиданиям клиентов. Люди сразу могут не понимать ценности продукта, зачем он им вообще нужен. Гиганты технического рынка встраивают свой продукт в каждодневную жизнь клиентов, и в этом заключается основа их успеха.

					.interview-block__interview--big.hidden-block
						p «Многие предприниматели, которые потом попали на&nbsp;обложки журналов и&nbsp;в&nbsp;список Fortune 500, начинали с&nbsp;провалов. Это нормально, потому что сложно с&nbsp;первого раза все сделать правильно.»
					.interview-block__interview--little.hidden-block
						p Как быть тем, у&nbsp;кого есть желание начать свое дело, но&nbsp;они не&nbsp;могут понять, с&nbsp;чего начать, какой должна быть идея?
					p.hidden-block Я&nbsp;часто общаюсь с&nbsp;молодыми людьми с&nbsp;горящими глазами и&nbsp;бьющей ключом энергией, у&nbsp;которых нет обременений, связанных с&nbsp;семьей и&nbsp;кредитами, есть свободное видение на&nbsp;жизнь, не&nbsp;забитое стереотипами и&nbsp;шаблонами, но&nbsp;которые не&nbsp;знают, куда двигаться, какой бизнес запускать, да&nbsp;и&nbsp;стоит&nbsp;ли. Могу дать такой совет. Надо обратиться к&nbsp;себе, действительно&nbsp;ли вы&nbsp;готовы идти к&nbsp;цели, как вы&nbsp;думаете. Готовы&nbsp;ли вы&nbsp;отказаться от&nbsp;многих радостей в&nbsp;жизни, которые у&nbsp;вас есть.
					p.hidden-block Стартап можно сравнить с&nbsp;работой бобслейной команды, когда вы&nbsp;делаете огромные усилия, чтобы машина поехала, не&nbsp;одни, а&nbsp;с&nbsp;командой единомышленников, и&nbsp;далее стараетесь вкладываться всем телом, каждой мышцей, чтобы машина оставалась в&nbsp;траектории движения на&nbsp;трассе. В&nbsp;противном случае вы&nbsp;все можете с&nbsp;нее вылететь. А&nbsp;если вы&nbsp;в&nbsp;самом начале не&nbsp;вложились, то&nbsp;просто не&nbsp;дойдете до&nbsp;финиша.
					p.hidden-block Лучший способ найти ответ на этот вопрос — попробовать простой бизнес. Торговля пирожками, кофе, что угодно. Это бизнесы с небольшими капиталовложениями, которые позволяет понять трудности предпринимательства, а также плюсы, которые дает предпринимательство. Во-первых, свобода, вы сами решаете, куда идти и что делать. Во-вторых, успех, который вы разделяете со своей командой. В-третьих, удовлетворение клиентов, которым вы предоставили услугу. Даже если у вас не выгорит бизнес, вы многому научитесь. Как говорил Марк Твен, человек, который дернул кошку за хвост, знает о ней больше, чем тот, кто прочитал энциклопедию о кошках. В бизнесе именно так. Практика дорогого стоит. Многие предприниматели, которые потом попали на обложки журналов и в список Fortune 500, начинали с провалов. Это нормально, потому что сложно с первого раза все сделать правильно. Вы ошибетесь в чем-то, неправильно рассчитаете маркетинг или производственную цепочку, вас подведут партнеры или поставщики. Но, совершая ошибки, вы начнете понимать, что важно в бизнесе, какие нюансы не описаны в книжках, как привлечь инвестиции и какова цена возврата каждого привлеченного рубля…
					p.hidden-block Риски, которые вы&nbsp;понесете на&nbsp;простом бизнесе, не&nbsp;приведут вас к&nbsp;глобальному краху. И&nbsp;постепенно ваш бизнес будет становиться лучше. Начиная <nobr>бизнес-практику</nobr> в&nbsp;20 лет, к&nbsp;30 годам у&nbsp;вас будет внушительный опыт, который вы&nbsp;плодотворно примените, как создавая свой собственный успешный бизнес, так и&nbsp;в&nbsp;корпоративной практике, формируя, например, подразделение компании.
					p.hidden-block Ключевой навык, который вы&nbsp;в&nbsp;себе разовьете, пробуя бизнес,&nbsp;&mdash; нести ответственность, принимать решения и&nbsp;получать результат от&nbsp;тех решений, которые вы&nbsp;приняли. Навык полезен не&nbsp;только в&nbsp;собственном бизнесе, но&nbsp;и&nbsp;в&nbsp;построении карьеры в&nbsp;крупной корпорации.
					.interview-block__interview--little.hidden-block
						p Как вы&nbsp;считаете, нужен&nbsp;ли стартаперу опыт корпоративного управленца?
					p.hidden-block История каждого предпринимателя уникальна. <nobr>Кто-то</nobr> приходит в&nbsp;бизнес буквально со&nbsp;школьной скамьи, даже не&nbsp;начав обучение в&nbsp;высшем учебном заведении, <nobr>кто-то</nobr> строит головокружительную карьеру и&nbsp;лишь затем создает свой бизнес, <nobr>кто-то</nobr> совмещает разные этапы, меняет виды деятельности. Управленческий опыт полезен, но&nbsp;нужно понимать, что бизнес бизнесу рознь, и&nbsp;не&nbsp;каждый навык можно перенести.
					p.hidden-block Например, подходы, которые работают в&nbsp;традиционном бизнесе, не&nbsp;очень эффективны для малого технологического бизнеса. Отличается продукт, предпочтения клиентов, набор персонала. Да&nbsp;и&nbsp;разные по&nbsp;типу личности люди, которые строят карьеру в&nbsp;большой корпорации, от&nbsp;клерка до&nbsp;<nobr>топ-менеджера</nobr>, и&nbsp;теми программистами, которые хотят изменить мир. Это разная корпоративная культура, разные стили жизни, разный уровень креатива&hellip;
					p.hidden-block Но&nbsp;если у&nbsp;человека есть огонь в&nbsp;душе, я&nbsp;не&nbsp;вижу проблемы оставить корпоративное кресло <nobr>топ-менеджера</nobr> в&nbsp;корпорации и&nbsp;начать технологический стартап. С&nbsp;другой стороны, многие предприниматели, у&nbsp;которых не&nbsp;получилось добиться успеха в&nbsp;своем деле, становятся эффективными управленцами. Все зависит от&nbsp;той цели, которая у&nbsp;вас есть, а&nbsp;опыт приходит со&nbsp;временем. Конечно, чем сильнее отличается ваша индустрия, где вы&nbsp;находились, от&nbsp;той, в&nbsp;которую вы&nbsp;собираетесь, тем больше будет набито шишек. Сложно, конечно, собирать шишки в&nbsp;зрелом возрасте, перед пенсией, проще в&nbsp;молодости. Собственный бизнес сопряжен с&nbsp;высокими рисками. Это большой стресс, и&nbsp;если <nobr>что-то</nobr> прогорает, не&nbsp;получается, вы&nbsp;очень сильно нервничаете, и&nbsp;переживает ваша семья. Очень многие не&nbsp;могут преодолеть это. Хотя, как я&nbsp;говорил, без провалов редко случается успех.
					.interview_image.hidden-block
						img(src="../images/interview-speakers/1-2_Popov.jpg")
					.interview-block__interview--little.hidden-block
						p Если есть опыт стартапа, даже провального, предприниматель уже интереснее для инвестора? И&nbsp;как найти потенциального инвестора?
					p.hidden-block Когда мы&nbsp;только начинали, венчурная индустрия еще развивалась, и&nbsp;это было сложно и&nbsp;для предпринимателей, и&nbsp;для самих инвесторов, не&nbsp;было опыта. Но&nbsp;с&nbsp;тех пор индустрия изменилась, почти каждую неделю проходят мероприятия, причем не&nbsp;только в&nbsp;Москве, но&nbsp;и&nbsp;в&nbsp;регионах, где предприниматели могут встретиться с&nbsp;инвесторами. Мероприятия абсолютно разного масштаба и&nbsp;уровня, начиная со&nbsp;встреч с&nbsp;<nobr>бизнес-ангелами</nobr>, которые вкладывают деньги на&nbsp;уровне идеи, чтобы предприниматель мог собрать хоть <nobr>что-то</nobr>, прототип, и&nbsp;заканчивая крупными конференциями, где представлены крупнейшие не&nbsp;только российские, но&nbsp;и&nbsp;международные венчурные фонды. Сейчас вопрос по&nbsp;привлечению инвестиций так жестко не&nbsp;стоит, денег достаточно, несмотря на&nbsp;кризис. Ключевой вопрос&nbsp;&mdash; в&nbsp;опытности предпринимателей.
					p.hidden-block Начинающим предпринимателям не&nbsp;хватает опыта, и&nbsp;это мешает инвесторам в&nbsp;них инвестировать. Первые бизнесы, как правило, прогорают, инвесторы это знают, и&nbsp;редко доверяют деньги новичкам. А&nbsp;кто уже прогорел, он&nbsp;понимает цену денег, более четко оценивает риски, осознает, что многие вещи делаются медленнее, чем он&nbsp;ожидает,&nbsp;&mdash; и&nbsp;в&nbsp;итоге он&nbsp;предоставляет более взвешенную и&nbsp;продуманную стратегию инвестору. Новички предлагают очень размытые планы с&nbsp;кучей рисков, которые они даже не&nbsp;осознают. И&nbsp;это основная проблема, которая мешает начинающим предпринимателям получить финансирование, а&nbsp;вовсе не&nbsp;кризис или отсутствие денег как таковое.
					p.hidden-block Даже если вы&nbsp;не&nbsp;были основателем, но&nbsp;имели опыт работы на&nbsp;ключевых позициях в&nbsp;<nobr>каком-либо</nobr> стартапе, ваши шансы привлечь инвестиции значительно повышаются. Инвесторы доверяют тем, кто уже имеет практику.
					.interview-block__interview--little.hidden-block
						p Как вы&nbsp;нашли своих первых инвесторов?
					p.hidden-block Мы&nbsp;выиграли более 10 различных конкурсов, предпринимательских, финтеховских. Так вот, после победы в&nbsp;одном из&nbsp;первых конкурсов к&nbsp;нам и&nbsp;подошли люди, которые заинтересовались проектом и&nbsp;возможностью инвестирования в&nbsp;него. С&nbsp;этого началась наша история.
					.interview-block__interview--little.hidden-block
						p То&nbsp;есть надо бесконечно ходить по&nbsp;конференциям или все&nbsp;же заниматься основным бизнесом?
					p.hidden-block Есть мнение, что стартаперу не&nbsp;нужно много &laquo;светиться&raquo; на&nbsp;мероприятиях и&nbsp;тусовках, а&nbsp;надо заниматься продуктом. Это оправданно, потому что стартап&nbsp;&mdash; это история про быстрый рост, и&nbsp;у&nbsp;вас мало ресурсов, которые вы&nbsp;можете тратить. Отвлекая время на&nbsp;конференции, вы&nbsp;забираете ресурсы у&nbsp;основного продукта. С&nbsp;другой стороны, инвесторы никогда не&nbsp;дают деньги тому, кого не&nbsp;знают. Надо знакомиться с&nbsp;инвесторами, рынком, завязывать контакты, и&nbsp;это может в&nbsp;результате привести к&nbsp;инвестициям.
					p.hidden-block Поэтому правило такое&nbsp;&mdash; надо балансировать между тем, как знакомиться с&nbsp;инвесторами, и&nbsp;тем, чтобы заниматься своим продуктом. Если не&nbsp;успеете выдать финальный продукт (будете слишком много &laquo;светиться&raquo;), рискуете потерять рынок, другие команды вас обгонят и&nbsp;выпустят продукт быстрее. Если&nbsp;же вы&nbsp;создадите прототип, но&nbsp;у&nbsp;вас не&nbsp;хватит денег на&nbsp;то, чтобы его масштабировать, потому что инвесторы вас не&nbsp;знают (будете слишком много заниматься продуктом), также прогорите. Процесс привлечения денег занимает время, и&nbsp;если вы&nbsp;занялись им&nbsp;в&nbsp;последний момент, ничего не&nbsp;получится.
					.interview-block__interview--big.hidden-block
						p «Люди стали использовать <nobr>интернет-сервисы</nobr>, социальные сети, интернет и&nbsp;мобильный банк, мобильные кошельки, хранить информацию в&nbsp;облаках. Это подвигло клиентов искать место, чтобы в&nbsp;нем все финансы свои собирать. Таким местом стала система Easy Finance.»
					.interview-block__interview--little.hidden-block
						p Сейчас все больше россиян предпочитают безналичный расчет. Когда вы&nbsp;начинали свой стартап, основная масса финансовых потоков была связана с&nbsp;&laquo;кэшем&raquo;. Как вы&nbsp;решали эту проблему?
					p.hidden-block Да, люди не&nbsp;знали о&nbsp;таких решениях вообще. И&nbsp;не&nbsp;только о&nbsp;подобных решениях, люди даже сомневались в&nbsp;необходимости использования интернет- и&nbsp;мобильного банкинга. Смотрели на&nbsp;все это, как на&nbsp;некие причуды, которые им&nbsp;не&nbsp;нужны. Наше решение, уточню, как раз связано с&nbsp;функционалом <nobr>интернет-банков</nobr>.
					p.hidden-block Но&nbsp;мы&nbsp;смотрели на&nbsp;иностранные рынки, как люди там пользуются подобными продуктами. И&nbsp;понимали, что через <nobr>пару-тройку</nobr> лет тенденция придет и&nbsp;к&nbsp;нам, и&nbsp;станет ключевым фактором успеха банков и&nbsp;других финансовых организаций. Таким образом, мы&nbsp;исходили из&nbsp;того, что люди будут пользоваться <nobr>интернет-банками</nobr>, и&nbsp;в&nbsp;итоге им&nbsp;понадобится облачное технологическое решение, которое сможет финансовые потребности объединить.
					p.hidden-block Наши первые клиенты говорили, что не&nbsp;будут хранить финансовую информацию в&nbsp;облаке, просто потому, что у&nbsp;них не&nbsp;было такого опыта, даже фото тогда еще не&nbsp;хранили в&nbsp;облаке, соцсети только развивались, и&nbsp;люди переходили от&nbsp;псевдонимов к&nbsp;реальным именам. Интернет долго был для людей &laquo;черной коробочкой&raquo;, никак не&nbsp;связанной с&nbsp;реальным миром. Сложно было понять, осознать, как в&nbsp;эту коробочку положить свои деньги, пусть и&nbsp;с&nbsp;запиской о&nbsp;том, на&nbsp;каком счете сколько денег у&nbsp;тебя лежит.
					p.hidden-block Вопрос недоверия&hellip; Но&nbsp;с&nbsp;каждым шагом по&nbsp;повышению финансовой грамотности мы&nbsp;стали завоевывать доверие клиентов, и&nbsp;даже больше, чем банкам. Они готовы обсуждать с&nbsp;нами такие сложные финансовые вопросы, которые&nbsp;бы не&nbsp;могли обсуждать со&nbsp;своим банковским менеджером или страховым агентом.
					p.hidden-block Рост аудитории и&nbsp;числа счетов показывает, что их&nbsp;доверие растет в&nbsp;количественном и&nbsp;качественном выражении. И, конечно&nbsp;же, этому способствовало развитие технологий в&nbsp;целом. Люди стали использовать <nobr>интернет-сервисы</nobr>, социальные сети, интернет и&nbsp;мобильный банк, мобильные кошельки, хранить информацию в&nbsp;облаках. Это подвигло клиентов искать место, чтобы в&nbsp;нем все финансы свои собирать. Таким местом стала система Easy Finance.
					.interview-block__interview--little.hidden-block
						p Получается, что для некоторых стартапов, к&nbsp;которым сразу не&nbsp;приходит успех, просто было неподходящее время, и&nbsp;они могут выстрелить немного позже, как в&nbsp;вашем случае? Ведь время сработало вам на&nbsp;руку&hellip;
					p.hidden-block Easy Finance&nbsp;&mdash; интересный с&nbsp;точки зрения рыночных циклов стартап, потому что мы&nbsp;начинали в&nbsp;самый разгар кризиса. Мы&nbsp;начинали в&nbsp;том году, когда все финансовые институты сильно страдали от&nbsp;последствий кризиса, клиенты забирали деньги с&nbsp;депозитов и&nbsp;переставали платить по&nbsp;кредитам. Людям некогда было заниматься финансами, у&nbsp;них были более насущные проблемы с&nbsp;сохранением работы и&nbsp;приобретением продуктов питания.
					p.hidden-block Но именно в этот период мы и смогли стартовать хорошо, потому что россияне начали задумываться, как же им теперь жить. Стабильность пропала, возникла необходимость копить, откладывать, планировать. Я хочу сказать, что кризис не является барьером для создания бизнеса. Нужно понимать, к чему он ведет, какие индустрии проигрывают и какие выигрывают.  Как вы понимаете, не все бизнесы одинаково ущемляются, некоторые растут. И еще: как бы ни был серьезен кризис, он сменится ростом. Даже Великая депрессия в США закончилась ростом, который привел к возникновению и развитию многих крупных корпораций-брендов.
					p.hidden-block То&nbsp;же самое произойдет в&nbsp;России, кризис просто приведет к&nbsp;возникновению более эффективных и&nbsp;прибыльных бизнесов, которые могут лучше понимать потребности клиентов, у&nbsp;которых ниже риски и&nbsp;себестоимость. Более того, если вы&nbsp;начнете в&nbsp;кризис, вы, возможно, сможете просто занять всю нишу на&nbsp;рынке, пока этим не&nbsp;будет заниматься никто другой. Стартовав в&nbsp;кризис, вы&nbsp;соберете рост, стартовав в&nbsp;рост, вы&nbsp;соберете все негативные рыночные явления. Если экономика подошла к&nbsp;пику развития, за&nbsp;ней последует рецессия, и&nbsp;вы&nbsp;не&nbsp;вернете своих инвестиций.
					.interview_image.hidden-block
						img(src="../images/interview-speakers/1-3_Popov.jpg")
					.interview-block__interview--little.hidden-block
						p Ваша идея была инновационной для российского рынка, но&nbsp;вам удалось донести до&nbsp;клиентов ее&nbsp;преимущества. Как?
					p.hidden-block В&nbsp;продукте должен быть якорь, понятный элемент, который позволит клиентам перейти от&nbsp;их&nbsp;текущего поведения к&nbsp;тому светлому будущему, которое вы&nbsp;для них готовите. В&nbsp;Easy Finance это умение просто записывать свои расходы и&nbsp;доходы, потом уже, разобравшись с&nbsp;интерфейсом и&nbsp;возможностями решения, можно строить финансовое планирование, ставить цели и&nbsp;достигать их.
					p.hidden-block Также надо для некоторых продуктов делать некую вводную инструкцию для клиентов. Не&nbsp;думайте, что все очевидно. Это ошибка, особенно технологических предпринимателей. Они думают, что их&nbsp;продукт ясен и&nbsp;понятен, только дай его в&nbsp;руки. Но&nbsp;люди путаются. Чтобы понять, что чувствует человек, когда он&nbsp;берет ваш инновационный продукт, представьте себя пациентами клиники, подумайте, как работает там оборудование, приборы,&nbsp;&mdash; наверняка вы&nbsp;не&nbsp;поймете, для чего вообще многие из&nbsp;них. Так&nbsp;же воспринимают неспециалисты другую сферу. Если вы&nbsp;сможете объяснить продукт им, с&nbsp;профи это не&nbsp;составит труда. Учитывайте более широкие слои населения. Да, новаторы позволят отбить инвестиции и&nbsp;получить славу, но&nbsp;они не&nbsp;позволят сделать масштабный бизнес. Именно консерваторы делают доходы корпораций.
					.interview-block__interview--little.hidden-block
						p В&nbsp;этой части надо делать упор на&nbsp;маркетинг?
					p.hidden-block Здесь еще важна сама упаковка, сама концепция продукта, она должна быть донесена до&nbsp;широких слоев населения. Сам месседж, который вы&nbsp;сообщаете клиенту, должен быть понятен и&nbsp;прост, чтобы он&nbsp;смог его объяснить бабушке, другу или сыну. Лучшая реклама&nbsp;&mdash; личная рекомендация.
					p.hidden-block Изначально в&nbsp;Easy Finance я&nbsp;занимался маркетингом и&nbsp;пиаром, это также критически важно для стартапа. Ведь, как правило, вы&nbsp;работаете не&nbsp;в&nbsp;&laquo;голубом океане&raquo;, о&nbsp;котором пишут в&nbsp;книгах, а&nbsp;на&nbsp;конкурентном рынке. Вы&nbsp;должны быть яркими, вас должны заметить. Этим я&nbsp;и&nbsp;занимался. Про нас очень много писали и&nbsp;пишут, нас цитируют, это была одна из&nbsp;задач, порученных мне.
					.interview-block__interview--little.hidden-block
						p Приведите идеальный пример того, как это должно быть.
					p.hidden-block Для многих пожилых людей, чтобы они начали пользоваться мессенджером, помогает аналогия с&nbsp;<nobr>смс-сообщениями</nobr>. То&nbsp;же самое скайп&nbsp;&mdash; видеосвязь, чтобы увидеть внука или правнука. Пусть в&nbsp;продукте будет много функций для профи, но&nbsp;должна быть хоть одна простая вещь, которая понятна всем, даже малому ребенку. Как молоток для забивания гвоздей.
					.interview-block__interview--little.hidden-block
						p В&nbsp;Easy Finance это что?
					p.hidden-block Запись доходов и&nbsp;расходов, это&nbsp;же все умеют. Дальше мы&nbsp;начинаем показывать советы, новый функционал&nbsp;&mdash; семейный бюджет, финансовые цели, индикаторы финансового состояния, которые подсказывают, что плохо, что хорошо.
					p.hidden-block В&nbsp;TalkBank это банковская карта, которую можно применять, как привычно,&nbsp;&mdash; снять деньги в&nbsp;банкомате, расплачиваться в&nbsp;магазинах, делать переводы друзьям, а&nbsp;потом человек начинает использовать <nobr>бот-помощник</nobr>, который дает финансовые советы.
					.interview-block__interview--big.hidden-block
						p &laquo;Эффективный <nobr>бизнес-подход</nobr> заключается в&nbsp;том, что, нарезав несколько сегментов, нужно выбрать целевой и&nbsp;работать с&nbsp;ним. Если вы&nbsp;будете пытаться преуспеть во&nbsp;всех сразу, вы&nbsp;расфокусируетесь.&raquo;
					.interview-block__interview--little.hidden-block
						p Как вы&nbsp;нашли свою целевую аудиторию?
					p.hidden-block Как правило, начинающие предприниматели испытывают иллюзии относительно рынка. Выходя на&nbsp;большой рынок, они сталкиваются с&nbsp;разными сегментами, которые потенциально могут использовать их&nbsp;продукт. У&nbsp;них разные задачи, даже не&nbsp;те, которые могли быть изначально задуманы.
					p.hidden-block То&nbsp;же самое у&nbsp;нас. Мы&nbsp;видели только одну целевую аудиторию, которая использует такие решения, но&nbsp;в&nbsp;процессе поняли еще одну. Наши клиенты&nbsp;&mdash; не&nbsp;только те, кто ведет семейный учет, но&nbsp;также предприниматели, ведущие управленческий учет для своих компаний. И&nbsp;мы&nbsp;стали работать с&nbsp;этим сегментом, они теперь используют именно наше решение, а&nbsp;мы&nbsp;развиваем функционал под них.
					.interview-block__interview--little.hidden-block
						p Например?
					p.hidden-block Создали раздел &laquo;Контрагенты&raquo;, где можно учитывать расходы и&nbsp;доходы по&nbsp;поставщикам и&nbsp;партнерам. Сделали метки по&nbsp;продуктам, проектам. Вся система стала сложнее и&nbsp;интереснее для предпринимателей. А&nbsp;вот для частных клиентов такой функционал избыточен, и&nbsp;мы&nbsp;его не&nbsp;навязываем.
					p.hidden-block В&nbsp;системе Easy Finance есть несколько продуктов, заточенных под потребности различных категорий клиентов. Продумать их&nbsp;заранее нельзя, надо пообщаться с&nbsp;представителями конкретной категории, понять, как они живут, какие у&nbsp;них есть проблемы, какие методы для решения своих вопросов они используют и&nbsp;какие при этом возникают сложности. Это позволит выявить ключевые ценности для этого сегмента и&nbsp;либо развить их&nbsp;лучше в&nbsp;базовом продукте, либо создать отдельное направление, новые продукты и&nbsp;сервисы.
					p.hidden-block Чем лучше вы&nbsp;понимаете потребности, тем лучше клиенты вам платят.
					.interview-block__interview--little.hidden-block
						p А&nbsp;вы&nbsp;не&nbsp;считаете, что это был промах, в&nbsp;том, что вы&nbsp;сразу не&nbsp;выявили все &laquo;свои&raquo; ниши?
					p.hidden-block Впоследствии мы&nbsp;проходили акселерацию в&nbsp;АСИ, много работали над пониманием клиентов, их&nbsp;ценностей, того, что вы&nbsp;должны нести в&nbsp;своем продукте потребителям.
					p.hidden-block Эффективный <nobr>бизнес-подход</nobr> заключается в&nbsp;том, что, нарезав несколько сегментов, нужно выбрать целевой и&nbsp;работать с&nbsp;ним. Если вы&nbsp;будете пытаться преуспеть во&nbsp;всех сразу, вы&nbsp;расфокусируетесь. Поэтому я&nbsp;не&nbsp;думаю, что у&nbsp;нас были <nobr>какие-то</nobr> глобальные ошибки, в&nbsp;том числе с&nbsp;выбором целевых категорий клиентов.
					p.hidden-block Если все делать по&nbsp;инструкции, по&nbsp;книге, по&nbsp;правилам, возможно, получится лучше. Но&nbsp;бизнес на&nbsp;то&nbsp;и&nbsp;есть бизнес, что в&nbsp;нем ничего нельзя знать заранее, лучше пробовать и&nbsp;добиться успеха, чем даже не&nbsp;пытаться!
					.interview-block__video__sharing.clearfix.hidden-block
							ul.js-share
								li
									a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb" data-interview="popov").fbook.js-double-share
								li
									a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk" data-interview="popov").vkt.js-double-share
								li
									a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw" data-interview="popov").twt.js-double-share
			.interview-block__main-tab(data-tab="2")
				.interview-block__video
					.interview-block__video__block
						.interview-block__video__block__muted.video_muted.block-control
							.block-control__pause
							.block-control__play
						.full-block-control
							.full-block-control__play
							.full-block-control__time
							.full-block-control__main-line
								.full-block-control__main-line__progress
							.full-block-control__sound
						.interview-block__video__block__interview
							iframe(id="client-video" width="780" height="440" src="https://www.youtube.com/embed/HLGZqCOwOws?&enablejsapi=1&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen)
						.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg)")
						.interview-block__video__block__info
							h3 Павел Чаплинский
							p.regalia Основатель BOX&ROSES
							p.hide-in-mobile Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
							.interview-block__video__block__info__playbutton(id="start-client-video")
					.interview-block__video__sharing.clearfix
						ul.js-share
							li
								a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb" data-interview="chaplincki").fbook.js-double-share
							li
								a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk" data-interview="chaplincki").vkt.js-double-share
							li
								a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw" data-interview="chaplincki").twt.js-double-share
						.interview-block__video__decypher
							span.interview-block__video__decypher--text Расшифровка интервью
							span.interview-block__video__decypher--img(id="show-interview-business")
				.interview-block__interview
					span.interview-block__interview--decypher Расшифровка интервью

					.interview-block__interview--little
						p С&nbsp;чего все началось?
					p
						| Началось с&nbsp;путешествия за&nbsp;рубеж. Мне потребовалось отправить цветы, и, проведя 2&ndash;3 часа в&nbsp;интернете, я&nbsp;не&nbsp;нашел ни&nbsp;одного хорошего сервиса, который&nbsp;бы предоставлял комплекс услуг по&nbsp;доставке цветов. Либо у&nbsp;компании был неработающий сайт, либо нельзя было дозвониться по&nbsp;указанному номеру, либо нельзя было оплатить букет картой, либо доставку делали в&nbsp;определенные часы или на&nbsp;следующий день&hellip; И&nbsp;тогда я&nbsp;решил создать сервис по&nbsp;доставке цветов, который будет работать в&nbsp;режиме 24/7. При этом мы&nbsp;не&nbsp;отказываем клиентам и&nbsp;готовы решить любую задачу по&nbsp;флористике.
					.interview-block__interview--little
						p Любой бизнес начинается с&nbsp;личного опыта, получается?
					p.hidden-block
						| Я&nbsp;в&nbsp;принципе всю жизнь занимался антикризисным управлением и&nbsp;построением розничных сетей. Вот, столкнувшись с&nbsp;некой проблемой, подумал, что надо создать собственный бизнес, чем в&nbsp;настоящий момент я&nbsp;и&nbsp;занимаюсь.
					.interview-block__interview--little.hidden-block
						p А&nbsp;почему вы&nbsp;вообще решили стать предпринимателем?
					p.hidden-block
						| Я&nbsp;начал работать в&nbsp;17 лет, когда поступил в&nbsp;университет, и&nbsp;до&nbsp;20 лет был именно частным предпринимателем. Это было в&nbsp;начале 2000-х, студенческая стипендия была очень маленькая, а&nbsp;времени и&nbsp;амбиций, напротив, много, поэтому и&nbsp;хотел попробовать свои силы в&nbsp;бизнесе.
						| Первый проект, который мы&nbsp;запустили,&nbsp;&mdash; поставка мобильных телефонов из-за рубежа. Еще я&nbsp;занимался экспортом круглого леса в&nbsp;Швецию.
						| Потом, где-то в&nbsp;20 лет, я&nbsp;понял, что мне не&nbsp;хватает управленческого опыта, и&nbsp;решил пойти работать в&nbsp;иностранную компанию. Рассылал резюме в&nbsp;крупнейшие международные компании типа Coca-Cola и&nbsp;по&nbsp;чистой случайности попал в&nbsp;Ситибанк, где стал строить карьеру банковского менеджера.
					.interview-block__interview--little.hidden-block
						p Что для вас значит бизнес-партнер?
					p.hidden-block
						| Бизнес-партнеры&nbsp;&mdash; это моя команда. Кадры решают все, я&nbsp;полностью согласен с&nbsp;этим выражением. Команда&nbsp;&mdash; это твои крылья, это люди, на&nbsp;которых ты&nbsp;можешь положиться, твой тыл.
					.interview-block__interview--little.hidden-block
						p А&nbsp;партнер, который с&nbsp;вами в&nbsp;бизнесе? Кто инвестирует и&nbsp;создает бизнес вместе с&nbsp;вами?
					p.hidden-block
						| Я&nbsp;&mdash; основной акционер и&nbsp;сам занимаюсь бизнесом. У&nbsp;меня нет бизнес-партнера.
					.interview-block__interview--little.hidden-block
						p Почему? Это принципиальная позиция?
					p.hidden-block
						| Нет, это не&nbsp;принципиальная позиция, я&nbsp;могу управлять этим бизнесом сам, а&nbsp;остальные задачи делегируются сотрудникам. Идея родилась у&nbsp;меня единолично, я&nbsp;начал строить дело сам, и&nbsp;сегодня он&nbsp;вырос в&nbsp;работающий бизнес в&nbsp;7 городах России. Бизнес-партнер в&nbsp;цветочном деле не&nbsp;требуется. Я&nbsp;собираюсь запускать еще проекты как раз с&nbsp;командой партнеров.
					.interview-block__interview--little.hidden-block
						p Каковы ваши актуальные задачи в&nbsp;бизнесе?
					p.hidden-block
						| Стать флористической компанией &#8470;&nbsp;1, если говорить о&nbsp;флористическом проекте, а&nbsp;также развернуть новые направления&nbsp;&mdash; ландшафтный дизайн и&nbsp;офисная флористика.
					.interview-block__interview--little.hidden-block
						p А&nbsp;что для вас самое важное в&nbsp;работе?
					p.hidden-block
						| Для меня важнее всего в&nbsp;работе честность и&nbsp;уровень удовлетворения клиента, насколько он&nbsp;доволен нашими услугами и&nbsp;будет&nbsp;ли готов давать дальнейшие рекомендации.
					.interview-block__interview--little.hidden-block
						p Насколько важны в&nbsp;бизнесе люди?
					p.hidden-block
						| На&nbsp;100%. Весь бизнес основан на&nbsp;людях, мне понадобилось около 2 лет, чтобы сформировать команду, порядка 15 флористов пришлось поменять, прежде чем обнаружились те&nbsp;самые таланты, около 100 курьеров приходили и&nbsp;уходили, прежде чем мы&nbsp;нашли вежливых, пунктуальных людей. Люди&nbsp;&mdash; это основная составляющая бизнеса, я&nbsp;очень хорошо это понимаю.
					.interview-block__interview--little.hidden-block
						p Есть незаменимые люди?
					p.hidden-block
						| Незаменимых людей не&nbsp;бывает, и&nbsp;если бизнес на&nbsp;таковых строится, речь идет о&nbsp;неправильных бизнес-процессах. Компания должна работать автономно, даже если кто-то из&nbsp;звеньев выпадает. Но, конечно, есть люди, на&nbsp;которых держится бизнес, потеря таких людей для компании существенна. Но, повторюсь, найти альтернативного человека можно. В&nbsp;нашей компании мы&nbsp;руководствуемся тем, что проще взять молодого человека и&nbsp;его обучить, чем найти готового профи с&nbsp;базой и&nbsp;внедрять в&nbsp;него наши корпоративные ценности и&nbsp;заново его переучивать.

					.interview-block__interview--little.hidden-block
						p Почему?

					p.hidden-block
						| Я&nbsp;взял эту модель от&nbsp;американских и&nbsp;английских компаний, которые пришли в&nbsp;90-е годы и&nbsp;разворачивали здесь свой бизнес&nbsp;&mdash; банковский, производственный, страховой и т. д. Так вот, эти корпорации начали набирать людей из&nbsp;бывших советских организаций, их&nbsp;возраст на&nbsp;тот момент составлял 30-40-50 лет. У&nbsp;них уже сформировался устойчивый менталитет, они не&nbsp;сильно были настроены на&nbsp;результативную работу, пытались унести что-то с&nbsp;заводов, не&nbsp;были вежливыми и&nbsp;клиентоориентированными. Спустя несколько лет эти компании решили набирать студентов, обучать их&nbsp;и&nbsp;давать им&nbsp;возможность большого карьерного роста. Такая политика принесла гораздо лучший результат.
						| <br/> Мы&nbsp;идем тем&nbsp;же путем&nbsp;&mdash; набираем молодых людей, у&nbsp;которых горят глаза, кто хочет воплощать в&nbsp;жизнь наш интересный и&nbsp;красивый проект, кто готов работать. Мы&nbsp;набираем их&nbsp;и&nbsp;даем им&nbsp;практически неограниченные перспективы развития и&nbsp;полномочия.
						| <br/> Если посмотреть на&nbsp;банковский сектор Европы и&nbsp;США, то&nbsp;позиции руководителей отделений, филиалов занимают там люди в&nbsp;возрасте 50 лет. В&nbsp;2000-е и&nbsp;90-е годы позиции руководителей офисов, отделений, филиалов в&nbsp;регионах России занимали ребята средним возрастом 26 лет. Это прецедент, которого больше в&nbsp;мире вы&nbsp;нигде не&nbsp;встретите. Просто в&nbsp;стране не&nbsp;было прослойки хорошо обученных кадров. Сейчас, если посмотреть на&nbsp;разные сферы бизнеса, можно увидеть много талантливых предпринимателей и&nbsp;управленцев&nbsp;&mdash; выходцев из&nbsp;банковского сектора. Финансовая индустрия подарила большое число качественных менеджерских кадров.

					.interview-block__interview--little.hidden-block
						p Как привлечь клиентов?

					p.hidden-block
						| Хороший продукт продает себя сам. Если сделать качественный сервис, он&nbsp;сам будет привлекать людей. Есть сарафанное радио, и&nbsp;оно отлично работает. Человек попробовал, ему понравилось, он&nbsp;начинает этим пользоваться и&nbsp;советовать другим. Глобальная &laquo;уберизация&raquo; как раз идет этим путем&nbsp;&mdash; агрегаторы такси, платежные системы, социальные сети&nbsp;&mdash; их&nbsp;же никто не&nbsp;продвигает, кто-то один попробовал, понравилось, посоветовал другу.
						| Из&nbsp;современных технологий надо выделить соцсети. Самые продающие площадки&nbsp;&mdash; это &laquo;Инстаграм&raquo;, &laquo;Фейсбук&raquo;, &laquo;ВКонтакте&raquo;. Там огромное количество людей, есть возможность этих людей подбирать, делать ранжирование по&nbsp;возрасту, по&nbsp;гендерному признаку, по&nbsp;геолокации, вплоть до&nbsp;5&nbsp;м выбирать зону своей аудитории и&nbsp;рекламироваться и&nbsp;продвигать свой товар в&nbsp;той группе, которая непосредственно является вашим покупателем.

					.interview-block__interview--little.hidden-block
						p То&nbsp;есть вы&nbsp;за&nbsp;современные технологии?

					p.hidden-block
						| Да, конечно, потому что, например, соцсети значительно снижают расходы на&nbsp;рекламу, сужают сроки и&nbsp;приносят лучший результат.

					.interview-block__interview--little.hidden-block
						p Что нужно сделать потенциальному предпринимателю, который решил запустить бизнес? Что ему нужно сказать себе прежде всего?

					p.hidden-block
						| Прежде всего надо придумать концепцию. В&nbsp;голове должна быть готовая идея, понимание, как его бизнес будет выглядеть через полгода, год, два, три. Также надо наметить какую-то конечную точку, к&nbsp;которой хочется прийти.
						| <br/> Дальше должно быть понимание тех инструментов, с&nbsp;помощью которых предприниматель будет идти к&nbsp;цели. Есть&nbsp;ли у&nbsp;тебя бюджеты, если нет&nbsp;&mdash; где будешь брать финансирование под этот проект, есть&nbsp;ли у&nbsp;тебя команда людей, какие задачи ты&nbsp;им&nbsp;поставишь, какие принципы корпоративной культуры ты&nbsp;будешь этим людям прививать, и&nbsp;для чего ты&nbsp;вообще хочешь построить этот бизнес.
						| <br/> Когда создавался флористический бизнес, я&nbsp;поставил задачу&nbsp;&mdash; сделать лучшую компанию по&nbsp;флористике с&nbsp;точки зрения сервиса, красоты и&nbsp;функциональности для клиента. И&nbsp;мы&nbsp;беремся за&nbsp;любой заказ&nbsp;&mdash; например, доставить в&nbsp;тундру цветы, украсить цветами самолет или подводную лодку, все что угодно, ищем подходы, как это сделать&nbsp;&mdash; как выполнить поставленную клиентом задачу.

					.interview-block__interview--little.hidden-block
						p Какие еще технологии позволяют стартапам развиваться?

					p.hidden-block
						| Основная тема для малого бизнеса, для стартапов&nbsp;&mdash; это, конечно, связь и&nbsp;современные инструменты коммуникации.
						| <br/> Когда я&nbsp;решил создать флористический бизнес, я&nbsp;в&nbsp;первую очередь поставил задачу сделать его удобным для клиентов. При этом я&nbsp;понимал, что у&nbsp;компании должен быть серьезный имидж, тем более что мы&nbsp;одинаково активно работаем и&nbsp;с&nbsp;частными клиентами, и&nbsp;с&nbsp;крупными корпоративными заказчиками. Имидж начинается с&nbsp;элементарных вещей&nbsp;&mdash; дизайн, название компании и&nbsp;методы, по&nbsp;которым клиент будет коммуницировать с&nbsp;вами&nbsp;&mdash; электронная почта, сайт, телефон компании. Многие небольшие фирмы пользуются мобильными номерами, но, уверен, для компании это серьезно. Мы&nbsp;одновременно с&nbsp;торговым знаком зарегистрировали красивый <a href="http://beeline.ru/b2b/products/telephony/services/details/gorodskie-telefonnye-nomera/?utm_source=RBC&utm_medium=banner&utm_term=Pryamoj_gorodskoj_nomer&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">прямой городской номер</a> в&nbsp; <a href="http://www.beeline.ru/b2b/cloud-ats/?utm_source=RBC&utm_medium=banner&utm_term=Oblachnaya_ATS&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">облачной АТС</a> от &ensp;&laquo;Билайн&raquo; Бизнес, которая позволяет удаленно контролировать все наши звонки, прогнозировать связь, распределять звонки между менеджерами.
						| <br/> Наша АТС позволяет вести проект из&nbsp;любой точки мира и&nbsp;проверять качество обслуживания&nbsp;&mdash; можно прослушать любой телефонный разговор, посмотреть, как общается менеджер с&nbsp;заказчиком, переслушать спорные моменты. Можно удаленно переадресовывать мобильную связь на&nbsp;любой номер телефона. Причем если менеджер находится в&nbsp;отпуске в&nbsp;другой стране и&nbsp;на&nbsp;него переадресована связь, он&nbsp;ничего за&nbsp;это не&nbsp;платит. Мы&nbsp;просто оплачиваем корпоративную виртуальную АТС.
						| <br/> Такая система позволяет развязать руки любой компании, частично задействовать часть сотрудников, работающих из&nbsp;дома. Это опять&nbsp;же снижает издержки на&nbsp;аренду офиса и&nbsp;повышает эффективность бизнеса. Ведь, как уже давно доказано, люди, работающие из&nbsp;дома, намного более эффективны, чем сидящие в&nbsp;офисе с&nbsp;9 до&nbsp;6.

					.interview-block__interview--little.hidden-block
						p В&nbsp;чем секрет бизнес-успеха?

					p.hidden-block
						| Управленческий опыт, который я&nbsp;получил за&nbsp;11 лет работы в&nbsp;банковской сфере на&nbsp;топовых позициях. Шаг за&nbsp;шагом я&nbsp;шел по&nbsp;карьерной лестнице и&nbsp;получал огромное количество контактов с&nbsp;людьми, проводил множество собеседований. Кстати, я&nbsp;могу просто по&nbsp;одному разговору понять, хороший&nbsp;ли это для меня сотрудник.

					.interview-block__interview--little.hidden-block
						p Чтобы начать бизнес и&nbsp;сделать его успешным, нужен опыт корпоративного управления?

					p.hidden-block
						| Конечно, должен быть бэкграунд. Нужно иметь базу-либо образовательную, либо работу в&nbsp;крупной компании, которая даст вам возможность управления, опыт в&nbsp;маркетинге, пиаре, опыт корпоративной жизни и&nbsp;возможность дальше эти технологии транслировать в&nbsp;вашей собственной компании.

					.interview-block__interview--little.hidden-block
						p Как вы&nbsp;развиваете свое дело?

					p.hidden-block Мы&nbsp;идем по&nbsp;нескольким путям развития&nbsp;&mdash; открытие собственных магазинов и&nbsp;продажа франшиз в&nbsp;регионы. Помимо этого мы&nbsp;развиваем новые продуктовые направления. В&nbsp;рознице&nbsp;&mdash; это цветы в&nbsp;коробках, оформление свадебных мероприятий. В&nbsp;корпоративном направлении&nbsp;&mdash; это оформление офисов, автосалонов, помощь в&nbsp;запуске каких-то продуктов. Например, нашему партнеру&nbsp;&mdash; компании &laquo;Л’Ореаль&raquo;&nbsp;&mdash; мы&nbsp;помогали запускать линию помад и&nbsp;косметики, подбирали букеты в&nbsp;тон помад. Очень красивый проект. Работали с&nbsp;Каннским фестивалем. На&nbsp;8&nbsp;Марта мы&nbsp;воплощали проект с&nbsp;торговым центром ЦУМ &laquo;Вместе с&nbsp;ЦУМом&raquo;, в&nbsp;рамках которого порядка 9 тысяч букетов в&nbsp;течение недели украшали пространства центрального магазина страны. Мы&nbsp;&mdash; единственная компания в&nbsp;России, которая является официальным поставщиком компании Porsche AG, немецкой автомобильной компании, работающей в&nbsp;России. В&nbsp;их&nbsp;офисе на&nbsp;Ленинградском проспекте мы&nbsp;сделали проект озеленения &laquo;под ключ&raquo;. С&nbsp;нами удобно работать таким заказчикам, так как у&nbsp;нас есть свое производство&nbsp;&mdash; мы&nbsp;варим и&nbsp;монтируем конструкции любой сложности из&nbsp;дерева, металла и&nbsp;др. Делаем цветочные стены, живые изгороди, кашпо в&nbsp;стиле high tech. Все делаем сами, поэтому цены держим в&nbsp;2 раза ниже, чем любая другая компания, которая ввозит многие вещи из-за рубежа.

					.interview-block__interview--little.hidden-block
						p Кто сегодня в&nbsp;бизнесе выигрывает и&nbsp;почему?

					p.hidden-block В&nbsp;основе успеха&nbsp;&mdash; кадры, команда. Если у&nbsp;тебя лучше команда, чем у&nbsp;конкурентов, ты&nbsp;будешь на&nbsp;коне. Второе&nbsp;&mdash; современные технологии и&nbsp;эффективные бизнес-процессы. Я&nbsp;постоянно работаю над совершенствованием бизнес-процессов, уменьшением издержек, поиском новых решений, каналов продаж и&nbsp;вариантов развития компании. Если когда-то мы&nbsp;начинали продавать цветы в&nbsp;коробках, теперь мы&nbsp;&mdash; многоуровневый холдинг, занимающийся разными направлениями.

					.interview-block__interview--little.hidden-block
						p На&nbsp;чем нельзя в&nbsp;бизнесе экономить?

					p.hidden-block
						| На&nbsp;технологиях, на&nbsp;связи, если клиент не&nbsp;может до&nbsp;вас дозвониться, вас не&nbsp;слышно, сайт не&nbsp;открывается, почта не&nbsp;работает, платежный терминал не&nbsp;дает оплатить по&nbsp;карте,&nbsp;&mdash; большой минус вам.
						| <br/> И&nbsp;еще нельзя экономить на&nbsp;людях. У&nbsp;нас прозрачная система мотивации. Мы&nbsp;рассказываем людям, сколько они могут заработать, у&nbsp;нас нет потолка, чем как раз отличается европейский подход. Как только в&nbsp;российских компаниях менеджер начинает получать высокий доход, руководство пересматривает мотивацию, пытается &laquo;подрезать крылья&raquo;. Мы&nbsp;исповедуем открытый подход и&nbsp;даем людям возможность заработать. Все зависит от&nbsp;их&nbsp;усилий. Для бизнеса это эффективная модель. Когда не&nbsp;ограничиваешь своих сотрудников в&nbsp;доходах, они не&nbsp;ограничивают твою прибыль.

					.interview-block__video__sharing.clearfix.hidden-block
						ul.js-share
							li
								a(href="https://www.facebook.com/sharer/sharer.php?u=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--fb" data-interview="chaplincki").fbook.js-double-share
							li
								a(href="https://vk.com/share.php?url=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--vk" data-interview="chaplincki").vkt.js-double-share
							li
								a(href="https://twitter.com/intent/tweet?text=", class="interview-block__video__sharing__icon interview-block__video__sharing__icon--tw" data-interview="chaplincki").twt.js-double-share

		.external-speaker-block
			.interview-block--wrapper
				.interview-block__tab
					.interview-block__tab__interview.interview-block__tab--bman(tab-index="1")
						| Бизнес
						.shift-tab
						| от первого лица
					.interview-block__tab__interview.interview-block__tab--client(tab-index="2")
						| Правила
						.shift-tab
						| предпринимателя
			.inter-block__speakers--wrapper(speakers-tab="1")
				.interview-block__speakers
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-2.html")
								img(src="images/interview-speakers/business/2.Cerazov.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-2.html") Константин Церазов
							p Член правления, руководитель инвестиционного блока банка &laquo;ФК&nbsp;Открытие&raquo;,член совета директоров &laquo;Открытия Капитал&raquo;
							a(href="/interview-2.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-3.html")
								img(src="images/interview-speakers/business/3.Feldman.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-3.html") Максим Фельдман
							p Руководитель направления по работе с клиентами Московской школы управления СКОЛКОВО
							a(href="/interview-3.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-4.html")
								img(src="images/interview-speakers/business/4.Volshuck.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-4.html") Александр Волощук
							p Генеральный директор сервиса Dr.Tariffи студии разработки QStudio.org
							a(href="/interview-4.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-5.html")
								img(src="images/interview-speakers/business/5.Avedei.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-5.html") Алексей Авдей
							p Директор по продукту ЦИАН
							a(href="/interview-5.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-6.html")
								img(src="images/interview-speakers/business/6.Panov.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-6.html") Сергей Панов
							p Сооснователь и&nbsp;генеральный директор <nobr>интернет-бухгалтерии</nobr> &laquo;Моё дело&raquo;
							a(href="/interview-6.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-7.html")
								img(src="images/interview-speakers/business/7.Jukov.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-7.html") Михаил Жуков
							p Генеральный директор HeadHunter
							a(href="/interview-7.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-8.html")
								img(src="images/interview-speakers/business/8.Tabolin.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-8.html") Сергей Таболин
							p Руководитель по&nbsp;сегментному маркетингу &laquo;Билайн&raquo; Бизнес
							a(href="/interview-8.html").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-9.html")
								img(src="images/interview-speakers/business/9.Li.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-9.html") Дмитрий Ли
							p Директор по&nbsp;маркетингу бизнес-сегмента &laquo;Билайн&raquo;
							a(href="/interview-9.html").watch-interview Смотреть
			.inter-block__speakers--wrapper(speakers-tab="2")
				.interview-block__speakers
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-2.html#client")
								img(src="images/interview-speakers/clients/2.-Shlopack.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-2.html#client") Дмитрий Шлопак
							p Управляющий партнер «Везендорф групп»
							a(href="/interview-2.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-3.html#client")
								img(src="images/interview-speakers/clients/3.-Zamai.png")
						.interview-block__speakers__item__text
							h3 
								a(href="/interview-3.html#client") Андрей Замай
							p Генеральный директор компании «Первая Интеллектуальная Реклама»
							a(href="/interview-3.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-4.html#client")
								img(src="images/interview-speakers/clients/4.-Lasckov.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-4.html#client") Игорь Ласьков
							p Генеральный директор ООО «Стройкомфорт»
							a(href="/interview-4.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-5.html#client")
								img(src="images/interview-speakers/clients/5.-Smirnov.png")
						.interview-block__speakers__item__text
							h3 
								a(href="/interview-5.html#client") Илья Смирнов
							p IT-директор компании «Ай Ти Ви групп»
							a(href="/interview-5.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-6.html#client")
								img(src="images/interview-speakers/clients/6.-Shelmanova.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-6.html#client") Ольга Шеламова
							p Совладелец компании «Олимп»
							a(href="/interview-6.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-7.html#client")
								img(src="images/interview-speakers/clients/7.-Silhev.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-7.html#client") Андрей Сильчев
							p Директор по развитию IT Partner
							a(href="/interview-7.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-8.html#client")
								img(src="images/interview-speakers/clients/8.Shkolerov.png")
						.interview-block__speakers__item__text
							h3
								a(href="/interview-8.html#client") Дмитрий Шкловер
							p Основатель интернет-магазина 613bricks.ru
							a(href="/interview-8.html#client").watch-interview Смотреть
					.interview-block__speakers__item
						.interview-block__speakers__item__img
							a(href="/interview-9.html#client")
								img(src="images/interview-speakers/clients/9. Poryadneev.png")
						.interview-block__speakers__item__text
							h3 Кирилл Поряднев
							p Генеральный директор «Результат Плюс»
							a(href="/interview-9.html#client").watch-interview Смотреть
