extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Михаил Жуков, генеральный директор HeadHunter: как собрать сильную бизнес-команду. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_7.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед'

block content