extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Игорь Ласьков, генеральный директор «Стройкомфорт»: как построить крепкий девелоперский бизнес. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Client_4.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед'

block content