extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Дмитрий Ли, директор по маркетингу бизнес-сегмента «Билайн»: о новых технологиях в современном бизнесе. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_9.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед'

block content