extends templates/layout
block vars
	- var title = '«БИЛАЙН» БИЗНЕС'
	- var og_title = 'Выбираем банк на всю жизнь'
	- var og_description = 'Зачастую банк — это ключевой партнёр и главная финансовая опора для бизнеса. Как выбрать банк, — делимся в спецпроекте РБК и «Билайн».'
	- var og_image = '../images/bank.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/lifehack-2/Cover.jpg');")
		a(href="index.html").link-back Вернуться на главную
		span Лайфхак
		h1 Выбираем банк на всю жизнь
		.link
			a(href="/lifehack-1.html").prev-link Предыдущий лайфхак
			span |
			a(href="/lifehack-3.html").next-link Следующий лайфхак
	section.content-text.content-text--lifehack
		.container
			p.
				Как выбрать банк, чтобы в&nbsp;нем и&nbsp;счет легко открыть, и&nbsp;кредит получить, и&nbsp;дистанционно операции проводить,&nbsp;&mdash; в&nbsp;общем, так, чтобы голова не&nbsp;болела за&nbsp;управление финансами? Думаете, это миф? Нет, выбрать единого финансового партнера можно, все зависит от&nbsp;сферы и&nbsp;потребностей вашего бизнеса.
			p.
				Наиболее востребованными банковскими продуктами для субъектов малого бизнеса, помимо кредитования, является дистанционное обслуживание (интернет-банкинг) и&nbsp;РКО. Дистанционными сервисами пользуются уже более&nbsp;50% российских предприятий. При этом субъекты малого и&nbsp;среднего предпринимательства выбирают банки, которые им&nbsp;приемлемы по&nbsp;условиям, и&nbsp;зачастую это не&nbsp;крупные госбанки. Ключевыми критериями выбора является удобство и&nbsp;скорость проведения платежей, дистанционные возможности, наличие прямого контакта с&nbsp;менеджером банка на&nbsp;случай возникновения проблем или острых вопросов.
			.line-dots
			.image-block.image-block--right.margin-h
				.image-block__rectangle
				.image-block__img
					img(src="../images/lifehack-2/Image_1.jpg", alt="")
			.line-dots.visible-mobile		
			h2 	Онлайн или офлайн
			p.
				Согласно исследованию НАФИ, фирмы, которые уже давно ведут бизнес, выбирают банки, в&nbsp;основном посещая их&nbsp;отделения и&nbsp;опираясь на&nbsp;рекомендации коллег. А&nbsp;новые компании и&nbsp;предприниматели отличаются: они чаще используют дистанционные формы коммуникации с&nbsp;банком (интернет-сайты, рейтинги банков в&nbsp;интернете и&nbsp;телефонные контакты). Современные решения операторов позволяют фирмам контактировать с&nbsp;банками в&nbsp;онлайн-режиме.
			p.
				Предпочтение онлайн-каналов также является более характерным для представителей среднего бизнеса, пятая часть которых ориентируется на&nbsp;позиции банков в&nbsp;рейтингах печатных или интернет-изданий. При этом представители микро- и&nbsp;малого бизнеса также часто ходят для личных консультаций в&nbsp;офисы банков.
			.line-dots
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--woman
					h3 Ольга Стасевич
				.quote-block__author--about
					p руководитель направления корпоративных исследований НАФИ
				.quote-block__citate
					p.
						Обращение микро- и&nbsp;малого бизнеса за&nbsp;личной консультацией в&nbsp;банк выглядит логичным и&nbsp;естественным. Будучи менее опытными во&nbsp;взаимодействии с&nbsp;финансовыми организациями, они предпочтут личную консультацию как гарантию получения полной и&nbsp;понятной информации. Что касается онлайн- и&nbsp;офлайн-источников, можно отметить, что для молодых компаний поиск посредством интернета является более характерным, тогда как компании, образовавшиеся до&nbsp;2000&nbsp;года, по-прежнему отдают предпочтение &bdquo;живому&ldquo; общению.
		section.content-text.content-text--lifehack
			.container.container-lifehack-2
				h2 Банк для маленьких
				p.
					В&nbsp;России сегодня работает свыше 600 кредитных организаций, однако далеко не&nbsp;все подходят для работы с&nbsp;малым и&nbsp;средним бизнесом. Можно сказать даже, что есть банки, &laquo;заточенные&raquo; под малый бизнес, фирмы и&nbsp;предпринимателей, и, чтобы повседневное финансовое обслуживание было комфортным, бизнесмену нужно выбрать именно такой.
				.advice-content__block__step__inner
					h3 Оперативная связь с&nbsp;банком
					p <a href="http://inet-4g.beeline.ru?utm_source=RBC&utm_medium=banner&utm_term=Delovoj_internet&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank" class="linked">&laquo;Деловой Интернет&raquo;</a> от &laquo;Билайн&raquo; Бизнес позволит решать свои финансовые вопросы в&nbsp;<nobr>онлайн-режиме</nobr>.
					a(href="http://inet-4g.beeline.ru?utm_source=RBC&utm_medium=banner&utm_term=Delovoj_internet&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
						span
				p.
					Банки, нацеленные на&nbsp;малый и&nbsp;средний бизнес, представлены в&nbsp;разных категориях.
				p.
					<nobr>Во-первых</nobr>, это крупные банки с&nbsp;государственным участием (Сбербанк, ВТБ24, РСХБ, &laquo;Российский капитал&raquo;, &laquo;МСП&raquo; и&nbsp;др.). Эти организации одними из&nbsp;первых после острой фазы кризиса начали кредитовать представителей малого бизнеса, и&nbsp;в&nbsp;целом их&nbsp;можно рассматривать как партнера для целей получения финансирования. В&nbsp;то&nbsp;же время эта группа банков не&nbsp;всегда готова оперативно решать насущные вопросы предпринимателей, скажем, по&nbsp;переводам, РКО <nobr>и т. д.</nobr> Кроме того, не&nbsp;все из&nbsp;них могут похвастаться удобным <nobr>интернет-банком</nobr> для бизнеса (СМБ).
				p.
					Во-вторых, крупные частные банки с&nbsp;гибкой кредитной и&nbsp;клиентской политикой, одним из&nbsp;приоритетных сегментов для которых является малый бизнес. Таких банков не&nbsp;много, но&nbsp;они&nbsp;есть и&nbsp;среди российских кредитных организаций (Альфа-Банк, Промсвязьбанк, &laquo;Открытие&raquo;, &laquo;Траст&raquo;, &laquo;Авангард&raquo;), и&nbsp;среди &laquo;дочек&raquo; иностранных групп (Росбанк, Райффайзенбанк, Юникредит-банк). Эти организации могут и&nbsp;кредитовать бизнес, и&nbsp;помогать им&nbsp;в&nbsp;осуществлении повседневных операций (платежи, переводы, &laquo;зарплатные&raquo; проекты, валютный контроль и&nbsp;т.&nbsp;д.). Правда, они, как правило, берут на&nbsp;обслуживание не&nbsp;любого предпринимателя и&nbsp;могут долго его проверять. Некоторые из&nbsp;них имеют специальные порталы для малого бизнеса, на&nbsp;которых можно решить многие текущие вопросы&nbsp;&mdash; от&nbsp;регистрации бизнеса и&nbsp;создания сайта до&nbsp;продвижения, маркетинга, обучения сотрудников, а&nbsp;также оформления кредитов и&nbsp;гарантий для гостендеров.
				.line-dots.visible-mobile.mobile-dots
				.image-block.image-block--left
					.image-block__rectangle
					.image-block__img
						img(src="../images/lifehack-2/Image_2.jpg", alt="")
				.line-dots.visible-mobile		
				p.
					В-третьих, относительно новые технологичные банки (iBank, Modulbank, &laquo;Тинькофф&raquo;), которые создавались для обслуживания &laquo;малышей&raquo; и&nbsp;средних фирм и&nbsp;предпринимателей. Как правило, такие организации в&nbsp;первую очередь устроены удобно для повседневной деятельности бизнеса&nbsp;&mdash; РКО, интернет-операций и&nbsp;т.&nbsp;д. Кроме того, они&nbsp;часто оказывают дополнительные услуги для предпринимателей или имеют соответствующие онлайн-сервисы для решения этих задач (бухучет, сдача отчетности, юридические консультации, валютный контроль и&nbsp;т.&nbsp;д.). В&nbsp;качестве приятных мелочей можно назвать наличие персональных менеджеров или, скажем, круглосуточную поддержку предпринимателей.
				.line-dots
				h2 Особое внимание
				p.
					Понятно, что на&nbsp;рынке существуют и&nbsp;другие банки, которые также работают с&nbsp;предпринимателями,&nbsp;&mdash; региональные организации, универсальные банки <nobr>и т. д.</nobr> Представляем вашему вниманию несколько важных критериев для выбора надежного партнера:
				ul
					li Смотрите на&nbsp;данные ЦБ. У&nbsp;регулятора есть нормативы, которые разрабатываются для того, чтобы определить, насколько банк здоров и&nbsp;устойчив. Найти такую информацию можно на&nbsp;сайте ЦБ. Регулятор следит за&nbsp;соблюдением нормативов и, если <nobr>что-то</nobr> идет не&nbsp;так, предпринимает меры, в&nbsp;том числе может отозвать лицензию.
					li Смотрите на&nbsp;рейтинги. Рейтинги от&nbsp;рейтинговых агентств&nbsp;&mdash; это такая интегральная оценка, которая отражает положение банка с&nbsp;разных ракурсов: финансовое положение и&nbsp;устойчивость, акционеры, ситуация на&nbsp;рынке, макроэкономическая обстановка. Если рейтинговое агентство понижает рейтинг, это тревожный знак. Международные рейтинговые агентства: Fitch Ratings, Standart & Poors (S&P) и&nbsp;Moody’s; российские, наиболее авторитетные, &laquo;Эксперт РА&raquo;, &laquo;Национальное рейтинговое агентство&raquo;.
					li Следите за&nbsp;новостями. Информационный фон вокруг банка также важен. Тревожным сигналом в&nbsp;этом плане могут служить новости о&nbsp;перебоях в&nbsp;работе банкоматов, офисов, выдаче вкладов <nobr>и т. д.</nobr>
					li Посмотрите на&nbsp;бизнес банка, его специализацию. <nobr>Бизнес-модель</nobr> должна быть понятной&nbsp;&mdash; универсальный банк, специализированный <nobr>и т. д.</nobr>
					li Изучите отчетность, особенно некоторые показатели&nbsp;&mdash; например, долю кредитов на&nbsp;балансе банка или объем депозитов физлиц и&nbsp;ставки по&nbsp;ним. Если в&nbsp;последнее время отмечается рост вкладов россиян, ставки запредельные, не&nbsp;выбирайте этот банк для обслуживания своего бизнеса. Помните, что, если еще средства граждан застрахованы АСВ, то&nbsp;деньги юрлиц попросту исчезнут в&nbsp;таком банке.
				.line-dots.line-dots--before-table
		section.big-table
			div#title
				.container
					h2 Самые выгодные банки по&nbsp;тарифам на&nbsp;РКО за&nbsp;год при проведении 5 платежей в&nbsp;месяц
				table
						tr.main
							th.number №
							th.title Банк – стоимость РКО за год(руб.)
							th.about Тариф
			div#content
				table
					tr
						td.number
							span 1
						td.title
							h3 VestaBank (Банк &laquo;Веста&raquo;)&nbsp;&mdash; 4000
						td.about
							h3 &laquo;Стартап&raquo;:
							ul
								li открытие и&nbsp;ведение расчётного счёта&nbsp;&mdash; 0&nbsp;руб.;
								li подключение <nobr>интернет-банка</nobr>&nbsp;&mdash; 1&nbsp;000&nbsp;руб.;
								li обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 0&nbsp;руб.;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 50&nbsp;руб.;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; бесплатно;
								li выдача наличных&nbsp;&mdash; от&nbsp;1 до&nbsp;10%;
								li выдача справок&nbsp;&mdash; 200&nbsp;руб
				table
					tr
						td.number
							span 2
						td.title
							h3 iBank (Интерактивный банк)&nbsp;&mdash; 4100
						td.about
							h3 &laquo;Для юрлиц, индивидуальных предпринимателей&raquo;:
							ul
								li открытие и&nbsp;ведение расчетного счета&nbsp;&mdash; 0&nbsp;руб.;
								li подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 0&nbsp;руб. плюс 2000&nbsp;руб. за&nbsp;предоставление в&nbsp;пользование программного обеспечения;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 35&nbsp;руб.;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; бесплатно;
								li выпуск и&nbsp;обслуживание корпоративной карты&nbsp;&mdash; 1000&nbsp;руб. в&nbsp;год;
								li выдача наличных&nbsp;&mdash; от&nbsp;0 до&nbsp;5% от&nbsp;суммы;
								li выдача справок&nbsp;&mdash; 100&nbsp;руб.;
								li проценты на&nbsp;остаток по&nbsp;счету&nbsp;&mdash; 5%;
								li CashBack по&nbsp;операциям оплаты товаров и&nbsp;услуг&nbsp;&mdash; до&nbsp;1,5%.
				table
					tr
						td.number
							span 3
						td.title
							h3 Modulbank (Банк &laquo;Региональный кредит&raquo;)&nbsp;&mdash; 5400
						td.about
							h3 &laquo;Стартовый&raquo;
							ul
								li открытие и&nbsp;ведение расчетного счета&nbsp;&mdash; 0&nbsp;руб.;
								li подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 0&nbsp;руб.;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 90&nbsp;руб.
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; бесплатно;
								li выпуск и&nbsp;обслуживание корпоративной карты&nbsp;&mdash; бесплатно;
								li выдача наличных&nbsp;&mdash; от&nbsp;1 до&nbsp;15%;
								li выдача справок&nbsp;&mdash; бесплатно.
				table
					tr
						td.number
							span 4
						td.title
							h3 Банк &laquo;Траст&raquo;&nbsp;&mdash; 5840
						td.about
							h3 &laquo;Стартовый&raquo;:
							ul
								li открытие расчетного счета&nbsp;&mdash; 800&nbsp;руб., его ведение с&nbsp;подключением к&nbsp;<nobr>интернет-банку</nobr>&nbsp;&mdash; 5040&nbsp;руб. за&nbsp;год по&nbsp;полной предоплате;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 5 платежей в&nbsp;месяц бесплатно, последующие по&nbsp;65&nbsp;руб.;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; 3&nbsp;месяца бесплатно, далее&nbsp;&mdash; 200&nbsp;рублей в&nbsp;месяц;
								li выдача наличных&nbsp;&mdash; от&nbsp;0,5 до&nbsp;10%;
								li выдача справок&nbsp;&mdash; 200&nbsp;руб.
				table
					tr
						td.number
							span 5
						td.title
							h3 &laquo;Тинькофф Банк&raquo;&nbsp;&mdash; 7693
						td.about
							h3 &laquo;Простой&raquo;:
							ul
								li открытие и&nbsp;ведение расчетного счета&nbsp;&mdash; 490&nbsp;руб. в&nbsp;месяц, 2&nbsp;месяца бесплатно;
								li подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 0&nbsp;руб.;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 3 первых платежа&nbsp;&mdash; 0&nbsp;рублей, последующие&nbsp;&mdash; 49&nbsp;руб.;
								li выпуск и&nbsp;обслуживание корпоративной карты&nbsp;&mdash; бесплатно;
								li выдача наличных&nbsp;&mdash; 1,5%;
								li проценты на&nbsp;остаток по&nbsp;счету&nbsp;&mdash; 6%.
				table
					tr
						td.number
							span 6
						td.title
							h3 Райффайзенбанк&nbsp;&mdash; 9480
						td.about
							h3 &laquo;Старт&raquo;:
							ul
								li открытие и&nbsp;ведение расчетного счета&nbsp;&mdash; 8760&nbsp;руб. в&nbsp;год по&nbsp;полной предоплате;
								li подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 0&nbsp;руб.;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 3 платежа в&nbsp;месяц бесплатно, последующие&nbsp;&mdash; 30&nbsp;руб.;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; 190&nbsp;руб. в&nbsp;месяц;
								li выпуск и&nbsp;обслуживание корпоративной карты&nbsp;&mdash; 290&nbsp;руб. в&nbsp;месяц;
								li выдача наличных&nbsp;&mdash; от&nbsp;0,4 до&nbsp;10%;
								li выдача справок&nbsp;&mdash; 200&nbsp;руб. за&nbsp;первый экземпляр и&nbsp;50&nbsp;руб. за&nbsp;последующие.
				table
					tr
						td.number
							span 7
						td.title
							h3 Банк Москвы&nbsp;&mdash; 9820
						td.about
							h3 &laquo;Базовый. Стандарт&raquo;:
							ul
								li открытие и&nbsp;ведение расчетного счета, подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>, отправка 5 бесплатных платежей в&nbsp;месяц через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 4910&nbsp;руб. за&nbsp;полгода по&nbsp;предоплате;
								li cтоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; 100&nbsp;руб. в&nbsp;месяц;
								li выпуск и&nbsp;обслуживание корпоративной карты&nbsp;&mdash; 1050&nbsp;руб. в&nbsp;год;
								li выдача справок&nbsp;&mdash; 300&nbsp;руб.
				table
					tr
						td.number
							span 8
						td.title
							h3 <nobr>Альфа-Банк</nobr>&nbsp;&mdash; 10800
						td.about
							h3 &laquo;Стартап&raquo;:
							ul
								li открытие и&nbsp;ведение расчетного счета&nbsp;&mdash; 1090&nbsp;руб. в&nbsp;месяц или 9810&nbsp;руб. при авансовой оплате года;
								li подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 990&nbsp;руб. единоразово;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; до&nbsp;5 платежей в&nbsp;месяц бесплатно;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; бесплатно
								li выпуск и&nbsp;обслуживание корпоративной карты&nbsp;&mdash; 299&nbsp;руб. в&nbsp;месяц;
								li выдача наличных&nbsp;&mdash; от&nbsp;2,2 до&nbsp;11%;
								li дополнительная выгода&nbsp;&mdash; промокод на&nbsp;2400&nbsp;руб. на&nbsp;рекламу в&nbsp;Яндекс. Директ и&nbsp;на&nbsp;3000&nbsp;руб. на&nbsp;бесплатную первичную юридическую консультацию.
				table
					tr
						td.number
							span 9
						td.title
							h3 Уральский банк реконструкции и&nbsp;развития&nbsp;&mdash; 11600
						td.about
							h3 &laquo;Эконом&raquo;:
							ul
								li открытие и&nbsp;ведение расчетного счета&nbsp;&mdash; 500&nbsp;руб. в&nbsp;месяц;
								li подключение <nobr>интернет-банка</nobr>&nbsp;&mdash; 500&nbsp;руб. и&nbsp;его обслуживание&nbsp;&mdash; 300&nbsp;руб. в&nbsp;месяц;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 25&nbsp;руб.;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; 75&nbsp;руб. в&nbsp;месяц
								li выпуск корпоративной карты&nbsp;&mdash; до&nbsp;3000&nbsp;руб. единоразово;
								li выдача наличных&nbsp;&mdash; от&nbsp;0,4 до&nbsp;7,5%;
								li выдача справок&nbsp;&mdash; от&nbsp;200 до&nbsp;500&nbsp;руб.
				table
					tr
						td.number
							span 10
						td.title
							h3 Банк &laquo;Авангард&raquo;&nbsp;&mdash; 13600
						td.about
							h3 <nobr>Расчетно-кассовое</nobr> обслуживание для корпоративных клиентов&raquo;:
							ul
								li открытие счета онлайн&nbsp;&mdash; 1000&nbsp;руб., его ведение&nbsp;&mdash; 900&nbsp;руб. в&nbsp;месяц;
								li подключение и&nbsp;обслуживание <nobr>интернет-банка</nobr>&nbsp;&mdash; 0&nbsp;руб.;
								li отправка платежей через <nobr>интернет-банк</nobr> за&nbsp;пределы банка&nbsp;&mdash; 30&nbsp;руб.;
								li стоимость <nobr>смс-информирования</nobr>&nbsp;&mdash; бесплатно;
								li выдача наличных&nbsp;&mdash; от&nbsp;0,5 до&nbsp;10%;
								li выдача справок&nbsp;&mdash; 100&nbsp;руб.
	section.sharing-block.sharing-modile-lifehack-2
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	section.advices-block-slider.lifehack-hidden
			a(href="/article-1.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
				.advices-block-slider__item__text
					p Малые миллионы
			a(href="/article-2.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
				.advices-block-slider__item__text
					p Финансы для бизнеса
			a(href="/article-3.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
				.advices-block-slider__item__text
					p «Океаны» бизнеса
			a(href="/article-4.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
				.advices-block-slider__item__text
					p Инвестиции в эффективность
			a(href="/article-5.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
				.advices-block-slider__item__text
					p Плата за&nbsp;эмоции
			a(href="/article-6.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
				.advices-block-slider__item__text
					p В&nbsp;погоне за&nbsp;надежностью
			a(href="/article-7.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
				.advices-block-slider__item__text
					p Кадры в кризис: увольнять или нет
			a(href="/article-8.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
				.advices-block-slider__item__text
					p Связь для бизнеса
			a(href="/article-9.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
				.advices-block-slider__item__text
					p Машины vs люди
	.line-grey.line-grey--lf.lifehack-hidden
	section.video-slider.video-slider-footer.lifehack-hidden
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom