extends templates/layout
block vars
	- var title = '«Билайн» Бизнес'
	- var og_title = 'Как найти свою целевую аудиторию'
	- var og_description = 'Сколько компаний, столько и «идеальных клиентов». Профессионалы в сфере маркетинга рассказывают, как найти целевую аудиторию именно для вашего бизнеса. Читайте в спецпроекте РБК и «Билайн».'
	- var og_image = '../images/lifehack-3/Lifehack_3_Sharing.jpg'
	- var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
	section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/lifehack-3/lifehack3_title.jpg');")
		a(href="index.html").link-back Вернуться на главную
		span Лайфхак
		h1 Как найти свою целевую аудиторию
		.link
			a(href="/lifehack-2.html").prev-link Предыдущий лайфхак
			span |
			a(href="/lifehack-4.html").next-link Следующий лайфхак
	section.content-text.content-text--lifehack
		.container
			p.
				Целевая аудитория&nbsp;&mdash; это клиентский сегмент, в&nbsp;котором будет востребован ваш продукт. Кроме того, целевые клиенты будут готовы заплатить за&nbsp;него больше, чем другие люди, так как для них ваши товары или услуги представляют особую ценность. Как четко попасть в&nbsp;свою ЦА&nbsp;и&nbsp;заработать на&nbsp;этом, мы&nbsp;поговорили с&nbsp;экспертами.
			.line-dots
			h2 Сегментируйте и разделяйте
			p.
				Сегментация&nbsp;&mdash; это процесс разбивки клиентов или потенциальных клиентов на&nbsp;рынке на&nbsp;различные группы (или сегменты), в&nbsp;рамках которых они (клиенты) имеют сходные или аналогичные запросы, удовлетворяющие определенным критериям. Это формальное определение, по&nbsp;сути&nbsp;же сегментация&nbsp;&mdash; это выделение группы клиентов (потенциальных <nobr>в т. ч.</nobr>), которые вам нужны.
			p.
				Критериями, по&nbsp;которым вы&nbsp;будете разделять потребителей, могут быть социальные характеристики (в&nbsp;браке или нет, есть дети или нет), финансовые (уровень дохода), культурные (профессия), интересы и&nbsp;задачи клиентов и&nbsp;многое другое. Можно группировать клиентов по&nbsp;многим критериям и&nbsp;вычленять совсем узкую нишу, целевую аудиторию, иногда это может быть очень эффективно. Иногда есть смысл нишу, напротив, укрупнять, осваивая смежные сегменты.
			p.
				Также можно нарисовать психологический портрет того человека, которому нужен ваш продукт, и&nbsp;выделять таким образом целевую аудиторию.
			.line-dots
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--woman
					h3 Ольга Стасевич
				.quote-block__author--about
					p руководитель направления корпоративных исследований НАФИ
				.quote-block__citate
					p.
						Вопрос рынков сбыта всегда остро стоял для предпринимателей, но&nbsp;с&nbsp;наступлением кризиса умение находить и&nbsp;расширять рынки сбыта стали ключевыми факторами выживания. Поиск рынков сбыта в&nbsp;идеале должен включать в&nbsp;себя сбор статистической и&nbsp;социологической информации о&nbsp;рынке, на&nbsp;котором работает предприятие, о&nbsp;ключевых партнерах и, конечно&nbsp;же, о&nbsp;потребителях. На&nbsp;основе полученной информации и&nbsp;должны приниматься решения о&nbsp;том, на&nbsp;каком рынке работать, а&nbsp;на&nbsp;каком не&nbsp;стоит.
	section.content-text
		.container
			.line-dots.line-dots--no-top
			h2 Создавайте ценность
			p.
				При этом нужно не&nbsp;просто определить целевого клиента по&nbsp;характеристикам, нужно понять его нужды, запросы, ожидания. Многое зависит от&nbsp;продающего торгового предложения, однако также важно знать своего целевого клиента, что его заботит, и&nbsp;своим продуктом решать какие-то насущные его проблемы, создавать ценность для него. Бизнесы, которые помогают в&nbsp;решении каждодневных задач клиентов, скорее всего, будут успешными.
			p.
				Одним из&nbsp;успешных кейсов можно, к&nbsp;примеру, назвать социальный проект Cocco Bello по&nbsp;производству медовых муссов и&nbsp;крем-медов, который основала предпринимательница Гузель Санжапова. Проект направлен на&nbsp;поддержку жителей умирающей деревни. Несмотря на&nbsp;свою социальную направленность, ее&nbsp;стартап оказался очень успешным: начиная с&nbsp;продажи 50 банок предпринимательнице удалось в&nbsp;2015 году продать мед на&nbsp;6,5&nbsp;млн&nbsp;рублей. Также можно отметить &laquo;Лавкалавку&raquo;, службу доставки продуктов &laquo;Халяль Органик Фуд&raquo;, бренды &laquo;Женского такси&raquo; и т. д.
			.image-block.image-block--right
				.image-block__rectangle
				.image-block__img
					img(src="../images/lifehack-3/Image_1.jpg", alt="")
			//- .line-dots.visible-mobile
			p.
				Показательный кейс&nbsp;&mdash; сервис для PR-специалистов и&nbsp;журналистов Pressfeed. Его основатель Константин Бочарский работал редактором в&nbsp;журнале &laquo;Секрет фирмы&raquo; и&nbsp;не&nbsp;понаслышке знал злободневные проблемы медиасообщества. &laquo;Я&nbsp;рассылал источникам одинаковые письма-запросы, вел одинаковые разговоры с&nbsp;потенциальными героями заметок,&nbsp;&mdash; делится он. &mdash;&nbsp;Сбор фактуры в&nbsp;журналистской работе занимает 70% времени, и&nbsp;мне хотелось спасти это время для себя и&nbsp;для человечества&raquo;. В&nbsp;результате появился Pressfeed, который оцифровал ряд ключевых процессов и&nbsp;устранил огромное количество рутины. Вместо часов и&nbsp;дней на&nbsp;поиск подходящих героев для заметок, комментариев и&nbsp;фактуры требуется теперь всего несколько минут. С&nbsp;другой стороны, появление этого сервиса оказало влияние на&nbsp;пиар-рынок. Особенно на&nbsp;возможности небольших компаний работать с&nbsp;медиа. Выяснилось, что на&nbsp;рынке огромное количество компаний, которые хотели&nbsp;бы работать со&nbsp;СМИ, но&nbsp;это было практически невозможно: PR-агентства не&nbsp;работают с&nbsp;небольшими бюджетами, а&nbsp;у&nbsp;малого бизнеса нет знаний, навыков, ресурсов, чтобы делать это самостоятельно. В&nbsp;результате у&nbsp;&laquo;Прессфида&raquo; появилась недорогая услуга &laquo;Виртуальный пиарщик&raquo; как раз для представителей МСБ. Всего &laquo;Прессфидом&raquo; сегодня пользуются четверть всех российских редакций и&nbsp;более 20 тыс. компаний и&nbsp;предпринимателей.
			p.
				Конечно, многое зависит от&nbsp;специфики бизнеса. Классические сервисные сферы малого бизнеса, которые можно назвать традиционными, это пекарни и&nbsp;кафе, парикмахерские, салоны красоты, салоны оптики, цветочные магазины, автомойки, металлоремонты и&nbsp;другие подобные небольшие предприятия. Вторая группа&nbsp;&mdash; сугубо производственные бизнесы небольшого размера: ателье, автосервисы, ремонтные и&nbsp;строительные компании (например строительство дачных домов), фермерство, собирательство. Третья&nbsp;&mdash; все, что связано с&nbsp;технологиями и&nbsp;медиа. Малый бизнес отлично чувствует себя в&nbsp;таких задачах, как работа с&nbsp;соцсетями, реклама в&nbsp;интернете, дизайн, разработка электронных приложений и&nbsp;сайтов, маркетинг, перевод. Решать каждодневные задачи клиента, создавать ценность для него и&nbsp;в&nbsp;итоге преуспеть можно в&nbsp;каждой из&nbsp;упомянутых групп, просто драйверы роста в&nbsp;них разные. Например, кафе имеет смысл открывать в&nbsp;густонаселенном районе, где представлено мало конкурентов. Свой бренд одежды лучше ориентировать на&nbsp;аудиторию, потребности которой знаешь. Выстраивать работу в&nbsp;интернете можно для десятков предприятий, включая промышленные, но&nbsp;надо достучаться до&nbsp;их&nbsp;руководства, сделать хорошие материалы, презентующие вас.
			.line-dots
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--man
					h3 Владимир Павлов
				.quote-block__author--about
					p руководитель отдела маркетинга компании Lifepay
				.quote-block__citate
					p.
						Чтобы найти целевую аудиторию, стоит просто подумать, кому может быть интересен ваш товар? Для примера возьмем бриолин. Кому он&nbsp;требуется? Как минимум людям с&nbsp;бородой, так как им&nbsp;необходимо ее&nbsp;каждый день укладывать. Это первый шаг к&nbsp;успеху. Вы&nbsp;выделили сегмент людей, у&nbsp;которых есть борода. Также у&nbsp;такого человека есть деньги, чтобы раз в&nbsp;месяц тратить полторы тысячи рублей на&nbsp;ее&nbsp;уход.
					p.
						Далее смотрите по&nbsp;смысловой нагрузке. Для чего люди ухаживают за&nbsp;бородой? В&nbsp;первую очередь, наверное, чтобы быть красивыми. Значит, люди преимущественно живут в&nbsp;городах, вряд&nbsp;ли в&nbsp;деревне интересуются красотой бороды. Определив это, задумайтесь о&nbsp;том, зачем им&nbsp;быть красивыми. Может быть, дело в&nbsp;поддержке собственного авторитета. Тогда, выходит, человек увлечен модой и&nbsp;интересуется последними тенденциями индустрии. Вы&nbsp;ищите группы и&nbsp;площадки, где сосредоточена такая аудитория. Даете туда рекламу и&nbsp;получаете отличный профит, потому что верно определили ключевых клиентов.
	section.content-text
		.container
			.line-dots.line-dots--no-top
			h2 Эффективно продвигайте продукт
			p.
				Вы&nbsp;выделили вашу клиентскую нишу, выделили проблемы и&nbsp;потребности &laquo;ваших&raquo; потребителей. Вы&nbsp;можете решить их&nbsp;актуальные задачи и&nbsp;создаете для них value. Следующий этап&nbsp;&mdash; донести преимущества и&nbsp;возможности вашего продукта до&nbsp;целевой аудитории, то&nbsp;есть воспользоваться эффективными каналами и&nbsp;инструментами коммуникации.
			.image-block.image-block--left
				.image-block__rectangle
				.image-block__img
					img(src="../images/lifehack-3/Image_2.jpg", alt="")
			//- .line-dots.visible-mobile
			p.
				К&nbsp;инструментам продвижения относятся прямая и&nbsp;скрытая реклама, директ и&nbsp;таргетинг, участие в&nbsp;тематических мероприятиях и&nbsp;конференциях, привлечение клиентов с&nbsp;помощью специальных акций и&nbsp;программ лояльности, &laquo;сарафанное&raquo; радио, программы по&nbsp;типу &laquo;Приведи&nbsp;друга&raquo;, рекомендации и&nbsp;многое другое.
			p.
				Зачастую предприниматели и&nbsp;бизнесмены из&nbsp;сферы малого бизнеса не&nbsp;могут самостоятельно выбрать эффективное сочетание инструментов продвижения своего продукта и&nbsp;пробуют все сразу либо применяют их&nbsp;по&nbsp;очереди, тратя на&nbsp;это определенные бюджеты. Рекомендуем, если нет понимания рекламной и&nbsp;маркетинговой стратегии, воспользоваться услугами сторонних маркетологов. Также можно поискать исследования по&nbsp;вашей отрасли (либо заказать их, но&nbsp;это опять&nbsp;же бюджет), в&nbsp;которых определяются текущие тренды индустрии, целевая аудитория и&nbsp;то, куда движется отрасль. В&nbsp;зависимости от&nbsp;специфики бизнеса и&nbsp;тенденций можно подобрать программу продвижения продукта.
			p.
				По&nbsp;словам Михаила Дашкиева, основателя крупнейшей в&nbsp;России системы образования предпринимателей &laquo;Бизнес Молодость&raquo;, потенциальные показатели (или лиды) находятся на&nbsp;конкретных площадках. Практически в&nbsp;каждой нише клиенты присутствуют в&nbsp;интернете, на&nbsp;выставках или тематических мероприятиях. Компании, продвигающей продукт, по&nbsp;сути надо найти &laquo;скопление потенциальной аудитории&raquo;, а&nbsp;дальше необходимо просто познакомить ее&nbsp;с&nbsp;предложениями, которые у&nbsp;вас есть. Это может быть реклама, &laquo;холодный&raquo; обзвон. От&nbsp;качества наших предложений и&nbsp;компетенции предлагающего и&nbsp;зависит интерес рынка к&nbsp;продукту или услуге.
			p.
				Например, вы&nbsp;являетесь разработчиком мобильных приложений для управления личными финансами. Ваша целевая аудитория&nbsp;&mdash; молодые люди, которые начинают заботиться о&nbsp;финансовом планировании со&nbsp;студенчества (образованные), строящие карьеру, а&nbsp;также привыкшие большинство каждодневных процессов вести в&nbsp;онлайн. Эти люди вряд&nbsp;ли читают печатную прессу и&nbsp;смотрят ТВ, поэтому продвижение в&nbsp;этих каналах вам не&nbsp;нужно. В&nbsp;то&nbsp;же время директ в&nbsp;поисковых системах и&nbsp;акции в&nbsp;социальных сетях помогут вам привлечь дополнительную целевую аудиторию.
			.line-dots
		.quote-block
			.container
				.quote-block__author
					.quote-block__author__logo.quote-block__author__logo--woman
					h3 Софья Паскаль
				.quote-block__author--about
					p управляющий партнер MoreCommunications
				.quote-block__citate
					p.
						При работе с&nbsp;коммуникацией, как и&nbsp;в&nbsp;целом с&nbsp;построением бренда, я&nbsp;бы рекомендовала просто идти от&nbsp;смыслов и&nbsp;пользоваться классическими методами, честно отвечая на&nbsp;вопросы, для кого и&nbsp;зачем я&nbsp;что-то делаю, что я&nbsp;хочу дать этому миру, почему сделаю это лучше конкурентов, почему мой товар/услуга стоит столько. На&nbsp;мой взгляд, в&nbsp;наше время особенно важно договориться обо всем этом прежде всего с&nbsp;собственной командой. Во&nbsp;времена социальных сетей каждый сотрудник может стать очень мощным каналом продаж, а&nbsp;какой-то случайный пост неожиданно собрать миллионную аудиторию. А&nbsp;вот содержание этого поста может сильно удивить владельца бизнеса. Единственный способ контролировать ситуацию сейчас&nbsp;&mdash; договариваться со&nbsp;своими сотрудниками, коллегами, партнерами и&nbsp;изо дня в&nbsp;день поддерживать прямую прозрачную и&nbsp;очень понятную коммуникацию. По&nbsp;опыту могу сказать, что, когда этот процесс выстраивается правильно, многие другие, такие как продажи, повышение узнаваемости и&nbsp;репутационной капитализации, а&nbsp;также повышение вовлеченности и&nbsp;мотивации сотрудников начинают происходить сами собой.
	section.content-text
		.container
			.line-dots.line-dots--no-top
			h2 Будьте быстрыми
			p.
				Недаром ключевым преимуществом малого бизнеса называют гибкость и&nbsp;оперативную реакцию на&nbsp;изменения рынка. Несмотря на&nbsp;то&nbsp;что часто у&nbsp;предпринимателей не&nbsp;хватает знаний, навыков и&nbsp;ресурсов на&nbsp;масштабные исследования рынка, они могут воспользоваться различными бесплатными и&nbsp;простыми инструментами.
			p.
				В&nbsp;частности, надо следить за&nbsp;рынком, своими клиентами и&nbsp;тем, как меняются их&nbsp;потребности. Также немаловажно, какие технологии развиваются и&nbsp;оказываются, что называется, в&nbsp;тренде. Как известно, разработчики многих довольно востребованных мобильных приложений и&nbsp;сервисов&nbsp;&mdash; именно представители малого бизнеса. Кроме того, есть различные порталы для поддержки предпринимателей, созданные крупными банками, компаниями, а&nbsp;также государственными организациями.
			p.
				Например, существует несколько инструментов от&nbsp;институтов развития, ориентированных на&nbsp;МСП, которые помогут им&nbsp;определить свою нишу и&nbsp;целевую аудиторию. Первый инструмент&nbsp;&mdash; это инструмент от&nbsp;Корпорации МСП &laquo;Бизнес-навигатор&raquo;. Он&nbsp;позволяет получить сводную информацию о&nbsp;потребительском спросе с&nbsp;привязкой к&nbsp;конкретным районам города, при этом учитывая плотность конкурентов. Также предприниматель может рассчитать бизнес-план и&nbsp;оценить потенциальные затраты и&nbsp;выручку при выборе того или иного рынка сбыта, продукта, района. Второй инструмент для определения рынка сбыта&nbsp;&mdash; это анализ информации о&nbsp;госзакупках крупных компаний, которые, согласно законодательству РФ, обязаны закупать товары и&nbsp;услуги у&nbsp;малого бизнеса. Информация о&nbsp;госзакупках, как правило, публикуется на&nbsp;официальных сайтах крупных компаний, а&nbsp;также на&nbsp;электронных торговых площадках. Для многих субъектов МСП участие в&nbsp;тендерах выступает одним из&nbsp;главных источников заработка. В&nbsp;качестве третьего инструмента можно рассматривать деятельность Российского экспортного центра, оказывающего помощь и&nbsp;поддержку предприятиям, специализирующимся на&nbsp;ВЭД.
	section.sharing-block
			.share-icon.js-share
				a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
				a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
				a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
	section.advices-block-slider.lifehack-hidden
			a(href="/article-1.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
				.advices-block-slider__item__text
					p Малые миллионы
			a(href="/article-2.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
				.advices-block-slider__item__text
					p Финансы для бизнеса
			a(href="/article-3.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
				.advices-block-slider__item__text
					p «Океаны» бизнеса
			a(href="/article-4.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
				.advices-block-slider__item__text
					p Инвестиции в эффективность
			a(href="/article-5.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
				.advices-block-slider__item__text
					p Плата за&nbsp;эмоции
			a(href="/article-6.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
				.advices-block-slider__item__text
					p В&nbsp;погоне за&nbsp;надежностью
			a(href="/article-7.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
				.advices-block-slider__item__text
					p Кадры в кризис: увольнять или нет
			a(href="/article-8.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
				.advices-block-slider__item__text
					p Связь для бизнеса
			a(href="/article-9.html").advices-block-slider__item
				.advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
				.advices-block-slider__item__text
					p Машины vs люди
	.line-grey.line-grey--lf.lifehack-hidden
	section.video-slider.video-slider-footer.lifehack-hidden
		.container
			h2 Правила предпринимателя
			.videos-slider.videos-slider--space
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-3
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Андрей Замай
								p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
								p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
								.interview-block__video__block__info__playbutton(id="start-client-video-3")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-1
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Павел Чаплинский
								p.regalia Основатель BOX&ROSES
								p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
								.interview-block__video__block__info__playbutton(id="start-client-video-1")
					.interview-block__video__sharing.clearfix.no-margin-bottom
				a()
					.interview-block__video
						.interview-block__video__block
							.interview-block__video__block__muted.video_muted.block-control--slider-2
								.block-control__pause
								.block-control__play
							.full-block-control
								.full-block-control__slider--play
								.full-block-control__time
								.full-block-control__main-line
									.full-block-control__main-line__progress
								.full-block-control__sound
							.interview-block__video__block__interview
								iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
							.interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
							.interview-block__video__block__info
								h3 Дмитрий Шлопак
								p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
								p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
								.interview-block__video__block__info__playbutton(id="start-client-video-2")
					.interview-block__video__sharing.clearfix.no-margin-bottom