extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = 'Как оценить персонал'
    - var og_description = 'Сильная команда — сильный бизнес. Как оценить эффективность работы сотрудников и сформировать оптимальный штат, в том числе в регионах, — рассказываем в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/lifehack-7/Lifehack_7.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content

    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/lifehack-7/Lifehack-7_Cover_1920x310.jpg');")
        a(href="index.html").link-back Вернуться на главную
        span Лайфхак
        h1 Как оценить персонал
        .link
            a(href="/lifehack-6.html").prev-link Предыдущий лайфхак
            span |
            a(href="/lifehack-1.html").next-link Следующий лайфхак
    section.content-text.content-text--lifehack
        .container
            p.
                Главная задача любого бизнеса в&nbsp;конечном счете&nbsp;&mdash; получать прибыль и&nbsp;максимизировать ее. Делать это правильно можно при соблюдении нескольких правил: эффективное управление расходами, внедрение технологий и, конечно&nbsp;же, слаженная работа команды. В&nbsp;компании должны работать люди, которые не&nbsp;просто выполняют четко свой функционал, но&nbsp;развивают бизнес в&nbsp;целом.
            p.
                Итак, у&nbsp;вас есть команда, и&nbsp;она работает на&nbsp;ваш бизнес. Как и&nbsp;когда можно оценивать эффективность персонала, стоит&nbsp;ли делать это по&nbsp;каждому специалисту или в&nbsp;целом по&nbsp;штату, как анализировать эффективность сотрудников в&nbsp;удаленных офисах, какие действия предпринимать для повышения эффективности&nbsp;&mdash; все эти вопросы являются актуальными, пожалуй, для каждого предпринимателя.
            .line-dots
            .image-block.image-block--right
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-7/Image_1.jpg", alt="")
            h2 Различные подходы к&nbsp;оценке
            p.
                Скажем также несколько слов об&nbsp;общих подходах к&nbsp;оценке персонала. Можно выделить три основных направления:
            p.
                1. Административный подход&nbsp;&mdash; по&nbsp;сути обязывающий, он&nbsp;основывается на&nbsp;заключениях и&nbsp;мнениях руководства компании. Зачастую при этом проблемные моменты остаются без внимания. К&nbsp;примеру, топ-менеджер решил, что в&nbsp;компании очень много сотрудников, работающих в&nbsp;отдельных кабинетах, и&nbsp;предложил объединиться в&nbsp;кабинетах группами минимум по&nbsp;3&ndash;4 человека.
            p.
                2. Функциональный подход базируется на&nbsp;изучении результативности и&nbsp;эффективности деятельности подразделений и&nbsp;сотрудников. В&nbsp;рамках этого подхода действуют методы нормирования, планирования, хронометража.
            p.
                3. Процессный подход&nbsp;&mdash; в&nbsp;данном случае решения принимаются на&nbsp;основе анализа причин результативности и&nbsp;эффективности бизнес-процессов и&nbsp;KPI по&nbsp;конкретным сотрудникам.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Григорий Финкельштейн
                .quote-block__author--about
                    p партнер &laquo;ЭКОПСИ Консалтинг&raquo;
                .quote-block__citate
                    p.
                        Надо просто выписать список ваших пожеланий с&nbsp;точки зрения навыков и&nbsp;мотивации, соответствующих должности, а&nbsp;затем попросить непосредственных руководителей оценить сотрудников. После этого сделать следующий шаг: сравнить по&nbsp;этим показателям хороших, успешных сотрудников и&nbsp;&laquo;плохих&raquo;. Что именно их&nbsp;различает? Уверен, что вы&nbsp;заметите 3&ndash;5 дифференцирующих параметров. Именно их&nbsp;и&nbsp;надо учитывать в&nbsp;дальнейшем при найме, продвижении. Постройте сначала систему мотивации, а&nbsp;потом под нее подбирайте людей. От&nbsp;системы зависит, какие люди придут. Построите сдельную&nbsp;&mdash; будут приходить люди, готовые нести ответственность за&nbsp;результат. Построите систему повременную&nbsp;&mdash; соберете людей, нацеленных на&nbsp;стабильную работу.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            .image-block.image-block--left
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-7/Image_2.jpg", alt="")
            h2 Основной персонал
            p.
                Основной персонал&nbsp;&mdash; это сотрудники, занятые в&nbsp;основном бизнесе компании. Например, если у&nbsp;вас производственный бизнес, то&nbsp;это люди, задействованные в&nbsp;производственном процессе, если консалтинговый, то&nbsp;речь идет о&nbsp;специалистах, занимающихся консультированием клиентов. Есть несколько методов для оценки эффективности работы основного персонала.
            p.
                Во-первых, сравните свой бизнес с&nbsp;ключевыми конкурентами. Посмотрите, сколько работников трудятся в&nbsp;основном бизнесе у&nbsp;вас в&nbsp;фирме, а&nbsp;сколько у&nbsp;соратников по&nbsp;отрасли. Способ быстрый и&nbsp;эффективный, но&nbsp;он&nbsp;подойдет вам только тогда, когда у&nbsp;вас есть данные по&nbsp;конкурентам. Для этого можно провести исследование рынка, но&nbsp;оно может стоить недешево. Посмотрев такие данные, вы&nbsp;поймете и&nbsp;штат конкурентов, и&nbsp;их&nbsp;затраты на&nbsp;кадры, и&nbsp;эффективность&nbsp;&mdash; например, сопоставив эти цифры с&nbsp;положением компании на&nbsp;рынке.
            p.
                Во-вторых, примените так называемый метод хронометража. Для этого разделите рабочий процесс на&nbsp;последовательные этапы. Каждый этап замерьте и&nbsp;сложите полученные значения. Минус этого метода&nbsp;&mdash; трудоемкость. Например, чтобы рассчитать среднюю продолжительность изготовления пиццы, вам придется провести от&nbsp;10 до&nbsp;20 замеров операций, выполняемых и&nbsp;одними и&nbsp;теми&nbsp;же, и&nbsp;разными специалистами.
            p.
                Метод хронометража в&nbsp;итоге позволяет решить массу бизнес-задач: определить, на&nbsp;что тратится ваше время, выявить так называемых поглотителей времени, найти резервы, в&nbsp;том числе скрытые, выработать у&nbsp;сотрудников чувство времени и&nbsp;чувство собственной эффективности. Этот метод, кстати, можно использовать и&nbsp;для повышения личной эффективности руководителя и&nbsp;собственника дела.
            p.
                В-третьих, можно применить микроэлементное планирование, основанное на&nbsp;подсчитанных нормативах. Любую операцию или процесс можно делить на&nbsp;составляющие&nbsp;&mdash; элементарные действия. Продолжительность нужно подсчитать, усреднить и&nbsp;получить нормативный показатель. На&nbsp;его основе можно рассчитать и&nbsp;оптимальную численность сотрудников для функционала, связанного с&nbsp;основным бизнесом фирмы.
            .line-dots
            .image-block.image-block--right
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-7/Image_3.jpg", alt="")
            h2 Вспомогательный персонал
            p.
                Вспомогательный персонал&nbsp;&mdash; это административные специалисты, финансовые (бухгалтеры), юристы, кадровики и т. д. Чтобы оценить эффективность таких сотрудников, воспользуйтесь следующей последовательностью действий:
            ul
                li сравните численность вспомогательного персонала вашей фирмы и&nbsp;конкурентных компаний;
                li составьте перечень функционала для вспомогательного персонала, оцените, что можно вывести за&nbsp;штат (на&nbsp;аутсорсинг);
                li подсчитайте, во&nbsp;сколько обойдется аутсорсинг и&nbsp;сравните с&nbsp;вашими текущими расходами на&nbsp;персонал.
            p.
                Исходя из&nbsp;этих подсчетов, вы&nbsp;поймете, сколько вам нужно персонала на&nbsp;выполнение вспомогательной работы и&nbsp;кто должен быть в&nbsp;штате, а&nbsp;кто&nbsp;&mdash; за&nbsp;штатом.
            .line-dots
            h2 Соотношение &laquo;офис/основная деятельность&raquo;
            p.
                Также есть совокупный показатель по&nbsp;всему персоналу компании&nbsp;&mdash; это соотношение офисных/вспомогательных сотрудников и&nbsp;людей, занятых в&nbsp;основном бизнесе. Здесь опять-таки можно сравнивать с&nbsp;конкурентами по&nbsp;отрасли&nbsp;&mdash; есть уже подсчитанные показатели по&nbsp;определенным сферам, правда, в&nbsp;основном для крупного бизнеса. Например, в&nbsp;железнодорожной отрасли это соотношение&nbsp;&mdash; 5 к&nbsp;10, а&nbsp;в&nbsp;перерабатывающей промышленности&nbsp;&mdash; 3 к&nbsp;10. Также можно подсчитать соотношение между штатом бизнес-подразделений и&nbsp;общим штатом компании. Понятно, что, если есть перекос в&nbsp;сторону общего персонала, его надо исправлять.
            p.
                В&nbsp;ином случае, если возникает необходимость в&nbsp;оптимизации персонала, можно действовать комплексно: оптимизировать организационную структуру компании, упростить бизнес-процессы, уменьшить пропорционально число сотрудников, опираясь на&nbsp;нормирование как по&nbsp;отрасли, так и&nbsp;по&nbsp;скорости выполнения функций, и т. д.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--woman
                    h3 Марина Сергиенко
                .quote-block__author--about
                    p генеральный директор компании &laquo;Витасфера&raquo;
                .quote-block__citate
                    p.
                        В&nbsp;моей компании критерии прозрачны: насколько качественно сделана продукция (у&nbsp;нас есть определенный <nobr>чек-лист</nobr> для контроля качества), насколько тщательно упакован заказ и&nbsp;насколько оперативно он&nbsp;доставлен. Увы, был случай, когда один из&nbsp;заказов менеджер отправил в&nbsp;другой регион, а&nbsp;однажды при отправке перепутал наименования продукции в&nbsp;заказе. После ряда таких промахов с&nbsp;нерадивым сотрудником пришлось расстаться.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            h2 Офис в&nbsp;регионе
            .advice-content__block__step__inner
                h3 Облачный бизнес
                p С&nbsp;облачной АТС от&nbsp;&laquo;Билайн&raquo; Бизнес вы&nbsp;получаете многоканальный телефонный номер, удобное голосовое меню с&nbsp;различными сценариями распределения вызовов между сотрудниками, а&nbsp;также 15 дней в&nbsp;подарок при заполнении заявки на&nbsp;сайте.
                a(href="http://www.beeline.ru/b2b/cloud-ats/?utm_source=RBC&utm_medium=banner&utm_term=Oblachnaya_ATS&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
                    span
            p.
                Развивать присутствие в&nbsp;регионах можно различными способами.
            p.
                Во-первых, можно организовать в&nbsp;регионе виртуальный офис, так как затраты гораздо ниже, чем если организовывать настоящий офис. Для этого необходим телефонный номер конкретного региона и&nbsp;облачная АТС с&nbsp;многоканальным доступом и&nbsp;различными сценариями распределения вызовов между сотрудниками. Возможно, понадобятся операторы, но&nbsp;уже не&nbsp;важно, где они физически будут располагаться.
            p.
                Во-вторых, если виртуальный офис не&nbsp;подходит, можно открыть точку продаж или пункт выдачи со&nbsp;складом.
            p.
                А&nbsp;можно развивать свой бизнес территориально и&nbsp;вовсе без офисов. Например, с&nbsp;помощью интернет-продажи и&nbsp;сети партнеров.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--woman
                    h3 Марина Сергиенко
                .quote-block__author--about
                    p генеральный директор компании &laquo;Витасфера&raquo;
                .quote-block__citate
                    p.
                        Мы&nbsp;осваиваем другие регионы и&nbsp;даже страны благодаря <nobr>онлайн-торговле</nobr> в&nbsp;нашем <nobr>интернет-магазине</nobr>. При этом пока нет необходимости открывать региональные офисы. Доставку, бухгалтерию мы&nbsp;передали на&nbsp;аутсорсинг, и&nbsp;это вполне оправданно. Никаких проблем с&nbsp;охватом регионов интернетом не&nbsp;вижу: у&nbsp;нас уже более 20 крупных оптовых партнеров, более 400 розничных постоянных клиентов в&nbsp;9 регионах России и&nbsp;в&nbsp;Казахстане. За&nbsp;месяц мы&nbsp;отгружаем более тонны собственной продукции.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            .image-block.image-block--left
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-7/Image_4.png", alt="")
            p.
                В&nbsp;общем, способы коммуникации головного офиса с&nbsp;региональными подразделениями либо партнерами могут быть следующие:
            ul
                li CRM и&nbsp;ERP-системы, интегрированные с&nbsp;головным офисом. Каждому сотруднику в&nbsp;системе нужно ставить конкретные задачи и&nbsp;следить за&nbsp;их&nbsp;выполнениями. На&nbsp;рынке можно найти много программ, в&nbsp;том числе бюджетных вариантов, которые помогут вам и&nbsp;поставить задачи, и&nbsp;понять время, необходимое на&nbsp;их&nbsp;выполнение, и&nbsp;итоговый результат.
                li Электронная почта. Здесь есть нюанс&nbsp;&mdash; чтобы инструмент подходил для широкой дискуссии, в&nbsp;переписку нужно добавлять большое число сотрудников, и&nbsp;переписка может превратиться в&nbsp;&laquo;базар&raquo;, в&nbsp;котором сложно найти вводные данные, начало и&nbsp;конец.
                li Видеосвязь. Например, для общих совещаний, переговоров с&nbsp;клиентами, партнерами. Общаясь с&nbsp;использованием камеры, вы&nbsp;не&nbsp;только создадите эффект присутствия, но&nbsp;и&nbsp;разрядите атмосферу. Когда сотрудники из&nbsp;разных городов видят друг друга в&nbsp;едином интерфейсе, это тоже создает своего рода &laquo;командный дух&raquo;.
                li Реальное общение. Приглашайте руководителя филиала (можно не&nbsp;только его) на&nbsp;совещание в&nbsp;головном офисе. Посетите филиал компании сами или отправьте туда людей, которые курируют офис. Раз в&nbsp;месяц/квартал делать такие мероприятия будет крайне полезным и&nbsp;эффективным. Минимум 2 раза в&nbsp;год приглашайте сотрудников филиала в&nbsp;головной офис. Они должны видеть своих коллег, видеть, как они работают, общаться неформально и&nbsp;ощущать себя частью компании.
    section.sharing-block
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    section.advices-block-slider.lifehack-hidden
        a(href="/article-1.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
            .advices-block-slider__item__text
                p Малые миллионы
        a(href="/article-2.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
            .advices-block-slider__item__text
                p Финансы для бизнеса
        a(href="/article-3.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
            .advices-block-slider__item__text
                p «Океаны» бизнеса
        a(href="/article-4.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
            .advices-block-slider__item__text
                p Инвестиции в эффективность
        a(href="/article-5.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
            .advices-block-slider__item__text
                p Плата за&nbsp;эмоции
        a(href="/article-6.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
            .advices-block-slider__item__text
                p В&nbsp;погоне за&nbsp;надежностьюс
        a(href="/article-7.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
            .advices-block-slider__item__text
                p Кадры в кризис: увольнять или нет
        a(href="/article-8.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
            .advices-block-slider__item__text
                p Связь для бизнеса
        a(href="/article-9.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
            .advices-block-slider__item__text
                p Машины vs люди
    .line-grey.line-grey--lf.lifehack-hidden
    section.video-slider.video-slider-footer.lifehack-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-7
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-7" width="780" height="439" src="https://www.youtube.com/embed/KbLuskLYiks?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_7.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Андрей Сильчев
                              p.regalia Директор по развитию IT Partner
                              p.hide-in-mobile Люди&nbsp;&mdash; основной элемент бизнеса, сегодня особенно востребованы люди-&laquo;многостаночники&raquo;, способные закрыть сразу несколько областей работы.
                              .interview-block__video__block__info__playbutton(id="start-client-video-7")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-6
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Ольга Шеламова
                              p.regalia совладелец компании &laquo;Олимп&raquo;
                              p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                              .interview-block__video__block__info__playbutton(id="start-client-video-6")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom