extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = 'Как сэкономить просто'
    - var og_description = 'Лайфхак: как снизить затраты на офис, корпоративную связь, персонал и многое другое с помощью высокотехнологичных решений — читайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/lifehack-4/Lifehack_4.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content
    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/lifehack-4/Lifehack-4_Cover_1920x310.jpg');")
        a(href="index.html").link-back Вернуться на главную
        span Лайфхак
        h1 Как сэкономить просто
        .link
            a(href="/lifehack-3.html").prev-link Предыдущий лайфхак
            span |
            a(href="/lifehack-5.html").next-link Следующий лайфхак
    section.content-text.content-text--lifehack
        .container
            p.
                Современный бизнес невозможен без технологий. И&nbsp;технологии делают его проще, удобнее, быстрее. Огромную роль здесь играют современные решения по&nbsp;организации связи и&nbsp;интернета в&nbsp;офисе.
            .line-dots
            h2 Виртуальный офис
            .advice-content__block__step__inner
                h3 &laquo;Деловой интернет&raquo;
                p Сотрудникам на&nbsp;&laquo;удаленке&raquo; можно предоставить доступ к&nbsp;корпоративному интернету, заключив с&nbsp;&laquo;Билайн&raquo; Бизнес контракт на&nbsp;&laquo;Деловой интернет&raquo;.
                a(href="http://inet-4g.beeline.ru?utm_source=RBC&utm_medium=banner&utm_term=Delovoj_internet&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
                    span
            p.
                Например, многие фирмы могут вести бизнес либо в&nbsp;небольшом офисе в&nbsp;&laquo;спальном&raquo; районе города, либо вообще обойтись без него, создав, таким образом, виртуальный офис. И&nbsp;в&nbsp;таком случае качественная телефония, прямые городские номера, переадресация, удаленный интернет, обеспечивающий для всех доступ к&nbsp;единым документальным базам и&nbsp;т.д., формируют технологическую платформу такого офиса. Например, &laquo;Облачная АТС&raquo; от&nbsp;&laquo;Билайн&raquo; Бизнес включает в&nbsp;себя прямой городской номер и&nbsp;номер 8800, который точно пригодится компаниям, работающим с&nbsp;клиентами по&nbsp;всей России, корпоративный мобильный контракт на&nbsp;связь для сотрудников компании, а&nbsp;также MNP (переносимость старых номеров). &laquo;Облачная АТС&raquo; позволяет использовать различные сценарии распределения вызовов между сотрудниками, что особенно удобно, если часть из&nbsp;них работает из&nbsp;офиса, а&nbsp;часть&nbsp;&mdash; на&nbsp;&laquo;удаленке&raquo;.
            p.
                Технологии дистанционной работы сделали возможной эффективную работу фрилансеров и&nbsp;&laquo;удаленных&raquo; сотрудников. Эти&nbsp;же технологии дают возможность работать с&nbsp;аутсорсерами по&nbsp;всем бэкофисным процессам. Предприниматели говорят, что, скажем, автоматизация бухучета почти убила профессию бухгалтера, и&nbsp;она исчезнет лет через 10&nbsp;совсем. Технологии упростили создание сайтов, технологии автоматизировали продажи, склады и&nbsp;почти все, с&nbsp;чем сталкивается современный бизнес.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Александр Кузнецов
                .quote-block__author--about
                    p генеральный директор компании &laquo;Ланит Диджитал&raquo;
                .quote-block__citate
                    p.
                        У&nbsp;меня было 5&nbsp;интернет-магазинов в&nbsp;течение 7&nbsp;лет. Это был сложный бизнес, почти все делалось вручную, и&nbsp;в&nbsp;итоге я&nbsp;его продал с&nbsp;трудом. Зато сейчас есть удобные и&nbsp;технологичные инструменты и&nbsp;сервисы под все любые нужды интернет-магазина&nbsp;&mdash; торговые площадки в&nbsp;аренду, виртуальные АТС, удобные онлайн-эквайринги и&nbsp;многое другое.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            p.
                Как говорят предприниматели, прошло всего 7-8&nbsp;лет, и&nbsp;технологии изменили этот рынок почти полностью. С&nbsp;одной стороны, технологии могут лишить работы сотни людей, выполняющих техническую рутинную работу, с&nbsp;другой&nbsp;&mdash; эти&nbsp;же специалисты могут выполнять уже другие, более сложные задачи. И&nbsp;если смотреть на&nbsp;технологии с&nbsp;точки зрения экономии, то&nbsp;это комплексная история. Сегодня не&nbsp;получится экономить на&nbsp;фрилансе и&nbsp;бэкофисе без технологий. При этом потребитель даже не&nbsp;должен серьезно инвестировать в&nbsp;технологичность&nbsp;&mdash; это делают подрядчики, так как масса процессов передается на&nbsp;аутсорсинг.
            p.
                Простой пример привел один предприниматель: &laquo;Бухгалтер, кадровик и&nbsp;юрист стоили мне 240-270 тысяч рублей (если считать зарплаты, налоги, расходы на&nbsp;офис, компьютеры и&nbsp;т.д.). Сейчас я&nbsp;плачу внешней компании за&nbsp;весь этот объем услуг от&nbsp;40&nbsp;до&nbsp;60&nbsp;тысяч в&nbsp;зависимости от&nbsp;оборотов в&nbsp;месяц. При этом не&nbsp;думаю о&nbsp;том, что кто-то уходит в&nbsp;отпуск, увольняется и&nbsp;т.д. Я&nbsp;просто получаю высококлассные услуги, когда мне нужно, и&nbsp;в&nbsp;том объеме, который нужен моему бизнесу&raquo;.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Екатерина Ларионова
                .quote-block__author--about
                    p основатель рекламного агентства NERPA agency
                .quote-block__citate
                    p.
                        Мы&nbsp;действительно экономим на&nbsp;офисе. Это не&nbsp;только экономия на&nbsp;аренде, но&nbsp;и&nbsp;экономия времени наших сотрудников. Если люди не&nbsp;устают, тратя время на&nbsp;дорогу и&nbsp;присутствие в&nbsp;офисе, они лучше замотивированы и&nbsp;качественнее работают.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            h2 Развитие бизнеса в&nbsp;онлайн
            .image-block.image-block--right
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-4/4_Laif_main2.jpg", alt="")
            //- .line-dots.visible-mobile
            p.
                И&nbsp;даже если офис у&nbsp;компании вполне реальный, онлайн-возможности, сервисы и&nbsp;прочие &laquo;фишки&raquo; позволяют экономить и&nbsp;развивать бизнес более комфортно и&nbsp;просто.
            p.
                &laquo;Переход с&nbsp;&bdquo;ручной&ldquo; CRM на&nbsp;более технологичную позволил нам на&nbsp;20% сократить цикл сделки и&nbsp;увеличить оборот&raquo;,&nbsp;&mdash; делится один предприниматель. &laquo;А&nbsp;мы&nbsp;долгое время не&nbsp;работали с&nbsp;агрегаторами online-платежей, и&nbsp;нам потребовалось несколько месяцев, чтобы осознать, сколько прибыли мы&nbsp;теряем из-за этого,&nbsp;&mdash; продолжает другой. &mdash;&nbsp;Сейчас работаем и&nbsp;стабильно растем&raquo;. Это лишь пара примеров того, как можно недооценивать определенные онлайн-возможности и&nbsp;терять на&nbsp;этом. И&nbsp;даже в&nbsp;реальном бизнесе, например, ритейле.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--woman
                    h3 Яна Недзвецкая
                .quote-block__author--about
                    p российский дизайнер, основатель и&nbsp;креативный директор брендов LO, JN
                .quote-block__citate
                    p.
                        Два года назад, занявшись серьезно оптимизацией своей розничной сети, я&nbsp;поняла, что большого роста, как&nbsp;бы я&nbsp;ни&nbsp;старалась, я&nbsp;не&nbsp;добьюсь. Есть объективные показатели&nbsp;&mdash; трафики в&nbsp;ТРЦ, и&nbsp;они упали втрое. Все усилия по&nbsp;прописыванию каждого процесса, тщательному обучению персонала, ведению вебинаров, записи роликов по&nbsp;продукту дали рост всего в&nbsp;15-20%. При существенном падении рубля это дало только топтание на&nbsp;месте и&nbsp;избавило от&nbsp;сильного падения продаж. Но&nbsp;это все-таки падение положа руку на&nbsp;сердце. Поэтому в&nbsp;первый&nbsp;же год кризиса все силы я&nbsp;бросила на&nbsp;сегмент </br>e-commerce (онлайн-торговли) и&nbsp;решила продавать не&nbsp;только в&nbsp;своем интернет-магазине, но&nbsp;и&nbsp;на&nbsp;чужих крупных площадках. Рост продаж в&nbsp;1000% за&nbsp;год нас невероятно вдохновил! За&nbsp;счет увеличения интернет-продаж мы&nbsp;смогли закрыть безболезненно все магазины, которые не&nbsp;давали прибыли. Из&nbsp;25&nbsp;магазинов на&nbsp;сегодня у&nbsp;нас осталось только&nbsp;7, но&nbsp;все они дают сейчас прибыль, и&nbsp;небольшая сеть более мобильна по&nbsp;расходам.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            p.
                Среди других виртуальных решений от&nbsp;сотовых операторов можно назвать виртуальный хостинг и&nbsp;услуги регистрации и&nbsp;поддержки доменов второго уровня в&nbsp;зонах .RU и .РФ.
            p.
                Услуга &laquo;Виртуальный хостинг&raquo; от&nbsp;&laquo;Билайн&raquo; Бизнес позволяет разместить виртуальный выделенный сервер вашей компании с&nbsp;собственным доменным именем и&nbsp;виртуальный веб-хостинг на&nbsp;серверах &laquo;Билайн&raquo;. Вы&nbsp;сможете оптимизировать расходы на&nbsp;телекоммуникации и&nbsp;IT с&nbsp;выделенным доступом в&nbsp;интернет, взяв в&nbsp;аренду виртуальный сервер для хранения и&nbsp;обработки информации в&nbsp;облаке или воспользовавшись услугой виртуального веб-хостинга &laquo;Билайн&raquo; под управлением ОС&nbsp;MS&nbsp;Windows, Unix Solaris. Хостинг-серверы оператора подключены к&nbsp;магистральной сети интернет. При этом &laquo;Билайн&raquo; осуществляет круглосуточный автоматический мониторинг функциональности виртуального сервера, использует качественную защиту от&nbsp;внешних атак, производит обновление&nbsp;ПО и&nbsp;выполняет другие сервисные задачи.
    section.content-text.content-text--lifehack
        .container
            .line-dots.line-dots--no-top
            h2 Люди&nbsp;&mdash; сотрудники и&nbsp;клиенты
            p.
                А&nbsp;вот персонал, особенно ключевой, эксперты сокращать не&nbsp;советуют. Напротив, кризисные и&nbsp;застойные времена&nbsp;&mdash; неплохое время, чтобы нанять недорого ценные кадры, продуктивных и&nbsp;профессиональных людей. Об&nbsp;эффективной команде для бизнеса мы&nbsp;еще поговорим в&nbsp;одном из&nbsp;разделов нашего спецпроекта.
            .image-block.image-block--right
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-4/4_Laif_main1.jpg", alt="")
            //- .line-dots.visible-mobile
            p.
                А&nbsp;еще оптимизировать лишние затраты помогает честная работа с&nbsp;клиентами и&nbsp;создание для них дополнительных преимуществ. Например, в&nbsp;одной компании нам рассказали о&nbsp;таком инструменте, востребованном b2b-клиентами: &laquo;По&nbsp;некоторым проектам клиенты зачисляют бюджеты на&nbsp;наши услуги на&nbsp;площадки внутри своей организации, мы&nbsp;не&nbsp;теряем время на&nbsp;ожидание денежных средств, и&nbsp;опять&nbsp;же экономится ресурс бухгалтера&raquo;. Другой предприниматель уверен, что не&nbsp;только продвижение продукта, но&nbsp;и&nbsp;экономия затрат лежит в&nbsp;плоскости клиентских рекомендаций, потому что это позволяет не&nbsp;тратить денег на&nbsp;рекламу. &laquo;Оптимизируем затраты клиентов своей качественной работой, а&nbsp;они нас рекомендуют, и&nbsp;новые клиенты приходят к&nbsp;нам сами, без запуска с&nbsp;нашей стороны массивных рекламных кампаний&raquo;,&nbsp;&mdash; говорит&nbsp;он.
    section.sharing-block
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    section.advices-block-slider.lifehack-hidden
        a(href="/article-1.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
            .advices-block-slider__item__text
                p Малые миллионы
        a(href="/article-2.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
            .advices-block-slider__item__text
                p Финансы для бизнеса
        a(href="/article-3.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
            .advices-block-slider__item__text
                p «Океаны» бизнеса
        a(href="/article-4.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
            .advices-block-slider__item__text
                p Инвестиции в эффективность
        a(href="/article-5.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
            .advices-block-slider__item__text
                p Плата за&nbsp;эмоции
        a(href="/article-6.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
            .advices-block-slider__item__text
                p В&nbsp;погоне за&nbsp;надежностью
        a(href="/article-7.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
            .advices-block-slider__item__text
                p Кадры в кризис: увольнять или нет
        a(href="/article-8.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
            .advices-block-slider__item__text
                p Связь для бизнеса
        a(href="/article-9.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
            .advices-block-slider__item__text
                p Машины vs люди
    .line-grey.line-grey--lf.lifehack-hidden
    section.video-slider.video-slider-footer.lifehack-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom