extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = 'Риски от партнера'
    - var og_description = 'Бизнес без потерь: какие риски несёт в себе партнёрство с недобросовестным контрагентом и как их заранее распознать — читайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/lifehack-6/Lifehack_6.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content

    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/lifehack-6/Lifehack-6_Cover_1920x310.jpg');")
        a(href="index.html").link-back Вернуться на главную
        span Лайфхак
        h1 Риски от&nbsp;партнера
        .link
            a(href="/lifehack-5.html").prev-link Предыдущий лайфхак
            span |
            a(href="/lifehack-7.html").next-link Следующий лайфхак
    section.content-text.content-text--lifehack
        .container
            p.
                Развивая бизнес, крайне важно найти надежных партнеров. Ваш успех и&nbsp;доходы во&nbsp;многом зависят именно от&nbsp;них. Разберем на&nbsp;примерах, какие риски несут в&nbsp;себе недобросовестные поставщики, подрядчики и&nbsp;покупатели, как выявить их&nbsp;&laquo;на&nbsp;берегу&raquo; и&nbsp;что делать, если бизнес уже начал страдать от&nbsp;действий контрагентов.
            .line-dots
            .image-block.image-block--right
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-6/Image_1.jpg", alt="")
            h2 Страсти по&nbsp;однодневке
            p.
                Риски работы с&nbsp;фирмами-однодневками очевидны. Вы&nbsp;можете потерять деньги, например предоплату, которую, конечно&nbsp;же, попросит партнер-однодневка. Впоследствии вам придется еще искать другого поставщика/исполнителя, сдвигать сроки выполнения договора или работ. А&nbsp;если вы&nbsp;сами выполняете заказ от&nbsp;клиента и&nbsp;на&nbsp;однодневке &laquo;завязан&raquo; промежуточный бизнес-процесс, можете попасть на&nbsp;штраф и&nbsp;даже потерять заказчика как клиента в&nbsp;будущем.щем.
            p.
                Выявить однодневку с&nbsp;помощью доступных сегодня информационных ресурсов не&nbsp;слишком сложно. Во-первых, запросите правоустанавливающие документы и&nbsp;изучите их. Во-вторых, попросите рекомендательные письма от&nbsp;других клиентов, посмотрите на&nbsp;историю выполненных заказов, поговорите с&nbsp;теми, кто воспользовался услугами этой компании. В-третьих, оцените возможность выполнения проекта/заказа/договора. Например, если вы&nbsp;хотите напечатать рекламную полиграфию, то&nbsp;у&nbsp;вашего исполнителя должно быть специальное типографское оборудование, помещение под него и т. д. Если вы&nbsp;что-то строите на&nbsp;заказ, то&nbsp;у&nbsp;строительной компании должна быть соответствующая техника и&nbsp;штат рабочих. В-четвертых, также можно проверить контрагента на&nbsp;наличие судебных разбирательств, налоговые и&nbsp;административные штрафы и т. д. В&nbsp;помощь вам СМИ, правовые системы &laquo;КонсультантПлюс&raquo;, &laquo;ГарантПлюс&raquo;, сайты судов, Федеральной службы судебных приставов и т. д.
            p.
                Однодневки часто &laquo;прихватывают&raquo; деньги заказчиков, прикрываясь интернет-магазинами. Недавно подобный случай отследило УМВД по&nbsp;Ярославской области: к&nbsp;полицейским обратился потерпевший, заплативший мошенникам деньги за&nbsp;ноутбук, перечислив сумму по&nbsp;указанным на&nbsp;сайте реквизитам. Потерпевшим могла быть и&nbsp;компания, и&nbsp;предприниматель, покупавший компьютер для офисных нужд.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--woman
                    h3 Елена Комарова
                .quote-block__author--about
                    p руководитель компании &laquo;Море клиентов&raquo;
                .quote-block__citate
                    p.
                        Для проверки надежности контрагентов есть много вариантов. Один из&nbsp;них&nbsp;&mdash; интернет. Там, как правило, можно найти много информации о&nbsp;компании: регистрация компании, сайт, отзывы, отсутствие процедур банкротства и&nbsp;пр.&nbsp;Есть бесплатные и&nbsp;платные сервисы, которые помогают сделать это. В&nbsp;конце концов, можно навести справку о&nbsp;добропорядочности компании и&nbsp;на&nbsp;рынке.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            .image-block.image-block--left
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-6/Image_2.jpg", alt="")
            h2 Почти банкрот
            p.
                Иногда компании-мошенники, находясь на&nbsp;стадии банкротства или ликвидации, заключают договоры с&nbsp;заказчиками, чтобы получить деньги вперед и&nbsp;заведомо не&nbsp;выполнить договор. Риски также очевидны&nbsp;&mdash; это и&nbsp;потеря денег, и&nbsp;срыв исполнения работ, обозначенных в&nbsp;договоре.
            p.
                Выявить такую фирму в&nbsp;&laquo;предсмертном&raquo; состоянии помогут открытые источники, сайт ФНС, а&nbsp;также ресурсы, в&nbsp;которых публикуются сведения о&nbsp;требованиях кредиторов и&nbsp;проведении собраний кредиторов.
            p.
                Такими историями часто &laquo;грешат&raquo; застройщики, продающие объекты &laquo;дольщикам&raquo;, компании, берущие кредиты в&nbsp;банках (часто в&nbsp;сговоре с&nbsp;самими банками) без перспективы возврата долга и т. д.
            .line-dots
            h2 Срыв сроков
            p.
                К&nbsp;недобросовестным партнерам можно отнести поставщиков, срывающих сроки выполнения договоров, а&nbsp;также покупателей, несвоевременно вносящих деньги за&nbsp;приобретенный товар. Риски работы с&nbsp;подобными фирмами-исполнителями или заказчиками следующие: кассовые разрывы, срыв ваших сроков выполнения договоров, штрафы, потеря клиентов и&nbsp;репутации.
            p.
                Так как недобросовестность по&nbsp;срокам не&nbsp;всегда является поводом для судебных разбирательств и&nbsp;штрафов, в&nbsp;данном случае выявление проблемного партнера происходит в&nbsp;основном по&nbsp;отзывам клиентов, знакомых, партнеров и т. д.
            .advice-content__block__step__inner
                h3 Мобильный интернет для бизнеса
                p Даже если вас подвел подрядчик, вы&nbsp;сможете самостоятельно добиться побед в&nbsp;бизнесе с&nbsp;новым пакетом инструментов от&nbsp;&laquo;Билайн&raquo; Бизнес&nbsp;&mdash; &laquo;Мобильное предприятие&raquo;.
                a(href="https://delo.beeline.ru/?utm_source=RBC&utm_medium=banner&utm_term=Mobilnoe_predpriyatie&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2018" target="_blank").arrow-block Подробнее
                    span
            p.
                В&nbsp;правовых СМИ, например, описывался такой кейс. Фирма &laquo;Урман&raquo; (покупатель) заключила договор с&nbsp;сельскохозяйственным предприятием&nbsp;&mdash; колхозом &laquo;Октябрь&raquo;. По&nbsp;условиям договора &laquo;Урман&raquo; приобрел 1 тыс. кубометров лесоматериалов, которые планировалось вывести с&nbsp;территории колхоза. Предоплата составила 1&nbsp;млн&nbsp;рублей. Когда водитель приехал за&nbsp;деревом, на&nbsp;складе его не&nbsp;нашел. Фирма &laquo;Урман&raquo; направила в&nbsp;колхоз претензию, дабы исполнитель восполнил недостачу, но&nbsp;вместо этого колхоз вернул назад 1&nbsp;млн&nbsp;рублей. <nobr>Из-за</nobr> срывов условий договора у&nbsp;фирмы &laquo;Урман&raquo; сорвались и&nbsp;другие сделки, бизнес понес убытки и&nbsp;был вынужден обратиться для взыскания денег в&nbsp;суд.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Николай Шестаков
                .quote-block__author--about
                    p партнер <nobr>онлайн-сервиса</nobr> бытовых услуг YouDo.com
                .quote-block__citate
                    p.
                        Вопрос выбора партнера по&nbsp;бизнесу настолько&nbsp;же сложен, как и&nbsp;вопрос выбора жены/мужа. Здесь нет и&nbsp;быть не&nbsp;может универсальных советов. Я&nbsp;бы дал лишь одно предостережение. Как и&nbsp;в&nbsp;вопросе выбора спутника жизни, на&nbsp;начальном этапе под воздействием эндорфинов мы&nbsp;находимся в&nbsp;розовых очках, чувствуем счастье и&nbsp;испытываем только позитивные эмоции. Это прекрасно. Но, чтобы обезопасить себя и&nbsp;свой бизнес от&nbsp;дальнейших конфликтов, надо проговорить с&nbsp;партнером (партнерами) все самые худшие варианты развития событий (например, желание одного из&nbsp;них выйти из&nbsp;бизнеса, образование долговых обязательств, требование докапитализации проекта и т. д.) и&nbsp;прописать для всех правила прекращения деловых отношений. Только договорившись &laquo;на&nbsp;берегу&raquo; и&nbsp;зафиксировав это письменно, можно быть уверенным, что как минимум в&nbsp;этих пунктах разногласий у&nbsp;вас не&nbsp;случится. Если мы&nbsp;говорим про выбор партнеров/клиентов/заказчиков/подрядчиков, то&nbsp;есть стандартный набор процедур, который должна проделывать любая финансово-юридическая служба компании. Особенно, если речь идет о&nbsp;постоплатной форме сотрудничества, когда вы&nbsp;рискуете оказать услугу/поставить товар и&nbsp;остаться без оплаты. Контрагента следует проверить по&nbsp;базам данных судов, ФНС, запросить документы о&nbsp;государственной регистрации, постановке на&nbsp;учет, устав. Очень часто дополнительную полезную информацию можно получить и&nbsp;при помощи обычного поиска по&nbsp;названию компании и/или ФИО ее&nbsp;ключевых персон. Разумеется, в&nbsp;интернете могут всякое написать, но, как показывает моя практика, дыма без огня не&nbsp;бывает, и&nbsp;относиться к&nbsp;контрагенту с&nbsp;подмоченной репутацией явно стоит осторожнее.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            h2 Бракованный товар
            p.
                Помимо несвоевременной доставки продукции, материалов и т. д. недобросовестные партнеры могут подвести и&nbsp;с&nbsp;качеством выполнения заказа. В&nbsp;этом случае есть вероятность увеличения суммы договора/заказа, который выполняет партнер. Также, безусловно, затянутся и&nbsp;сроки. Поставщик может долго спорить, обсуждая качество. Например, качество сырья может не&nbsp;устроить вас, но, по&nbsp;мнению производителя, будет соответствовать всем критериям, обозначенным в&nbsp;договоре. Если договориться не&nbsp;удастся, вы&nbsp;попадете на&nbsp;судебное разбирательство и&nbsp;судебные издержки.
            p.
                Помимо рыночного &laquo;опроса&raquo; о&nbsp;контрагенте-поставщике рекомендуем проверить, насколько корректно прописаны критерии качества, по&nbsp;которым будет проводиться их&nbsp;оценка, в&nbsp;заключаемом договоре.
            .line-dots
            .image-block.image-block--left
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-6/Image_3.png", alt="")
            h2 Отсутствие лицензии
            p.
                Бывает и&nbsp;такое, что компания ведет деятельность, не&nbsp;получив (не&nbsp;продлив) соответствующую лицензию (разрешение). Иногда такое случается по&nbsp;оплошности и&nbsp;никак не&nbsp;влияет на&nbsp;качество выполнения заказа, но&nbsp;все&nbsp;же вероятность того, что работа будет выполнена некачественно, высока. Кроме того, если вы&nbsp;выполняете государственный контракт или являетесь участником тендера, в&nbsp;котором есть требование о&nbsp;наличии лицензированного подрядчика/партнера и т. д., то&nbsp;вашу работу просто не&nbsp;примут, вы&nbsp;потеряете деньги, время, а&nbsp;также, как водится, репутацию.
            p.
                Проверить наличие соответствующих лицензий просто&nbsp;&mdash; их&nbsp;можно запросить. Если их&nbsp;нет прямо сейчас, уточните причину. Вполне возможно, что старая лицензия закончила свое действие, а&nbsp;новая будет буквально через пару дней. Заключите тогда договор датой после ее&nbsp;получения. Также для некоторых видов деятельности наличие лицензии желательно, но&nbsp;не&nbsp;обязательно. В&nbsp;этом случае решать, работать&nbsp;ли с&nbsp;таким поставщиком/подрядчиком, исключительно вам.
            p.
                Также может случиться, что организация теряет лицензию. Это в&nbsp;последнее время часто случается, например, с&nbsp;банками. Причины этого явления кроются в&nbsp;рисковой политике кредитования, несоблюдения требований регулятора, а&nbsp;также в&nbsp;целенаправленных мошенничествах со&nbsp;стороны финансовых организаций. А&nbsp;ведь все фирмы имеют счета в&nbsp;банках, на&nbsp;которых зачастую хранятся большие суммы денег.&nbsp;Как известно, при отзыве лицензий финансовые организации возвращают гарантированные суммы вкладов частным клиентам, но&nbsp;не&nbsp;юридическим лицам. Как показывает практика, не&nbsp;все средства, которые остались на&nbsp;счете в&nbsp;банке, можно вернуть, либо на&nbsp;возврат средств уходит очень много времени. В&nbsp;этом плане важно следить за&nbsp;ситуацией на&nbsp;рынке, новостями в&nbsp;СМИ, сообщениями регулятора на&nbsp;сайте www.cbr.ru и т. д.
    section.sharing-block
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    section.advices-block-slider.lifehack-hidden
        a(href="/article-1.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
            .advices-block-slider__item__text
                p Малые миллионы
        a(href="/article-2.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
            .advices-block-slider__item__text
                p Финансы для бизнеса
        a(href="/article-3.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
            .advices-block-slider__item__text
                p «Океаны» бизнеса
        a(href="/article-4.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
            .advices-block-slider__item__text
                p Инвестиции в эффективность
        a(href="/article-5.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
            .advices-block-slider__item__text
                p Плата за&nbsp;эмоции
        a(href="/article-6.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
            .advices-block-slider__item__text
                p В&nbsp;погоне за&nbsp;надежностьюс
        a(href="/article-7.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
            .advices-block-slider__item__text
                p Кадры в кризис: увольнять или нет
        a(href="/article-8.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
            .advices-block-slider__item__text
                p Связь для бизнеса
        a(href="/article-9.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
            .advices-block-slider__item__text
                p Машины vs люди
    .line-grey.line-grey--lf.lifehack-hidden
    section.video-slider.video-slider-footer.lifehack-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                  .interview-block__video
                      .interview-block__video__block
                          .interview-block__video__block__muted.video_muted.block-control--slider-6
                              .block-control__pause
                              .block-control__play
                          .full-block-control
                              .full-block-control__slider--play
                              .full-block-control__time
                              .full-block-control__main-line
                                  .full-block-control__main-line__progress
                              .full-block-control__sound
                          .interview-block__video__block__interview
                              iframe(id="client-video-6" width="780" height="439" src="https://www.youtube.com/embed/uul0w-NuDCw?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                          .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_6.jpg); background-size: contain;")
                          .interview-block__video__block__info
                              h3 Ольга Шеламова
                              p.regalia совладелец компании &laquo;Олимп&raquo;
                              p.hide-in-mobile Партнеров надо выбирать с&nbsp;точки зрения надежности и&nbsp;взаимовыгодности сотрудничества. От&nbsp;правильных <nobr>бизнес-партнеров</nobr> и&nbsp;подрядчиков во&nbsp;многом зависит развитие компании.
                              .interview-block__video__block__info__playbutton(id="start-client-video-6")
                  .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom