extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = 'Умные телефонные сервисы'
    - var og_description = 'Как повысить эффективность работы с клиентами, используя специальные решения мобильных операторов — читайте в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/lifehack-5/Lifehack_5.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'
block content

    section.lifehack-case-jumbotron.jumbotron-height(style="background-image: url('../images/lifehack-5/Lifehack-5_Cover_1920x310.jpg');")
        a(href="index.html").link-back Вернуться на главную
        span Лайфхак
        h1 Умные телефонные сервисы
        .link
            a(href="/lifehack-4.html").prev-link Предыдущий лайфхак
            span |
            a(href="/lifehack-6.html").next-link Следующий лайфхак
    section.content-text.content-text--lifehack
        .container
            p.
                Средства связи&nbsp;&mdash; телефония, интернет&nbsp;&mdash; уже давно стали необходимостью для построения бизнеса. Но&nbsp;не&nbsp;все еще знают, что с&nbsp;помощью различных сервисов и&nbsp;опций от&nbsp;сотовых операторов можно решать и&nbsp;более глобальные <nobr>бизнес-задачи</nobr>,&nbsp;&mdash; например, такие как экономия затрат на&nbsp;офис, расширение клиентской базы, территориальная экспансия в&nbsp;регионы <nobr>и т. д.</nobr>
            .line-dots
            .image-block.image-block--left
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-5/Lifehack_5_Image_1.jpg", alt="")
            h2 Экономия времени и денег
            p.
                Решения от&nbsp;сотовых операторов, во-первых, позволяют существенно экономить время и&nbsp;деньги&nbsp;&mdash; расходовать силы только на&nbsp;бизнес, сосредоточиться на&nbsp;его развитии, тратить минимум на&nbsp;содержание и&nbsp;организацию офиса, коммуникаций между сотрудниками и т. д.
            p.
                Например, пакетные предложения Microsoft Office 365 (их&nbsp;можно по&nbsp;выгодной цене купить в&nbsp;&laquo;Билайн&raquo;&nbsp;Бизнес) дают возможность работать совместно над документами, проектами, сделками даже из&nbsp;удаленных территориально офисов. Многоканальные номера, предлагаемые в&nbsp;рамках услуги &laquo;Облачная АТС&raquo; не&nbsp;имеют географической привязки и&nbsp;могут подключаться, бесплатно переводить звонки от&nbsp;клиентов на&nbsp;абонента-сотрудника компании в&nbsp;любой точке мира.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Николай Шестаков
                .quote-block__author--about
                    p партнер онлайн-сервиса бытовых услуг YouDo
                .quote-block__citate
                    p.
                        Технологии могут упростить коммуникации, хоть полностью и&nbsp;не&nbsp;заменят стандартную структуру компании. Так, например, облачные технологии и&nbsp;Google Docs помогают работать совместно над документами без необходимости постоянных встреч и&nbsp;апдейтов в&nbsp;присутствии всех участников процесса. Технологии видеоконференц-связи помогают проводить оперативные совещания без необходимости собираться в&nbsp;одной точке всем участникам встречи. Например, команда программистов, которая работает над одним проектом с&nbsp;четко разделенными зонами ответственности и&nbsp;контроля, вполне может делать проект удаленно, своевременно выполняя все этапы работ и&nbsp;тестируя их&nbsp;на&nbsp;совместимость. Мобильные CRM-решения дают возможность сейлзам и&nbsp;их&nbsp;руководителям прямо &laquo;в&nbsp;полях&raquo; корректировать задачи по&nbsp;клиентам, отслеживать статусы.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            p.
                Что касается ближайшего будущего, то, как считают бизнесмены, деловой мир будет двигаться в&nbsp;сторону увеличения важности навыков человека и&nbsp;его результатов, нежели необходимости его присутствия в&nbsp;офисе или в&nbsp;конкретной географической точке. Хорошим примером уже сейчас являются многие офисы Philips, в&nbsp;которых у&nbsp;сотрудников вообще нет закрепленных за&nbsp;ними рабочих мест, а&nbsp;в&nbsp;офисе они могут собираться в&nbsp;рабочие команды или для индивидуальной работы&nbsp;&mdash; в&nbsp;зависимости от&nbsp;решаемых на&nbsp;данный момент задач.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Марк Гойхман
                .quote-block__author--about
                    p аналитик ГК&nbsp;TeleTrade
                .quote-block__citate
                    p.
                        Современные технологии позволяют снизить расходы на&nbsp;содержание офиса. Например, многие провайдеры предоставляют услугу &laquo;Готовый офис&raquo;&nbsp;&mdash; комплексную организацию систем связи с&nbsp;предоставлением оборудования. Она включает многоканальную телефонию, компьютерную сеть с&nbsp;подключением wi-fi, внутренние телекоммуникации, хранение данных и&nbsp;пр.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            p.
                Описанное решение обойдется дешевле покупки оборудования и&nbsp;самостоятельной организации офиса и&nbsp;может составлять до&nbsp;10&nbsp;000&nbsp;руб. в&nbsp;месяц вместе с&nbsp;арендой техники на&nbsp;4&ndash;5 рабочих мест.
            p.
                Один из&nbsp;вариантов экономии&nbsp;&mdash; удаленная работа сотрудников, будь то&nbsp;бухгалтер, юрист, программист и&nbsp;пр.&nbsp;Она позволяет экономить на&nbsp;использовании площадей, техники, мебели, а&nbsp;для сотрудников часто предпочтительна, поскольку не&nbsp;требует времени на&nbsp;посещение офиса, позволяет гибче использовать время. Подключение к&nbsp;современным внутрикорпоративным и&nbsp;CRM-системам дает возможность ставить и&nbsp;контролировать задачи, получать отчеты и&nbsp;материалы выполненных работ, совершенствовать работу с&nbsp;клиентами и&nbsp;пр.мест.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--woman
                    h3 Елена Комарова
                .quote-block__author--about
                    p директор агентства &laquo;Море клиентов&raquo;
                .quote-block__citate
                    p.
                        Сейчас очень много сервисов, позволяющих ставить задачи, контролировать исполнение удаленно: различные CRM-, ERP-системы. Правда, здесь очень много зависит от&nbsp;того, как налажена система взаимодействия, система контроля, система мотивации. Есть варианты отдавать какие-то задачи на&nbsp;аутсорсинг (кол-центр, бухгалтерское обслуживание и&nbsp;пр.). В&nbsp;своей работе мы&nbsp;это использовали не&nbsp;раз. Более того, у&nbsp;нас есть удаленные сотрудники: мы&nbsp;наладили схему взаимодействия, и&nbsp;нам так удобно.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            h2 Больше клиентов и&nbsp;выше продаж
            p.
                Решения сотовых операторов также могут положительно влиять на&nbsp;рост продаж. Некоторые сервисы стимулируют увеличение продаж напрямую&nbsp;&mdash; например, номер 8&ndash;800, бесплатный для регионов, расширяет круг потенциальных клиентов.
            p.
                Вашим клиентам будет комфортней&nbsp;&mdash; им&nbsp;не&nbsp;придется задумываться о&nbsp;том, сколько стоит звонок. А, скажем, настроенная переадресация звонков в&nbsp;офисе, в&nbsp;том числе виртуальном (с&nbsp;помощью &laquo;Облачной АТС&raquo; от&nbsp;&laquo;Билайн&raquo;&nbsp;Бизнес), не&nbsp;позволит вам потерять звонки покупателей.
            .advice-content__block__step__inner
                h3 Развивайте бизнес с&nbsp;8&ndash;800
                p Организуйте бесплатную телефонную линию ваших клиентов&nbsp;&mdash; купите номер 8&ndash;800 от&nbsp;&laquo;Билайн&raquo;&nbsp;Бизнес, на&nbsp;который звонки из&nbsp;всех регионов России будут бесплатными как с&nbsp;мобильных, так и&nbsp;со&nbsp;стационарных телефонов.
                a(href="http://beeline.ru/b2b/products/telephony/services/details/nomera-8-800/?utm_source=RBC&utm_medium=banner&utm_term=8_800&utm_content=fix&utm_campaign=Beeline_VIV_B2B_Digital_SP_RBC_Mar-Oct2017" target="_blank").arrow-block Подробнее
                    span
            p.
                Также заметно расширить круг клиентов может сайтофон&nbsp;&mdash; сервис, позволяющий потенциальному клиенту позвонить прямо с&nbsp;сайта. Как известно, по&nbsp;статистике, в&nbsp;магазинах около 20% покупок совершаются спонтанно, поэтому, &laquo;прикрутив&raquo; подобную модель к&nbsp;сайту вашей компании, вы&nbsp;приятно удивитесь результату. Он&nbsp;позволит клиентам со&nbsp;&laquo;спонтанной&raquo; моделью поведения быстро связаться с&nbsp;виртуальным магазином.
            p.
                Есть и&nbsp;сервисы, которые влияют на&nbsp;продажи косвенно, например call tracking&nbsp;&mdash; технология отслеживания звонков и&nbsp;оптимизации бизнес-процессов. В&nbsp;зависимости от&nbsp;сферы бизнеса от&nbsp;10 до&nbsp;100% продаж может проводиться по&nbsp;телефону. Каким&nbsp;бы чудесным и&nbsp;креативным ни&nbsp;был сайт, многие люди так устроены, что ничто им&nbsp;не&nbsp;заменит личного общения. Для менеджера&nbsp;же по&nbsp;продажам &laquo;живой&raquo; диалог&nbsp;&mdash; это возможность подтолкнуть к&nbsp;покупке, предложить альтернативу, убедить, посоветовать и т. д. Именно поэтому звонки&nbsp;&mdash; это обязательный этап воронки продаж практически для любого бизнеса.
            .image-block.image-block--left
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-5/Lifehack_5_Image_2.jpg", alt="")
            p.
                Телефонные продажи сегодня можно анализировать и&nbsp;влиять через это на&nbsp;их&nbsp;эффективность. В&nbsp;задачи бизнеса входит: наладить прием и&nbsp;обработку звонков, избежать пропущенных звонков, а&nbsp;также проанализировать, какая реклама вызывает звонки и&nbsp;рост продаж, а&nbsp;какая&nbsp;&mdash; не&nbsp;слишком результативна. При использовании CRM-системы данные о&nbsp;телефонных разговорах прикрепляются к&nbsp;сделкам и&nbsp;помогают сформировать целостную картину модели продаж. Так вот, если с&nbsp;первыми двумя обозначенными выше задачами вполне справляются решения сотовых операторов, то&nbsp;для аналитики по&nbsp;звонкам нужны специальные инструменты.
            p.
                Предприниматель не&nbsp;сможет понять без аналитики, почему к&nbsp;нему пришел клиент, какой рекламный канал неэффективен. Кол-трекинг&nbsp;же позволяет выяснять это и&nbsp;отслеживать источники вплоть до&nbsp;ключевого слова. Информация о&nbsp;ключевом слове отражается в&nbsp;журнале звонков вместе с&nbsp;информацией о&nbsp;рекламной кампании и&nbsp;поисковике, откуда клиент на&nbsp;вас вышел.
            .line-dots
        .quote-block
            .container
                .quote-block__author
                    .quote-block__author__logo.quote-block__author__logo--man
                    h3 Михаил Федоринин
                .quote-block__author--about
                    p основатель компании Calltouch
                .quote-block__citate
                    p.
                        Не&nbsp;используя <nobr>кол-трекинг</nobr>, вы&nbsp;ведете рекламу вслепую. То&nbsp;есть тратите деньги, но&nbsp;точно не&nbsp;можете быть уверены, что реклама приносит звонки. В&nbsp;результате непонятно, как принимать решение о&nbsp;том, что реклама работает или не&nbsp;работает. Сейчас в&nbsp;конкурентных тематиках просто невозможно вести рекламу в&nbsp;интернете, не&nbsp;используя <nobr>кол-трекинг</nobr>, скорее всего в&nbsp;этом случае реклама просто не&nbsp;будет окупаться. Достаточно сказать, что в&nbsp;среднем только более 50% запросов в&nbsp;контекстной рекламе, по&nbsp;которым размещаются клиенты, не&nbsp;приносят звонков, но&nbsp;тратят рекламный бюджет. Не&nbsp;используя <nobr>кол-трекинг</nobr>, вы&nbsp;никогда не&nbsp;поймете, какие именно ключевые запросы не&nbsp;работают, и&nbsp;будете переплачивать за&nbsp;рекламу сумму в&nbsp;несколько раз больше, чем можно было&nbsp;бы тратить с&nbsp;<nobr>кол-трекингом</nobr>.
    section.content-text
        .container
            .line-dots.line-dots--no-top
            .image-block.image-block--right
                .image-block__rectangle
                .image-block__img
                    img(src="../images/lifehack-5/Lifehack_5_Image_3.jpg", alt="")
            p.
                Кол-трекинг аккумулирует и&nbsp;предоставляет информацию по&nbsp;обращениям. Отделив целевые звонки (например, по&nbsp;показателю длительности разговора: вряд&nbsp;ли звонок с&nbsp;предложением купить воду будет длиться дольше 10 секунд, а&nbsp;разговор о&nbsp;покупке как раз определенно займет больше времени), сопоставив их&nbsp;с&nbsp;рекламными кампаниями и&nbsp;ресурсами, можно провести довольно четкий анализ и&nbsp;даже маркетинговое исследование рынка. Вы&nbsp;поймете, какие каналы генерируют пустые звонки, следовательно, можно будет перераспределить рекламный бюджет не&nbsp;в&nbsp;их&nbsp;пользу.
            p.
                В&nbsp;кол-трекинге можно копать сколь угодно глубоко. Например, сегментировать впоследствии звонки вручную. Скажем, можно выделить категорию звонков, в&nbsp;ходе которых клиенты интересуются отсутствующими товарами. Скажем, в&nbsp;онлайн-магазин детской одежды часто звонят люди, желающие купить памперсы. Неплохой повод расширить ассортимент.
            p.
                Стройте как можно более глубокие и&nbsp;комплексные отчеты, ищите эффективные каналы рекламы, позволяющие наращивать продажи и&nbsp;развивать бизнес.
            p.
                Например, система Calltouch с&nbsp;интеграцией в&nbsp;CRM-компании может показывать и&nbsp;стоимость звонка с&nbsp;рекламы, и&nbsp;стоимость клиента для бизнеса, то&nbsp;есть сквозную аналитику&nbsp;&mdash; от&nbsp;клика по&nbsp;рекламе до&nbsp;финальной покупки. Каждому пользователю, который заходит на&nbsp;сайт, выделяется уникальный телефонный номер. Когда пользователь принимает решение о&nbsp;том, что ему нужно позвонить в&nbsp;компанию, он&nbsp;звонит по&nbsp;уникальному телефонному номеру, и&nbsp;можно сопоставить этот звонок с&nbsp;пользовательской сессией, которая в&nbsp;данный момент была на&nbsp;сайте. В&nbsp;результате сервис определяет рекламную площадку, конкретное объявление или запрос, который человек ввел в&nbsp;поисковой строке, перед тем как позвонить.
    section.sharing-block
        .share-icon.js-share
            a(href="https://www.facebook.com/sharer/sharer.php?u=").share-icon__item.share-icon__item--fk.fbook
            a(href="https://vk.com/share.php?url=").share-icon__item.share-icon__item--vk.vkt
            a(href="https://twitter.com/intent/tweet?text=").share-icon__item.share-icon__item--tw.twt
    section.advices-block-slider.lifehack-hidden
        a(href="/article-1.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_1.jpg');")
            .advices-block-slider__item__text
                p Малые миллионы
        a(href="/article-2.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_2.jpg');")
            .advices-block-slider__item__text
                p Финансы для бизнеса
        a(href="/article-3.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/Article_3.jpg');")
            .advices-block-slider__item__text
                p «Океаны» бизнеса
        a(href="/article-4.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/4.jpg');")
            .advices-block-slider__item__text
                p Инвестиции в эффективность
        a(href="/article-5.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/5.jpg');")
            .advices-block-slider__item__text
                p Плата за&nbsp;эмоции
        a(href="/article-6.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/6.jpg');")
            .advices-block-slider__item__text
                p В&nbsp;погоне за&nbsp;надежностью
        a(href="/article-7.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/7.jpg');")
            .advices-block-slider__item__text
                p Кадры в кризис: увольнять или нет
        a(href="/article-8.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/8.jpg');")
            .advices-block-slider__item__text
                p Связь для бизнеса
        a(href="/article-9.html").advices-block-slider__item
            .advices-block-slider__item__img(style="background-image: url('../images/main-page/Article/9.jpg');")
            .advices-block-slider__item__text
                p Машины vs люди
    .line-grey.line-grey--lf.lifehack-hidden
    section.video-slider.video-slider-footer.lifehack-hidden
        .container
            h2 Правила предпринимателя
            .videos-slider.videos-slider--space
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-5
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-5" width="780" height="439" src="https://www.youtube.com/embed/Dn_tOvfZiI0?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_5.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Илья Смирнов
                                p.regalia <nobr>IT-директор</nobr> компании &laquo;Ай&nbsp;Ти&nbsp;Ви&nbsp;групп&raquo;
                                p.hide-in-mobile Формат удаленного офиса создает комфортные условия для работы сотрудников, служит дополнительной мотивацией, а&nbsp;также позволяет компании эффективнее управлять расходами.
                                .interview-block__video__block__info__playbutton(id="start-client-video-5")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-4
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-4" width="780" height="439" src="https://www.youtube.com/embed/jMvRX6AEsQY?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_4.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Игорь Ласьков
                                p.regalia Генеральный директор <nobr>ООО &laquo;Стройкомфорт&raquo;</nobr>
                                p.hide-in-mobile Снижать расходы и, в&nbsp;то&nbsp;же время, постоянно расширять число клиентов, позволит современная <nobr>CRM-система</nobr> и&nbsp;другие решения мобильного оператора.
                                .interview-block__video__block__info__playbutton(id="start-client-video-4")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-3
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-3" width="780" height="439" src="https://www.youtube.com/embed/D4W_ciHj-Dc?list=PLv42Kp4x57LC_mrA0OAEqpo5r1LEMAL66&amp;controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_3.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Андрей Замай
                                p.regalia Генеральный директор компании «Первая Интеллектуальная Реклама»
                                p.hide-in-mobile Найти «голубой океан» можно даже на современном конкурентном рынке. А выигрывает в бизнесе тот, кто не боится ошибок, совершает их, но учится на них и совершенствуется.
                                .interview-block__video__block__info__playbutton(id="start-client-video-3")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-1
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-1" width="780" height="501" src="https://www.youtube.com/embed/HLGZqCOwOws?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_1.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Павел Чаплинский
                                p.regalia Основатель BOX&ROSES
                                p Создавая компанию, предпринимателю нужно иметь видение, каким бизнес будет через полгода, год, несколько лет, какой будет его команда, какие задачи будут поставлены перед сотрудниками и&nbsp;для чего, вообще, строится этот бизнес.
                                .interview-block__video__block__info__playbutton(id="start-client-video-1")
                    .interview-block__video__sharing.clearfix.no-margin-bottom
                a()
                    .interview-block__video
                        .interview-block__video__block
                            .interview-block__video__block__muted.video_muted.block-control--slider-2
                                .block-control__pause
                                .block-control__play
                            .full-block-control
                                .full-block-control__slider--play
                                .full-block-control__time
                                .full-block-control__main-line
                                    .full-block-control__main-line__progress
                                .full-block-control__sound
                            .interview-block__video__block__interview
                                iframe(id="client-video-2" width="780" height="501" src="https://www.youtube.com/embed/3EaAAjCzSxE?controls=0&amp;showinfo=0&enablejsapi=1&rel=0" frameborder="0" allowfullscreen)
                            .interview-block__video__block__filter(style="background-image: url(images/interview-speakers/business/Client_2.jpg); background-size: contain;")
                            .interview-block__video__block__info
                                h3 Дмитрий Шлопак
                                p.regalia Управляющий партнер &laquo;Везендорф групп&raquo;
                                p Социальная <nobr>бизнес-философия</nobr> и&nbsp;гарантия возврата вложенных средств&nbsp;&mdash; правило, которое позволит приблизить ваш стартап к&nbsp;получению инвестиций.
                                .interview-block__video__block__info__playbutton(id="start-client-video-2")
                    .interview-block__video__sharing.clearfix.no-margin-bottom