extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Сергей Панов, генеральный директор «Моё дело»: как выбирать надежных бизнес-партнеров. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_6.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content