
extends templates/layout
block vars
  - var title = '«Билайн» Бизнес'
  - var og_title = '«Билайн» Бизнес'
  - var og_description = 'Кирилл Поряднев, генеральный директор «Результат Плюс»: о тонкостях успеха в юридическом бизнесе. Смотрите в проекте РБК и «Билайн».'
  - var og_image = '../images/sharing/Client_9.jpg'
  - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content
