extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Дмитрий Шкловер, основатель 613bricks.ru: о секретах успеха интернет-магазина детских игрушек. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Client_8.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content