extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Дмитрий Шлопак, управляющий партнёр «Везендорф групп»: об успешном развитии в отельном бизнесе. Смотрите в спецпроекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Client_2.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content