extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Андрей Сильчев, директор по развитию IT Partner: почему в IT-бизнесе люди важнее технологий. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Client_7.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content