extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Илья Смирнов, IT-директор «Ай Ти Ви Групп»: почему бизнес должен быстро реагировать на изменения рынка. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Client_5.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content