extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Сергей Таболин, Руководитель по&nbsp;сегментному маркетингу &laquo;Билайн&raquo; Бизнес: о мобильных решениях в бизнесе. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_8.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content