extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Меня не интересуют новые технологии в бизнесе — вполне устраивает хорошо проверенное старое. А вы — инноватор? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_9_result_5.jpg'
    - var twitter_description = 'Меня не интересуют новые технологии в бизнесе — вполне устраивает хорошо проверенное старое. А вы — инноватор? Пройдите тест РБК и «Билайн» и узнайте.'

block content