extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я вполне могу стать успешным стартапером, но, говорят, лучше даже не пытаться. А какие шансы у вас? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_1_result_5.jpg'
    - var twitter_description = 'Я могу стать стартапером, но, говорят, лучше не пробовать. А какие шансы у вас? Пройдите тест РБК и «Билайн» и узнайте.'

block content