extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Коллег надо знать не только в лицо, но и по личностным качествам. У меня с этим неважно. А у вас? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_5_result_5.jpg'
    - var twitter_description = 'Коллег надо знать не только в лицо, но и по личностным качествам. У меня с этим неважно. А у вас? Пройдите тест РБК и «Билайн» и узнайте.'

block content
