extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я настоящий инноватор в бизнесе. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_9_result_2.jpg'
    - var twitter_description = 'Я настоящий инноватор в бизнесе. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content
