extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я хороший руководитель, правда, не всегда и не для всех. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_7_result_3.jpg'
    - var twitter_description = 'Я хороший руководитель, правда, не всегда и не для всех. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content
