extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = 'Способны ли вы привлекать инвестиции?'
    - var og_description = 'У меня есть шанс привлечь инвестиции на бизнес-проект, но, говорят, лучше даже не пробовать. А вам такое по силам? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_2_result_5.jpg'
    - var twitter_description = 'Я могу привлечь инвестиции для бизнеса, но, говорят, лучше не пробовать. А вам такое по силам? Пройдите тест РБК и «Билайн» и узнайте.'

block content