extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я могу стать отличным руководителем, дело за малым — научиться руководить. А какой руководитель из вас? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_7_result_5.jpg'
    - var twitter_description = 'Я могу стать отличным руководителем, дело за малым — научиться руководить. А какой руководитель из вас? Пройдите тест РБК и «Билайн» и узнайте.'

block content
