extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Говорят, я не умею экономить на мобильной связи в бизнесе, из-за чего могу терять много денег. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_8_result_5.jpg'
    - var twitter_description = 'Говорят, я не умею экономить на мобильной связи в бизнесе, из-за чего могу терять много денег. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content