extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я профи в оптимизации расходов на мобильную связь в бизнесе. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_8_result_2.jpg'
    - var twitter_description = 'Я профи в оптимизации расходов на мобильную связь в бизнесе. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content
