extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Оптимизировать бизнес-расходы? Для меня легко! А у вас получится? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_4_result_2.jpg'
    - var twitter_description = 'Оптимизировать бизнес-расходы? Для меня легко! А у вас получится? Пройдите тест РБК и «Билайн» и узнайте.'

block content