extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я не Илон Маск, но с моим стремлением к инновациям в бизнесе вполне могу его догнать и перегнать. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_9_result_1.jpg'
    - var twitter_description = 'Я не Илон Маск, но с моим стремлением к инновациям в бизнесе вполне могу его догнать и перегнать. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content