extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Минута рубль бережет. Я немного понимаю, как экономить на мобильной связи в бизнесе, а вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_8_result_4.jpg'
    - var twitter_description = 'Минута рубль бережет. Я немного понимаю, как экономить на мобильной связи в бизнесе, а вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content
