extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я кое-что смыслю в управлении кадрами, но до «Руководителя года» мне пока далековато. А вам? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_7_result_4.jpg'
    - var twitter_description = 'Я кое-что смыслю в управлении кадрами, но до «Руководителя года» мне пока далековато. А вам? Пройдите тест РБК и «Билайн» и узнайте.'

block content
