extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Коллеги для меня — как открытая книга, правда, только на титульной странице. А вы хорошо знаете тех, с кем работаете? Пройдите тест РБК и Билайн — и узнайте.'
    - var og_image = '../images/sharing-test/Test_5_result_3.jpg'
    - var twitter_description = 'Коллеги для меня — как открытая книга, правда, только на титульной странице. А вы хорошо знаете тех, с кем работаете? Пройдите тест РБК и Билайн — и узнайте.'

block content
