extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Стартапы — мое призвание, я любую бизнес-идею могу превратить в золото. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_1_result_1.jpg'
    - var twitter_description = 'Стартапы — мое призвание, я любую бизнес-идею могу превратить в золото. А вы? Пройдите тест РБК и ««Билайн» и узнайте.'

block content