extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я сам себе выгодный тариф, но не очень выгодный. А вы умеете экономить на мобильной связи в бизнесе? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_8_result_3.jpg'
    - var twitter_description = 'Я сам себе выгодный тариф, но не очень выгодный. А вы умеете экономить на мобильной связи в бизнесе? Пройдите тест РБК и «Билайн» и узнайте.'

block content
