extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я отличный стартапер, дайте мне идею, и я сделаю из нее бизнес. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_1_result_2.jpg'
    - var twitter_description = 'Я отличный стартапер, дайте мне идею, и я превращу ее в бизнес. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content