extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я могу стать успешным стартапером, но надо поднабраться опыта. А какие шансы у вас? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_1_result_4.jpg'
    - var twitter_description = 'Я могу стать стартапером, но надо поднабраться опыта. А какие шансы у вас? Пройдите тест РБК и «Билайн» и узнайте.'

block content