extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Чтобы оптимизировать бизнес-расходы, сначала мне нужно поработать над собой. А вам? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_4_result_3.jpg'
    - var twitter_description = 'Чтобы оптимизировать бизнес-расходы, сначала мне нужно оптимизировать себя. А вам? Пройдите тест РБК и «Билайн» и узнайте.'

block content