extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я гуру маркетинга. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_3_result_1.jpg'
    - var twitter_description = 'Я гуру маркетинга. А вы? Пройдите тест РБК и «Билайн» и узнайте..'

block content