extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я разбираюсь в «голубых океанах» и «идеальных клиентах». А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_3_result_2.jpg'
    - var twitter_description = 'Я разбираюсь в «голубых океанах» и «идеальных клиентах». А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content