extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я отлично разбираюсь в людях вообще и в коллегах в частности. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_5_result_2.jpg'
    - var twitter_description = 'Я отлично разбираюсь в людях вообще и в коллегах в частности. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content
