extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Новые технологии — моя стихия. А вы открыты инновациям в бизнесе? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_9_result_3.jpg'
    - var twitter_description = 'Новые технологии — моя стихия. А вы открыты инновациям в бизнесе? Пройдите тест РБК и «Билайн» и узнайте.'

block content
