extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Оказывается, я не самый лучший маркетолог. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_3_result_3.jpg'
    - var twitter_description = 'Оказывается, я не самый лучший маркетолог. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content