extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = 'Способны ли вы привлекать инвестиции?'
    - var og_description = 'Могу выбить деньги из инвестора в любом раунде. А до какого продержитесь вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_2_result_1.jpg'
    - var twitter_description = 'Могу выбить деньги из инвестора в любом раунде. А до какого продержитесь вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content