extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я не самый большой знаток человеческой натуры, даже если работаю с этими натурами в одной компании. А вы хорошо знаете своих коллег? Пройдите тест РБК и Билайн — и узнайте.'
    - var og_image = '../images/sharing-test/Test_5_result_4.jpg'
    - var twitter_description = 'Я не самый большой знаток человеческой натуры, даже если работаю с этими натурами в одной компании. А вы хорошо знаете своих коллег? Пройдите тест РБК и Билайн — и узнайте.'

block content
