extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Я умелый руководитель — могу собрать команду мечты, если использую собственным опытом. А вы? Пройдите тест РБК и «Билайн» и узнайте.'
    - var og_image = '../images/sharing-test/Test_7_result_2.jpg'
    - var twitter_description = 'Я умелый руководитель — могу собрать команду мечты, если использую собственным опытом. А вы? Пройдите тест РБК и «Билайн» и узнайте.'

block content
