extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Александр Волощук, основатель Dr. Tariff и QStudio.org: об оптимизации бизнеса с помощью IT-решений. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Business_4.jpg'
    - var twitter_description = '«Билайн» Бизнес: прорывные технологии для больших побед.'

block content