extends templates/layout
block vars
    - var title = '«Билайн» Бизнес'
    - var og_title = '«Билайн» Бизнес'
    - var og_description = 'Андрей Замай, гендиректор компании «Первая Интеллектуальная Реклама»: как аналитика двигает бизнес вперед. Смотрите в проекте РБК и «Билайн».'
    - var og_image = '../images/sharing/Client_3.jpg'
    - var twitter_description = 'Билайн» Бизнес: прорывные технологии для больших побед.'

block content