.for-control {
	opacity: 1 !important;
}

.for-control-time {
	opacity: 0.3 !important;
}

.for-control-bar {
	opacity: 0.6 !important;
}

.play-pause-second {
	animation: anim-effect-boris 0.5s forwards;
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

.external-speaker-block {
	position: relative;
	overflow: hidden;

	.inter-block__speakers--wrapper {
		visibility: hidden;
		opacity: 0;
		top: 0;
		left: 0;
		position: absolute;
		z-index: -100;
		width: 100%;
	}

	& > .active {
		opacity: 1;
		position: static;
		visibility: visible;
		width: 100%;
	}
}

.interview-block__main-tab[data-tab="2"] {
	display: none;
}

.interview-block__tab {
		font-size: 0;
		transform: translateY(-2px);

		.active {
			background-color: #EAEAEA;
			background-color: #EAEAEA;
		}

		&--client, &--bman {
			background-color: #FFF;
			border: 1px solid #EAEAEA;
			box-sizing: border-box;
			color: #393939;
			cursor: pointer;
			font-family: 'OfficinaSerifMediumC';
			letter-spacing: 0.2px;
			display: inline-block;
			padding-top: 13px;
			padding-bottom: 8px;
			font-size: 16px;
			text-align: center;
			width: 50%;
		}
	}

.slick-slide {
	outline: none;

	&:hover {
		outline: none;
	}
}

.slick-slide:focus {
	outline: none;
}

.fading-interview {
	//animation: hiddenVideoContent .3s linear;
	//animation-fill-mode: forwards;
    //
	//@keyframes hiddenVideoContent {
	//	100% {
	//		opacity: 0;
	//		visibility: hidden;
	//	}
	//}
	transition: all 1.4s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.hiding-interview {
	animation: hidingVideoContent .3s linear;
	animation-fill-mode: forwards;

	@keyframes hidingVideoContent {
		100% {
			opacity: 1;
			visibility: visible;
		}
	}
}

.hidden-block {
	opacity: 0;
	transition: all 1s ease-in-out;
	transform: translateY(50px);
}

.animated-block {
	opacity: 1;
	transition: all 1s ease-in-out;
	transform: translateY(0px);
}

.disabled-decypher {
	cursor: default;
	opacity: 0.5;

	span {
		cursor: default;
	}
}

.interview-block {
	.interview_image {
		margin: 53px 0;
  }
	&--wrapper {
		margin: 0 auto;
		margin-bottom: 31px;
		padding-top: 1px;
		//width: 54.735%;
		width: 780px;
	}
	.interview-block__video__block__filter {
		// border: 1px solid #393939;
	}

	&__back {
		color: #f0be32;
		cursor: pointer;
		display: block;
		opacity: 0.7;
		transition: all .5s ease-in-out;
		font-size: 16px;
		font-family: 'OfficinaSerifMediumC';
		letter-spacing: 0.2px;
		position: relative;
		margin-top: 20px;
		margin-bottom: 32px;
		vertical-align: middle;

		&:hover {
			opacity: 1;
		}

		&--arrow {
			border-left: 1px solid #f0be32;
			border-bottom: 1px solid #f0be32;
			display: inline-block;
			transform: rotate(45deg);
			margin-right: 5px;
			transition: all .5s;
			height: 10px;
			width: 10px;
		}
	}

	// &__tab {
	// 	font-size: 0;

	// 	.active {
	// 		background-color: #EAEAEA;
	// 		background-color: #EAEAEA;
	// 	}

	// 	&--client, &--bman {
	// 		background-color: #FFF;
	// 		border: 1px solid #EAEAEA;
	// 		box-sizing: border-box;
	// 		color: #000;
	// 		cursor: pointer;
	// 		font-family: 'OfficinaSerifMediumC';
	// 		letter-spacing: 0.2px;
	// 		display: inline-block;
	// 		padding-top: 10px;
	// 		padding-bottom: 10px;
	// 		font-size: 16px;
	// 		text-align: center;
	// 		width: 50%;
	// 	}
	// }

	&__video {
		margin-top: 49px;
		position: relative;

		&__block {
			//background: url(../images/article-1.png) 50% 50% no-repeat;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 1px;
			//padding-bottom: 51px;
			position: relative;
			width: 100%;
            height: 439px;

     //        .block-control {
     //        	position: relative;
     //        	width: 100%;

     //        	&__pause {
					// width: 150px;
					// height: 60px;
					// background-image: url("../images/control/pause.svg");
					// background-size: contain;
					// background-repeat: no-repeat;
     //        	}

     //        	&__play {
					// width: 150px;
					// height: 60px;
					// background-image: url("../images/control/play.svg");
					// background-size: contain;
					// background-repeat: no-repeat;
     //        	}
     //        }

			&__muted {
				position: absolute;
				height: 100%;
				display: none;
				width: 100%;
				top: 0;
				left: 0;
				background: transparent;
				z-index: 200;

				.block-control {
        	position: relative;
        	width: 100%;
        	z-index: 210;

        	&__pause {
        		display: none;
        		position: absolute;
        		top: 40%;
        		left: 40%;
        		transform: translate(-40%, -40%);
						width: 120px;
						height: 80px;
						background-image: url("../images/control/pause.svg");
						background-size: contain;
						background-repeat: no-repeat;
						opacity: 0;
						transition: opacity .5s;
        	}

        	&__play {
        		display: none;
        		position: absolute;
        		top: 40%;
        		left: 40%;
        		transform: translate(-40%, -40%);
						width: 120px;
						height: 80px;
						background-image: url("../images/control/play.svg");
						background-size: contain;
						background-repeat: no-repeat;
						opacity: 0;
						transition: opacity .5s;
        	}
        }
			}
      .full-block-control {
				display: none;
      	position: relative;
      	width: 100%;
      	z-index: 220;
  			height: 60px;
  			top: 381px;

      	&__play {
      		display: block;
					position: absolute;
					left: 30px;
					bottom: 20px;
					background-image: url("../images/control/pause.svg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 31px;
					height: 20px;
					cursor: pointer;
					z-index: 210;
					opacity: 0;
					transition: opacity .5s;

					&:hover {
						background-image: url("../images/control/pause-hover.svg");
					}

					&--pause {
						background-image: url("../images/control/play.svg");
						&:hover {
							background-image: url("../images/control/play-hover.svg");
						}
					}
      	}

      	&__slider--play {
      		display: block;
					position: absolute;
					left: 30px;
					bottom: 20px;
					background-image: url("../images/control/pause.svg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 31px;
					height: 20px;
					cursor: pointer;
					z-index: 210;
					opacity: 0;
					transition: opacity .5s;

					&:hover {
						background-image: url("../images/control/pause-hover.svg");
					}

					&--pause {
						background-image: url("../images/control/play.svg");
						&:hover {
							background-image: url("../images/control/play-hover.svg");
						}
					}
      	}

      	&__time {
      		display: block;
      		position: absolute;
      		width: 644px;
      		left: 50%;
      		bottom: 20px;
      		transform: translate(-50%);
      		margin-left: 10px;
			height: 20px;
			opacity: 0;
			border-radius: 3px;
			background: rgba(229,229,229, 0.8);
			transition: opacity .5s;
      	}

      	&__main-line {
      		display: block;
			  	position: absolute;
					left: 50%;
      		bottom: 26px;
      		transform: translate(-50%);
			  	width: 632px;
			  	margin-left: 10px;
					height: 8px;
				  opacity: 0;
				  border-radius: 3px;
				  background: rgba(229,229,229, 0.4);
				  transition: opacity .5s;

				  &__progress {
				  	display: block;
				  	position: absolute;
				  	left: 0;
        		bottom: 0;
				  	width: 0%;
				  	max-width: 644px;
						height: 8px;
					  border-radius: 3px;
						background-color: #f0be32;
						opacity: 1;
						transition: width 1s;
				  }
			  }

      	&__sound {
      		display: block;
					position: absolute;
					bottom: 22px;
					right: 31px;
					background-image: url("../images/control/sound-yellow.svg");
					background-size: contain;
					background-repeat: no-repeat;
					width: 18px;
					height: 16px;
					cursor: pointer;
					z-index: 210;
					opacity: 0;
					transition: opacity .5s;

        	&--mute {
        		background-image: url("../images/control/no-sound-yellow.svg");
        	}
      	}
      }

			&__interview {
				position: absolute;
				top: 0;
				left: 0;
				height: 438px;
        width: 778px;
				overflow: hidden;
				border: 1px solid #393939;
				box-sizing: border-box;

				iframe {
					position: relative;
					top: -100.5px;
					height: 639px !important;
				}
			}

			&__filter {
				//background-image: url(images/interview-speakers/business/Business_1.jpg);
				//background-color: rgba(0, 0, 0, 0.5);
				display: block !important;
				position: absolute;
				left: 0;
				top: 0;
				//transition: all .3s ease-in-out;
				height: 100%;
				width: 100%;
				z-index: 10;
			}

			&__info {
				position: relative;
				margin-top: 35px;
				// transition: all .3s ease-in-out;
				//#1
				margin-left: 53px;
				width: 64.35%;
				z-index: 300;

				.regalia {
					color: rgba(255, 255, 255, 0.5);
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 29px;
					width: 70%;
				}

				h3 {
		 			color: #FFF;
			 	 	font-family: 'OfficinaSerifExtraBoldC';
			 	 	font-size: 36px;
			 	 	margin-bottom: 14px;
				}

		 		p {
		 			color: #FFF;
		 			font-family: 'OfficinaSerifBookC';
		 			font-size: 18px;
					line-height: 1.26;
				}

				.many-text {
					margin-top: 40px;
				}

				&__playbutton {
					cursor: pointer;
					background: url(../images/interview-speakers/Play.svg) 50% 50% no-repeat;
					background-size: contain;
					margin-top: 64px;
					transition: all .3s ease-in-out;
					height: 100px;
					width: 100px;

					&:hover {
						background-image: url(../images/interview-speakers/Play_hover.svg);
					}
				}
			}
		}

		&__sharing {
			display: block;
			margin-top: 24px;

			ul {
				float: left;
			}

			li {
				cursor: pointer;
				display: inline-block;

				&:last-of-type {
					.footer-block__social-share__icon {
						margin-right: 0;
					}
				}
			}

			&__icon {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				display: block;
				margin-right: 6px;
				margin-top: 6px;
				font-size: 16px;
				//transition: all .3s ease-in-out;
				height: 30px;
				width: 30px;

				&--fb {
					background-image: url('../images/interview-speakers/Facebook.svg');

					&:hover {
						background-image: url('../images/interview-speakers/Facebook(hover).svg');
					}
				}

				&--tw {
					background-image: url('../images/interview-speakers/Twitter.svg');

					&:hover {
						background-image: url('../images/interview-speakers/Twitter(hover).svg');
					}
				}

				&--vk {
					background-image: url('../images/interview-speakers/VK.svg');

					&:hover {
						background-image: url('../images/interview-speakers/VK(hover).svg');
					}
				}
			}
		}

		&__decypher {
			float: right;
			font-family: 'OfficinaSerifMediumC';
			letter-spacing: 0.2px;
			font-size: 12px;
			text-align: right;

			&--text {
				display: inline-block;
				text-align: right;
				opacity: 0;
				transition: all .3s ease-in-out;
				margin-right: 10px;
				vertical-align: middle;
				width: 73px;
				cursor: pointer;
			}

			&--img {
				cursor: pointer;
				background: url(../images/interview-speakers/Transcription.svg) 50% 50% no-repeat;
				display: inline-block;
				height: 32px;
				vertical-align: middle;
				width: 30px !important;
				margin-right: 0 !important;

			}
		}
	}

	&__interview {
		display: none;
		border-top: solid 1px #9D9D9D;
		box-sizing: border-box;
		font-family: 'officina-serif-extrabold';
		padding-top: 50px;
		margin-top: 31px;

		//&:nth-child(1) {
		//	opacity: 1;
		//	transform: translateY(0px);
		//}
        //
		//&:nth-child(2) {
        //
		//}
        //
		//&:nth-child(3) {
        //
		//}

		&--decypher {
			font-family: 'OfficinaSerifMediumC';
			letter-spacing: 0.2px;
			font-size: 11px;
			color: rgba(0, 0, 0, 0.5);
		}

		h1 {
			color: #393939;
			font-size: 45px;
			font-family: 'OfficinaSerifExtraBoldC';
			margin-bottom: 50px;
		}

		p {
			font-family: 'Helvetica-Light';
			font-size: 17px;
			line-height: 29px;
			letter-spacing: 0.5px;
		}

		&--little {
			p {
				box-sizing: border-box;
				border-left: 2px solid #f0be32;
				font-size: 17px;
				font-family: 'Helvetica';
				letter-spacing: 0.5px;
				line-height: 29px;
				padding-left: 18px;
				margin-top: 18px;
				margin-bottom: 18px;
			}
		}

		&--big {
			p {
				font-size: 30px;
				line-height: 38px;
				margin-top: 42px;
				margin-bottom: 42px;
			}
		}
	}

	&__speakers {
		//border-top: solid 2px #9D9D9D;
		padding: 116px 50px;
		padding-bottom: 111px;
		position: relative;

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			height: 100%;
			width: 250px;
			z-index: 20;
		}

		&:before {
			background: -moz-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
			left: 50px;
		}

		&:after {
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 45%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
			right: 50px;
		}

		&__button {
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
		    color: transparent;
		    border: none;
		    outline: none;
		    position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: 62px;
			width: 23px;
			z-index: 60;

			&--prev {
				left: 32px;
				background-image: url(../images/arrows-slider/Arrow_left.svg);
			}

			&--next {
				right: 32px;
				background-image: url(../images/arrows-slider/Arrow_right.svg);
			}
		}

		&__item {
			//margin-right: 45px;
			text-align: center;


			&:hover {
				.interview-block__speakers__item__img {
					box-shadow: 0 9px 12px 0 rgba(144, 144, 144, 0.5);
				}
			}

			&__img {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				border-radius: 50%;
				margin: 0 auto;
				margin-top: 5px;
				margin-bottom: 35px;
				transition: all .2s ease-in-out;
				height: 225px !important;
				width: 225px !important;

				a {
					outline: none;
				}

				&:focus {
					outline: none;
				}

				img {
					border-radius: 50%;
					height: 225px !important;
					//width: 100%;

					&:focus {
						outline: none;
					}
				}
			}

			&__text {

				&:focus, h3:focus, p:focus, .watch-interview:focus, a:focus {
					outline: none;
				}

				h3 {
					text-align: center;
					font-size: 20px;
					font-family: 'OfficinaSerifMediumC';
					letter-spacing: 0.2px;
					font-weight: 500;
				}

				p {
  					font-family: 'OfficinaSerifBookC';
					font-size: 12px;
					line-height: 15px;
					margin-top: 7px;
					margin-bottom: 19px;
					// min-height: 60px;
                    width: 230px;
                    margin: 0 auto;
				}
			}
		}
	}
}
.interview-block__speakers__item-lock {
  box-shadow: none !important;
  &:hover {
    box-shadow: none !important;
  }
  .interview-block__speakers__item__img {
    opacity: 0.5;
    box-shadow: none !important;
    &:hover {
      box-shadow: none !important;
    }
  }
  .interview-block__speakers__item__text {
    opacity: 0.5;
    .watch-interview {
      &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        margin-top: -5px;
        background-image: url("../images/interview-speakers/Lock_video.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
.interview-block__speakers__item {
  //max-width: 250px !important;
}
.inter-block__speakers--wrapper {
  max-width: 1500px !important;
  margin: 0 auto;
}
.external-speaker-block {
  border-top: solid 2px #9D9D9D;
}
