	.participants-case-jumbotron {
		.link-back {
			color: #f0be32;
			display: block;
			font-size: 16px;
			font-family: 'officina-serif-medium';
			position: relative;
			margin-bottom: 32px;
			vertical-align: middle;
			text-align: center;
			z-index: 100;
			opacity: 0.5;
			margin-top: 15px;
			margin-left: 4px;
		}
	}
	.participants-content {
		text-align: center;
		h1 {
			font-family: 'OfficinaSerifBookC';
			font-size: 18px;
			letter-spacing: 0.2px;
			text-align: center;
			color: #393939;
			margin-bottom: 4px;
		}
		h2 {
		font-family: 'OfficinaSerifMediumC';
		font-size: 40px;
		font-weight: 500;
		text-align: center;
		color: #393939;
		margin-bottom: 25px;
		}
		p {
		max-width: 782px;
		font-family: 'OfficinaSerifMediumC';
		font-size: 24px;
		font-weight: 500;
		line-height: 1.21;
		text-align: center;
		color: #393939;
		margin-bottom: 58px;
		}
		.participants-block--wrapper {
			margin: 0 auto;
			margin-bottom: 0px;
			padding-top: 1px;
			-ms-transform: translateY(-2px);
			transform: translateY(-2px);
			width: 780px;
			margin-bottom: 33px;
			.participants-block__tab {
				font-size: 0;
				-ms-transform: translateY(-2px);
				transform: translateY(-2px);
				.active {
				background-color: #EAEAEA;
				background-color: #EAEAEA;
				}
			}
			.participants-block__tab__interview--popular {
				background-color: #FFF;
				border: 1px solid #EAEAEA;
				box-sizing: border-box;
				color: #393939;
				cursor: pointer;
				font-family: 'OfficinaSerifMediumC';
				letter-spacing: 0.2px;
				display: inline-block;
				padding-top: 13px;
				padding-bottom: 8px;
				font-size: 16px;
				text-align: center;
				width: 50%;
			}
			.participants-block__tab__interview--new {
				background-color: #FFF;
				border: 1px solid #EAEAEA;
				box-sizing: border-box;
				color: #393939;
				cursor: pointer;
				font-family: 'OfficinaSerifMediumC';
				letter-spacing: 0.2px;
				display: inline-block;
				padding-top: 13px;
				padding-bottom: 8px;
				font-size: 16px;
				text-align: center;
				width: 50%;
			}
		}
		.participants-wrap--list-participant {
			visibility: hidden;
			opacity: 0;
			top: 0;
			left: 0;
			position: absolute;
			z-index: -100;
			width: 100%;
			min-height: 635px;
		}
		.image-participants {
			width: 247px;
			height: 208px;
		}
		.participants-wrap--list-participant--active {
			opacity: 1;
			position: static;
			visibility: visible;
			width: 100%;
		}
		.participants-popular__work-item--hidden {
			display: none !important;
		}
		.participants-popular__work-item {
			display: inline-block;
			width: 247px;
			height: 294px;
			position: relative;
			// background-color: #393939;
			margin-bottom: 24px;
			vertical-align: top;
			&:nth-child(3n+2) {
				margin: 0 15px;
			}
			img {
				width: 247px;
				height: 208px;
			}
			.work-item--wrapper {
				position: absolute;
				bottom: 0;
				text-align: center;
				height: auto;
				width: 100%;
				background-color: #393939;
				padding: 26px 0px 20px 0px;
				cursor: pointer;
		}
			.work-item--link {
				font-family: 'OfficinaSerifMediumC';
				font-size: 14px;
				font-weight: 500;
				line-height: 1.14;
				letter-spacing: 0.1px;
				text-align: center;
				color: #ffffff;
				margin-top: 20px;
				margin-bottom: 8px;
				height: 20px;
				opacity: 1;
				transition: 0.5s all ease;
				&:after {
					content: '';
					position: absolute;
					width: 43px;
					height: 2px;
					margin: 0 auto;
					margin-left: -42px;
					background-image: url('../images/contest/Yellow_line.svg');
					background-size: cover;
					margin-top: 21px;
				}
			}
			.work-item--hidden {
				height: 0;
				opacity: 0;
				transition: 0.3s all ease;
			}
			.work-item--hidden-line {
				height: 0;
				opacity: 0;
				transition: 0.2s all ease;
			}
			.work-item--line {
				transition: 0.2s all ease;
				margin-top: 15px;
				&:after {
					content: '';
					position: absolute;
					width: 39px;
					height: 2px;
					margin: 0 auto;
					margin-left: -18px;
					background-image: url('../images/contest/Yellow_line.svg');
					background-size: cover;
				}
			}
			.work-item__title--name {
				font-family: 'OfficinaSerifExtraBoldC';
				font-size: 14px;
				font-weight: 500;
				line-height: 1.14;
				letter-spacing: 0.1px;
				text-align: center;
				color: #ffffff;
				padding-top: -48px;
			}
			.work-item--regal {
				font-family: 'OfficinaSerifMediumC';
				font-size: 14px;
				font-weight: 500;
				line-height: 1.14;
				letter-spacing: 0.1px;
				text-align: center;
				color: #ffffff;
			}
		}
		.participants-block-link {
			margin-top: 14px;
			margin-bottom: 93px;
			.link-see-all {
				display: inline-block;
				width: 187px;
				height: 34px;
				border-radius: 3px;
				background-color: #f0be32;
				margin: 0 auto;
				font-family: 'OfficinaSerifBookC';
				font-size: 22px;
				letter-spacing: 0.2px;
				text-align: center;
				color: #393939;
				padding-top: 12px;
				border: 2px solid #f0be32;
				transition: all 0.5s ease;
				margin-top: 20px;
				margin-left: 10px;
				margin-right: 10px;
				cursor: pointer;
				&:hover {
					background-color: white;
					transition: all 0.5s ease;
				}
			}
			.link-participants {
				display: inline-block;
				width: 187px;
				height: 34px;
				border-radius: 3px;
				background-color: #f0be32;
				margin: 0 auto;
				font-family: 'OfficinaSerifBookC';
				font-size: 22px;
				letter-spacing: 0.2px;
				text-align: center;
				color: #393939;
				padding-top: 12px;
				border: 2px solid #f0be32;
				transition: all 0.5s ease;
				margin-top: 20px;
				margin-left: 10px;
				margin-right: 10px;
				cursor: pointer;
				&:hover {
					background-color: white;
					transition: all 0.5s ease;
				}
			}
		}
	}
	.contest-participant-popup {
		.modal-participant-popup {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10000;
			visibility: hidden;

			&__bg {
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(black, 0);
				visibility: hidden;
				transition: background 0.3s 0s, visibility 0s 0.3s;
			}
			&__popup {
				width: 779px;
				height: 996px;
				left: 50%;
				top: 50%;
				margin-left: -389px;
				// margin-top: -768px;
				margin-top: -340px;
				background-color: white;
				position: absolute;
				transform: translateY(40px);
				transition: transform 0.3s;
				text-align: -webkit-center !important;
				text-align: center !important;
			}

			&__close {
				position: absolute;
			width: 28px;
			height: 28px;
			overflow: hidden;
			right: -3px;
			top: -67px;
				&:before {
				content: '';
				position: absolute;
				width: 1px;
				height: 64%;
				background: #979797;
				-ms-transform: rotate(-45deg);
				transform: rotate(-46deg);
				-ms-transform-origin: top left;
				transform-origin: top left;
				}
				&:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 64%;
				background: #979797;
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				-ms-transform-origin: top left;
				transform-origin: top left;
				right: 0;
				}
			}
			&__button-holder {
				text-align: center;
				margin-top: 45px;
			}

			&--show {
				visibility: visible;
				.modal-participant-popup__bg {
					background: rgba(black, 0.6);
					visibility: visible;
					transition: background 0.3s 0s, visibility 0s 0s;
					text-align: -webkit-center !important;
					text-align: center !important;
					position: fixed;
				}
				.modal-participant-popup__popup {
					transform: translateY(0px);
					text-align: -webkit-center !important;
					text-align: center !important;
					height: auto;
				}
			}
			&__header {
				color: #FFF;
				height: 50px;
				position: absolute;
				top: -45px;
				width: 100%;
				overflow: hidden;
			}
			.modal-participant-popup__header-item--img {
				position: absolute;
				left: 50%;
				-ms-transform: translateX(-46%);
				transform: translateX(-46%);
				width: 35px;
				height: 35px;
				top: -75px;
			}
			&__header-item--shadow {
				border-radius: 50%;
				bottom: 39%;
				box-shadow: 0 20px 0 922px #FFF;
				height: 60px;
				position: absolute;
				margin: 0 auto;
				left: 50%;
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				width: 57px;
				z-index: 10;
			}
			&__container {
				padding: 0 76px;
				height: auto;
			}
			&__top-line {
				border-bottom: 5px solid #f0be32;
				text-align: left;
				margin-top: 31px;
				div {
					display: inline-block;
				}
				.top-line__image-participant {
					.image-participant {
						max-width: 133px;
						max-height: 150px;
						margin-bottom: -3px;
					}
				}
				.top-line__name-participant {
					margin-left: 25px;
					vertical-align: top;
					h1 {
						font-family: 'OfficinaSerifExtraBoldC';
						font-size: 30px;
						font-weight: 800;
						line-height: 0.83;
						letter-spacing: 0.1px;
						color: #2b2b2b;
						margin-top: 7px;
						text-align: left;
						margin-bottom: 15px;
					}
					p {
						max-width: 406px;
						font-family: 'OfficinaSerifBookC';
						font-size: 20px;
						line-height: 0.65;
						letter-spacing: 0.1px;
						color: #2b2b2b;
						margin-bottom: 0px;
						text-align: left;
					}
					.title-job {
						margin-top: 11px;
					}
				}
			}
			&__middle-line {
				text-align: left;
				margin-top: 20px;
				.middle-line__main-content {
					h1, h3 {
						font-family: Helvetica;
						font-size: 18px;
						font-weight: bold;
						line-height: 1.44;
						letter-spacing: 0.2px;
						color: #393939;
					}
					h3 {
						margin: 0.63em 0;
					}
					p {
						font-family: 'Helvetica-Light';
					font-size: 16px;
					font-weight: 300;
					line-height: 1.63;
					letter-spacing: 0.2px;
					color: #393939;
						margin-bottom: 35px;
						text-align: left;
					}
				}
			}
			&__bottom-line {
				margin-top: 10px;
				.bottom-line__vote-block {
					text-align: center;
					margin-top: -7px;
					h1 {
					font-family: Helvetica;
					font-size: 15px;
					font-weight: bold;
					line-height: 1.8;
					letter-spacing: 0.2px;
					text-align: center;
					color: #393939;
					}
					.link-like {
						display: block;
						outline: 0;
						width: 27px;
						height: 25px;
						background-image: url('../images/contest/Heart.svg');
						background-repeat: no-repeat;
						background-size: cover;
						margin: 0 auto;
						margin-top: 12px;
						// transition: 0.5s all;\
						transition: 0.5s all;
						cursor: pointer;

						&:hover {
							background-image: url('../images/contest/Fill 1.svg');
						}

						&.active {
							background-image: url('../images/contest/Fill 1.svg');
						}
					}
					.counter-like {
						position: relative;
						top: -24px;
						left: 24px;
						font-family: Helvetica;
						font-size: 15px;
						font-weight: bold;
						line-height: 1.8;
						color: #393939;
					}
				}
			}
			.sharing-block {
				margin-bottom: 76px;
			}
		}
	}
	.contest-participant-popup .slick-slide {
		display: block !important;
		width: 779px !important;
		// position: initial;
	}
	// .slick-slide {
	// 	.wrapper-content {
	// 		position: absolute;
	// 	}	
	// }
	.contest-participant-popup {
		.interview-block__speakers__button {
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
			color: transparent;
			border: none;
			outline: none;
			position: absolute;
			top: 278px;
			height: 64px;
			width: 25px;
			z-index: 60;
		}
		.interview-block__speakers__button--prev {
			left: -55px;
			background-image: url(../images/contest/Arrow_left.png);
		}
		.interview-block__speakers__button--next {
			right: -56px;
			background-image: url(../images/contest/Arrow_right.png);
		}
	}
	.participant-popup {
		margin-top: -246px !important;
	}
	.part .modal-participant-popup__popup {
		margin-top: -269px !important;
	}